extends ../layouts/app

block content
		#accessories.ppage
			.menu
				.menu__icon
					<svg xmlns="http://www.w3.org/2000/svg" width="30.302" height="30.303" viewBox="0 0 30.302 30.303">
						<path id="Path_546" data-name="Path 546" d="M3058.979,995.76h-2.189a1.9,1.9,0,0,0-3.758,0h-21.737a1.9,1.9,0,0,0-3.757,0h-1.647a.542.542,0,0,0-.542.543v4.339a.542.542,0,0,0,.542.542h1.647a1.9,1.9,0,0,0,3.757,0h21.737a1.9,1.9,0,0,0,3.758,0h2.189a.542.542,0,0,0,.542-.542V996.3A.542.542,0,0,0,3058.979,995.76Zm-32.547,1.085h1.085v3.255h-1.085Zm3.8,0v4.068a.814.814,0,0,1-1.627,0v-4.882a.818.818,0,0,1,.814-.814.815.815,0,0,1,.766.542.806.806,0,0,1,.047.271Zm22.783,3.255h-21.7v-3.255h21.7Zm2.712-3.255v4.068a.814.814,0,0,1-1.627,0v-4.882a.814.814,0,0,1,1.627,0Zm2.712,3.255h-1.627v-3.255h1.627Z" transform="translate(-2842.202 1460.451) rotate(-45)" fill="#575757"/>
					</svg>
					button.hamburger.hamburger--collapse(type="button")
						span.hamburger-box
							span.hamburger-inner
				.menu__title Клапаны
			.menu-overlay
				ul.menu-list
					li
						a(href="/handle") Ручки
					li
						a(href="/accessories") Шторы
					li
						a(href="/jalousie") Жалюзи
					li
						a(href="/mesh") Москитные сетки
					li
						a(href="/windowsill") Подоконники
					li
						a(href="/flap") Клапаны
			.content
				.content_block.content_block_flap
					.flap
						.flap__desc
							.flap__title CHRISTALLIT
							.flap__subtitle SIMPLY MODEL
							.flap__price 3 750 рублей
						.btn-more_desc.btn-more_desc_flap
							img(src="/images/accessories/more.svg", alt="color")
						ul.colors.colors_flap
							li.colors__item.active
								img(src="/images/accessories/mesh/grey.svg", alt="color")
							li.colors__item
								img(src="/images/accessories/mesh/brown.svg", alt="color")
						.flap__color__desc
							.color__num 4702
							.color__name LIGHT SILVER
						.flap__img
							img(src="/images/accessories/flap/flap.png", alt="flap")
				.choise.choise_flap
					ul.circle.third
						li.item.i1.third
							.item__img
								img(src="/images/accessories/flap/flap1.jpg", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.i2.third
							.item__img
								img(src="/images/accessories/flap/flap1.jpg", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.i3.third.active
							.item__img
								img(src="/images/accessories/flap/flap1.jpg", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.i4.third
							.item__img
								img(src="/images/accessories/flap/flap1.jpg", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.i5.third
							.item__img
								img(src="/images/accessories/flap/flap1.jpg", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.third
							.item__img
								img(src="/images/accessories/flap/flap1.jpg", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.third
							.item__img
								img(src="/images/accessories/flap/flap1.jpg", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.third
							.item__img
								img(src="/images/accessories/flap/flap1.jpg", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						.current__wrapp
							<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
								<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
							</svg>
							.current__title SILK CURTAINS
							.current__price 3 750 рублей
							.current__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat.