extends ../layouts/app

block content
		#accessories.ppage
			.menu
				.menu__icon
					<svg xmlns="http://www.w3.org/2000/svg" width="21.758" height="26.789" viewBox="0 0 21.758 26.789">
						<g id="mesh" transform="translate(-1932.369 1093.887)">
							<path id="Path_535" data-name="Path 535" d="M1954.119-1080.513q0-6.388.009-12.777c0-.479-.115-.6-.59-.6H1932.9c-.405,0-.532.128-.533.539q0,2.255,0,4.51h0v2.773h0q0,1.557,0,3.115,0,7.612,0,15.224c0,.522.1.626.613.627h4.005v-.011q1.156.008,2.312.01,7.123,0,14.245,0c.448,0,.566-.115.577-.557,0-.109,0-.218,0-.326Q1954.122-1074.247,1954.119-1080.513Zm-1.081,12.625c-1.368-.009-2.737,0-4.1,0-3.981,0-11.942-.02-11.942-.02l-2.773.015c-.241,0-.482,0-.722.011-.272.01-.342-.088-.331-.342.017-.407,0-.815,0-1.223q0-8.305.008-16.611h.008v-2.773h-.013c0-1.308,0-2.616-.006-3.924,0-.264.078-.333.338-.333q9.365.012,18.731.008c.272,0,.544.01.815-.007.217-.014.281.069.279.279-.009.87,0,1.74,0,2.61q0,10.929,0,21.858a1.319,1.319,0,0,0,0,.163C1953.356-1067.96,1953.265-1067.887,1953.038-1067.889Z" fill="#353535"/>
							<path id="Path_536" data-name="Path 536" d="M1971.713-1068.492a.379.379,0,0,0-.106-.24.387.387,0,0,0-.257-.129.48.48,0,0,0-.447.128l-.412.412-2.111-2.076.188-.188a.481.481,0,0,0,0-.68h0a.481.481,0,0,0-.68,0l-.225.226c-.23-.182-.449-.539-.784-.215-.36.347.055.584.188.793l-2.17,2.164-2.177-2.161c.173-.214.542-.436.224-.775-.349-.372-.583.03-.841.221-.242-.191-.461-.568-.8-.252-.37.343.024.586.177.793l-2.158,2.161-2.072-2.046.191-.191a.481.481,0,0,0,0-.68.479.479,0,0,0-.247-.132.36.36,0,0,0-.395.1l0,0c-.1.08-.189.179-.283.247-.244-.2-.458-.554-.791-.261-.4.35.024.593.214.872l-.167.167-1.876,1.84.011.01-.2.2c-.177-.184-.35-.373-.534-.55a.376.376,0,0,0-.56,0,.4.4,0,0,0,0,.564,3.407,3.407,0,0,0,.325.328c.1.084.181.166.162.27l-.594.594a.408.408,0,0,0-.059.076.48.48,0,0,0,.01.669.481.481,0,0,0,.68,0l.65-.65,2.093,2.06-2.214,2.232c-.134-.154-.269-.325-.419-.48-.22-.227-.438-.249-.618-.081s-.169.416.051.643c.155.16.312.317.507.514-.193.172-.361.311-.514.464a.414.414,0,0,0-.055.624c.175.175.4.162.618-.061.156-.162.287-.347.408-.5l2.242,2.217-2.192,2.192a.04.04,0,0,1-.012-.007c-.144-.137-.287-.275-.431-.414-.23-.223-.468-.247-.64-.067s-.146.4.068.624c.135.141.274.279.435.442l-.478.478a.479.479,0,0,0-.138.388.362.362,0,0,0,.12.293.407.407,0,0,0,.177.1.481.481,0,0,0,.521-.105l.432-.432,2.1,2.084-2.185,2.185c-.146-.141-.289-.285-.435-.425a.418.418,0,0,0-.6-.059.4.4,0,0,0,.035.622c.13.128.273.244.462.4l-.512.512a.48.48,0,0,0-.108.515.39.39,0,0,0,.112.193.369.369,0,0,0,.313.111.479.479,0,0,0,.363-.14l.431-.431,2.181,2.157c-.367.481-.415.635-.206.814.374.32.574-.061.824-.239.253.187.481.579.824.23s-.042-.575-.226-.81l2.154-2.152,2.214,2.173c-.347.421-.409.621-.209.794.373.324.577-.052.835-.236.238.179.451.564.8.257.4-.354-.029-.6-.183-.81l2.194-2.185,2.178,2.175c-.192.222-.554.461-.217.8s.57-.057.825-.234c.247.193.474.571.819.229s-.058-.567-.21-.792l2.261-2.275c.131.161.262.346.417.509a.4.4,0,0,0,.62.042.415.415,0,0,0-.057-.6c-.161-.157-.342-.293-.59-.5.247-.206.429-.341.59-.5a.413.413,0,0,0,.059-.6.4.4,0,0,0-.619.042c-.156.162-.289.347-.421.508l-2.234-2.231,2.193-2.19c.155.15.308.3.465.449.215.2.424.218.6.049a.413.413,0,0,0-.048-.621c-.161-.156-.341-.293-.58-.5.239-.2.411-.335.566-.485a.431.431,0,0,0,.078-.624c-.171-.184-.414-.164-.642.056-.159.154-.315.312-.425.421l-2.188-2.175,2.2-2.2c.132.148.273.327.436.481.219.208.431.214.6.043a.418.418,0,0,0-.051-.623c-.154-.161-.312-.318-.529-.539.188-.156.357-.279.506-.423.227-.219.252-.474.084-.642-.188-.188-.42-.162-.66.09-.142.15-.267.318-.384.459l-2.218-2.212,2.222-2.223c.124.139.261.308.414.462.215.215.448.233.621.063a.423.423,0,0,0-.054-.624c-.137-.135-.286-.258-.469-.417l.507-.507A.48.48,0,0,0,1971.713-1068.492Zm-14,8.762,1.616-1.616,2.087,2.1-2.118,2.118-2.1-2.091Zm7.148-2.962-2.095-2.092,1.4-1.4.752-.752,2.094,2.093Zm-2.707-1.48,2.1,2.089-2.178,2.178-2.082-2.1Zm-.04,5.586,2.16,2.145-2.165,2.145-2.137-2.148Zm.654-.655,2.122-2.122,2.164,2.149-2.152,2.132Zm7.063-8.423-2.151,2.151-2.1-2.09,2.146-2.146Zm-7.721-2.094,2.134,2.135-.762.762-1.39,1.39-2.144-2.141Zm-.666,4.935-2.121,2.121-2.149-2.158,2.124-2.117Zm-5.618-1.26c-.452-.456-.909-.908-1.359-1.365-.02-.02-.045-.04-.068-.061l1.9-1.9.3-.3,2.073,2.078-2.213,2.191C1956.266-1065.63,1956.05-1065.859,1955.828-1066.083Zm.682,6.192-2.125-2.143,2.157-2.136,2.125,2.126-1.634,1.634-.227.227Zm-2.1,3.467,2.127-2.127,2.093,2.093-2.133,2.133Zm2.084,7.727-2.122-2.136,2.176-2.164,2.117,2.137Zm.675-4.939.236-.236,1.926-1.909,2.148,2.138-2.159,2.152Zm4.917,4.936-2.2-2.205c.232-.215.481-.436.72-.668.293-.284.59-.564.862-.867l.033-.039.613-.613.472.472a.46.46,0,0,0,.056.071c.555.558,1.119,1.109,1.665,1.648Zm2.768-2.761-.557-.567a.407.407,0,0,0-.079-.111l-1.523-1.523c.107-.111.215-.222.323-.332.338-.341.685-.673,1.02-1.017a.89.89,0,0,0,.133-.22c.18-.145.326-.253.461-.373a1.217,1.217,0,0,1,.346-.222l.434.434.028.03h0s.135.17.121.174l1.538,1.492Zm5,.605-2.176,2.163-2.138-2.146L1967.7-1053Zm.668-4.966c-.012,0-.005,0,0,0Zm-.692-.62-2.187,2.163-.491-.506a.407.407,0,0,0-.058-.073l-.43-.43c-.265-.273-1.145-1.145-1.145-1.145l2.16-2.159Zm.028-5.577-2.143,2.137-2.137-2.167,2.128-2.128Z" transform="translate(-18.857 -21.259)" fill="#353535"/>
						</g>
					</svg>
					button.hamburger.hamburger--collapse(type="button")
						span.hamburger-box
							span.hamburger-inner
				.menu__title Ручки
			.menu-overlay
				ul.menu-list
					li
						a(href="/handle") Ручки
					li
						a(href="/accessories") Шторы
					li
						a(href="/jalousie") Жалюзи
					li
						a(href="/mesh") Москитные сетки
					li
						a(href="/windowsill") Подоконники
					li
						a(href="/flap") Клапаны
			.content
				.content_block
					.select_wrapp
						.select
							ul.select__list.select__list_brand
								li.select__item(data-option = "color").active Brand
								li.select__item(data-option = "texture") Texture	
								li.select__item(data-option = "color") Color
								li.select__item(data-option = "texture") Texture
						.select
							ul.select__list.select__list_model
								li.select__item(data-option = "color").active Model
								li.select__item(data-option = "texture") Texture	
								li.select__item(data-option = "color") Color
								li.select__item(data-option = "texture") Texture
					.settings.settings__handle
						.settings__wrapp.settings__wrapp_handle
							ul.colors.colors_handle
								li.colors__item
									img(src="/images/accessories/color1.svg", alt="sun")
								li.colors__item
									img(src="/images/accessories/color2.svg", alt="sun")
								li.colors__item
									img(src="/images/accessories/color3.svg", alt="sun")
								li.colors__item
									img(src="/images/accessories/color4.svg", alt="sun")
								li.colors__item.active
									img(src="/images/accessories/color5.svg", alt="sun")
								li.colors__item
									img(src="/images/accessories/color6.svg", alt="sun")
								li.colors__item
									img(src="/images/accessories/color7.svg", alt="sun")
								li.colors__item
									img(src="/images/accessories/color8.svg", alt="sun")
								li.colors__item
									img(src="/images/accessories/color9.svg", alt="sun")
					.result.result_handle
						img.window.window_handle(src="/images/accessories/handle/window.png", alt="window")
						img.texture.texture_handle(src="/images/accessories/handle/handle.png", alt="handle")
						.result__desc
							.result__title CHRISTALLIT
							.result__subtitle SIMPLY MODEL
							.result__num 4702
							.result__color LIGHT SILVER
				.choise.choise_handle
					ul.circle.third
						li.item.i1.third
							.item__img
								img(src="/images/accessories/handle/handle2.png", alt="jalousie")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.i2.third
							.item__img
								img(src="/images/accessories/handle/handle1.png", alt="jalousie")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.i3.third.active
							.item__img
								img(src="/images/accessories/handle/handle3.png", alt="jalousie")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.i4.third
							.item__img
								img(src="/images/accessories/handle/handle1.png", alt="jalousie")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.i5.third
							.item__img
								img(src="/images/accessories/handle/handle2.png", alt="jalousie")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.third
							.item__img
								img(src="/images/accessories/handle/handle3.png", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.third
							.item__img
								img(src="/images/accessories/handle/handle1.png", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						li.item.third
							.item__img
								img(src="/images/accessories/handle/handle2.png", alt="sun")
							.item__desc
								<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
									<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
								</svg>
								p.item__title SILK CURTAINS
								p.item__price 3 750 рублей
						.current__wrapp
							<svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="18.691" viewBox="0 0 19.5 18.691">
								<path id="Path_491" data-name="Path 491" d="M19.086,8.469a1.4,1.4,0,0,0-.776-2.387l-4.725-.688a.625.625,0,0,1-.464-.337L11.012.781A1.4,1.4,0,0,0,8.5.781L6.394,5.062A.616.616,0,0,1,5.93,5.4L1.2,6.087A1.4,1.4,0,0,0,.434,8.474L3.851,11.8a.615.615,0,0,1,.176.547l-.805,4.706A1.4,1.4,0,0,0,5.247,18.53l4.223-2.221a.631.631,0,0,1,.576,0l4.223,2.221a1.424,1.424,0,0,0,.654.161A1.4,1.4,0,0,0,16.3,17.056l-.81-4.706a.618.618,0,0,1,.181-.547Zm-4.369,4.008.805,4.7a.616.616,0,0,1-.244.605.6.6,0,0,1-.649.044l-4.223-2.221a1.39,1.39,0,0,0-.649-.161,1.409,1.409,0,0,0-.654.161L4.881,17.827a.613.613,0,0,1-.893-.649l.805-4.7a1.4,1.4,0,0,0-.405-1.24L.971,7.908a.612.612,0,0,1-.156-.635.6.6,0,0,1,.5-.42l4.72-.688A1.4,1.4,0,0,0,7.087,5.4L9.2,1.123a.62.62,0,0,1,1.108,0L12.418,5.4a1.391,1.391,0,0,0,1.054.766l4.72.688a.6.6,0,0,1,.5.42.617.617,0,0,1-.156.635l-3.417,3.329a1.408,1.408,0,0,0-.4,1.24Zm0,0" transform="translate(-0.008)" fill="#888"/>
							</svg>
							.current__title SILK CURTAINS
							.current__price 3 750 рублей
							.current__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat.