#contact.ppage
	main
		section#map.map
		section.contacts
			.contacts__info
				.contacts__data
					.container
						p.number +7 (499) 391-22-21
						p.week с 10:00 до 19:00 с Пн. по Пт.
						p.adress Москва, ул. Южнопортовая 5 с.1
						p.park На территории БЦ доступна платная парковка
						p.online On-line заявки – круглосуточно
						p.email
							a(href="mailto:prosto@prostokna.ru") PROSTO@PROSTOKNA.RU
					ul.social_icons.white
						include ../include/social_icons.pug
				.contacts__reqvizits
					.container
						p ОГРН 1157746588449
						p ИНН 7722332230
						p Р/с 40702810038000143570
						p ПАО СБЕРБАНК
						p Кор/с 30101810400000000225
						p БИК 044525205
			.contacts__form
				img(src='/images/contact/Keyboard.svg')
				form.form.form_contact
					input(type="hidden" name="subject" value="Контакты")
					.left-block
						.form-group.mb-0
							input(name="name" placeholder='ИМЯ *')
							.invalid-feedback Необходимо указать Ваше имя
						.form-group.mb-0
							input(name="email" placeholder='EMAIL')
						.form-group.mb-0
							input(name="tel" placeholder='ТЕЛЕФОН *')
							.invalid-feedback Необходимо указать контактный номер
					.right-block
						textarea(name="message" placeholder='СООБЩЕНИЕ')
						button отправить