#contact.ppage
	main
		section#map.map
		section.contacts
			.contacts__info
				.contacts__data
					.container
						p.number +7 (499) 391-22-21
						p.week с 10:00 до 19:00 с Пн. по Пт.
						p On-line заявки – круглосуточно
						p.email
							a(href="mailto:prosto@prostokna.ru") PROSTO@PROSTOKNA.RU
					.social-icon
						a(href='#')
							img(src='/images/contact/soc1.svg', alt='1')
						a(href='#')
							img(src='/images/contact/soc2.svg', alt='2')
						a(href='#')
							img(src='/images/contact/soc3.svg', alt='3')
						a(href='https://api.whatsapp.com/send?phone=79779390290&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5')
							img(src='/images/contact/soc4.svg', alt='4')
						a(href='http://t.me/prostokna')
							img(src="/images/index/s9/icons8-telegram-app.svg", alt="telegram")
						a(href='viber://add?number=79779390290')
							img(src="/images/index/s9/icons8-viber.svg", alt="viber")
				.contacts__reqvizits
					.container
						p ОГРН 1157746588449
						p ИНН 7722332230
						p Р/с 40702810038000143570
						p ПАО СБЕРБАНК
						p Кор/с 30101810400000000225
						p БИК 044525205
			.contacts__form
				img(src='/images/contact/Keyboard.svg')
				form.form
					.left-block
						input(placeholder='ИМЯ *')
						input(placeholder='EMAIL')
						input(placeholder='ТЕЛЕФОН *',name="phone")
					.right-block
						textarea(placeholder='СООБЩЕНИЕ')
						button отправить