.head
    .title Галлерея
    ul
        li
            a(href="#")
                img(src="/images/gallery/gallery.svg", alt="")
                span Квартиры
        li
            a(href="#")
                img(src="/images/gallery/gallery.svg", alt="")
                span Загородный дом
        li
            a(href="#")
                img(src="/images/gallery/gallery.svg", alt="")
                span Гараж
        li.active
            a(href="#")
                img(src="/images/gallery/gallery.svg", alt="")
                span Коммерческая недвижимость
        li
            a(href="#")
                img(src="/images/gallery/gallery.svg", alt="")
                span Все
