extends ../layouts/app

block content
    #gallery.ppage
        include head
        .list
            - var n = 0;
            ul
                while n < 55
                    li
                        .bg
                            a(href="/gallery/" + n)
                                img(src="/images/gallery/test.jpg", alt="")
                                .title ООО Технопарк "Сколково"
                    - n++
