extends ../layouts/app

block content
    #gallery.ppage
        include head
        .item
            .desc
                h1= gallery[0].sGalleryTitle
                div= gallery[0].tGalleryText
            .zoom
                img(src="/images/gallery/" + gallery[0].gallery_images[0].sGalleryImageName, alt="")
            .images
                ul
                    each image in gallery[0].gallery_images
                        li
                            img(src="/images/gallery/" + image.sGalleryImageName, alt="")
            .pagg
                ul
                    each item in gallery_list
                        li(class={active: item.iGalleryID == gallery[0].iGalleryID })
                            a(href="/gallery/" + item.gallery_group.sGalleryGroupUri + '/' + item.iGalleryID)
                                span.num= item.iGalleryID
                                span.title= item.sGalleryTitleMin
