extends ../layouts/app

block content
		.instruction.ppage
			h1.instruction__title Инструкция для самостоятельного замера окна
			.instruction__tabs
				.instruction__tabs_content.active
					<svg xmlns="http://www.w3.org/2000/svg" width="32.114" height="34.126" viewBox="0 0 28.114 30.126">
						<g id="Group_601" data-name="Group 601" transform="translate(1 1)">
							<path id="Path_1227" data-name="Path 1227" d="M.506,460.9H-.5a.473.473,0,0,1-.5-.5.473.473,0,0,1,.5-.5H.506a.5.5,0,1,1,0,1Z" transform="translate(0 -433.781)" fill="#fff"/>
							<path id="Path_1228" data-name="Path 1228" d="M56.795,59.307H33.7a.473.473,0,0,1-.5-.5V33.7a.473.473,0,0,1,.5-.5H56.795a.473.473,0,0,1,.5.5V58.807A.473.473,0,0,1,56.795,59.307ZM34.2,58.3H56.295V34.2H34.2Z" transform="translate(-32.188 -32.188)" fill="#fff"/>
							<path id="Path_1229" data-name="Path 1229" d="M86.882,91.4H67.8a.473.473,0,0,1-.5-.5V67.8a.473.473,0,0,1,.5-.5H86.882a.473.473,0,0,1,.5.5V90.895A.474.474,0,0,1,86.882,91.4ZM68.3,90.395H86.376V68.3H68.3Z" transform="translate(-64.281 -64.281)" fill="#fff"/>
							<path id="Path_1230" data-name="Path 1230" d="M40.7,462.813H17.606a1.48,1.48,0,0,1-1.506-1.506V460.3a.473.473,0,0,1,.5-.5H41.707a.473.473,0,0,1,.5.5v1.006A1.48,1.48,0,0,1,40.7,462.813Zm-23.6-2.006v.5a.473.473,0,0,0,.5.5H40.7a.473.473,0,0,0,.5-.5v-.5Z" transform="translate(-16.094 -433.687)" fill="#fff"/>
							<path id="Path_1231" data-name="Path 1231" d="M40.7,2.013H17.606A1.509,1.509,0,0,1,16.1.506,1.48,1.48,0,0,1,17.606-1H40.7A1.48,1.48,0,0,1,42.207.506,1.48,1.48,0,0,1,40.7,2.013ZM17.606.006a.538.538,0,0,0-.5.5.5.5,0,0,0,.5.5H40.7a.473.473,0,0,0,.5-.5.473.473,0,0,0-.5-.5H17.606Z" transform="translate(-16.094)" fill="#fff"/>
							<path id="Path_1232" data-name="Path 1232" d="M444.206,460.9H443.2a.5.5,0,0,1,0-1h1.006a.473.473,0,0,1,.5.5A.466.466,0,0,1,444.206,460.9Z" transform="translate(-417.593 -433.781)" fill="#fff"/>
							<path id="Path_1233" data-name="Path 1233" d="M214.907,91.4H212.9a.473.473,0,0,1-.5-.5V67.8a.473.473,0,0,1,.5-.5h2.006a.473.473,0,0,1,.5.5V90.895A.474.474,0,0,1,214.907,91.4ZM213.4,90.395h1.006V68.3H213.4Z" transform="translate(-200.844 -64.281)" fill="#fff"/>
							<path id="Path_1234" data-name="Path 1234" d="M93.353,95.36A.458.458,0,0,1,93,95.207a.483.483,0,0,1,0-.7L94.506,93a.5.5,0,1,1,.7.7l-1.5,1.512A.454.454,0,0,1,93.353,95.36Z" transform="translate(-88.328 -88.328)" fill="#fff"/>
							<path id="Path_1235" data-name="Path 1235" d="M93.353,146.059a.458.458,0,0,1-.353-.153.483.483,0,0,1,0-.7l1.006-1.006a.5.5,0,1,1,.7.7L93.7,145.906A.438.438,0,0,1,93.353,146.059Z" transform="translate(-88.328 -136.515)" fill="#fff"/>
							<path id="Path_1236" data-name="Path 1236" d="M136.053,95.36a.458.458,0,0,1-.353-.153.483.483,0,0,1,0-.7L137.206,93a.5.5,0,0,1,.7.7L136.4,95.212A.45.45,0,0,1,136.053,95.36Z" transform="translate(-128.515 -88.328)" fill="#fff"/>
							<path id="Path_1237" data-name="Path 1237" d="M340.853,411.16a.458.458,0,0,1-.353-.153.483.483,0,0,1,0-.7l1.506-1.506a.5.5,0,0,1,.7.7l-1.506,1.506A.455.455,0,0,1,340.853,411.16Z" transform="translate(-321.265 -385.546)" fill="#fff"/>
							<path id="Path_1238" data-name="Path 1238" d="M349.353,367.959a.458.458,0,0,1-.353-.153.484.484,0,0,1,0-.7l1.006-1.006a.5.5,0,1,1,.7.7l-1.006,1.006A.438.438,0,0,1,349.353,367.959Z" transform="translate(-329.265 -345.359)" fill="#fff"/>
							<path id="Path_1239" data-name="Path 1239" d="M298.153,411.16a.458.458,0,0,1-.353-.153.483.483,0,0,1,0-.7l1.506-1.506a.5.5,0,0,1,.7.7l-1.506,1.506A.438.438,0,0,1,298.153,411.16Z" transform="translate(-281.078 -385.546)" fill="#fff"/>
							<path id="Path_1240" data-name="Path 1240" d="M145.606,234.419a1.48,1.48,0,0,1-1.506-1.506v-2.006a1.506,1.506,0,0,1,3.013,0v2.006A1.48,1.48,0,0,1,145.606,234.419Zm0-4.013a.472.472,0,0,0-.5.5v2.006a.5.5,0,0,0,1,0v-2.006A.5.5,0,0,0,145.606,230.406Z" transform="translate(-136.562 -216.843)" fill="#fff"/>
							<path id="Path_1241" data-name="Path 1241" d="M282.106,234.419a1.48,1.48,0,0,1-1.506-1.506v-2.006a1.506,1.506,0,0,1,3.013,0v2.006A1.48,1.48,0,0,1,282.106,234.419Zm0-4.013a.473.473,0,0,0-.5.5v2.006a.5.5,0,0,0,1,0v-2.006A.5.5,0,0,0,282.106,230.406Z" transform="translate(-265.031 -216.843)" fill="#fff"/>
						</g>
					</svg>
				.instruction__tabs_content
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="33" viewBox="0 0 24 24">
						<defs>
							<radialGradient id="radial-gradient" cx="1102.427" cy="536.929" r="3.639" gradientTransform="translate(-5.502 -11.975) scale(2.176 2.176)" gradientUnits="userSpaceOnUse">
								<stop offset="0" stop-color="#fff"/>
								<stop offset="1" stop-color="#fff"/>
							</radialGradient>
							<radialGradient id="radial-gradient-2" cx="1106.326" cy="537.527" r="3.75" gradientTransform="translate(-2.201 -1.149) scale(1.615 1.199)" xlink:href="#radial-gradient"/>
							<radialGradient id="radial-gradient-3" cx="1106.326" cy="589.776" r="7.158" gradientTransform="translate(0.55 2.031) scale(0.846 0.329)" xlink:href="#radial-gradient"/>
							<radialGradient id="radial-gradient-4" cx="1104.029" cy="533.029" r="19.103" gradientTransform="translate(0 6.097) scale(1 0.459)" xlink:href="#radial-gradient"/>
							<radialGradient id="radial-gradient-5" cx="1147.977" cy="533.077" r="7.313" gradientTransform="translate(-1.1 2.067) scale(1.211 0.673)" xlink:href="#radial-gradient"/>
							<radialGradient id="radial-gradient-6" cx="1160.276" cy="552.776" r="6.796" gradientTransform="translate(0.988 0.701) scale(0.438 0.088)" xlink:href="#radial-gradient"/>
							<radialGradient id="radial-gradient-7" cx="1150.113" cy="566.4" r="9.745" gradientTransform="translate(1.393 0.895) scale(0.411 0.078)" xlink:href="#radial-gradient"/>
							<radialGradient id="radial-gradient-8" cx="1172.982" cy="560.771" r="5.655" gradientTransform="translate(0.828 0.624) scale(0.454 0.095)" xlink:href="#radial-gradient"/>
							<radialGradient id="radial-gradient-9" cx="1150.112" cy="543.065" r="9.747" gradientTransform="translate(1.393 0.895) scale(0.411 0.077)" xlink:href="#radial-gradient"/>
							<radialGradient id="radial-gradient-10" cx="1172.982" cy="537.441" r="5.658" gradientTransform="translate(0.828 0.624) scale(0.454 0.095)" xlink:href="#radial-gradient"/>
							<clipPath id="clip-Measurement._Balcony">
								<rect width="24" height="24"/>
							</clipPath>
						</defs>
						<g id="Measurement._Balcony" data-name="Measurement. Balcony" clip-path="url(#clip-Measurement._Balcony)">
							<g id="Group_1" data-name="Group 1" transform="translate(-1091.75 -520.75)">
								<path id="Path_1" data-name="Path 1" d="M1098.025,547.108h8.8a.276.276,0,0,0,.275-.275V527.025a.275.275,0,0,0-.275-.275h-8.8a.275.275,0,0,0-.275.275v19.808A.276.276,0,0,0,1098.025,547.108Zm.275-19.808h8.253v19.257H1098.3Z" transform="translate(-3.9 -3.9)" fill="url(#radial-gradient)"/>
								<path id="Path_2" data-name="Path 2" d="M1109.628,531.75h-6.6a.275.275,0,0,0-.275.275v11a.276.276,0,0,0,.275.275h6.6a.276.276,0,0,0,.275-.275v-11A.275.275,0,0,0,1109.628,531.75Zm-.275,11H1103.3V532.3h6.052Z" transform="translate(-7.799 -7.799)" fill="url(#radial-gradient-2)"/>
								<path id="Path_3" data-name="Path 3" d="M1109.628,586.75h-6.6a.276.276,0,0,0-.275.275v5.5a.276.276,0,0,0,.275.275h6.6a.276.276,0,0,0,.275-.275v-5.5A.276.276,0,0,0,1109.628,586.75Zm-.275,5.5H1103.3V587.3h6.052Z" transform="translate(-7.799 -50.695)" fill="url(#radial-gradient-3)"/>
								<path id="Path_4" data-name="Path 4" d="M1115.033,521.75h-22.008a.275.275,0,0,0-.275.275v22.008a.275.275,0,0,0,.275.275h11a.276.276,0,0,0,.275-.275v-7.428h10.729a.276.276,0,0,0,.275-.275V522.025A.275.275,0,0,0,1115.033,521.75Zm-.275,14.305h-10.729a.276.276,0,0,0-.275.275v7.428H1093.3V522.3h21.458Z" fill="url(#radial-gradient-4)"/>
								<path id="Path_5" data-name="Path 5" d="M1143.025,539.4h9.9a.276.276,0,0,0,.275-.275v-12.1a.275.275,0,0,0-.275-.275h-9.9a.275.275,0,0,0-.275.275v12.1A.276.276,0,0,0,1143.025,539.4Zm.275-12.1h9.354v11.554H1143.3Z" transform="translate(-38.996 -3.9)" fill="url(#radial-gradient-5)"/>
								<path id="Path_6" data-name="Path 6" d="M1158.534,553.356a.274.274,0,0,0,.348.174l2.962-.988a.275.275,0,1,0-.174-.522l-2.962.987A.275.275,0,0,0,1158.534,553.356Z" transform="translate(-51.295 -23.598)" fill="url(#radial-gradient-6)"/>
								<path id="Path_7" data-name="Path 7" d="M1152.114,565.443l-4.176,1.392a.275.275,0,1,0,.174.522l4.176-1.392a.275.275,0,0,0,.174-.348A.278.278,0,0,0,1152.114,565.443Z" transform="translate(-42.895 -34.066)" fill="url(#radial-gradient-7)"/>
								<path id="Path_8" data-name="Path 8" d="M1174.136,560.1l-2.483.828a.275.275,0,0,0,.174.522l2.483-.828a.275.275,0,0,0-.174-.522Z" transform="translate(-61.391 -29.895)" fill="url(#radial-gradient-8)"/>
								<path id="Path_9" data-name="Path 9" d="M1148.111,544.022l4.176-1.392a.275.275,0,0,0-.174-.522l-4.176,1.392a.275.275,0,1,0,.174.522Z" transform="translate(-42.894 -15.867)" fill="url(#radial-gradient-9)"/>
								<path id="Path_10" data-name="Path 10" d="M1174.136,536.765l-2.483.828a.275.275,0,0,0,.174.522l2.483-.828a.275.275,0,1,0-.174-.522Z" transform="translate(-61.391 -11.7)" fill="url(#radial-gradient-10)"/>
							</g>
						</g>
					</svg>
			.instruction__wrapp.active
				.instruction__desc.instruction__block
					button.instruction__btn 
						span.text Описание
						span.clouse &times
					.instruction__more.fixed
						p.instruction__text Нами создана инструкция по самостоятельному замеру окон для того, чтобы вы могли, не прибегая ни к чьим услугам, произвести все необходимые замеры и передать нам на точный расчет стоимости, что сэкономит вам время и средства. 
						p.instruction__text Обращаем ваше внимание на то, что после принятия решения приобрести окна в нашей компании, вам необходимо <a href="#">вызвать профессионального технолога-замерщика</a> для осуществления точных замеров. Погрешность, которую вы можете допустить при самостоятельном измерении, может кардинально повлиять на конечную установку окна. Вплоть до того, что окно совершенно не подойдет. Индивидуально изготовленные окна не подлежат подгонке на месте. Результатом может стать пустая трата денег.
						p.instruction__text Самостоятельно сделать предварительные замеры не сложно. Главное – точно придерживаться наших рекомендаций.
						p.instruction__text В замер окна входят: ширина и высота оконного проема, ширина откосов, длина и ширина подоконника, глубина отлива. Для наглядности схематично нарисуйте чертёж окна и наносите на него полученные размеры в миллиметрах.
				.instruction__img.instruction__block.window
					a.up.go_to(href="#instruction__accor")
						img(src="/images/instruction/arrow-down.svg", alt="up")
					ul.num
						li.num__item 
							span 01
						li.num__item 
							span 02
						li.num__item 
							span 03
						li.num__item 
							span 04
						li.num__item 
							span 05
						li.num__item 
							span 06
					ul.text
						li.text__item Высота оконного проема
						li.text__item Ширина оконного проема
						li.text__item Длина подоконника
						li.text__item Ширина подоконника
						li.text__item Ширина откоса
						li.text__item Размер отлива
					<svg class="wind" xmlns="http://www.w3.org/2000/svg" width="444" height="618.061" viewBox="-20 0 484 628.061">
						<g id="window" data-name="Group 786" transform="translate(-712.5 -175.939)">
							<rect class="part part3 part4 center" id="Rectangle_1301" data-name="Rectangle 1301" width="336" height="484" transform="translate(768 215.5)" fill="none" stroke="#353535" stroke-width="1"/>
							<path class="rain" id="rain" d="M-602.6-6630.778l-36.8-31.19H-854.677l-36.9,31.271Z" transform="translate(1683 7306.627)" fill="#d4d4d4" stroke="#d4d4d4" stroke-linejoin="round" stroke-width="1"/>
							<g class="dn12 under"  id="Rectangle_1305" data-name="Rectangle 1305" transform="translate(728 752.5)" fill="none" stroke="#353535" stroke-width="1">
								<rect width="417" height="17" stroke="none"/>
								<rect x="0.5" y="0.5" width="416" height="16" fill="none"/>
							</g>
							<g id="center" class="op1" transform="translate(702 28.5)">
								<g id="Rectangle_1303" data-name="Rectangle 1303" transform="translate(83 204)" fill="none" stroke="#353535" stroke-width="1">
									<rect width="302" height="450" stroke="none"/>
									<rect x="0.5" y="0.5" width="301" height="449" fill="none"/>
								</g>
								<g id="Rectangle_1304" data-name="Rectangle 1304" transform="translate(89 210)" fill="none" stroke="#353535" stroke-width="1">
									<rect width="290" height="438" stroke="none"/>
									<rect x="0.5" y="0.5" width="289" height="437" fill="none"/>
								</g>
								<path id="Path_452" data-name="Path 452" d="M176.257,124.8a4.722,4.722,0,0,0-4.657,4.657,4.526,4.526,0,0,0,2.523,4.075h.194v25.616a2.135,2.135,0,1,0,4.27,0V133.533h.194a4.526,4.526,0,0,0,2.523-4.075,5.379,5.379,0,0,0-5.046-4.658Zm1.164,34.543a1.164,1.164,0,0,1-2.329,0V131.98a1.165,1.165,0,0,1,2.329,0v27.362Zm.97-26.78v-.388a2.135,2.135,0,1,0-4.27,0v.388a3.771,3.771,0,0,1-1.552-3.1,3.685,3.685,0,0,1,3.687-3.687,3.817,3.817,0,0,1,3.687,3.687,4.051,4.051,0,0,1-1.552,3.1Z" transform="translate(216.955 285.717)" fill="#353535"/>
							</g>
							<g id="Group_788" data-name="Group 788" transform="translate(702 28.5)">
								<path class="part left part3 part4 part5" id="Path_1289" data-name="Path 1289" d="M-7342.63-7748.81v-484.24l-38.108-37.871v558.969l38.108-36.861Z" transform="translate(7408.704 8420.271)" fill="none" stroke="#353535" stroke-linejoin="round" stroke-width="1"/>
								<path class="part part3 part4 top part5" id="Path_1290" data-name="Path 1290" d="M-7344.98-8233.44l-36.222-37.176,410.133-.473-38.052,37.591Z" transform="translate(7410.299 8420.442)" fill="none" stroke="#353535" stroke-width="1"/>
								<path class="part part3 part4 right part5" id="Path_1294" data-name="Path 1294" d="M-7342.63-7748.81v-484.24l-38.108-37.871v558.969l38.108-36.861Z" transform="translate(-6940.668 -7562.602) rotate(180)" fill="none" stroke="#353535" stroke-linejoin="round" stroke-width="1"/>
								<g id="down" class="part down">
									<g class="block3" id="Rectangle_1302" data-name="Rectangle 1302" transform="translate(11 715)" fill="#353535" stroke="#353535" stroke-width="1">
										<rect width="443" height="10" stroke="none"/>
										<rect x="0.5" y="0.5" width="442" height="9" fill="none"/>
									</g>
									<path class="part3 block4" id="Path_1293" data-name="Path 1293" d="M-7390.41-7704.54l46.1-44.463,335.052-.01,43.8,44.382" transform="translate(7411 8420)" fill="none" stroke="#353535" stroke-width="2"/>
								</g>
							</g>
							<line class="dc1 dn2 line" id="Line_207" data-name="Line 207" y2="484" transform="translate(832.5 216)" fill="none" stroke="#353535" stroke-width="2"/>
							<line class="dn1 dc2 line" id="Line_208" data-name="Line 208" x2="336" transform="translate(768.5 635)" fill="none" stroke="#353535" stroke-width="2"/>
							<line class="dn line4" id="Line_209" data-name="Line 209" x2="44" y2="44" transform="translate(1103.5 699)" fill="none" stroke="#c351e7" stroke-width="3"/>
							<line class="dn line5" id="Line_210" data-name="Line 210" y1="39" x2="39" transform="translate(1103.5 177)" fill="none" stroke="#c351e7" stroke-width="3"/>
							<g id="max-down" class="dn12" transform="translate(702 28.5)">
								<g id="Group_786-2" data-name="Group 786">
									<line class="line3"  id="Line_211" data-name="Line 211" y2="5" transform="translate(11.5 729.5)" fill="none" stroke="#353535" stroke-width="1"/>
									<line class="line3" id="Line_212" data-name="Line 212" y2="5" transform="translate(11.5 739.5)" fill="none" stroke="#353535" stroke-width="1"/>
									<line class="line3" id="Line_213" data-name="Line 213" y2="5" transform="translate(11.5 749.5)" fill="none" stroke="#353535" stroke-width="1"/>
									<line class="line3" id="Line_214" data-name="Line 214" y2="5" transform="translate(11.5 759.5)" fill="none" stroke="#353535" stroke-width="1"/>
								</g>
								<g id="Group_787" data-name="Group 787">
									<line class="line3" id="Line_215" data-name="Line 215" y2="5" transform="translate(453.5 729.5)" fill="none" stroke="#353535" stroke-width="1"/>
									<line class="line3" id="Line_216" data-name="Line 216" y2="5" transform="translate(453.5 739.5)" fill="none" stroke="#353535" stroke-width="1"/>
									<line class="line3" id="Line_217" data-name="Line 217" y2="5" transform="translate(453.5 749.5)" fill="none" stroke="#353535" stroke-width="1"/>
									<line class="line3" id="Line_218" data-name="Line 218" y2="5" transform="translate(453.5 759.5)" fill="none" stroke="#353535" stroke-width="1"/>
								</g>
								<line class="line3" id="Line_219" data-name="Line 219" x2="442" transform="translate(11.5 764.5)" fill="none" stroke="#353535" stroke-linecap="square" stroke-width="2"/>
							</g>
							<g class="dashdot" id="dashdot">
								<line id="Line_208-2" data-name="Line 208" y1="5" transform="translate(1036.5 639.5)" fill="none" stroke="transparent" stroke-width="1"/>
								<line id="Line_209-2" data-name="Line 209" y2="5" transform="translate(1036.5 630.5)" fill="none" stroke="transparent" stroke-width="1"/>
								<line id="Line_210-2" data-name="Line 210" y1="5" transform="translate(1036.5 621.5)" fill="none" stroke="transparent" stroke-width="1"/>
								<line id="Line_211-2" data-name="Line 211" y1="5" transform="translate(1036.5 612.5)" fill="none" stroke="transparent" stroke-width="1"/>
								<line id="Line_212-2" data-name="Line 212" y1="5" transform="translate(1036.5 603.5)" fill="none" stroke="transparent" stroke-width="1"/>
								<line id="Line_213-2" data-name="Line 213" y1="5" transform="translate(1036.5 594.5)" fill="none" stroke="transparent" stroke-width="1"/>
								<line id="Line_214-2" data-name="Line 214" y1="5" transform="translate(1036.5 585.5)" fill="none" stroke="transparent" stroke-width="1"/>
								<line id="Line_215-2" data-name="Line 215" y1="5" transform="translate(1036.5 576.5)" fill="none" stroke="transparent" stroke-width="1"/>
								<line id="Line_216-2" data-name="Line 216" y1="5" transform="translate(1036.5 567.5)" fill="none" stroke="transparent" stroke-width="1"/>
							</g>
						</g>
					</svg>
					ul.button-list
						li.button-show
							img(src="/images/instruction/compass.svg", alt="compass")
							span.active Пример
							span Смотреть пример чертежа
						li.button-download
							a(href="#")
								img(src="/images/instruction/download.svg", alt="download")
								span.active Шаблон
								span Скачать шаблон для заполнения
				#instruction__accor.instruction__accor.instruction__block.fixed
					.acc__wrap
						.acc__title(data-title="0") 
							span.tally 01
							span.text Высота оконного проема
						.acc__content
							p.text Измерьте высоту проема от верхнего откоса до подоконника. Желательно это сделать вдоль левого и правого откосов, чтобы установить наличие перепада. Если перепад есть, то действуем аналогично измерений ширины. Из полученного размера вычитаем 50 мм. Данные наносим на чертёж.					
					.acc__wrap
						.acc__title(data-title="1") 
							span.tally 02
							span.text Ширина оконного проема
						.acc__content
							p.text Внутри квартиры измерьте ширину оконного проема от левого до правого откоса. Также можно измерить ширину и по верхнему откосу, чтобы увидеть, есть ли перепад. Если есть, возьмите меньшую ширину. Нанесите полученный размер на чертёж, предварительно отняв 40 мм на пенный шов.					
					.acc__wrap
						.acc__title(data-title="2") 
							span.tally 03
							span.text Длинна подоконника
						.acc__content
							p.text Определите длину и ширину (глубину) подоконника. Для этого измерьте его от края до края вдоль подоконника. Ширина – глубина оконного проема – от рамы до выступающего края.				
					.acc__wrap
						.acc__title(data-title="3")  
							span.tally 04
							span.text Ширина подоконника
						.acc__content
							p.text Определите длину и ширину (глубину) подоконника. Для этого измерьте его от края до края вдоль подоконника. Ширина – глубина оконного проема – от рамы до выступающего края.				
					.acc__wrap
						.acc__title(data-title="4")  
							span.tally 05
							span.text Ширина откоса
						.acc__content
							p.text Внутри квартиры замерьте глубину оконного проема от рамы до угла стены. Сделайте это для левого и правого откоса. Данные заносятся на чертёж.
					.acc__wrap
						.acc__title(data-title="5")  
							span.tally 06
							span.text Размер отлива
						.acc__content
							p.text Отлив расположен с наружной стороны окна и служит для отвода дождевой воды. Со стороны улицы замерьте расстояние от рамы до угла стены – это ширина отлива. Длина находится так же, как и длина подоконника. Все измерения переносим на чертёж.
			.instruction__wrapp
				.instruction__desc.instruction__block
					button.instruction__btn 
						span.text Описание
						span.clouse &times
					.instruction__more.fixed
						p.instruction__text Замер балконного блока проводится так же, как и замер окна. Нужно только учитывать то, что, фактически, оконный блок состоит из двух окон ПВХ.
						p.instruction__text Измеряем с внутренней стороны общую ширину блока от правого до левого откоса. Затем измеряем расстояние от откоса рядом с дверью до середины наличника, закрывающего стык двери с окном. Так мы получим ширину двери. Из общей ширины вычитаем ширину двери и получаем ширину окна. В этом случае нужно вычесть 20мм от ширины и 50мм от высоты двери, и таким же образом поступить с окном.
						p.instruction__text Высоту двери измеряем от порожка до верхнего откоса. Как измерить высоту окна, мы уже знаем. Все полученные данные подробно записываем. Затем, к каждому записанному размеру прибавляем по 10-15 мм. Дописав к данным конфигурацию створок (количество, как открываются), Вы получите подробное описание желаемых окон, по которому наши сотрудники максимально точно рассчитают предварительную стоимость Вашего заказа. Вам нужно просто переслать все данные нам.
						p.instruction__text Еще раз обращаем Ваше внимание на то, что инструкция рассчитана только на получение предварительной оценки заказа. Для установки окон, замеры обязательно должен провести <a href="#">профессиональный замерщик</a>. Он учтет все нюансы Вашего дома, оконных проемов и других важных мелочей. Мы не навязываем Вам наши услуги. Мы хотим предупредить, что ни одна инструкция не заменит многолетнего опыта профессионала и не учтет всех невидимых глазу нюансов. Вы можете на свой страх и риск заказать окна по произведенным Вами замерам. В такой ситуации мы снимаем с себя всякую ответственность.
				.instruction__img.instruction__block.balcony
					a.up.go_to(href="#instruction__accor2")
						img(src="/images/instruction/arrow-down.svg", alt="up")
					ul.num
						li.num__item 
							span 01
						li.num__item 
							span 02
						li.num__item 
							span 03
					ul.text
						li.text__item Общая ширина блока
						li.text__item Ширина девери
						li.text__item Высота балконного блока
					//- img(src="/images/instruction/balcony.svg", alt="balcony")
					<svg class="wind" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="515.948" height="640.78" viewBox="0 0 515.948 640.78">
						<defs>
							<clipPath id="clip-path">
								<rect id="Rectangle_1312" data-name="Rectangle 1312" width="42" height="2" fill="none"/>
							</clipPath>
						</defs>
						<g id="balcony-test" transform="translate(-347 -701.966)">
							<g class="door" id="Rectangle_585" data-name="Rectangle 585" transform="translate(601.516 735.263)" fill="none" stroke="#353535" stroke-width="3">
								<rect width="219.205" height="607.335" stroke="none"/>
								<rect x="1.5" y="1.5" width="216.205" height="604.335" fill="none"/>
							</g>
							<g id="balcony-window">
								<path id="Path_1260" data-name="Path 1260" d="M-10222.3-9678.03h253.426l-27.052-26.992h-198.832l-28.383,26.992" transform="translate(10575.375 10750.478)" fill="none"/>
								<path id="Path_439" data-name="Path 439" d="M41.2,278.825H198.906V34.4H41.2ZM42.5,35.7H197.606V277.4H42.5Z" transform="translate(359.365 745.325)" fill="#353535"/>
								<path id="Path_452" data-name="Path 452" d="M174.72,124.8a3.164,3.164,0,0,0-3.12,3.12,3.032,3.032,0,0,0,1.69,2.73h.13v17.162a1.43,1.43,0,0,0,2.86,0V130.651h.13a3.032,3.032,0,0,0,1.69-2.73,3.6,3.6,0,0,0-3.38-3.121Zm.78,23.142a.78.78,0,1,1-1.56,0V129.61a.78.78,0,1,1,1.56,0ZM176.15,130v-.26a1.43,1.43,0,0,0-2.86,0V130a2.526,2.526,0,0,1-1.04-2.08,2.469,2.469,0,0,1,2.47-2.47,2.557,2.557,0,0,1,2.47,2.47,2.714,2.714,0,0,1-1.04,2.08Z" transform="translate(398.503 772.457)" fill="#353535"/>
								<path id="Path_453" data-name="Path 453" d="M264.837,337.9h-5.331l-2.73-2.73.13-.13-2.99-2.99v-.13l-20.542-20.672V22.622h-.13l20.8-20.542V331.924l1.95,1.95V0H10.4V331.794L3.9,337.9H0v5.6H9.491v9.621H256.517V343.5h8.321Zm-9.491,13.911H10.791V344.14H255.216v7.671ZM33.023,23.792,45.5,36.924V297.471l-12.481,13ZM219.2,297.861l12.871,13H33.543l12.611-13Zm-172.658-.91V37.444H218.683V296.951Zm173.178.39V36.924l13-13.521v287.07ZM219.2,36.534H46.025L33.413,23.4H231.684ZM10.4,332.964l1.95-1.82,20.282-19.112,199.961-.13,20.542,20.672h0l1.95,1.95h0l2.86,2.86-251.836-.39ZM32.633,22.622,12.611,1.95H253.656L232.594,22.622ZM12.351,2.21,32.373,22.882v288.11h-.13L12.351,329.714ZM116.362,337.645c47.455.13,94.91.13,142.365.26h0C211.272,337.775,163.817,337.775,116.362,337.645Z" transform="translate(347 735)" fill="#353535"/>
							</g>
							<g id="balcony-center" transform="translate(-375.5 470.466)">
								<g id="Rectangle_588" data-name="Rectangle 588" transform="translate(986.055 273.837)" fill="none" stroke="#707070" stroke-width="2">
									<rect width="201.127" height="589.821" stroke="none"/>
									<rect x="1" y="1" width="199.127" height="587.821" fill="none"/>
								</g>
								<g id="Rectangle_587" data-name="Rectangle 587" transform="translate(1000.744 288.526)" fill="none" stroke="#353535" stroke-width="1">
									<rect width="171.184" height="561.573" stroke="none"/>
									<rect x="0.5" y="0.5" width="170.184" height="560.573" fill="none"/>
								</g>
								<line id="Line_146" data-name="Line 146" y1="8.474" x2="8.474" transform="translate(1186.334 266.21)" fill="none" stroke="#353535" stroke-width="1"/>
								<line id="Line_147" data-name="Line 147" y1="8.474" x2="8.474" transform="translate(986.337 265.645) rotate(90)" fill="none" stroke="#353535" stroke-width="1"/>
								<line id="Line_148" data-name="Line 148" y1="8.474" x2="8.474" transform="translate(1195.374 863.375) rotate(90)" fill="none" stroke="#353535" stroke-width="1"/>
								<line id="Line_149" data-name="Line 149" y1="8.474" x2="8.474" transform="translate(986.337 871.85) rotate(180)" fill="none" stroke="#353535" stroke-width="1"/>
								<line id="Line_150" data-name="Line 150" x1="14.124" y2="14.124" transform="translate(1171.645 275.249)" fill="none" stroke="#707070" stroke-width="1"/>
								<line id="Line_151" data-name="Line 151" x1="14.124" y1="14.124" transform="translate(986.62 274.402)" fill="none" stroke="#707070" stroke-width="1"/>
								<line id="Line_150-2" data-name="Line 150" x1="14.124" y2="13.559" transform="translate(1000.744 863.375) rotate(180)" fill="none" stroke="#707070" stroke-width="1"/>
								<line id="Line_151-2" data-name="Line 151" x2="14.124" y2="13.277" transform="translate(1171.645 849.816)" fill="none" stroke="#707070" stroke-width="1"/>
								<path id="Path_1259" data-name="Path 1259" d="M174.72,124.8a3.164,3.164,0,0,0-3.12,3.12,3.032,3.032,0,0,0,1.69,2.73h.13v17.162a1.43,1.43,0,0,0,2.86,0V130.651h.13a3.032,3.032,0,0,0,1.69-2.73,3.6,3.6,0,0,0-3.38-3.121Zm.78,23.142a.78.78,0,1,1-1.56,0V129.61a.78.78,0,1,1,1.56,0ZM176.15,130v-.26a1.43,1.43,0,0,0-2.86,0V130a2.526,2.526,0,0,1-1.04-2.08,2.469,2.469,0,0,1,2.47-2.47,2.557,2.557,0,0,1,2.47,2.47,2.714,2.714,0,0,1-1.04,2.08Z" transform="translate(818.635 401.989)" fill="#353535"/>
								<line id="Line_152" data-name="Line 152" x2="171.184" transform="translate(1001.026 617.616)" fill="none" stroke="#707070" stroke-width="2"/>
								<line id="Line_153" data-name="Line 153" x2="171.184" transform="translate(1001.026 601.797)" fill="none" stroke="#707070" stroke-width="2"/>
							</g>
							<g class="dn" id="balcony-right" transform="translate(-375.5 470.466)">
								<g id="Repeat_Grid_21" data-name="Repeat Grid 21" transform="translate(1196.448 265.28)" clip-path="url(#clip-path)">
									<g id="Group_803" data-name="Group 803" transform="translate(-976.448 -436.28)">
										<line id="Line_61" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_804" data-name="Group 804" transform="translate(-969.448 -436.28)">
										<line id="Line_61-2" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_805" data-name="Group 805" transform="translate(-962.448 -436.28)">
										<line id="Line_61-3" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_806" data-name="Group 806" transform="translate(-955.448 -436.28)">
										<line id="Line_61-4" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_807" data-name="Group 807" transform="translate(-948.448 -436.28)">
										<line id="Line_61-5" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_808" data-name="Group 808" transform="translate(-941.448 -436.28)">
										<line id="Line_61-6" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
								</g>
								<g id="Repeat_Grid_22" data-name="Repeat Grid 22" transform="translate(1196.448 870.28)" clip-path="url(#clip-path)">
									<g id="Group_809" data-name="Group 809" transform="translate(-976.448 -436.28)">
										<line id="Line_61-7" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_810" data-name="Group 810" transform="translate(-969.448 -436.28)">
										<line id="Line_61-8" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_811" data-name="Group 811" transform="translate(-962.448 -436.28)">
										<line id="Line_61-9" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_812" data-name="Group 812" transform="translate(-955.448 -436.28)">
										<line id="Line_61-10" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_813" data-name="Group 813" transform="translate(-948.448 -436.28)">
										<line id="Line_61-11" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
									<g id="Group_814" data-name="Group 814" transform="translate(-941.448 -436.28)">
										<line id="Line_61-12" data-name="Line 61" y2="3" transform="translate(979.448 436.28) rotate(90)" fill="none" stroke="#c351e7" stroke-width="1"/>
									</g>
								</g>
								<line id="Line_155" data-name="Line 155" y2="604.78" transform="translate(1229.5 267.5)" fill="none" stroke="#c351e7" stroke-width="3"/>
							</g>
							<line class="b-line2" id="Line_208" data-name="Line 208" x2="217" transform="translate(602 903.966)" fill="none" stroke="#353535" stroke-width="2"/>
							<line class="dn right-line" id="Line_208-2" data-name="Line 208" y2="607" transform="translate(819.5 735.5)" fill="none" stroke="#353535" stroke-width="3"/>
							<g class="dn" id="balcony-top">
								<line id="Line_209" data-name="Line 209" x1="462" transform="translate(358 702.966)" fill="none" stroke="#c351e7" stroke-width="2"/>
								<g id="Group_815" data-name="Group 815">
									<line id="Line_209-2" data-name="Line 209" y2="5" transform="translate(358.5 726.5)" fill="none" stroke="#c351e7" stroke-width="1"/>
									<line id="Line_210" data-name="Line 210" y2="5" transform="translate(358.5 716.5)" fill="none" stroke="#c351e7" stroke-width="1"/>
									<line id="Line_211" data-name="Line 211" y2="5" transform="translate(358.5 706.5)" fill="none" stroke="#c351e7" stroke-width="1"/>
								</g>
								<g id="Group_816" data-name="Group 816" transform="translate(462)">
									<line id="Line_209-3" data-name="Line 209" y2="5" transform="translate(358.5 726.5)" fill="none" stroke="#c351e7" stroke-width="1"/>
									<line id="Line_210-2" data-name="Line 210" y2="5" transform="translate(358.5 716.5)" fill="none" stroke="#c351e7" stroke-width="1"/>
									<line id="Line_211-2" data-name="Line 211" y2="5" transform="translate(358.5 706.5)" fill="none" stroke="#c351e7" stroke-width="1"/>
								</g>
							</g>
							<line class="dn top-line" id="Line_212" data-name="Line 212" x2="463" transform="translate(357.5 736.5)" fill="none" stroke="#353535" stroke-width="2"/>
						</g>
					</svg>
					ul.button-list
						li.button-show
							img(src="/images/instruction/compass.svg", alt="compass")
							span.active Пример
							span Смотреть пример чертежа
						li.button-download
							a(href="#")
								img(src="/images/instruction/download.svg", alt="download")
								span.active Шаблон
								span Скачать шаблон для заполнения
				#instruction__accor2.instruction__accor.instruction__block
					.acc__wrap
						.acc__title
							span.tally 01
							span.text Общая ширина блока
						.acc__content
							p.text С внутренней стороны помещения измерьте общую ширину балконного блока от правого до левого откоса. 				
					.acc__wrap
						.acc__title 
							span.tally 02
							span.text Ширина девери
						.acc__content
							p.text Затем измерьте расстояние от откоса рядом с дверью до середины наличника, закрывающего стык двери с окном, либо до стыка двери с окном, если наличник отсутствует. Так находим ширину двери. Из общей ширины нужно отнять ширину двери, чтобы определить ширину окна.	
					.acc__wrap
						.acc__title 
							span.tally 03
							span.text Высота балконного блока
						.acc__content
							p.text Высоту двери измеряем от порожка до верхнего откоса. Как измерить высоту окна мы уже знаем.