#page-brand {
  background: #353535;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 100px 100px 50px 150px;
  overflow: hidden;
  @media (max-width: 1200px) {
    padding: 100px 100px 50px 100px;
  }
  @media (max-width: 1000px) {
    padding: 100px 40px 40px 40px;
  }
  @media (max-width: 575px) {
    padding: 70px 0 0 0;
  }
  .title {
    flex-basis: 40px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    .back {
      // position: absolute;
      // top: 0;
      // left: 50px;
      width: 40px;
      height: 40px;
      display: flex;
      margin-right: 30px;
      align-items: center;
      justify-content: center;
      background: rgba(40,40,40,.9);
      border-radius: 9px;
      @media (max-width: 575px) {
        // width: 40px;
        // justify-content: center;
        // left: 0;
      }
      img {
        transform: rotate(90deg);
        width: 20px;
        height: 20px;
        display: block;
      }
    }
    .material-icons {
      position: absolute;
      left: 0;
      top: 0;
      color: rgba(255,255,255,.75);
      transition: all .25s;
      font-size: 24px;
      height: 40px;
      width: 40px;
      // background: red;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: rgba(255,255,255,1);
      }
    }
    .brand_title {
      font-family: 'MontserratSemiBold';
      color: white;
      font-size: 24px;
      line-height: 40px;
      display: inline-block;
    }
    .dropdown {
      display: flex;
      flex-basis: 40px;
      margin-left: 30px;
      &.show {
        .ico {
          background: none;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          @media (max-width: 575px) {
            background: rgba(40,40,40,.9);
            -webkit-transform: rotate(0);
            transform: rotate(0);
            border-radius: 9px 9px 0 0;
          }
        }
      }
      .ico {
        position: relative;
        z-index: 99;
        flex-grow: 1;
        flex-basis: 40px;
        height: 40px;
        cursor: pointer;
        background: rgba(40,40,40,.9);
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .25s;
        img {
          width: 20px;
          height: 20px;
        }
      }
      .dropdown-menu {
        background: rgba(40,40,40,.9);
        margin: 0;
        border: 0;
        padding: 10px 30px 10px 50px;
        transform: translate3d(0, 0px, 0px) !important;
        border-radius: 9px;
        z-index: 98 !important;
        @media (max-width: 575px) {
          transform: translate3d(calc(-100% + 40px), 40px, 0) !important;
          padding: 15px 20px 15px 20px;
          border-radius: 9px 0 9px 9px;
        }
        a {
          font-family: 'MontserratSemiBold';
          text-transform: uppercase;
          font-size: 12px;
          background: none;
          padding: 0 0 10px;
          line-height: 20px;
          color: white;
          @media (max-width: 575px) {
            padding: 0 0 5px;
          }
          &:last-child {
            padding: 0;
          }
          &.active {
            color: #86ecfb;
          }
        }
      }
    }
  }
  .desc {
    flex-basis: 300px;
    flex-shrink: 0;
    font-family: 'MontserratMedium';
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
    @media (max-width: 1200px) {
      flex-basis: 50px;
      align-items: flex-start;
    }
    .sBrandDesc {
      padding: 0;
      @media (max-width: 1200px) {
        display: none;
        position: absolute;
        top: 120px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        z-index: 3;
        background: #313131;
        padding-top: 70px;
        border-radius: 10px;
        overflow: hidden;
      }
      .text {
        overflow: auto;
        -webkit-overflow-scrolling:touch;
        height: 100%;
        padding: 0 50px;
        @media (max-width: 1200px) {
          padding: 20px;
        }        
      }
      .closeDesc {
        display: none;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        background: #353535;
        border-radius: 50%;
        box-shadow: 0 3px 10px rgba(0,0,0,.75);
        &::before, &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 1px;
          height: 15px;
          background: white;
        }
        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        @media (max-width: 1200px) {
          display: block
        }
      }
    }
    .buttonDesc {
      display: none;
      background: linear-gradient(90deg, #84EFFB, #D858E7);
      padding: 0 20px;
      margin: 10px 0 5px;
      font-family: 'MontserratSemiBold';
      border-radius: 25px;
      font-size: 10px;
      line-height: 25px;
      text-transform: uppercase;
      cursor: pointer;
      @media (max-width: 1200px) {
        display: block;
      }
    }
  }
  .products {
    flex-grow: 1;
    display: flex;
    position: relative;
    @media (max-width: 1200px) {
      flex-basis: 150px;
      flex-grow: 0;
    }
    .gallery {
      width: 100%;
      .slick-list {
        height: 100%;
        @media (max-width: 1000px) {
          padding: 0 30px;
        }
        .slick-track {
          height: 100%;
          .slick-slide {
            outline: none;
            display: flex;
            margin: 0 20px;
            &.active {
              .sProductTitle {
                color: #86ecfb;
              }
            }
            &.slick-current {
              a {
                .linkp {
                  @media (min-width: 1199px) {
                    display: flex;
                  }                  
                }
              }
            }
            @media (min-width: 1199px) {
              &.slick-current {
                border-radius: 20px;
                background: rgba(255,255,255,.05);
              }
            }
            a {
              // background: red;
              outline: none;
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              text-decoration: none;
              position: relative;
              .sProductImage {
                margin: 50px;
                flex-grow: 1;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                position: relative;
                @media (max-width: 700px) {
                  margin: 0 25%;
                }
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .sProductTitle {
                flex-shrink: 0;
                flex-basis: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'MontserratSemiBold';
                font-size: 16px;
                color: white;
                @media (max-width: 1000px) {
                  text-align: center;
                  font-size: 10px;
                }
              }
              .linkp {
                position: absolute;
                top: 50%;
                right: -17px;
                width: 40px;
                height: 40px;
                transform: translate(0, calc(-50% - 20px));
                background: linear-gradient(-90deg, #E55AE9, #9C47E5);
                border: 1px solid white;
                box-shadow: inset 0 0 0 2px #353535;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                padding: 8px;
                display: none;
                img {

                }
              }
            }
          }
        }
      }
      .slick-arrow {
        position: absolute;
        bottom: 0;
        width: 40px;
        height: 40px;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1000px) {
          width: 30px;
          height: 30px;
          top: 50%;
          bottom: auto;
          margin-top: -35px;
        }
        &.slick-prev {
          left: -40px;
          @media (max-width: 1000px) {
            left: 0;
          }
          img {
            transform: rotate(90deg);
          }
        }
        &.slick-next {
          right: -40px;
          @media (max-width: 1000px) {
            right: 0;
          }
          img {
            transform: rotate(-90deg);
          }
        }
        img {
          display: block;
          width: 30px;
          height: 30px;
          @media (max-width: 1000px) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  .productSelected {
    display: none;
    flex-grow: 1;
    position: relative;
    @media (max-width: 1200px) {
      display: flex;
      margin-top: 20px;
    }
    .gallery2 {
      width: 100%;
      .slick-list {
        height: 100%;
        .slick-track {
          height: 100%;
          .slick-slide {
            outline: none;
            display: flex;
            flex-direction: column;
            .sProductImage {
              flex-shrink: 0;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              height: calc(100% - 50px);
              position: relative;
              display: flex;
              .bg {
                height: 100%;
                margin: 0 auto;
                border-radius: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: 100%;
                max-width: 100%;
                padding: 20px 30px;
                border-radius: 20px;
                background: rgba(255,255,255,.05);
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
                a {
                  position: absolute;
                  width: 40px;
                  height: 40px;
                  top: 50%;
                  right: 0;
                  background: linear-gradient(-90deg, #E55AE9, #9C47E5);
                  transform: translate(50%, -50%);
                  border-radius: 4px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid white;
                  padding: 8px;
                  box-shadow: inset 0 0 0 2px #353535;
                }
              }
            }
            .sProductTitle {
              flex-shrink: 0;
              flex-basis: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: 'MontserratSemiBold';
              font-size: 16px;
              color: white;
            }
          }
        }
      }
    }
  }
}

.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}