extends ../layouts/app

block content
		.calculation.ppage
			h1.calculation__title Заказать точный расчет
			ul.calc__list
				li.calc__item
					span.num-wrapp 
						span.num 01
					p Предоставляя услугу точный расчёт, мы экономим:
				li.calc__item
					span.num-wrapp 
						span.num 02
					p Точный расчет поможет вам:
				li.calc__item
					span.num-wrapp
						span.num 03
					p Форма для заполнения:
			.calc-wrapp
				.calc-content.active
					ul.time__list
						li.time__item
							<svg id="Group_11506" data-name="Group 11506" xmlns="http://www.w3.org/2000/svg" width="17.917" height="21.5" viewBox="0 0 17.917 21.5">
								<path id="Path_11523" data-name="Path 11523" d="M17.558,20.783H16.483V19.35H14.692V15.677a2.9,2.9,0,0,0-1.3-2.419L9.585,10.75,13.393,8.2a2.9,2.9,0,0,0,1.3-2.419V2.15h1.792V.717h1.075a.385.385,0,0,0,.358-.358A.385.385,0,0,0,17.558,0H.358A.385.385,0,0,0,0,.358.385.385,0,0,0,.358.717H1.433V2.15H3.225V5.823a2.9,2.9,0,0,0,1.3,2.419l3.807,2.553L4.524,13.348a2.9,2.9,0,0,0-1.3,2.419V19.44H1.433v1.433H.358A.385.385,0,0,0,0,21.231a.4.4,0,0,0,.358.269h17.2a.358.358,0,1,0,0-.717ZM2.15,1.433V.717H15.767v.717ZM4.927,7.615a2.121,2.121,0,0,1-.985-1.792V2.15H13.975V5.823a2.121,2.121,0,0,1-.985,1.792L8.958,10.3Zm-.985,8.063a2.121,2.121,0,0,1,.985-1.792L8.958,11.2l4.031,2.688a2.121,2.121,0,0,1,.985,1.792V19.35H3.942ZM2.15,20.067H15.767v.717H2.15Zm0,0" fill="#fff"/>
								<path id="Path_11524" data-name="Path 11524" d="M11.43,12.147a.766.766,0,0,1-.314-.582v-.806a.358.358,0,1,0-.717,0v.806a1.369,1.369,0,0,0,.672,1.209l1.657,1.12a.269.269,0,0,0,.179.045.338.338,0,0,0,.314-.179.4.4,0,0,0-.09-.493Zm0,0" transform="translate(-5.742 -5.742)" fill="#fff"/>
								<path id="Path_11525" data-name="Path 11525" d="M25.493,31.562l-1.657-1.12a.354.354,0,1,0-.4.582l1.657,1.12a.678.678,0,0,1,.314.627v.806a.358.358,0,1,0,.717,0v-.806a1.428,1.428,0,0,0-.627-1.209Zm0,0" transform="translate(-12.861 -16.781)" fill="#fff"/>
							</svg>
							h2.time__title Ваше время
							p.time__text Не нужно вызывать замерщика и испытывать неудобства, отпрашиваясь с работы.
						li.time__item
							<svg id="Group_11507" data-name="Group 11507" xmlns="http://www.w3.org/2000/svg" width="15.05" height="21.5" viewBox="0 0 15.05 21.5">
								<path id="Path_11527" data-name="Path 11527" d="M15.05,21.142V.358A.359.359,0,0,0,14.692,0H.358A.359.359,0,0,0,0,.358V21.142a.359.359,0,0,0,.358.358H14.692a.359.359,0,0,0,.358-.358Zm-.717-.358H.717V.717H14.333Zm0,0" fill="#fff"/>
								<path id="Path_11528" data-name="Path 11528" d="M32.358,37.733H43.825a.359.359,0,0,0,.358-.358V32.358A.359.359,0,0,0,43.825,32H32.358a.359.359,0,0,0-.358.358v5.017a.359.359,0,0,0,.358.358Zm.358-5.017h10.75v4.3H32.717Zm0,0" transform="translate(-30.567 -30.567)" fill="#fff"/>
								<path id="Path_11529" data-name="Path 11529" d="M32.358,181.733h5.017a.359.359,0,0,0,.358-.358v-5.017a.359.359,0,0,0-.358-.358H32.358a.359.359,0,0,0-.358.358v5.017a.359.359,0,0,0,.358.358Zm.358-5.017h4.3v4.3h-4.3Zm0,0" transform="translate(-30.567 -168.117)" fill="#fff"/>
								<path id="Path_11530" data-name="Path 11530" d="M32.358,325.733h5.017a.359.359,0,0,0,.358-.358v-5.017a.359.359,0,0,0-.358-.358H32.358a.359.359,0,0,0-.358.358v5.017a.359.359,0,0,0,.358.358Zm.358-5.017h4.3v4.3h-4.3Zm0,0" transform="translate(-30.567 -305.667)" fill="#fff"/>
								<path id="Path_11531" data-name="Path 11531" d="M181.375,176h-5.017a.359.359,0,0,0-.358.358v5.017a.359.359,0,0,0,.358.358h5.017a.359.359,0,0,0,.358-.358v-5.017a.359.359,0,0,0-.358-.358Zm-.358,5.017h-4.3v-4.3h4.3Zm0,0" transform="translate(-168.117 -168.117)" fill="#fff"/>
								<path id="Path_11532" data-name="Path 11532" d="M181.375,320h-5.017a.359.359,0,0,0-.358.358v5.017a.359.359,0,0,0,.358.358h5.017a.359.359,0,0,0,.358-.358v-5.017a.359.359,0,0,0-.358-.358Zm-.358,5.017h-4.3v-4.3h4.3Zm0,0" transform="translate(-168.117 -305.667)" fill="#fff"/>
								<path id="Path_11533" data-name="Path 11533" d="M65.792,208h-.717v1.075H64v.717h1.075v1.075h.717v-1.075h1.075v-.717H65.792Zm0,0" transform="translate(-61.133 -198.683)" fill="#fff"/>
								<rect id="Rectangle_977" data-name="Rectangle 977" width="2.867" height="0.717" transform="translate(9.317 10.392)" fill="#fff"/>
								<path id="Path_11534" data-name="Path 11534" d="M61.262,346.3l-1.178,1.182L58.906,346.3l-.506.506,1.178,1.178L58.4,349.167l.506.506,1.178-1.178,1.178,1.178.506-.506-1.178-1.178,1.178-1.178Zm0,0" transform="translate(-55.784 -330.789)" fill="#fff"/>
								<rect id="Rectangle_978" data-name="Rectangle 978" width="2.867" height="0.717" transform="translate(9.317 16.842)" fill="#fff"/>
								<rect id="Rectangle_979" data-name="Rectangle 979" width="0.717" height="0.717" transform="translate(10.392 15.767)" fill="#fff"/>
								<rect id="Rectangle_980" data-name="Rectangle 980" width="0.717" height="0.717" transform="translate(10.392 17.917)" fill="#fff"/>
								<path id="Path_11535" data-name="Path 11535" d="M178.3,59.077l2.777-2.777.506.506-2.777,2.777Zm0,0" transform="translate(-170.314 -53.778)" fill="#fff"/>
								<path id="Path_11536" data-name="Path 11536" d="M226.3,91.733l1.433-1.433.506.506-1.433,1.433Zm0,0" transform="translate(-216.164 -86.255)" fill="#fff"/>
							</svg>
							h2.time__title Ваши деньги
							p.time__text Не нужно оплачивать услуги замерщика и терять в заработной плате, взяв отгул.
						li.time__item
							<svg xmlns="http://www.w3.org/2000/svg" width="12.203" height="21.5" viewBox="0 0 12.203 21.5">
								<path id="Path_11526" data-name="Path 11526" d="M.4,21.5a.264.264,0,0,1-.181-.038.357.357,0,0,1-.143-.428l4.014-9.566H.4a.423.423,0,0,1-.323-.181.324.324,0,0,1,0-.357L5.454.181A.37.37,0,0,1,5.777,0h5.732a.376.376,0,0,1,.323.181.324.324,0,0,1,0,.357L7.641,7.168h4.224a.346.346,0,0,1,.323.214.378.378,0,0,1-.038.395L.687,21.391A.411.411,0,0,1,.4,21.5ZM.973,10.75H4.626a.436.436,0,0,1,.286.143.358.358,0,0,1,.038.323L1.653,19.1,11.114,7.882H6.957A.376.376,0,0,1,6.634,7.7a.324.324,0,0,1,0-.357L10.862.718H5.991Z" transform="translate(-0.025)" fill="#fff"/>
							</svg>
							h2.time__title Ваши нервы
							p.time__text Не нужно выслушивать уговоры менеджеров по телефону, приехавшего замерщика и огорчаться возросшим ценам после замера.									
				.calc-content
					ul.payment__list
						li.payment__item Поверить в наши низкие цены
						li.payment__item Убедиться в нашей честности
						li.payment__item Осознать, что вам действительно нужны Просто Окна
					.payment__wrapp
						p.payment__text Мы не навязываем вам наш продукт – мы даем Вам возможность получить конечную стоимость* окон до приезда замерщика, при условии того, что замер будет выполнен вами лично и корректно. Для этого мы приготовили подробную инструкцию как это сделать.

						a.payment__desc(href="/instruction") Научиться самому
						p.payment__text Все просто! Заполните форму «Расчет стоимости», указав размеры ваших окон, либо просто прикрепите эскиз и нажмите кнопку «отправить»
						span.payment__postscript *Максимальная погрешность не более 3%
				.calc-content
					form.form_contact.calc-form
						input(type="hidden" name="subject")
						.calc-form__wrapp
							input.calc-form__input#name(type="text", name="name")
							label.calc-form__label(for="name") Имя (обязательно)
						.calc-form__wrapp
							input.calc-form__input#tel(name="tel")
							label.calc-form__label(for="tel") Телефон (обязательно)
						.calc-form__wrapp
							input.calc-form__input#email(type="email", name="email")
							label.calc-form__label(for="email") Email (обязательно)
						.calc-form__wrapp
							.file-wrap
								input.calc-form__input#image(type="file", name="image")
								button.browse-btn
								span.file-info Прикрепить эскиз
						.calc-form__wrapp
							textarea.calc-form__text#message(name="message")
							label.calc-form__label(for="message") Описание
<<<<<<< HEAD
						button.calc-form__btn.active Отправить
=======
						button(type="submit").calc-form__btn Отправить
>>>>>>> 03d55626a0e2efa7cb0422c89304c268e0b6cd6c

