#intuitive {
  // background: #353535;
  // font-family: 'Montserrat';
  // height: calc(100vh - 60px);
  // overflow: hidden;
  // display: block;
  // @media screen and (max-width: 576px) {
  //   height: calc(100vh - 50px);
  // }

  .intuitive-wrap {
    display: none;
    background: #353535;
    font-family: 'Montserrat';
    height: calc(100vh - 60px);
    overflow: hidden;
    position: relative;    
    @media screen and (max-width: 576px) {
      height: calc(100vh - 50px);
    }
  }
  // Кнопка Показать заново
  .repeat {
    width: 172px;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 13px 0;
    background: transparent;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    top: 95px;
    left: 83px;
    @media screen and (max-width: 992px) {
      display: none;
    }        
  }
  .hvr {    
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;     
  }
  .hvr:hover, .hvr:focus, .hvr:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);     
  }

  // Иконка свапа

  .slide {
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
      position: absolute;
      top: 2%;
      left: 50%;
      transform: translateX(-50%);
    }
    @media screen and (max-width: 576px) {
      display: none;
    }
    &-2 {
      display: none;
      @media screen and (max-width: 576px) {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
      }
    }
  }

  // Центральное окно
  .center_window {
    width: 40vw;
    height: 40vw;
    box-shadow: 0 3px 17px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-backface-visibility: hidden;
    @media screen and (max-width: 992px) {
      width: 44vw;
      height: 44vw;
      left: 65%;
      top: auto;
      bottom: 4%;
      transform: translate(-50%,0);
    }
    @media screen and (max-width: 800px) {
      width: 50vw;
      height: 50vw;
      left: 50%;
      transform: translate(-50%,0);
    }
    @media screen and (max-width: 685px) {
      width: 60vw;
      height: 60vw;
      left: 50%;
      transform: translate(-50%,0);
    }
    @media screen and (max-width: 576px) {
      width: 80vw;     
      height: 80vw;
      left: 50%;
      top: 50%;
      bottom: auto;
      transform: translate(-50%,-50%);
    }
  }

  // Центральный товар

  .main_window {
    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translateX(-50%);
    width: 40%;       
    img {
      width: 100%;
    }
  }
  .window-title {
    color: #fff;
    -webkit-backface-visibility: hidden;
    span {
      font-size: 33px;
      font-weight: 700;
      text-align: center;
      display: block;
      margin: 0 auto;
      @media screen and (max-width: 992px) {
        font-size: 25px;
      }        
      @media screen and (max-width: 576px) {
        font-size: 18px;
      }        
    }
    p {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 10%;
      @media screen and (max-width: 992px) {
        font-size: 11px;
      }
      @media screen and (max-width: 576px) {
        font-size: 9px;
      }
    }      
  }

  // Предыдущие окно

  .prev_window {
    width: 17vw;
    position: absolute;
    bottom: 0;
    left: 5%;
    transform: translateY(42%);
    @media screen and (max-width: 992px) {
      width: 16vw;
      left: 25%;
      transform: translate(-50%,0);
      bottom: auto;
      top: 15%;
    }
    @media screen and (max-width: 576px) {
      width: 21vw;
      left: 5%;
      top: 2%;
      transform: translate(0, 0);
    }
    &:before {
      @media screen and (max-width: 992px) {
        content: '';
        display: block;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 18vw;
        height: 18vw;
        border-radius: 50%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
      }
      @media screen and (max-width: 576px) {
        top: 30%;
      }
    }
    img {
      width: 100%;
      @media screen and (max-width: 992px) {
        width: 50%;
        display: block;
        margin: 0 auto;
      }
      @media screen and (max-width: 576px) {
        width: 40%;
        
      }
    }
    span {
      @media screen and (max-width: 992px) {
        font-size: 13px;
      }
    }
    p {
      @media screen and (max-width: 992px) {
        font-size: 12px;
        margin-bottom: 30%;        
      }
      @media screen and (max-width: 576px) {
        font-size: 8px;
        margin-bottom: 30%;        
      }
    }
    &-last {
      display: none;
      @media screen and (max-width: 992px) {
        display: block;
        width: 22vw;
        position: absolute;
        left: 0;
        transform: translate(-50%,0);
        bottom: auto;
        top: 30%;      
      }
      @media screen and (max-width: 576px) {
        display: none; 
      }
      &:before {
        @media screen and (max-width: 992px) {
          content: '';
          display: block;
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
          width: 26vw;
          height: 26vw;
          border-radius: 50%;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
        }
      }
      img {
        width: 100%;
        @media screen and (max-width: 992px) {
          width: 50%;
          display: block;
          margin: 0 auto;
        }
      }
      span {
        @media screen and (max-width: 992px) {
          font-size: 13px;
        }
      }
      p {
        @media screen and (max-width: 992px) {
          font-size: 12px;
          margin-bottom: 30%;        
        }
      }
    }
  }


  // Следующие окно

  .next_window {
    width: 17vw;
    position: absolute;
    bottom: 0;
    right: 5%;
    transform: translateY(45%);
    &:before {
      @media screen and (max-width: 992px) {
        content: '';
        display: block;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 12vw;
        height: 12vw;
        border-radius: 50%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
      }
      @media screen and (max-width: 576px) {
        width: 30vw;
        height: 30vw;
        box-shadow: 0 1px 11px rgba(0, 0, 0, 0.16);
      }
    }
    img {
      width: 100%;
      @media screen and (max-width: 992px) {
        width: 50%;
        display: block;
        margin: 0 auto;
      }
    }
    @media screen and (max-width: 992px) {
      width: 10vw;
      right: 50%;
      transform: translate(50%,0);
      bottom: auto;
      top: 10%;
    }
    @media screen and (max-width: 576px) {
      width: 25vw;
      bottom: 0;
      top: auto;
      right: 10%;
      transform: translate(0,50%);
    }
    span {
      @media screen and (max-width: 992px) {
        font-size: 13px;
      }
    }
    p {
      @media screen and (max-width: 992px) {
        font-size: 12px;
        margin-bottom: 30%;        
      }
      @media screen and (max-width: 576px) {
        font-size: 8px;        
      }
    }
  }


  // Кнопки доп информации  
  .more_btn {
    width: 48px;
    height: 48px;
    padding-left: 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px;
    z-index: 200;
    -webkit-backface-visibility: hidden;   
    background: rgba(155,71,229,1);
    background: -moz-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(155,71,229,1)), color-stop(100%, rgba(228,90,233,1)));
    background: -webkit-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
    background: -o-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
    background: -ms-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
    background: linear-gradient(to right, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
    transition: all .3s ease;
    transition-delay: .3s;
    @media screen and (max-width: 992px) {
      width: 42px;
      height: 42px;
    }    
    @media screen and (max-width: 576px) {
      width: 24px;
      height: 24px;
      padding-left: 0;
      margin: -12px;
    }    
    span {
      opacity: 0;      
      transition: all .3s ease;
      transition-delay: 0;
      display: block;  
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      margin-left: auto;      
      @media screen and (max-width: 992px) {
        font-size: 11px;
      }          
      @media screen and (max-width: 576px) {
        font-size: 8px;
      }          
    }
    img {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      width: 28px;
      @media screen and (max-width: 992px) {
        left: 7px;
      }      
      @media screen and (max-width: 576px) {
        width: 16px;
      }      
    }
    &:hover {
      width: 290px;
      padding-right: 30px;
      padding-left: 55px;      
      border-radius: 100px;
      transition-delay: 0s;
      @media screen and (max-width: 992px) {
        width: 240px;
      }
      @media screen and (max-width: 576px) {
        width: 45%;
      }
      span {
        opacity: 1;        
        display: block;
        margin-left: auto;
        transition-delay: .3s;
      }      
    }
    &-left {
      transform: rotate(-90deg) translate(20vw) rotate(90deg); 
      right: 50%;
      left: auto;
      transition: all .3s ease;
      transition-delay: .3s;
      @media screen and (max-width: 992px) {
        transform: rotate(-90deg) translate(22vw) rotate(90deg);
      }                      
      @media screen and (max-width: 800px) {
        transform: rotate(-90deg) translate(25vw) rotate(90deg);
      }
      @media screen and (max-width: 685px) {
        transform: rotate(-90deg) translate(30vw) rotate(90deg);
      }                      
      @media screen and (max-width: 576px) {
        transform: rotate(-90deg) translate(40vw) rotate(90deg);        
      }                      
      img {        
        right: 10px;
        left: auto;
        @media screen and (max-width: 992px) {
          right: 7px;
        }               
        @media screen and (max-width: 576px) {
          right: 4px;
        }               
      }
      span {
        margin-left: 0;
        @media screen and (max-width: 576px) {
          margin: 0 auto;
        }
      }
      &:hover {
        padding-left: 30px;
        padding-right: 55px;
        width: 270px;
        @media screen and (max-width: 992px) {
          width: 230px;
        }
        @media screen and (max-width: 576px) {
          width: 45%;
          padding-left: 20px;
          padding-right: 30px;
        }
        span {          
          margin-left: 0;
          transition-delay: .3s;          
        }
      }
    }
    &-second {
      transform: rotate(-65deg) translate(20vw) rotate(65deg);
      @media screen and (max-width: 992px) {
        transform: rotate(-65deg) translate(22vw) rotate(65deg);
      }
      @media screen and (max-width: 800px) {
        transform: rotate(-65deg) translate(25vw) rotate(65deg);
      }
      @media screen and (max-width: 685px) {
        transform: rotate(-65deg) translate(30vw) rotate(65deg);
      }
      @media screen and (max-width: 576px) {
        transform: rotate(-55deg) translate(40vw) rotate(55deg);
        right: 50%;
        left: auto;        
      }
      img {
        @media screen and (max-width: 576px) {
          right: 4px;
          left: auto;
        }               
      }
      &:hover {
        @media screen and (max-width: 992px) {
          padding-left: 30px;
          padding-right: 55px;
        }
        @media screen and (max-width: 576px) {
          padding-left: 20px;
          padding-right: 30px;         
        }
      }
      span {        
        @media screen and (max-width: 576px) {
          margin: 0 auto;
        }
      }
    }
    &-third {
      transform: rotate(-40deg) translate(20vw) rotate(40deg);
      @media screen and (max-width: 992px) {
        transform: rotate(-40deg) translate(22vw) rotate(40deg);
        right: 50%;
        left: auto;
      }
      @media screen and (max-width: 800px) {
        transform: rotate(-40deg) translate(25vw) rotate(40deg);
      }
      @media screen and (max-width: 685px) {
        transform: rotate(-40deg) translate(30vw) rotate(40deg);
      }
      @media screen and (max-width: 576px) {
        transform: rotate(-25deg) translate(40vw) rotate(25deg);
      }
      span {
        @media screen and (max-width: 992px) {
          margin-left: 0;
        }
        @media screen and (max-width: 576px) {
          margin: 0 auto;
        }
      }
      img {
        @media screen and (max-width: 992px) {
          right: 7px;
          left: auto;
        }               
        @media screen and (max-width: 576px) {
          right: 4px;
          left: auto;
        }               
      }
      &:hover {
        @media screen and (max-width: 992px) {
          padding-left: 30px;
          padding-right: 55px;
        }
        @media screen and (max-width: 576px) {
          padding-left: 20px;
          padding-right: 30px;          
        }
      }
    }
  }

  // Стрелки

  .prev {
    width: 18px;
    height: 18px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%) rotate(45deg);
    transition: transform .3s ease;        
    &:hover {
      transform: translateY(-50%) translateX(-5px) rotate(45deg) scale(1.2);      
    } 
    @media screen and (max-width: 576px) {
      display: none;
    } 
  }
  .next {
    width: 18px;
    height: 18px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotate(-45deg);
    transition: all .3s ease;
    &:hover {
      transform: translateY(-50%) translateX(5px) rotate(-45deg) scale(1.2);
    }
    @media screen and (max-width: 576px) {
      display: none;
    }  
  }

  // Анкета

  .intuitive-bref {
    // padding-top: 4vw;    
    height: calc(100vh - 60px);
    background: #353535;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    @media screen and (max-width: 576px) {
      height: calc(100vh - 50px);      
    }
    .bref-title {
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      flex-basis: 70px;
      @media screen and (max-width: 1200px) {
        //  margin-bottom: 30px; 
      }
      @media screen and (max-width: 992px) {
         font-size: 22px; 
      }
      @media screen and (max-width: 576px) {
         font-size: 13px;
         flex-basis: 55px; 
      }
    }
    .category-list {
      border: none;
      justify-content: center;
      flex-basis: 74px;
      flex-shrink: 0;      
      @media screen and (max-width: 992px) {
         justify-content: space-between;
         width: 80%;
         margin: 0 auto; 
         flex-basis: 54px;
      }
      @media screen and (max-width: 576px) {
         justify-content: space-between;
         width: 80%;
         margin: 0 auto; 
         flex-basis: 40px;
      }
    }
    .category-item {
      width: 78px;
      height: 78px;     
      margin: 0 50px;
      @media screen and (max-width: 992px) {
         margin: 0;
         width: 58px;
         height: 58px; 
      }
      @media screen and (max-width: 576px) {
         width: 37px;
         height: 37px; 
      }
      a {
        background: transparent;        
        border: 1px solid #fff;
        background: transparent;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 22px;
        transition: all .3s;
        &:hover {
          transform: scale(1.1);
        }  
        &.disabled {
          opacity: 0.3;
          &:hover {
            transform: scale(1);            
          }
        }
        img {
          @media screen and (max-width: 992px) {
            width: 130%;            
          }
          @media screen and (max-width: 576px) {
            width: 20px;            
          }
        }
        span {
          @media screen and (max-width: 992px) {
            font-size: 18px;            
          }
          @media screen and (max-width: 992px) {
            font-size: 12px;            
          }
        }   
      }      
    }
    .tab-content_choise {
      flex-basis: 600px;
      flex-shrink: 1;
      @media screen and (max-width: 576px) {
        flex-basis: 460px;
      }
    }
    .choise.active {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }   
    .choise-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 80%;
      @media screen and (max-width: 992px) {
        width: 50%;
        max-width: 500px;
        margin: 0 auto;            
      }
      @media screen and (max-width: 768px) {
        width: 70%;
      }
      @media screen and (max-width: 576px) {
        width: 80%;
      }
    }
    .choise-item {
      width: 30%;
      max-width: 434px;
      @media screen and (max-width: 1200px) {
         width: 100%; 
      }
    }
    .choise-title {      
      .num {
        text-align: center;        
        font-size: 41px;
        letter-spacing: 0.2em;
        display: block;
        @media screen and (max-width: 576px) {
          font-size: 22px;
        }
      }
      .text {
        font-size: 14px;
        display: block;
        text-align: center;
        // margin-bottom: 55px;
        @media screen and (max-width: 1200px) {
          // margin-bottom: 30px; 
        }
        @media screen and (max-width: 576px) {
          font-size: 13px; 
        }
      }
    }
    input[type=radio] {
      display: none;
      &:checked {
        &+label {
          border: 1px solid #fff;
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      padding: 7px 21px;
      transition: all 0.3s ease;
      border-radius: 100px;
      border: 1px solid transparent;
      margin-bottom: 0;      
      cursor: pointer;      
      @media screen and (max-width: 576px) {        
        padding: 6px 21px; 
      }
      img {
        width: 34px;
        @media screen and (max-width: 576px) {
          width: 23px; 
        }
      }
      span {
        margin-left: 46px;
        @media screen and (max-width: 576px) {
          margin-left: 26px;
          font-size: 12px;
        }
      }      
    }
    .choise-btn {
      width: 170px;
      padding: 13px 0;
      border-radius: 100px;
      display: block;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      font-weight: 700;
      color: #fff;
      font-size: 11px;
      text-transform: uppercase;
      background: rgba(228,90,233,1);
      background: -moz-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228,90,233,1)), color-stop(100%, rgba(155,71,229,1)));
      background: -webkit-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
      background: -o-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
      background: -ms-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
      background: linear-gradient(to right, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45ae9', endColorstr='#9b47e5', GradientType=1 );
      @media screen and (max-width: 992px) {
        width: 100%;
        max-width: 500px;          
      }     
      @media screen and (max-width: 576px) {
        padding: 8px 0;
        margin-top: 15px;          
      }     
    }
  }
} 