#contact {
  padding-top: 80px; }

main {
  display: flex; }

.map {
  width: 60%;
  height: 100vh;
  background-color: grey; }

.contacts {
  width: 748px;
  height: 100vh;
  color: white; }
  .contacts__info {
    display: flex;
    height: 55.2vh; }
  .contacts__data {
    width: 374px;
    background-color: #353535;
    padding: 6.9% 0 0 45px; }
    .contacts__data .container {
      width: 300px;
      padding: 0;
      margin: 0; }
    .contacts__data p {
      font-family: 'MontserratMedium';
      font-size: 18px; }
    .contacts__data .number {
      font-size: 33px; }
    .contacts__data .week {
      font-size: 14px;
      color: #EDEDED;
      opacity: 0.5;
      margin-top: -10px;
      margin-bottom: 40px; }
    .contacts__data .email {
      margin-top: 150px; }
    .contacts__data .social-icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 132.62px;
      height: 25.25px;
      margin-top: 50px; }
      .contacts__data .social-icon .twit {
        width: 32px; }
      .contacts__data .social-icon .vk {
        width: 39.02px; }
      .contacts__data .social-icon .vk-folow {
        width: 27.62px; }
  .contacts__reqvizits {
    width: 374px;
    padding: 8.5% 0 0 40px;
    background-color: #353535;
    opacity: .95; }
    .contacts__reqvizits .container {
      height: 34.56vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .contacts__reqvizits .container p {
        font-family: 'MontserratMedium';
        font-size: 18px; }
  .contacts__form {
    width: 100%;
    height: 44.8vh;
    background-color: #4E4E4E;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacts__form img {
      width: 41.5px;
      height: 33px;
      margin-top: 37px; }
    .contacts__form .form {
      height: 200px;
      width: 100%;
      display: flex;
      margin-top: 38px; }
    .contacts__form .left-block {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .contacts__form .left-block input {
        font-family: 'MontserratSemiBold';
        font-size: 14px;
        width: 297px;
        height: 50px;
        border-radius: 100px;
        border: none;
        padding: 0 25px;
        background-color: #747474;
        color: #fff; }
      .contacts__form .left-block input::placeholder {
        color: #fff; }
      .contacts__form .left-block input:focus {
        outline: none; }
    .contacts__form .right-block {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .contacts__form .right-block textarea {
        font-family: 'MontserratSemiBold';
        font-size: 14px;
        width: 297px;
        height: 127px;
        border-radius: 10px;
        border: none;
        background-color: #5d5d5d;
        padding: 20px 30px;
        color: #fff; }
      .contacts__form .right-block textarea::placeholder {
        color: #fff; }
      .contacts__form .right-block textarea:focus {
        outline: none; }
      .contacts__form .right-block button {
        font-family: 'MontserratSemiBold';
        font-size: 16px;
        width: 297px;
        height: 50px;
        border-radius: 100px;
        border: 1px solid #707070;
        background-color: #0071e8;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer; }
      .contacts__form .right-block button:focus {
        outline: none; }

@media (max-width: 1500px) {
  .map {
    width: 63vw; }
  .contacts {
    width: 500px; }
    .contacts__info {
      height: 35.62vh; }
    .contacts__data {
      padding: 55px 0 0 30px;
      width: 250px; }
      .contacts__data p {
        font-size: 11px; }
      .contacts__data .number {
        font-size: 18px; }
      .contacts__data .week {
        font-size: 10px;
        margin-top: -5px;
        margin-bottom: 25px; }
      .contacts__data .email {
        margin-top: 70px; }
      .contacts__data .social-icon {
        width: 90px;
        height: 16.80px;
        margin-top: 30px; }
        .contacts__data .social-icon .twit {
          width: 18px; }
        .contacts__data .social-icon .vk {
          width: 22px;
          margin-left: -20px; }
        .contacts__data .social-icon .vk-folow {
          width: 18px; }
    .contacts__reqvizits {
      width: 250px;
      padding: 55px 0 0 20px; }
      .contacts__reqvizits .container {
        height: 25vh; }
        .contacts__reqvizits .container p {
          font-size: 12px; }
    .contacts__form {
      height: 57.5vh; }
      .contacts__form img {
        display: none; }
      .contacts__form .form {
        height: 80%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
      .contacts__form .left-block {
        height: 180px;
        width: 100%; }
        .contacts__form .left-block input {
          font-size: 11px;
          width: 430px;
          height: 40px; }
      .contacts__form .right-block {
        height: 220px;
        width: 430px;
        align-items: flex-end; }
        .contacts__form .right-block textarea {
          font-size: 11px;
          width: 430px;
          height: 155px; }
        .contacts__form .right-block button {
          font-size: 11px;
          width: 215px;
          height: 37px; } }

@media (max-width: 768px) {
  main {
    width: 100vw;
    flex-direction: column;
    height: 960px; }
  .map {
    width: 100vw;
    height: 475px; }
  .contacts {
    width: 100vw;
    height: 485px; }
    .contacts__info {
      height: 202px; }
    .contacts__data {
      padding: 35px 0 0 40px;
      width: 50%;
      display: flex; }
      .contacts__data .container {
        width: 165px;
        height: 135px; }
      .contacts__data p {
        font-size: 10px; }
      .contacts__data .number {
        font-size: 14px; }
      .contacts__data .week {
        margin-top: -5px;
        margin-bottom: 25px; }
      .contacts__data .email {
        margin-top: 35px; }
      .contacts__data .social-icon {
        width: 95px;
        height: 20px;
        margin-top: 115px;
        margin-left: 20px; }
        .contacts__data .social-icon .twit {
          width: 22.38px; }
        .contacts__data .social-icon .vk {
          width: 27.32px;
          margin-left: 0; }
        .contacts__data .social-icon .vk-folow {
          width: 22.69px; }
    .contacts__reqvizits {
      width: 50%;
      padding: 35px 0 0 30px; }
      .contacts__reqvizits .container {
        height: 130px;
        display: flex;
        justify-content: space-between; }
        .contacts__reqvizits .container p {
          margin-bottom: 0; }
    .contacts__form {
      height: 280px; }
      .contacts__form img {
        display: none; }
      .contacts__form .form {
        height: 78.6%;
        width: 100%;
        flex-direction: row;
        align-items: flex-start; }
      .contacts__form .left-block {
        height: 165px;
        width: 50%; }
        .contacts__form .left-block input {
          font-size: 11px;
          width: 306px; }
      .contacts__form .right-block {
        height: 220px;
        width: 50%;
        align-items: center; }
        .contacts__form .right-block textarea {
          font-size: 11px;
          width: 315px;
          height: 165px; }
        .contacts__form .right-block button {
          font-size: 10px;
          width: 306px;
          height: 40px;
          border-radius: 100px;
          border: 1px solid #707070;
          background-color: #0071e8;
          color: #fff;
          text-transform: uppercase;
          cursor: pointer; }
        .contacts__form .right-block button:focus {
          outline: none; } }

@media (max-width: 660px) {
  .contacts__info {
    height: 242px; }
  .contacts__data {
    padding: 30px 0 0 20px;
    width: 50%;
    flex-direction: column; }
    .contacts__data .container {
      width: 135px;
      height: 145px;
      margin: 0;
      padding: 0; }
    .contacts__data p {
      font-size: 8px; }
    .contacts__data .number {
      font-size: 14px; }
    .contacts__data .week {
      font-size: 8px;
      margin-top: -5px;
      margin-bottom: 25px; }
    .contacts__data .email {
      font-size: 7px;
      margin-top: 70px; }
    .contacts__data .social-icon {
      width: 72px;
      height: 17.08px;
      margin-top: 30px;
      margin-left: 0; }
      .contacts__data .social-icon .twit {
        width: 14.39px; }
      .contacts__data .social-icon .vk {
        width: 17.56px;
        margin-left: -15px; }
      .contacts__data .social-icon .vk-folow {
        width: 18.68px; }
  .contacts__reqvizits {
    width: 50%;
    padding: 30px 0 0 20px; }
    .contacts__reqvizits .container {
      height: 177px; }
  .contacts__form {
    height: 457px; }
    .contacts__form img {
      width: 24.23px;
      height: 19.27px;
      display: block;
      margin-top: 10px; }
    .contacts__form .form {
      height: 81.62%;
      width: 100%;
      margin-top: 22px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
    .contacts__form .left-block {
      height: 150px;
      width: 100%; }
      .contacts__form .left-block input {
        font-size: 8px;
        width: 326.75px;
        height: 37.45px; }
    .contacts__form .right-block {
      height: 205px;
      width: 100%;
      align-items: center; }
      .contacts__form .right-block textarea {
        font-size: 8px;
        width: 324.92px;
        height: 146.11px; }
      .contacts__form .right-block button {
        font-size: 8px;
        width: 200.93px;
        height: 33.83px; } }
