@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

html {
  min-height: 100%;
}
body {
  height: 100%;
  color: #363636;

  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

button {
  cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

a.mbutton {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  padding: 13px 30px;
  border-radius: 22px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  &.small {
    padding: 11px 30px;
  }
  &.grey {
    background-color: #383838;
    color: #fff;
  }
  &.white {
    background-color: #fff;
    color: #000000;
  }
  &.white_blue_border {
    background-color: #fff;
    color: #000000;
    border: 1px solid #2d70e4;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &.blue_border {
    color: white;
    border: 1px solid #2d70e4;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &.blue {
    background: -moz-linear-gradient(
      135deg,
      rgba(21, 93, 211, 1) 0%,
      rgba(75, 132, 245, 1) 100%
    ); /* ff3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      color-stop(0%, rgba(75, 132, 245, 1)),
      color-stop(100%, rgba(21, 93, 211, 1))
    ); /* safari4+,chrome */
    background: -webkit-linear-gradient(
      135deg,
      rgba(21, 93, 211, 1) 0%,
      rgba(75, 132, 245, 1) 100%
    ); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(
      135deg,
      rgba(21, 93, 211, 1) 0%,
      rgba(75, 132, 245, 1) 100%
    ); /* opera 11.10+ */
    background: -ms-linear-gradient(
      135deg,
      rgba(21, 93, 211, 1) 0%,
      rgba(75, 132, 245, 1) 100%
    ); /* ie10+ */
    background: linear-gradient(
      315deg,
      rgba(21, 93, 211, 1) 0%,
      rgba(75, 132, 245, 1) 100%
    ); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b84f5', endColorstr='#155dd3',GradientType=0 ); /* ie6-9 */
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  &.trans-white {
    color: #fff;
    border: 1px solid #fff;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &.mbutton-block {
    width: 100%;
    text-align: center;
  }
}

.owl-theme {
  .owl-dots {
    height: 30px;
    .owl-dot {
      outline: none;
      span {
        margin: 10px 10px;
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        border: 1px solid #383838;
        background-color: #fff;
      }
      &:hover {
        background: none;
      }
      &.active {
        span {
          border: none;
          background-color: #2d70e4;
        }
      }
    }
  }
}

input,
textarea {
  &.form-control-pokna {
    border-radius: 22px;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 18px;
    &.white {
      border-color: rgba(255, 255, 255, 0.5);
      background: none;
      color: #fff;
      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
      &::-moz-placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
      &:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
      &:-moz-placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
      &:active,
      &:focus {
        color: #fff;
        border-color: rgba(255, 255, 255, 1);
        box-shadow: none;
        background: -moz-linear-gradient(
          360deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 0.2) 100%
        ); /* ff3.6+ */
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(0%, rgba(255, 255, 255, 0.05)),
          color-stop(100%, rgba(255, 255, 255, 0.2))
        ); /* safari4+,chrome */
        background: -webkit-linear-gradient(
          360deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 0.2) 100%
        ); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(
          360deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 0.2) 100%
        ); /* opera 11.10+ */
        background: -ms-linear-gradient(
          360deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 0.2) 100%
        ); /* ie10+ */
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 0.2) 100%
        ); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=1 ); /* ie6-9 */
      }
    }
    &.grey {
      border-color: rgba(0, 0, 0, 0.1);
      background: none;
      color: #fff;
      &::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      &::-moz-placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      &:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      &:-moz-placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      &:active,
      &:focus {
        color: #333;
        border-color: rgba(0, 0, 0, 0.2);
        box-shadow: none;
      }
    }
    &.small {
      padding: 10px 20px;
      border-radius: 20px;
      line-height: 17px;
    }
  }
}

.l .menu {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 59px;
  background-color: #fff;

  transition: 0.3s ease-out;
  @media (max-width: 1200px) {
    width: 0vw;
  }
  ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @media (max-width: 575px) {
      top: 0;
      transform: none;
      height: 100%;
    }
  }
  li {
    position: relative;
    flex-basis: 60px;
  }
  a {
    color: #363636;

    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;

    &.active,
    &:hover {
      background-color: #ededed;
      a,
      svg {
        color: #2d70e4;
      }
    }
  }
  .title {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 240px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    white-space: wrap;
    padding: 0 20px 0 10px;
    font-weight: 500;

    font-size: 14px;
  }
  svg {
    width: 25px;
    height: 36px;

    margin: 0 15px;

    overflow: initial;
  }
  &.opened {
    width: 300px;
    box-shadow: 10px 0 25px rgba(0, 0, 0, 0.25);
    @media (max-width: 575px) {
      position: absolute;
      left: 0;
      right: 0;
      // background-color: yellow;
      // bottom: 0;
      width: 100vw;
      height: auto;
      box-shadow: none;
    }
  }
}

.icon {
  color: #363636;

  fill: currentColor;

  transition: 0.3s ease-out;

  &.icon--phone {
    color: #fff;
  }

  &.icon--magnifier {
    width: 22px;
  }
  &.icon--logo {
    display: block;
    margin: 0 120px 0 50px;

    @media (max-width: 1280px) {
      margin: 0 50px 0 25px;
    }

    @media (max-width: 575px) {
      margin: 0 0 0 25px;
    }
  }
}

#modal_scammers {
  .modal-content {
    padding: 2rem;
    .title {
      font-size: 24px;
      text-align: center;
      color: #d165e9;
      font-weight: 500;
      padding-bottom: 1rem;
    }
    .desc {
    }
    .close-modal {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }
  }
}
