$dark: rgba(#000, 0.74);

.calculation {
  background: $dark;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3%;
  @media screen and (max-width: 992px) {
    justify-content: flex-start;
  }
  @media screen and (max-width: 576px) and (min-height: 730px) {
    justify-content: center;
  }
  &__title {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    flex-basis: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 576px) {
      margin-top: 5%;
      flex-basis: 20px;
    }
  }
}

.calc__list {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  flex-basis: 130px;
  flex-shrink: 2;
  @media screen and (max-width: 1400px) {
    flex-basis: 100px;
  }
  @media screen and (max-width: 992px) {
    margin-top: 35px;
    padding: 0 10%;
  }
  @media screen and (max-width: 359px) {
    padding: 0;
  }
}

.calc__item {
  width: 33.3%;
  z-index: 1;
  cursor: pointer;
  height: 130px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px) {
    width: 40px;
  }
  @media screen and (max-width: 576px) {
    height: auto;
  }
  &:hover {
    .num-wrapp {
      box-shadow: 0 0 0 3px #424242, 0 0 0 4px #fff;
      &:before {
        background: rgba(155, 71, 229, 1);
        background: -moz-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: -webkit-gradient(
          left top,
          right top,
          color-stop(0%, rgba(155, 71, 229, 1)),
          color-stop(100%, rgba(228, 90, 233, 1))
        );
        background: -webkit-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: -o-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: -ms-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: linear-gradient(
          to right,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
        transform: scale(1);
        @media screen and (max-width: 992px) {
          background: #707070;
        }
      }
      @media screen and (max-width: 992px) {
        box-shadow: 0 0 0 3px #424242, 0 0 0 4px #707070;
      }
    }
  }
  .num-wrapp {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 40px;
    background: #707070;
    border-radius: 9px;
    box-shadow: 0 0 0 3px #424242, 0 0 0 4px #707070;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    @media screen and (max-width: 1400px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #707070;
      border-radius: 9px;
      z-index: 1;
      transform: scale(0);
      transition: transform 0.3s;
    }
    .num {
      z-index: 2;
    }
  }
  p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-left: 40px;
    @media screen and (max-width: 1400px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &.active {
    .num-wrapp {
      box-shadow: 0 0 0 3px #424242, 0 0 0 4px #fff;
      &:before {
        background: rgba(155, 71, 229, 1);
        background: -moz-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: -webkit-gradient(
          left top,
          right top,
          color-stop(0%, rgba(155, 71, 229, 1)),
          color-stop(100%, rgba(228, 90, 233, 1))
        );
        background: -webkit-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: -o-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: -ms-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: linear-gradient(
          to right,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
        transform: scale(1);
      }
    }
    p {
      @media screen and (max-width: 992px) {
        display: block;
        animation: op 0.5s;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        margin-left: 0;
        text-align: center;
      }
      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
    }
  }
}

.calc-wrapp {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  &::-webkit-scrollbar {
    width: 0;
  }
  @media screen and (max-width: 576px) {
    margin-top: 30px;
    height: 350px;
    overflow-y: scroll;
  }
  @media screen and (max-width: 576px) and (min-height: 730px) {
    height: auto;
  }
  @media screen and (max-width: 359px) {
    height: 285px;
  }
  .calc-content {
    width: 33.3%;
    padding-left: 40px;
    &:first-child {
      @media screen and (max-width: 576px) {
        padding-top: 15px;
      }
    }
    @media screen and (max-width: 1400px) {
      padding-left: 20px;
    }
    @media screen and (max-width: 992px) {
      width: 70%;
      padding-left: 0;
    }
    @media screen and (max-width: 576px) {
      width: 90%;
      margin: 0 auto;
      padding-left: 0;
    }
    @media screen and (max-width: 576px) and (min-height: 730px) {
      min-height: 440px;
    }
    &:nth-child(2) {
      padding-left: 0;
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
    &.active {
      @media screen and (max-width: 992px) {
        display: block;
        animation: op 0.5s;
      }
    }
    .calc-form {
      padding-right: 10%;
      @media screen and (max-width: 1200px) {
        padding-right: 0;
      }
      @media screen and (max-width: 576px) {
        padding-top: 18px;
      }
      &__wrapp {
        position: relative;
      }
      &__label {
        position: absolute;
        top: 10px;
        left: 30px;
        color: #707070;
        font-size: 14px;
        font-weight: 500;
        z-index: 0;
        transition: transform 0.3s;
      }
      &__input {
        position: relative;
        z-index: 1;
        width: 100%;
        border-radius: 70px;
        background: transparent;
        border: 1px solid #707070;
        height: 40px;
        margin-bottom: 32px;
        transition: all 0.3s;
        padding-left: 30px;
        color: #fff;
        font-size: 14px;
        &:focus {
          border: 1px solid rgba(228, 90, 233, 1);
          outline: none;
          & + .calc-form__label {
            transform: translateY(-150%);
          }
        }
      }
      .file-wrap {
        position: relative;
        z-index: 1;
        width: 100%;
        border-radius: 70px;
        background: transparent;
        border: 1px solid #707070;
        height: 40px;
        margin-bottom: 32px;
        transition: all 0.3s;
        input[type='file'] {
          display: none;
        }
        &:hover {
          border: 1px solid rgba(228, 90, 233, 1);
        }
        .browse-btn {
          position: absolute;
          right: 1%;
          top: 50%;
          transform: translateY(-50%);
          height: 82%;
          width: 20%;
          border: none;
          border-radius: 70px;
          background-color: #464646;
          background-image: url('@images/calculation/file.svg');
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }
        .file-info {
          position: absolute;
          top: 10px;
          left: 30px;
          color: #707070;
          font-size: 14px;
          font-weight: 500;
          z-index: 0;
        }
      }
      &__text {
        width: 100%;
        background: transparent;
        border: 1px solid #707070;
        border-radius: 20px;
        height: 165px;
        resize: none;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        color: #fff;
        font-size: 14px;
        @media screen and (max-width: 576px) {
          height: 100px;
        }
        @media screen and (max-width: 359px) {
          height: 60px;
        }
        &:focus {
          border: 1px solid rgba(228, 90, 233, 1);
          outline: none;
          & + .calc-form__label {
            transform: translateY(-150%);
          }
        }
      }
      &__btn {
        display: block;
        background: #464646;
        border: none;
        border-radius: 70px;
        width: 50%;
        padding: 8px 0;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        margin-top: 40px;
        margin-left: auto;
        cursor: pointer;
        &.active {
          background: rgba(155, 71, 229, 1);
          background: -moz-linear-gradient(
            left,
            rgba(155, 71, 229, 1) 0%,
            rgba(228, 90, 233, 1) 100%
          );
          background: -webkit-gradient(
            left top,
            right top,
            color-stop(0%, rgba(155, 71, 229, 1)),
            color-stop(100%, rgba(228, 90, 233, 1))
          );
          background: -webkit-linear-gradient(
            left,
            rgba(155, 71, 229, 1) 0%,
            rgba(228, 90, 233, 1) 100%
          );
          background: -o-linear-gradient(
            left,
            rgba(155, 71, 229, 1) 0%,
            rgba(228, 90, 233, 1) 100%
          );
          background: -ms-linear-gradient(
            left,
            rgba(155, 71, 229, 1) 0%,
            rgba(228, 90, 233, 1) 100%
          );
          background: linear-gradient(
            to right,
            rgba(155, 71, 229, 1) 0%,
            rgba(228, 90, 233, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
        }
        @media screen and (max-width: 1200px) {
          margin-top: 25px;
        }
        @media screen and (max-width: 359px) {
          margin-top: 23px;
        }
      }
    }
    .time__list {
      padding-left: 50px;
      @media screen and (max-width: 1200px) {
        padding-left: 25px;
      }
      .time__item {
        position: relative;
        margin-bottom: 33px;
        width: 90%;
        @media screen and (max-width: 359px) {
          margin-bottom: 20px;
        }
        &:hover {
          path,
          rect {
            fill: rgba(228, 90, 233, 1);
          }
        }
        svg {
          position: absolute;
          top: -10px;
          left: -40px;
          path,
          rect {
            transition: fill 0.3s;
          }
        }
        .time__title {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 25px;
          @media screen and (max-width: 576px) {
            font-size: 13px;
          }
          @media screen and (max-width: 359px) {
            margin-bottom: 15px;
          }
        }
        .time__text {
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          @media screen and (max-width: 576px) {
            font-size: 11px;
          }
        }
      }
    }
    .payment__list {
      margin-left: 40px;
      @media screen and (max-width: 1400px) {
        margin-left: 20px;
      }
      @media screen and (max-width: 359px) {
        margin-left: 0;
      }
      .payment__item {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 30px;
        @media screen and (max-width: 1200px) {
          margin-bottom: 20px;
        }
        @media screen and (max-width: 576px) {
          margin-bottom: 15px;
          font-size: 12px;
        }
        @media screen and (max-width: 359px) {
          margin-bottom: 10px;
        }
      }
    }
    .payment__wrapp {
      font-weight: 500;
      padding: 30px;
      border-radius: 11px;
      background: #343434;
      @media screen and (max-width: 1400px) {
        padding: 20px;
      }
      @media screen and (max-width: 576px) {
        padding: 20px;
      }
      @media screen and (max-width: 359px) {
        padding: 10px;
      }
      .payment__text {
        font-size: 12px;
        color: #fff;
      }
      .payment__desc {
        display: block;
        width: 50%;
        text-transform: uppercase;
        font-size: 11px;
        border-radius: 70px;
        color: #fff;
        padding: 8px 0;
        background: rgba(155, 71, 229, 1);
        background: -moz-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: -webkit-gradient(
          left top,
          right top,
          color-stop(0%, rgba(155, 71, 229, 1)),
          color-stop(100%, rgba(228, 90, 233, 1))
        );
        background: -webkit-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: -o-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: -ms-linear-gradient(
          left,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        background: linear-gradient(
          to right,
          rgba(155, 71, 229, 1) 0%,
          rgba(228, 90, 233, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
        transform: scale(1);
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        @media screen and (max-width: 1200px) {
          margin-bottom: 15px;
          margin-top: 15px;
          width: 70%;
        }
        @media screen and (max-width: 992px) {
          margin-bottom: 15px;
          margin-top: 15px;
          width: 178px;
        }
        @media screen and (max-width: 359px) {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
      .payment__postscript {
        display: block;
        font-size: 10px;
        color: #fff;
        margin-top: 25px;
        @media screen and (max-width: 1200px) {
          margin-top: 15px;
        }
        @media screen and (max-width: 359px) {
          margin-top: 5px;
        }
      }
    }
  }
}
