/node_modules
/public/src/css
.env
.idea
package-lock.json
/config/default.json
/config/config.json
/public/images/product/gallery
/public/images/product/color
/public/images/color
.htpasswd
/public/upload
/public/images/gallery
/encryption
