#pay {
    .l {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        color: #fff;
        background-color: #005ED9;
        padding: 89px 47px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width: 1024px) {
    		width: 100%;
    		height: 30%;
    		padding: 10% 47px;
    	}
    	@media (max-width: 823px) and (max-height: 414px) {
    		height: 20%;
    		padding: 0;
    	}
    	.summ {
    		font-family: 'Montserrat';
    		position: absolute;
		    left: 30%;
		    width: 60%;
		    top: 10%;
    		@media (max-width: 1024px) {
			    position: absolute;
			    left: 6%;
			    width: 30%;
			    top: 12%;
    		}
    		@media (min-height: 1024px) and (max-width: 768px) {
    			top: 27%;
    		}
    		@media (max-width: 576px) {
    			width: 80%;
			    display: flex;
			    justify-content: space-between;
			    left: 15%;
    		}
    		@media (max-width: 320px) and (max-height: 568px) {
		    	left: 10%;
		    }
		    @media (max-width: 823px) and (max-height: 414px) {
	    		display: flex;
	    		width: 80%;
	    		top: 20%;
	    		left: 10%;
	    	}
    		.title {
    			padding-left: 3%;
    			width: 90%;
    			font-size: 23px;
    			padding-bottom: 20%;
    			@media (max-width: 1024px) {
	    			font-size: 16px;
	    			line-height: 19px;
				    padding-bottom: 10%;
	    		}
	    		@media (max-width: 576px) {
			        width: 60%;
				    font-size: 14px;
				    line-height: 18px;
	    		}
	    		@media (max-width: 320px) and (max-height: 568px) {
			    	width: 80%;
			    }
			    @media (max-width: 823px) and (max-height: 414px) {
		    		padding-bottom: 0;
		    		padding-top: 1.8%;
		    	}
		    	@media (max-width: 568px) and (max-height: 320px) {
		    		padding-top: 0;
		    	}
    		}
			.to_pay {
				width: 100%;
				display: flex;
				justify-content: center;
				input {
					border: 1px solid #fff;
					border-radius: 38px;
					background-color: transparent;
					height: 50px;
					text-align: center;
					width: 100%;
					font-family: 'Montserrat';
					font-size: 26px;
					color: #fff;
					&:focus {
						outline: none;
					}
					@media (max-width: 1024px) {
		    			font-size: 16px;
		    			line-height: 19px;
		    			height: 36px;
		    		}
		    		@media (max-width: 576px) {
		    			height: 36px;
    					width: 90%;
		    		}
		    		@media (max-width: 823px) and (max-height: 414px) {
			    		height: 36px;
			    	}
				}
			}
    	}
    	.credit_card {
    		font-family: 'Montserrat';
    		position: absolute;
    		left: 30%;
    		top: 44%;
    		padding: 40px;
    		width: 538px;
    		min-height: 335px;
    		background: rgba(45,0,170,1);
			background: -moz-linear-gradient(top, rgba(45,0,170,1) 0%, rgba(5,132,250,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,0,170,1)), color-stop(100%, rgba(5,132,250,1)));
			background: -webkit-linear-gradient(top, rgba(45,0,170,1) 0%, rgba(5,132,250,1) 100%);
			background: -o-linear-gradient(top, rgba(45,0,170,1) 0%, rgba(5,132,250,1) 100%);
			background: -ms-linear-gradient(top, rgba(45,0,170,1) 0%, rgba(5,132,250,1) 100%);
			background: linear-gradient(to bottom, rgba(45,0,170,1) 0%, rgba(5,132,250,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d00aa', endColorstr='#0584fa', GradientType=0 );
			border-radius: 25px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			@media (max-width: 1600px) {
			    padding: 38px;
			    padding-left: 50px;
			    width: 465px;
			    min-height: 300px;
			}
			@media (max-width: 1024px) {
			    width: 45%;
			    left: 50%;
			    padding: 5%;
		        top: 12%;
			    min-height: 255px;
			}
			@media (max-height: 768px) and (max-width: 1024px) {
			    left: 45%;
			    min-height: 240px;
			    top: 12%;
			    max-width: 406px;
		    }
		    @media (min-height: 1024px) and (max-width: 768px) {
			    top: 25%;
		    }
		    @media (max-width: 750px) {
		    	width: 58%;
			    left: 38%;
			    padding: 5%;
		    }
		    @media (max-width: 576px) {
		    	top: 43%;
			    width: 90%;
			    left: 5%;
			    min-height: 168px;
			    max-width: 300px;
		    }
		    @media (max-width: 823px) and (max-height: 414px) {
	    		display: none;
	    	}
		    @media (max-width: 320px) and (max-height: 568px) {
		    	min-height: 90%;
		    	top: 40%;
		    }
			.card_type {
				align-self: flex-end;
				width: 92px;
				height: 30px;
				@media (max-width: 1024px) {
				    width: 68px;
					height: 22px;
				}
				@media (max-width: 576px) {
				    width: 50px;
    				height: 16px;
				}
			}
			.card_info {
				letter-spacing: 0.176em;
				width: 100%;
				.card_number {
					font-size: 22px;
					padding-bottom: 32px;
					@media (max-width: 1024px) {
					    font-size: 16px;
	    				line-height: 20px;
					}
					@media (max-width: 576px) {
						font-size: 14px;
					    line-height: 18px;
					    padding-bottom: 5%;
					}
				}
				.bg_flex {
					font-size: 16px;
					color: #D0DBF8;
					display: flex;
					justify-content: space-between; 
					@media (max-width: 1024px) {
					    font-size: 11px;
	    				line-height: 15px;
					}
					@media (max-width: 576px) {
					    font-size: 10px;
    					line-height: 14px;
					}
					.name {
						text-transform: uppercase;
					}
					.date {
						display: flex;
						.month:after {
							content: '/';
						}
					}
				}
			}
    	}
    }
    .r {
    	position: absolute;
    	top:0;
    	right:0;
    	width: 70%;
    	height: 100%;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	@media (max-width: 1024px) {
    		width: 100%;
    		height: 70%;
    		top: 30%;
    	}
    	@media (max-width: 823px) and (max-height: 414px) {
    		height: 60%;
    	}
		.card_form {
			font-family: 'Montserrat';
			font-size: 14px;
			text-transform: uppercase;
			width: 40%;
			@media (max-width: 1570px) {
				width: 45%;	
			}
			@media (max-width: 1200px) {
				position: absolute;
			    top: 25%;
			    right: 12%;
			    width: 50%;
			}
			@media (max-width: 1024px) {
				width: 50%;
				position: static;
				font-size: 10px;
				line-height: 13px;
			}
			@media (max-width: 576px) {
			    font-size: 8px;
    			line-height: 10px;
    			width: 80%;
			}
			@media (max-width: 823px) and (max-height: 414px) {
	    		font-size: 8px;
	    		line-height: 10px;
	    	}
			.item {
				padding-bottom: 30px;
				@media (max-width: 576px) {
					padding-bottom: 15px;
				}
				@media (max-width: 823px) and (max-height: 414px) {
		    		padding-bottom: 10px;
		    	}
				.title {
					padding-bottom: 11px;
					padding-left: 49px;
					@media (max-width: 576px) {
						padding-bottom: 7px;
					}
					@media (max-width: 823px) and (max-height: 414px) {
			    		padding-bottom: 7px;
			    	}
				}
				input {
					width: 100%;
					font-family: 'Montserrat';
					font-size: 26px;
					letter-spacing: 0.176em;
					padding: 10px 20px;
					background-color: #EEEEEE;
					border: none;
					border-radius: 38px;
					line-height: 30px;
					&:focus {
						outline: none;
					}
					&[name="name"] {
						text-transform: uppercase;
					}
					&[name="cardnumber"] {
						text-align: center;
					}
					@media (max-width: 1400px) {
						font-size: 24px;
					}
					@media (max-width: 1320px) {
						font-size: 20px;
						padding: 10px 20px;
					}
					@media (max-width: 1024px) {
						font-size: 16px;
						line-height: 19px;
					}
					@media (max-width: 576px) {
					    font-size: 13px;
					    line-height: 16px;
					    padding: 10px 26px;
					}
					@media (max-width: 823px) and (max-height: 414px) {
			    		font-size: 13px;
			    		line-height: 16px;
			    		padding: 6px 26px;
			    	}
				}
			}
			.bg_flex {
				display: flex;
				justify-content: space-between;
				.item {
					width: 30%;
					text-align: center;
					.title {
						padding-left: 0;
					}
					input {
						text-align: center;
						padding: 10px 5%;
						@media (max-width: 1320px) {
							padding: 10px 5%;
						}
						@media (max-width: 576px) {
							padding: 10px 5%;
						}
						@media (max-width: 823px) and (max-height: 414px) {
				    		padding: 6px 5%;;
				    	}
					}
				}
			}
		.btn_pay {
			display: block;
			font-size: 14px;
			letter-spacing: 0.02em;
			color: #707070;
			text-transform: uppercase;
			width: 268px;
			height: 50px;
			margin-left: auto;
			margin-top: 10px;
			background-color: #F7F7F7;
			border: none;
			border-radius: 38px;
			&:hover {
				background-color: #005ED9;
				color: #fff;
			}
			&:focus {
				box-shadow: none;
			}
			@media (max-width: 1024px) {
				height: 39px;
				width: 248px;
				font-size: 10px;
				line-height: 15px;
			}
			@media (max-width: 768px) {
				width: 190px;
			}
			@media (max-width: 576px) {
				width: 140px;
		    	height: 40px;
			    font-size: 8px;
    			line-height: 10px;
			}
			@media (max-width: 823px) and (max-height: 414px) {
	    		height: 30px;
	    		width: 200px;
	    	}
			}
		}
    }
}