@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format("woff2"); }

html {
  min-height: 100%; }

body {
  height: 100%;
  color: #363636;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

button {
  cursor: pointer; }

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

a.mbutton {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  padding: 13px 30px;
  border-radius: 22px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer; }
  a.mbutton.small {
    padding: 11px 30px; }
  a.mbutton.grey {
    background-color: #383838;
    color: #fff; }
  a.mbutton.white {
    background-color: #fff;
    color: #000000; }
  a.mbutton.white_blue_border {
    background-color: #fff;
    color: #000000;
    border: 1px solid #2d70e4;
    padding-top: 12px;
    padding-bottom: 12px; }
  a.mbutton.blue_border {
    color: white;
    border: 1px solid #2d70e4;
    padding-top: 12px;
    padding-bottom: 12px; }
  a.mbutton.blue {
    /* ff3.6+ */
    /* safari4+,chrome */
    /* safari5.1+,chrome10+ */
    /* opera 11.10+ */
    /* ie10+ */
    background: linear-gradient(315deg, #155dd3 0%, #4b84f5 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b84f5', endColorstr='#155dd3',GradientType=0 );
    /* ie6-9 */
    color: #fff; }
    a.mbutton.blue:hover {
      color: #fff; }
  a.mbutton.trans-white {
    color: #fff;
    border: 1px solid #fff;
    padding-top: 12px;
    padding-bottom: 12px; }
  a.mbutton.mbutton-block {
    width: 100%;
    text-align: center; }

.owl-theme .owl-dots {
  height: 30px; }
  .owl-theme .owl-dots .owl-dot {
    outline: none; }
    .owl-theme .owl-dots .owl-dot span {
      margin: 10px 10px;
      -moz-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear;
      border: 1px solid #383838;
      background-color: #fff; }
    .owl-theme .owl-dots .owl-dot:hover {
      background: none; }
    .owl-theme .owl-dots .owl-dot.active span {
      border: none;
      background-color: #2d70e4; }

input.form-control-pokna,
textarea.form-control-pokna {
  border-radius: 22px;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 18px; }
  input.form-control-pokna.white,
  textarea.form-control-pokna.white {
    border-color: rgba(255, 255, 255, 0.5);
    background: none;
    color: #fff; }
    input.form-control-pokna.white::-webkit-input-placeholder,
    textarea.form-control-pokna.white::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    input.form-control-pokna.white::-moz-placeholder,
    textarea.form-control-pokna.white::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    input.form-control-pokna.white:-ms-input-placeholder,
    textarea.form-control-pokna.white:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    input.form-control-pokna.white:-moz-placeholder,
    textarea.form-control-pokna.white:-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    input.form-control-pokna.white:active, input.form-control-pokna.white:focus,
    textarea.form-control-pokna.white:active,
    textarea.form-control-pokna.white:focus {
      color: #fff;
      border-color: white;
      -webkit-box-shadow: none;
              box-shadow: none;
      /* ff3.6+ */
      /* safari4+,chrome */
      /* safari5.1+,chrome10+ */
      /* opera 11.10+ */
      /* ie10+ */
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 0.2)));
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.2) 100%);
      /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=1 );
      /* ie6-9 */ }
  input.form-control-pokna.grey,
  textarea.form-control-pokna.grey {
    border-color: rgba(0, 0, 0, 0.1);
    background: none;
    color: #fff; }
    input.form-control-pokna.grey::-webkit-input-placeholder,
    textarea.form-control-pokna.grey::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.2); }
    input.form-control-pokna.grey::-moz-placeholder,
    textarea.form-control-pokna.grey::-moz-placeholder {
      color: rgba(0, 0, 0, 0.2); }
    input.form-control-pokna.grey:-ms-input-placeholder,
    textarea.form-control-pokna.grey:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2); }
    input.form-control-pokna.grey:-moz-placeholder,
    textarea.form-control-pokna.grey:-moz-placeholder {
      color: rgba(0, 0, 0, 0.2); }
    input.form-control-pokna.grey:active, input.form-control-pokna.grey:focus,
    textarea.form-control-pokna.grey:active,
    textarea.form-control-pokna.grey:focus {
      color: #333;
      border-color: rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: none;
              box-shadow: none; }
  input.form-control-pokna.small,
  textarea.form-control-pokna.small {
    padding: 10px 20px;
    border-radius: 20px;
    line-height: 17px; }

.l .menu {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 59px;
  background-color: #fff;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out; }
  @media (max-width: 1200px) {
    .l .menu {
      width: 0vw; } }
  .l .menu ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden; }
    @media (max-width: 575px) {
      .l .menu ul {
        top: 0;
        -webkit-transform: none;
                transform: none;
        height: 100%; } }
  .l .menu li {
    position: relative;
    -ms-flex-preferred-size: 60px;
        flex-basis: 60px; }
  .l .menu a {
    color: #363636;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    text-decoration: none; }
    .l .menu a.active, .l .menu a:hover {
      background-color: #ededed; }
      .l .menu a.active a,
      .l .menu a.active svg, .l .menu a:hover a,
      .l .menu a:hover svg {
        color: #2d70e4; }
  .l .menu .title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    white-space: wrap;
    padding: 0 20px 0 10px;
    font-weight: 500;
    font-size: 14px; }
  .l .menu svg {
    width: 25px;
    height: 36px;
    margin: 0 15px;
    overflow: initial; }
  .l .menu.opened {
    width: 300px;
    -webkit-box-shadow: 10px 0 25px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 0 25px rgba(0, 0, 0, 0.25); }
    @media (max-width: 575px) {
      .l .menu.opened {
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        height: auto;
        -webkit-box-shadow: none;
                box-shadow: none; } }

.icon {
  color: #363636;
  fill: currentColor;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out; }
  .icon.icon--phone {
    color: #fff; }
  .icon.icon--magnifier {
    width: 22px; }
  .icon.icon--logo {
    display: block;
    margin: 0 120px 0 50px; }
    @media (max-width: 1280px) {
      .icon.icon--logo {
        margin: 0 50px 0 25px; } }
    @media (max-width: 575px) {
      .icon.icon--logo {
        margin: 0 0 0 25px; } }

#modal_scammers .modal-content {
  padding: 2rem; }
  #modal_scammers .modal-content .title {
    font-size: 24px;
    text-align: center;
    color: #d165e9;
    font-weight: 500;
    padding-bottom: 1rem; }
  #modal_scammers .modal-content .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer; }
