#fullpage_welcome .section .fp-tableCell {
  position: absolute;
  top: 80px;
  right: 80px;
  bottom: 0;
  left: 0;
  height: auto !important;
  width: auto !important;
  overflow: hidden; }
  @media (max-width: 575px) {
    #fullpage_welcome .section .fp-tableCell {
      top: 50px;
      right: 0; } }

#fullpage_welcome .section.s1 {
  background: #2c00a4;
  background: -moz-linear-gradient(-45deg, #2c00a4 0%, #165fd4 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #2c00a4), color-stop(100%, #165fd4));
  background: -webkit-linear-gradient(-45deg, #2c00a4 0%, #165fd4 100%);
  background: -o-linear-gradient(-45deg, #2c00a4 0%, #165fd4 100%);
  background: -ms-linear-gradient(-45deg, #2c00a4 0%, #165fd4 100%);
  background: linear-gradient(135deg, #2c00a4 0%, #165fd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c00a4', endColorstr='#165fd4', GradientType=1 ); }
  #fullpage_welcome .section.s1 .l {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    color: #FFF; }
    #fullpage_welcome .section.s1 .l .bg_flex {
      height: 100%;
      display: flex;
      align-items: center; }
      #fullpage_welcome .section.s1 .l .bg_flex ul {
        margin: 0 100px;
        padding: 0;
        list-style: none; }
        #fullpage_welcome .section.s1 .l .bg_flex ul .el1 {
          font-family: 'MontserratMedium';
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
          position: relative;
          padding: 0 0 50px 0; }
          #fullpage_welcome .section.s1 .l .bg_flex ul .el1::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background: -moz-linear-gradient(0deg, #4b83f4 0%, rgba(75, 131, 244, 0) 100%);
            /* ff3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4b83f4), color-stop(100%, rgba(75, 131, 244, 0)));
            /* safari4+,chrome */
            background: -webkit-linear-gradient(0deg, #4b83f4 0%, rgba(75, 131, 244, 0) 100%);
            /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(0deg, #4b83f4 0%, rgba(75, 131, 244, 0) 100%);
            /* opera 11.10+ */
            background: -ms-linear-gradient(0deg, #4b83f4 0%, rgba(75, 131, 244, 0) 100%);
            /* ie10+ */
            background: linear-gradient(90deg, #4b83f4 0%, rgba(75, 131, 244, 0) 100%);
            /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b83f4', endColorstr='#4b83f4',GradientType=1 );
            /* ie6-9 */ }
          #fullpage_welcome .section.s1 .l .bg_flex ul .el1::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #4b83f4; }
          @media (max-width: 575px) {
            #fullpage_welcome .section.s1 .l .bg_flex ul .el1 {
              font-size: 14px;
              line-height: 20px;
              padding: 0 0 15px 0; } }
        #fullpage_welcome .section.s1 .l .bg_flex ul .el2 {
          padding: 40px 0 80px;
          font-family: 'MontserratSemiBold';
          font-size: 60px;
          line-height: 80px;
          text-transform: uppercase; }
          @media (max-width: 1720px) {
            #fullpage_welcome .section.s1 .l .bg_flex ul .el2 {
              font-size: 50px;
              line-height: 70px; } }
          @media (max-width: 1515px) {
            #fullpage_welcome .section.s1 .l .bg_flex ul .el2 {
              font-size: 40px;
              line-height: 55px; } }
          @media (max-width: 575px) {
            #fullpage_welcome .section.s1 .l .bg_flex ul .el2 {
              padding: 20px 0;
              font-size: 20px;
              line-height: 24px; } }
        @media (max-width: 575px) {
          #fullpage_welcome .section.s1 .l .bg_flex ul .el3 a {
            padding: 8px 30px;
            font-size: 12px; } }
        @media (max-width: 575px) {
          #fullpage_welcome .section.s1 .l .bg_flex ul {
            margin: 0;
            padding: 0 40px;
            width: 100%; } }
        @media (max-width: 320px) {
          #fullpage_welcome .section.s1 .l .bg_flex ul {
            margin: 0;
            padding: 0 15px;
            width: 100%; } }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s1 .l {
        width: 100%;
        height: 50%; } }
  #fullpage_welcome .section.s1 .r {
    color: white;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.2)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* ie10+ */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0 );
    /* ie6-9 */ }
    #fullpage_welcome .section.s1 .r .bg_flex {
      height: 100%;
      margin: 0 150px;
      display: flex;
      align-items: center;
      border-left: 1px solid rgba(255, 255, 255, 0.2); }
      @media (max-width: 1720px) {
        #fullpage_welcome .section.s1 .r .bg_flex {
          margin: 0 100px; } }
      @media (max-width: 575px) {
        #fullpage_welcome .section.s1 .r .bg_flex {
          margin: 0 40px; } }
      #fullpage_welcome .section.s1 .r .bg_flex ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        #fullpage_welcome .section.s1 .r .bg_flex ul li {
          padding-left: 70px;
          padding-bottom: 30px; }
          @media (max-width: 1720px) {
            #fullpage_welcome .section.s1 .r .bg_flex ul li {
              padding-left: 50px; } }
          @media (max-width: 575px) {
            #fullpage_welcome .section.s1 .r .bg_flex ul li {
              padding-bottom: 10px; } }
          #fullpage_welcome .section.s1 .r .bg_flex ul li:last-child {
            padding-bottom: 0; }
          #fullpage_welcome .section.s1 .r .bg_flex ul li span.title {
            position: relative;
            display: block;
            font-family: 'MontserratSemiBold';
            font-size: 36px;
            line-height: 42px;
            padding: 20px 0; }
            @media (max-width: 1415px) {
              #fullpage_welcome .section.s1 .r .bg_flex ul li span.title {
                font-size: 30px;
                line-height: 35px;
                padding: 15px 0; } }
            @media (max-width: 575px) {
              #fullpage_welcome .section.s1 .r .bg_flex ul li span.title {
                font-size: 20px;
                padding: 0; } }
            #fullpage_welcome .section.s1 .r .bg_flex ul li span.title::before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              width: 16px;
              height: 16px;
              margin-top: -8px;
              margin-left: -78px;
              border: 1px solid #FFF;
              border-radius: 50%; }
              @media (max-width: 1720px) {
                #fullpage_welcome .section.s1 .r .bg_flex ul li span.title::before {
                  margin-left: -58px; } }
            #fullpage_welcome .section.s1 .r .bg_flex ul li span.title::after {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              width: 6px;
              height: 6px;
              margin: -3px 0 0 -73px;
              background-color: #FFF;
              border-radius: 50%; }
              @media (max-width: 1720px) {
                #fullpage_welcome .section.s1 .r .bg_flex ul li span.title::after {
                  margin-left: -53px; } }
          #fullpage_welcome .section.s1 .r .bg_flex ul li span.desc {
            display: block;
            font-family: 'MontserratMedium';
            font-size: 16px; }
            @media (max-width: 575px) {
              #fullpage_welcome .section.s1 .r .bg_flex ul li span.desc {
                font-size: 12px; } }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s1 .r {
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2); } }

#fullpage_welcome .section.s3 {
  background-color: #333;
  background-image: url("/images/welcome/bg.jpg");
  background-position: right;
  background-repeat: repeat;
  background-size: auto 100%; }
  #fullpage_welcome .section.s3 .l {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-image: url("/images/welcome/video.jpg");
    background-size: cover;
    background-position: center; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s3 .l {
        width: 100%;
        height: 60%; } }
    #fullpage_welcome .section.s3 .l::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(22, 94, 212, 0.66); }
    #fullpage_welcome .section.s3 .l .play {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 150px;
      height: 160px;
      transform: translate(-50%, -50%);
      cursor: pointer; }
      #fullpage_welcome .section.s3 .l .play:hover .button::before {
        border-left: 20px solid #2d70e4; }
      #fullpage_welcome .section.s3 .l .play:hover .button::after {
        width: 130%;
        height: 130%;
        opacity: 1; }
      #fullpage_welcome .section.s3 .l .play .button {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        background-color: #FFF;
        border-radius: 50%;
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.3); }
        #fullpage_welcome .section.s3 .l .play .button::before {
          content: '';
          position: absolute;
          left: 44px;
          top: 38px;
          width: 0;
          height: 0;
          border-top: 12px solid transparent;
          border-left: 20px solid #373737;
          border-bottom: 12px solid transparent;
          -webkit-transition: all .15s linear;
          -moz-transition: all .15s linear;
          -o-transition: all .15s linear;
          transition: all .15s linear; }
        #fullpage_welcome .section.s3 .l .play .button::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: rgba(255, 255, 255, 0.1);
          transform: translate(-50%, -50%);
          z-index: -1;
          border-radius: 50%;
          -webkit-transition: all .15s linear;
          -moz-transition: all .15s linear;
          -o-transition: all .15s linear;
          transition: all .15s linear; }
      #fullpage_welcome .section.s3 .l .play .info {
        padding-top: 20px;
        font-family: 'MontserratSemiBold';
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #FFF; }
  #fullpage_welcome .section.s3 .r {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s3 .r {
        top: 60%;
        width: 100%;
        height: 40%; } }
    #fullpage_welcome .section.s3 .r::before {
      content: '';
      position: absolute;
      top: 10%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1); }
      @media (max-width: 575px) {
        #fullpage_welcome .section.s3 .r::before {
          display: none; } }
    #fullpage_welcome .section.s3 .r::after {
      content: '';
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1); }
      @media (max-width: 575px) {
        #fullpage_welcome .section.s3 .r::after {
          display: none; } }
    #fullpage_welcome .section.s3 .r .vopros {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 20%;
      height: 100%;
      font-family: 'MontserratBold';
      font-size: 600px;
      line-height: 600px;
      color: #FFF;
      opacity: .1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      border-left: 1px solid #FFF; }
      @media (max-width: 575px) {
        #fullpage_welcome .section.s3 .r .vopros {
          font-size: 100px;
          line-height: 100px;
          left: auto;
          top: -50px;
          right: 0;
          display: block;
          border: none; } }
    #fullpage_welcome .section.s3 .r .desc {
      position: absolute;
      top: 50%;
      left: 0;
      width: 560px;
      transform: translate(-40%, -50%); }
      @media (max-width: 575px) {
        #fullpage_welcome .section.s3 .r .desc {
          top: -40px;
          width: auto;
          transform: none;
          padding: 0 30px; } }
      @media (max-width: 320px) {
        #fullpage_welcome .section.s3 .r .desc {
          padding: 0 15px; } }
      #fullpage_welcome .section.s3 .r .desc .title {
        font-family: 'MontserratSemiBold';
        font-size: 60px;
        line-height: 80px;
        color: white;
        text-transform: uppercase;
        padding-bottom: 50px; }
        @media (max-width: 575px) {
          #fullpage_welcome .section.s3 .r .desc .title {
            font-size: 30px;
            line-height: 40px;
            padding-bottom: 0; } }
        #fullpage_welcome .section.s3 .r .desc .title span {
          color: #4b84f5; }
      #fullpage_welcome .section.s3 .r .desc .text {
        font-family: 'MontserratMedium';
        font-size: 16px;
        line-height: 30px;
        color: white; }
        @media (max-width: 575px) {
          #fullpage_welcome .section.s3 .r .desc .text {
            font-family: 'Montserrat';
            font-size: 14px;
            line-height: 20px; } }

#fullpage_welcome .section.s4 .l {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-right: 1px solid #c6c6c6; }
  @media (max-width: 575px) {
    #fullpage_welcome .section.s4 .l {
      width: 100%;
      height: 55%;
      padding: 15px;
      border-right: none; } }
  #fullpage_welcome .section.s4 .l .bg_flex .line1 {
    font-family: 'MontserratMedium';
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 20px; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line1 {
        display: none; } }
  #fullpage_welcome .section.s4 .l .bg_flex .line2 {
    font-family: 'MontserratSemiBold';
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    padding-bottom: 50px; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line2 {
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 30px; } }
    @media (max-width: 375px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line2 {
        padding-bottom: 10px; } }
    #fullpage_welcome .section.s4 .l .bg_flex .line2 span {
      color: #2d70e4; }
  #fullpage_welcome .section.s4 .l .bg_flex .line3 {
    font-family: 'MontserratSemiBold';
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 50px; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line3 {
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 30px; } }
    @media (max-width: 375px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line3 {
        padding-bottom: 10px; } }
    #fullpage_welcome .section.s4 .l .bg_flex .line3 p {
      margin-bottom: 15px; }
      @media (max-width: 575px) {
        #fullpage_welcome .section.s4 .l .bg_flex .line3 p {
          margin-bottom: 5px; } }
      #fullpage_welcome .section.s4 .l .bg_flex .line3 p:last-child {
        margin-bottom: 0; }
  #fullpage_welcome .section.s4 .l .bg_flex .line4 a:first-child {
    margin-right: 10px; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line4 a:first-child {
        font-size: 10px;
        padding: 6px 20px; } }
  @media (max-width: 575px) {
    #fullpage_welcome .section.s4 .l .bg_flex .line4 a:last-child {
      display: none; } }

#fullpage_welcome .section.s4 .r {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%; }
  @media (max-width: 575px) {
    #fullpage_welcome .section.s4 .r {
      border-top: 1px solid #c6c6c6;
      top: 55%;
      width: 100%;
      height: 45%; } }
  #fullpage_welcome .section.s4 .r ul {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
    #fullpage_welcome .section.s4 .r ul li {
      display: block;
      float: left;
      width: 50%;
      height: 50%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      border-right: 1px solid #c6c6c6;
      border-bottom: 1px solid #c6c6c6;
      font-family: 'MontserratMedium';
      font-size: 14px;
      line-height: 24px; }
      #fullpage_welcome .section.s4 .r ul li:nth-child(2n+0) {
        border-right: none; }
      #fullpage_welcome .section.s4 .r ul li:nth-last-child(-n+2) {
        border-bottom: none; }
      #fullpage_welcome .section.s4 .r ul li.item0 div::before {
        content: '1'; }
      #fullpage_welcome .section.s4 .r ul li.item0 div::after {
        background-image: url("/images/index/s4/1.svg"); }
      #fullpage_welcome .section.s4 .r ul li.item1 div::before {
        content: '2'; }
      #fullpage_welcome .section.s4 .r ul li.item1 div::after {
        background-image: url("/images/index/s4/2.svg"); }
      #fullpage_welcome .section.s4 .r ul li.item2 div::before {
        content: '3'; }
      #fullpage_welcome .section.s4 .r ul li.item2 div::after {
        background-image: url("/images/index/s4/3.svg"); }
      #fullpage_welcome .section.s4 .r ul li.item3 div::before {
        content: '4'; }
      #fullpage_welcome .section.s4 .r ul li.item3 div::after {
        background-image: url("/images/index/s4/4.svg"); }
      #fullpage_welcome .section.s4 .r ul li div {
        position: relative;
        width: 330px;
        height: 172px;
        padding: 100px 0 0 80px; }
        @media (max-width: 575px) {
          #fullpage_welcome .section.s4 .r ul li div {
            width: 100%;
            height: 100%;
            padding: 10px 15px 0 70px;
            font-size: 10px;
            line-height: 13px;
            vertical-align: bottom;
            text-align: right; } }
        @media (max-width: 375px) {
          #fullpage_welcome .section.s4 .r ul li div {
            padding: 10px 15px 0 35px; } }
        #fullpage_welcome .section.s4 .r ul li div::before {
          position: absolute;
          top: 0;
          left: 0;
          font-family: 'MontserratBold';
          font-size: 230px;
          line-height: 172px;
          opacity: .08; }
          @media (max-width: 575px) {
            #fullpage_welcome .section.s4 .r ul li div::before {
              font-size: 80px;
              line-height: 80px;
              left: 15px; } }
        #fullpage_welcome .section.s4 .r ul li div::after {
          content: '';
          position: absolute;
          top: 0;
          left: 80px;
          width: 250px;
          height: 80px;
          background-repeat: no-repeat;
          background-position: left center; }
          @media (max-width: 575px) {
            #fullpage_welcome .section.s4 .r ul li div::after {
              top: 10px;
              height: 40px;
              background-size: contain;
              display: none; } }
        #fullpage_welcome .section.s4 .r ul li div img {
          position: absolute;
          top: 0;
          right: 0; }
          @media (max-width: 575px) {
            #fullpage_welcome .section.s4 .r ul li div img {
              top: auto;
              right: auto;
              left: 10px;
              bottom: 10px;
              width: 15px;
              height: 15px; } }
        #fullpage_welcome .section.s4 .r ul li div a {
          color: #2d70e4;
          text-decoration: underline; }

#fullpage_welcome .section.s5 .empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #fullpage_welcome .section.s5 .empty .up {
    position: relative;
    width: 100%;
    height: 35%;
    background-color: #2d70e4;
    color: white;
    text-align: center;
    font-family: 'MontserratSemiBold';
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    #fullpage_welcome .section.s5 .empty .up .bg_flex .l1 {
      font-size: 26px;
      padding: 0 30% 30px; }
    #fullpage_welcome .section.s5 .empty .up .bg_flex .l2 {
      font-size: 20px;
      padding: 0 30%; }
  #fullpage_welcome .section.s5 .empty .down {
    position: relative;
    width: 100%;
    height: 65%;
    background-color: #FFF; }
    #fullpage_welcome .section.s5 .empty .down .l {
      position: relative;
      float: left;
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center; }
      #fullpage_welcome .section.s5 .empty .down .l .bg_flex {
        padding-bottom: 100px;
        width: 100%; }
        #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control {
          padding: 0 0 20px 0; }
          #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control .custom-control-label {
            text-align: center;
            width: 100%;
            padding: 0 0 34px; }
            #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control .custom-control-label::before {
              top: auto;
              left: 50%;
              bottom: 0px;
              margin-left: -8px;
              width: 16px;
              height: 16px;
              background-color: #2D70E4; }
            #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control .custom-control-label::after {
              top: auto;
              left: 50%;
              bottom: 0;
              margin-left: -8px;
              width: 16px;
              height: 16px; }
          #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control:last-child {
            padding: 0; }
    #fullpage_welcome .section.s5 .empty .down .c {
      position: relative;
      float: left;
      width: 50%;
      height: 100%; }
      #fullpage_welcome .section.s5 .empty .down .c .list {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 100px;
        width: 100%;
        display: flex;
        align-items: center; }
        #fullpage_welcome .section.s5 .empty .down .c .list .items {
          position: relative; }
          #fullpage_welcome .section.s5 .empty .down .c .list .items .item {
            float: left;
            width: 50%;
            cursor: default; }
            #fullpage_welcome .section.s5 .empty .down .c .list .items .item .bg {
              position: relative;
              border: 1px solid #9b9b9b;
              border-radius: 10px;
              margin: 7px 30px 7px 0;
              padding: 29px 40px 29px 20px;
              font-family: 'MontserratSemiBold';
              text-transform: uppercase;
              font-size: 16px;
              line-height: 20px;
              white-space: nowrap;
              overflow: hidden; }
              #fullpage_welcome .section.s5 .empty .down .c .list .items .item .bg i {
                position: absolute;
                right: 15px;
                top: 50%;
                font-size: 24px;
                transform: translate(0, -50%);
                background-color: white;
                cursor: pointer; }
              #fullpage_welcome .section.s5 .empty .down .c .list .items .item .bg:hover {
                color: #2d70e4;
                border: 1px solid #96b7f1; }
            #fullpage_welcome .section.s5 .empty .down .c .list .items .item.selected .bg i {
              transform: translate(0, -50%) rotate(45deg); }
      #fullpage_welcome .section.s5 .empty .down .c .button {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100px;
        padding: 0 30px 0 0; }

#fullpage_welcome .section.s5 .sravnenie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }
  #fullpage_welcome .section.s5 .sravnenie table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    font-family: 'MontserratMedium';
    font-size: 14px;
    line-height: 20px; }
    #fullpage_welcome .section.s5 .sravnenie table thead tr th {
      position: relative;
      padding: 0;
      border-right: 1px solid #ededed; }
      #fullpage_welcome .section.s5 .sravnenie table thead tr th .l {
        position: absolute;
        left: 20px;
        top: 20px;
        bottom: 20px;
        right: 51%;
        overflow: hidden; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .l img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      #fullpage_welcome .section.s5 .sravnenie table thead tr th .r {
        position: absolute;
        right: 20px;
        top: 20px;
        bottom: 20px;
        left: 51%; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .remove {
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
          height: 24px; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .remove i {
            display: block;
            font-size: 24px;
            cursor: pointer; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .title {
          position: absolute;
          left: 0;
          top: 30px;
          width: 100%;
          height: 38px;
          padding: 2px 24px 2px 0;
          font-family: 'MontserratBold';
          text-transform: uppercase;
          cursor: pointer; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .title i {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 24px; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .title .brand {
            font-size: 16px;
            line-height: 20px;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .title .model {
            font-size: 13px;
            line-height: 14px;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .link {
          position: absolute;
          left: 0;
          top: 78px;
          height: 24px;
          width: 100%; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .link i {
            font-size: 24px;
            cursor: pointer; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .button_select {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 38px;
          width: 38px;
          line-height: 38px;
          padding: 0 0 0 20px;
          background-color: #2d70e4;
          border-radius: 10px;
          color: white;
          font-size: 11px;
          font-family: 'Montserrat';
          cursor: pointer; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .button_select div.name {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .button_select img {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 18px;
            height: 18px; }
      #fullpage_welcome .section.s5 .sravnenie table thead tr th:first-child {
        background-color: #2d70e4;
        border-right: none;
        width: 400px;
        text-align: center; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th:first-child img {
          height: 60px;
          margin: 80px 10px;
          opacity: 0.5;
          cursor: pointer; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th:first-child img.active {
            opacity: 1; }
      #fullpage_welcome .section.s5 .sravnenie table thead tr th:last-child {
        border-right: none; }
    #fullpage_welcome .section.s5 .sravnenie table tbody tr td {
      position: relative;
      border-top: 1px solid #ededed;
      border-right: 1px solid #ededed;
      padding: 0 30px;
      text-align: center; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td:first-child {
        border-top: 1px solid #6d9ae7;
        border-right: none;
        background-color: #2d70e4;
        color: white;
        text-align: left; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td:last-child {
        border-right: none; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td span.flag-rus {
        background-image: url("/images/index/s5/flag/rus.png");
        background-repeat: no-repeat;
        background-position: left;
        line-height: 21px;
        display: inline-block;
        padding-left: 31px; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td .info {
        position: absolute;
        right: 20px;
        top: 50%;
        width: 18px;
        height: 18px;
        margin-top: -9px;
        background-image: url("/images/index/s5/i.png");
        cursor: pointer;
        display: none; }
        #fullpage_welcome .section.s5 .sravnenie table tbody tr td .info .desc {
          position: absolute;
          width: 400px;
          line-height: 30px;
          top: 50%;
          left: 38px;
          transform: translate(0, -50%);
          padding: 40px 50px;
          background-color: rgba(0, 0, 0, 0.75);
          display: none;
          z-index: 1;
          text-decoration: none; }
        #fullpage_welcome .section.s5 .sravnenie table tbody tr td .info:hover .desc {
          display: block; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td:hover .info {
        display: block; }
    #fullpage_welcome .section.s5 .sravnenie table tbody tr.more {
      display: none; }
    #fullpage_welcome .section.s5 .sravnenie table tfoot tr {
      height: 100px; }
      #fullpage_welcome .section.s5 .sravnenie table tfoot tr th {
        padding: 0;
        border-top: 1px solid #ededed;
        text-align: center;
        font-weight: normal; }
        #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal {
          font-size: 12px; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal span.all {
            display: block; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal span.original {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal.active span.all {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal.active span.original {
            display: block; }
        #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore {
          display: inline-block;
          position: relative;
          color: white;
          line-height: 20px;
          text-decoration: none;
          padding: 0 70px 0 0; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore i {
            content: '';
            position: absolute;
            right: 30px;
            top: 0;
            font-size: 20px; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore span.basic {
            display: block; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore span.more {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore.active span.basic {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore.active span.more {
            display: block; }
        #fullpage_welcome .section.s5 .sravnenie table tfoot tr th:first-child {
          border-right: none;
          border-top: 1px solid #6d9ae7;
          background-color: #2d70e4;
          color: white;
          text-align: right; }

#fullpage_welcome .section.s6 .l {
  position: absolute;
  top: 0;
  left: 0;
  width: 37%;
  height: 100%;
  background-color: #232323;
  color: white;
  padding: 0 80px;
  display: flex;
  align-items: center;
  border-right: 1px solid #444444; }
  #fullpage_welcome .section.s6 .l .bg {
    width: 100%; }
    #fullpage_welcome .section.s6 .l .bg .title {
      font-family: 'MontserratSemiBold';
      font-size: 60px;
      line-height: 60px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 30px;
      white-space: nowrap;
      text-overflow: ellipsis; }
    #fullpage_welcome .section.s6 .l .bg .select_type {
      background-color: #2e2e2e;
      border-radius: 10px;
      padding: 15px;
      margin: 0 0 40px; }
      #fullpage_welcome .section.s6 .l .bg .select_type ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        #fullpage_welcome .section.s6 .l .bg .select_type ul li {
          display: inline-block;
          width: 50%;
          font-family: 'MontserratSemiBold';
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase;
          text-align: center; }
          #fullpage_welcome .section.s6 .l .bg .select_type ul li a {
            display: block;
            opacity: .5;
            color: white;
            text-decoration: none; }
            #fullpage_welcome .section.s6 .l .bg .select_type ul li a:hover {
              opacity: .7; }
          #fullpage_welcome .section.s6 .l .bg .select_type ul li.active a {
            opacity: 1; }
    #fullpage_welcome .section.s6 .l .bg .selected_type {
      background-color: #383838;
      border-radius: 10px 10px 0 0;
      padding: 15px 25px;
      height: 160px; }
      #fullpage_welcome .section.s6 .l .bg .selected_type .empty {
        color: white;
        opacity: .5; }
    #fullpage_welcome .section.s6 .l .bg a.add_selected {
      position: relative;
      display: block;
      color: white;
      height: 70px;
      background-color: #454545;
      border-radius: 0 0 10px 10px;
      font-family: 'MontserratMedium';
      font-size: 16px;
      line-height: 20px;
      padding: 25px 20px 25px 60px;
      margin: 0 0 30px 0;
      text-decoration: none; }
      #fullpage_welcome .section.s6 .l .bg a.add_selected::before {
        content: '+';
        position: absolute;
        top: 25px;
        left: 20px;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        color: #2d70e4;
        text-align: center;
        line-height: 20px;
        font-size: 24px; }
    #fullpage_welcome .section.s6 .l .bg .cost {
      height: 100px;
      background-color: #454545;
      border-radius: 10px;
      line-height: 20px;
      padding: 40px 50px;
      font-family: 'MontserratSemiBold';
      font-size: 16px;
      text-transform: uppercase;
      color: white; }
      #fullpage_welcome .section.s6 .l .bg .cost .value {
        float: right;
        font-size: 20px; }
    #fullpage_welcome .section.s6 .l .bg .link1 {
      margin: 30px 0 0; }
    #fullpage_welcome .section.s6 .l .bg .link2 {
      margin: 30px 0 0; }

#fullpage_welcome .section.s6 .r {
  position: absolute;
  top: 0;
  right: 0;
  width: 63%;
  height: 100%;
  background-color: #333;
  background-image: url("/images/index/bg.jpg");
  background-size: cover;
  background-position: center; }
  #fullpage_welcome .section.s6 .r .bg {
    position: absolute;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px; }
    #fullpage_welcome .section.s6 .r .bg .title {
      padding: 10px 0;
      margin: 0 0 30px; }
      #fullpage_welcome .section.s6 .r .bg .title .desc {
        margin: 0 30px;
        color: white;
        font-family: 'MontserratSemiBold';
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        opacity: .5;
        text-align: center; }
      #fullpage_welcome .section.s6 .r .bg .title a.left,
      #fullpage_welcome .section.s6 .r .bg .title a.right {
        display: block;
        width: 30px;
        height: 30px;
        text-align: center; }
        #fullpage_welcome .section.s6 .r .bg .title a.left i,
        #fullpage_welcome .section.s6 .r .bg .title a.right i {
          font-size: 30px;
          line-height: 30px;
          color: white; }
      #fullpage_welcome .section.s6 .r .bg .title a.left {
        float: left; }
      #fullpage_welcome .section.s6 .r .bg .title a.right {
        float: right; }
    #fullpage_welcome .section.s6 .r .bg ul {
      margin: 0;
      height: 50px;
      padding: 15px;
      list-style: none;
      background-color: #2e2e2e;
      border-radius: 10px; }
      #fullpage_welcome .section.s6 .r .bg ul li {
        vertical-align: top;
        display: inline-block;
        width: 25%;
        text-align: center;
        padding: 0; }
        #fullpage_welcome .section.s6 .r .bg ul li a {
          display: block;
          color: white;
          text-decoration: none;
          opacity: .5;
          font-family: 'MontserratSemiBold';
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase; }
          #fullpage_welcome .section.s6 .r .bg ul li a:hover {
            opacity: .7; }
        #fullpage_welcome .section.s6 .r .bg ul li.active a {
          opacity: 1; }
    #fullpage_welcome .section.s6 .r .bg .data {
      position: absolute;
      top: 160px;
      left: 0;
      width: 100%;
      bottom: 0;
      background-color: #383838;
      border-radius: 10px;
      padding: 50px; }
      #fullpage_welcome .section.s6 .r .bg .data .empty {
        position: relative;
        width: 100%;
        height: 100%; }
        #fullpage_welcome .section.s6 .r .bg .data .empty .t {
          font-family: 'MontserratSemiBold';
          font-size: 24px;
          line-height: 24px;
          color: white;
          text-align: center;
          padding: 0 0 26px 0; }
        #fullpage_welcome .section.s6 .r .bg .data .empty .d {
          font-family: 'Montserrat';
          font-size: 16px;
          line-height: 16px;
          color: white;
          text-align: center;
          padding: 0 0 34px 0; }
        #fullpage_welcome .section.s6 .r .bg .data .empty .additem {
          position: absolute;
          top: 100px;
          left: 0;
          bottom: 0;
          width: 100%; }
          #fullpage_welcome .section.s6 .r .bg .data .empty .additem a {
            font-family: 'MontserratSemiBold';
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            height: 100%;
            width: 49%;
            background-color: #ededed;
            color: #010101;
            text-decoration: none;
            display: block;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            display: flex;
            align-items: center; }
            #fullpage_welcome .section.s6 .r .bg .data .empty .additem a .bg_link {
              width: 100%; }
              #fullpage_welcome .section.s6 .r .bg .data .empty .additem a .bg_link .img {
                width: 100%;
                height: 90px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain; }
              #fullpage_welcome .section.s6 .r .bg .data .empty .additem a .bg_link .name {
                padding: 30px 0 0; }
            #fullpage_welcome .section.s6 .r .bg .data .empty .additem a.item0 {
              left: 0; }
              #fullpage_welcome .section.s6 .r .bg .data .empty .additem a.item0 .img {
                background-image: url("/images/index/s5/o_black.svg"); }
            #fullpage_welcome .section.s6 .r .bg .data .empty .additem a.item1 {
              right: 0; }
              #fullpage_welcome .section.s6 .r .bg .data .empty .additem a.item1 .img {
                background-image: url("/images/index/s5/b_black.svg"); }
            #fullpage_welcome .section.s6 .r .bg .data .empty .additem a:hover {
              background-color: #2d70e4;
              color: white; }
              #fullpage_welcome .section.s6 .r .bg .data .empty .additem a:hover.item0 .img {
                background-image: url("/images/index/s5/o_white.svg"); }
              #fullpage_welcome .section.s6 .r .bg .data .empty .additem a:hover.item1 .img {
                background-image: url("/images/index/s5/b_white.svg"); }

#fullpage_welcome .section.s7 .data {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 80px;
  width: 100%; }
  #fullpage_welcome .section.s7 .data .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: -moz-linear-gradient(0deg, #2a00a4 0%, #165ed3 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2a00a4), color-stop(100%, #165ed3));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, #2a00a4 0%, #165ed3 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, #2a00a4 0%, #165ed3 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, #2a00a4 0%, #165ed3 100%);
    /* ie10+ */
    background: linear-gradient(90deg, #2a00a4 0%, #165ed3 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a00a4', endColorstr='#165ed3',GradientType=1 );
    /* ie6-9 */ }
    #fullpage_welcome .section.s7 .data .info .l {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      font-family: 'MontserratSemiBold';
      font-size: 60px;
      line-height: 70px;
      text-transform: uppercase;
      color: #FFF;
      display: flex;
      align-items: center;
      padding: 0 80px; }
    #fullpage_welcome .section.s7 .data .info .r {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 30px;
      color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 80px 0 0; }
  #fullpage_welcome .section.s7 .data .owl-carousel {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 75%; }
    #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer {
      height: 100%; }
      #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer .owl-stage {
        height: 100%; }
        #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer .owl-stage .owl-item {
          height: 100%; }
          #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around; }
            #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .bg_flex {
              position: relative;
              width: 25%;
              height: 33.3333333333%;
              border-right: 1px solid #999999;
              border-bottom: 1px solid #999999;
              display: flex;
              align-items: center;
              justify-content: center; }
              #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .bg_flex:nth-child(4n+0) {
                border-right: none; }
              #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .bg_flex img {
                width: 200px;
                opacity: .3; }
              #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .bg_flex .title {
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(22, 94, 212, 0.9);
                font-family: 'Montserrat';
                font-size: 10px;
                line-height: 14px;
                text-transform: uppercase;
                color: #FFF;
                text-align: center;
                padding: 0 20px; }
                #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .bg_flex .title span {
                  font-family: 'MontserratSemiBold';
                  font-size: 16px;
                  line-height: 20px;
                  width: 100%;
                  padding-bottom: 10px;
                  display: block; }
              #fullpage_welcome .section.s7 .data .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .bg_flex:hover .title {
                display: flex; }
    #fullpage_welcome .section.s7 .data .owl-carousel .owl-dots {
      margin: 25px; }

#fullpage_welcome .section.s8 {
  background: #2c00a4;
  background: -moz-linear-gradient(-45deg, #2c00a4 0%, #165fd4 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #2c00a4), color-stop(100%, #165fd4));
  background: -webkit-linear-gradient(-45deg, #2c00a4 0%, #165fd4 100%);
  background: -o-linear-gradient(-45deg, #2c00a4 0%, #165fd4 100%);
  background: -ms-linear-gradient(-45deg, #2c00a4 0%, #165fd4 100%);
  background: linear-gradient(135deg, #2c00a4 0%, #165fd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c00a4', endColorstr='#165fd4', GradientType=1 ); }
  #fullpage_welcome .section.s8 .l {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-image: url("/images/welcome/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; }
    #fullpage_welcome .section.s8 .l .bg_flex {
      width: 100%;
      margin: 0 100px;
      font-family: 'MontserratSemiBold';
      color: #FFF;
      text-transform: uppercase; }
      #fullpage_welcome .section.s8 .l .bg_flex .title {
        font-size: 60px;
        line-height: 60px;
        padding: 0 0 80px 0; }
      #fullpage_welcome .section.s8 .l .bg_flex ul {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding: 0;
        list-style: none; }
        #fullpage_welcome .section.s8 .l .bg_flex ul li {
          position: relative;
          overflow: hidden;
          cursor: pointer;
          padding: 39px 90px 39px 40px;
          margin: 0 0 30px 0;
          border: 1px solid #676767;
          border-radius: 10px; }
          #fullpage_welcome .section.s8 .l .bg_flex ul li i {
            position: absolute;
            right: 50px;
            top: 50%;
            transform: translate(0, -50%);
            opacity: .3;
            font-size: 32px; }
          #fullpage_welcome .section.s8 .l .bg_flex ul li::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 7px;
            height: 100%;
            background-color: #676767; }
          #fullpage_welcome .section.s8 .l .bg_flex ul li:hover {
            border: 1px solid #FFF;
            color: #FFF; }
            #fullpage_welcome .section.s8 .l .bg_flex ul li:hover i {
              opacity: 1; }
            #fullpage_welcome .section.s8 .l .bg_flex ul li:hover::before {
              background-color: #FFF; }
          #fullpage_welcome .section.s8 .l .bg_flex ul li.active {
            padding: 40px 90px 40px 40px;
            background-color: #FFF;
            border: none;
            color: #000; }
            #fullpage_welcome .section.s8 .l .bg_flex ul li.active i {
              opacity: 1;
              color: #2d70e4; }
            #fullpage_welcome .section.s8 .l .bg_flex ul li.active::before {
              width: 8px;
              background-color: #2d70e4; }
          #fullpage_welcome .section.s8 .l .bg_flex ul li:last-child {
            margin-bottom: 0; }
  #fullpage_welcome .section.s8 .r {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #fullpage_welcome .section.s8 .r .bg_flex {
      width: 100%;
      margin: 0 100px; }
      #fullpage_welcome .section.s8 .r .bg_flex .desc {
        font-family: 'Montserrat';
        color: #FFF;
        padding-bottom: 80px; }
      #fullpage_welcome .section.s8 .r .bg_flex .bgform form .form-group {
        margin: 0 0 30px 0; }
      #fullpage_welcome .section.s8 .r .bg_flex .bgform form textarea {
        height: 112px;
        resize: none;
        margin-bottom: 80px; }

#fullpage_welcome .section.s9 .l {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #fullpage_welcome .section.s9 .l::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #e0e0e0;
    z-index: -1; }
  #fullpage_welcome .section.s9 .l .bg_flex {
    width: 100%;
    padding: 0; }
    #fullpage_welcome .section.s9 .l .bg_flex .title {
      font-family: 'MontserratBold';
      font-size: 48px;
      line-height: 54px;
      text-transform: uppercase;
      padding: 0  80px 60px 80px; }
    #fullpage_welcome .section.s9 .l .bg_flex .line {
      border-top: 1px solid #e0e0e0;
      padding: 0 50px; }
      #fullpage_welcome .section.s9 .l .bg_flex .line:last-child .item {
        padding-bottom: 0; }
      #fullpage_welcome .section.s9 .l .bg_flex .line .item {
        position: relative;
        padding: 0 0 40px 30px;
        vertical-align: top;
        display: inline-block;
        width: 50%;
        font-size: 12px; }
        #fullpage_welcome .section.s9 .l .bg_flex .line .item::before {
          content: '';
          position: absolute;
          top: -21px;
          left: 30px;
          width: 41px;
          height: 41px;
          background-color: #2d70e4;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%; }
        #fullpage_welcome .section.s9 .l .bg_flex .line .item.item0::before {
          background-image: url("/images/index/s9/1.svg"); }
        #fullpage_welcome .section.s9 .l .bg_flex .line .item.item1::before {
          background-image: url("/images/index/s9/2.svg"); }
        #fullpage_welcome .section.s9 .l .bg_flex .line .item.item2::before {
          background-image: url("/images/index/s9/3.svg"); }
        #fullpage_welcome .section.s9 .l .bg_flex .line .item .name {
          font-family: 'MontserratBold';
          line-height: 15px;
          text-transform: uppercase;
          padding: 40px 0 15px; }
        #fullpage_welcome .section.s9 .l .bg_flex .line .item ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          #fullpage_welcome .section.s9 .l .bg_flex .line .item ul li {
            padding: 5px 0;
            font-family: 'MontserratMedium';
            line-height: 16px; }
            #fullpage_welcome .section.s9 .l .bg_flex .line .item ul li a {
              color: black;
              text-transform: none; }

#fullpage_welcome .section.s9 .r {
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  bottom: 80px; }
  #fullpage_welcome .section.s9 .r .map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0; }
  #fullpage_welcome .section.s9 .r ul.info {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0px 20px 20px 0px rgba(14, 17, 29, 0.15);
    padding: 60px 30px 40px; }
    #fullpage_welcome .section.s9 .r ul.info::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20px; }
    #fullpage_welcome .section.s9 .r ul.info::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px; }
    #fullpage_welcome .section.s9 .r ul.info::before, #fullpage_welcome .section.s9 .r ul.info::after {
      background: #4b84f5;
      background: -moz-linear-gradient(left, #4b84f5 0%, #155dd3 100%);
      background: -webkit-linear-gradient(left, #4b84f5 0%, #155dd3 100%);
      background: linear-gradient(to right, #4b84f5 0%, #155dd3 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b84f5', endColorstr='#155dd3',GradientType=1 ); }
    #fullpage_welcome .section.s9 .r ul.info li.title {
      font-family: 'MontserratBold';
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      padding-bottom: 20px; }
    #fullpage_welcome .section.s9 .r ul.info li.tel {
      font-family: 'MontserratBold';
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 5px; }
      #fullpage_welcome .section.s9 .r ul.info li.tel a {
        color: black; }
    #fullpage_welcome .section.s9 .r ul.info li.time {
      font-family: 'MontserratMedium';
      font-size: 12px;
      line-height: 17px;
      padding-bottom: 20px; }
    #fullpage_welcome .section.s9 .r ul.info li.mail {
      font-family: 'MontserratMedium';
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 20px; }
      #fullpage_welcome .section.s9 .r ul.info li.mail a {
        color: black; }
    #fullpage_welcome .section.s9 .r ul.info li.address {
      font-family: 'MontserratMedium';
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 36px; }
    #fullpage_welcome .section.s9 .r ul.info li.soc ul {
      padding: 0;
      margin: 0;
      height: 40px;
      list-style: none; }
      #fullpage_welcome .section.s9 .r ul.info li.soc ul li {
        width: 40px;
        height: 40px;
        float: left;
        background-color: #232323;
        display: block;
        margin: 0 20px 0 0;
        border-radius: 50%; }
        #fullpage_welcome .section.s9 .r ul.info li.soc ul li a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative; }
          #fullpage_welcome .section.s9 .r ul.info li.soc ul li a img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }

#fullpage_welcome .section.s9 .bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background: #232323;
  padding: 30px 80px;
  font-family: 'Montserrat';
  font-size: 12px;
  color: #FFF; }
  #fullpage_welcome .section.s9 .bottom span {
    line-height: 20px; }
  #fullpage_welcome .section.s9 .bottom a {
    color: #FFF;
    float: right;
    padding-left: 30px; }
