<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon" href="/images/favicon.png")
        link(rel="stylesheet", href="/material-icons/material-icons.css")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/bootstrap-select/css/bootstrap-select.css")
        link(rel="stylesheet", href="/src/admin/css/admin.css")
        title Admin
    body
        #app

        script(src="/axios/axios.js")
        script(src="/popperjs/umd/popper.js")
        script(src='/vue-picture-input/vue-picture-input.js')
        script(src="/jquery/jquery.js")
        script(src="/bootstrap/js/bootstrap.js")
        script(src="/bootstrap-select/js/bootstrap-select.js")
        script(src="/vue/vue.js")
        script(src="/vue-router/vue-router.js")
        script(src="/src/admin/js/admin.js" type="module")
        