<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        style.
            #test {
                overflow: auto;
                overflow-y: scroll;
                overflow-x: hidden;
                width: 300px;
                height: 300px;
                -webkit-overflow-scrolling: touch;
            }
            #test::-webkit-scrollbar {
                width: 12px;
            }
            
            /* Track */
            #test::-webkit-scrollbar-track {
                background: rgba(0,128,0,.5); 
                -webkit-box-shadow: inset 0 0 6px rgba(0,128,0,1); 
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
            
            /* Handle */
            #test::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: rgba(255,0,0,0.8); 
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
            #test::-webkit-scrollbar-thumb:window-inactive {
                background: rgba(255,0,0,0.4); 
            }
        
        #test
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime sapiente eos earum adipisci at animi nostrum aperiam quos tempore vel iure voluptatem sint quia iusto rerum consectetur, nihil fugiat repellendus.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic omnis nesciunt iusto quasi perspiciatis ducimus dignissimos perferendis commodi, at consectetur ea dolores quisquam voluptate nam assumenda exercitationem esse modi totam.
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sed ipsa qui soluta est! Iste nesciunt vitae quibusdam aut pariatur laboriosam expedita, perferendis quo neque doloribus ab aspernatur tempore iusto?            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime sapiente eos earum adipisci at animi nostrum aperiam quos tempore vel iure voluptatem sint quia iusto rerum consectetur, nihil fugiat repellendus.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic omnis nesciunt iusto quasi perspiciatis ducimus dignissimos perferendis commodi, at consectetur ea dolores quisquam voluptate nam assumenda exercitationem esse modi totam.
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sed ipsa qui soluta est! Iste nesciunt vitae quibusdam aut pariatur laboriosam expedita, perferendis quo neque doloribus ab aspernatur tempore iusto?            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime sapiente eos earum adipisci at animi nostrum aperiam quos tempore vel iure voluptatem sint quia iusto rerum consectetur, nihil fugiat repellendus.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic omnis nesciunt iusto quasi perspiciatis ducimus dignissimos perferendis commodi, at consectetur ea dolores quisquam voluptate nam assumenda exercitationem esse modi totam.
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sed ipsa qui soluta est! Iste nesciunt vitae quibusdam aut pariatur laboriosam expedita, perferendis quo neque doloribus ab aspernatur tempore iusto?            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime sapiente eos earum adipisci at animi nostrum aperiam quos tempore vel iure voluptatem sint quia iusto rerum consectetur, nihil fugiat repellendus.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic omnis nesciunt iusto quasi perspiciatis ducimus dignissimos perferendis commodi, at consectetur ea dolores quisquam voluptate nam assumenda exercitationem esse modi totam.
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sed ipsa qui soluta est! Iste nesciunt vitae quibusdam aut pariatur laboriosam expedita, perferendis quo neque doloribus ab aspernatur tempore iusto?