

div(data-El="body-welcome")
	h3 У вас еще нет просчитанных окон и балконов
	p Хотите создать новое ?
	figure
		a(href="#").bg-color
			img(src="/images/index/s6/window-big.png", alt="")
			|Добавить окно
		a(href="#")
			img(src="/images/index/s6/balcony-big.png", alt="")
			|Добавить балкон
