
p.control-nav-tabs
	i.material-icons.prev chevron_left
	i.material-icons.next chevron_right

nav(data-El="nav-tabs", role="tablist")#nav-tab.nav.nav-tabs
	a(href='#tab1', data-toggle='tab').active Производитель и модель
	a(href='#tab2', data-toggle='tab', role='tab') Тип и размер окна
	a(href='#tab3', data-toggle='tab', role='tab') Дополнительно
	a(href='#tab4', data-toggle='tab', role='tab') Цвет материала

