
//- group-options
.group-options(data-Module="group-sizes")
    h3 Размер окна
    .grid-col-2
        p
            label(for="") ширина окна
            output 1000
            span мм
            input#calc_user_x(type='range', value='855', step='1', min='450', max='1600')
        p
            label(for="") высота окна
            input.edit(type="number", value="1470", placeholder="Введите")
            span мм
            input#calc_user_y(type='range', value='1470', step='1', min='500', max='2000')
    .grid-col-2
        p
            label(for="") ширина двери
            output 400
            span мм
            input(type='range', value='400', step='1', min='1', max='1200')
        p
            label(for="") высота двери
            output 2000
            span мм
            input(type='range', value='200', step='1', min='1', max='3000')
    p
        label открывание створки
                i.material-icons expand_more
                select(name="")
                    option(value="значение") Поворотно-откидное по центру
                    option(value="значение") Вариант2
                    option(value="значение") Вариант3
    .grid-col-2.no-gutters
        p
            label открывание створки1
                i.material-icons expand_more
                select(name="")
                    option(value="значение") Глухое
                    option(value="значение") Вариант2
                    option(value="значение") Вариант3
        p
            label открывание створки2
                i.material-icons expand_more
                select(name="")
                    option(value="значение") Поворотно-откидное
                    option(value="значение") Вариант2
                    option(value="значение") Вариант3