
.group-options(data-Module="group-view")
	h3 Тип окна
	ul.view
		li.active
			img(src="/images/index/s6/balcony-1.svg", alt="")
		li
			img(src="/images/index/s6/balcony-2.svg", alt="")
		li
			img(src="/images/index/s6/balcony-3.svg", alt="")
		li
			img(src="/images/index/s6/balcony-4.svg", alt="")
		li
			img(src="/images/index/s6/balcony-5.svg", alt="")
		li
			img(src="/images/index/s6/balcony-6.svg", alt="")
		li
			img(src="/images/index/s6/balcony-7.svg", alt="")
		li
			img(src="/images/index/s6/balcony-8.svg", alt="")
		//- li(role="button")
		//- 	img(src="/images/index/s6/i-flip.svg", alt="")
		//- 	span повернуть



