//- group-options

//- .group-options(data-Module="group-material")
//-     h3 Материал
//-     p.border-round
//-         dl
//-             dt Пластик
//-             dd 
//-                 img(src="", alt="")
//-         i.mark