
//- begin: module-result
div(data-Module="module-result")
    i.material-icons(data-El="close") close
    
    h2 Калькулятор
    
    nav.tabs-result
        span(data-El="tab-1")
            img(src="/images/index/s6/i-balcony.png", alt="")
            a(href="#") Остекление балконов
        span(data-El="tab-2", data-active="true")
            img(src="/images/index/s6/i-window.png", alt="")
            a(href="#") Оконные конструкции
    
    div(data-grid="inner-result-1")
        div(data-grid="inner-result-2")
            .scrollbar-outer.vertical
                figure(data-El="tabpanel-2", data-showed="true")
                    ins(hidden="true").empty Еще не добавлено
                    ins
                        i.material-icons close
                        span(data-El="num") Окно 1
                            big(data-El="cost") 8600
                    ins.active 
                        i.material-icons close
                        span(data-El="num") Окно 2
                            big(data-El="cost") 10000
                        ul
                            li 
                                img(src="/images/index/s6/window-2-0.svg", alt="")
                            li 
                                span Monblanc Eco 60
                            li 
                                img(src="/images/index/s6/texture-1.png", alt="")
                            li 
                                img(src="/images/index/s6/texture-2.png", alt="")
                    ins
                        i.material-icons close
                        span(data-El="num") Окно 3
                            big(data-El="cost") 8600
                    ins
                        i.material-icons close
                        span(data-El="num") Окно 4
                            big(data-El="cost") 8600

                figure(data-El="tabpanel-1")
                    ins(hidden="true").empty Еще не добавлено
                    ins
                        i.material-icons close
                        span(data-El="num") Окно 1
                            big(data-El="cost") 8600
                    ins
                        i.material-icons close
                        span(data-El="num") Окно 2
                            big(data-El="cost") 8600
                    ins
                        i.material-icons close
                        span(data-El="num") Окно 3
                            big(data-El="cost") 8600
            a(data-El="add", href="#") Добавить окно
    
        div(data-grid="inner-result-2")
            p
                small Общая стоимость:
                big(data-El="cost") 18600
            
            .grid-buttons
                a(href="", role="button").v2.bg-btn Отправить на точный расчет
                a(href="", role="button", data-toggle='modal-form').v2 Отправить свой чертеж на расчет
//- end: module-result