//- 
nav.panel
	a.filter(href="")
		img(src="/images/index/s6/i-compare.png", alt="")
		i(data-El="count") 3

	a.control(data-El="control-2", data-active="true")
		img(src="/images/index/s6/i-window.png", alt="")
		i(data-El="count") 2

	a.control(data-El="control-1")
		img(src="/images/index/s6/i-balcony.png", alt="")
		i(data-El="count") 1