
.group-options(data-Module="group-view")
	h3 Тип окна
	ul.view
		li.active
			img(src="/images/index/s6/window-1.svg", alt="")
		li
			img(src="/images/index/s6/window-2.svg", alt="")
		li
			img(src="/images/index/s6/window-3.svg", alt="")
		li
			img(src="/images/index/s6/window-4.svg", alt="")
		li
			img(src="/images/index/s6/window-5.svg", alt="")
		li
			img(src="/images/index/s6/window-6.svg", alt="")
		li
			img(src="/images/index/s6/window-7.svg", alt="")
		li
			img(src="/images/index/s6/window-8.svg", alt="")
		li(role="button")
			img(src="/images/index/s6/i-flip.png", alt="")
			span повернуть



