.modal.fade#modal_scammers(tabindex="-1", role="dialog")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .close-modal(data-dismiss="modal")
        i.material-icons close
      .title Дорогие клиенты.
      p.desc Мы столкнулись со случаями мошенничества со стороны неизвестных злоумышленников. Данные лица, от лица нашей компании, пользуясь её известностью, занимаются обзвоном, заявляют, что ведущие менеджеры уволились и они их заменяют, предлагают продукцию, заключают договоры на компании не относящиеся к нам и после не поставляют продукцию. Просим Вас быть бдительными и аккуратными. Принимайте письма, договоры и счета направленные с официальных почт нашей компании с доменным именем "имя менеджера@prostokna.ru".
      .desc Большое спасибо за понимание.
