.modal.fade#compareModal(tabindex="-1" role="dialog" aria-labelledby="compareModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
          .modal-body
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              .page-1(v-if="!comparePage")
                .title Cравнение
                .selection(v-if="!modelSelectPage")
                  .wrap-top
                    .select-wrap
                      .item
                          label(for="window" :class="{active: isWindowChecked}")
                            input(type="radio" name="selectEntity" id="window" @click="selectType" checked)
                            .button-select.window
                              img(src='/images/compare/window-main.svg', alt='okno')
                      .item 
                          label(for="balcon" :class="{active: !isWindowChecked}")
                            input(type="radio" name="selectEntity" id="balcon" @click="selectType")
                            .button-select.balcon
                              img(src='/images/compare/balcon-main.svg', alt='balcon')
                    .add-model-btn
                      button( @click="selectModel") Добавить модели
                        i.material-icons(class="button-windows_add") add

                  .bottom
                    span ПОЖАЛУЙСТА, ВЫБЕРИТЕ КАТЕГОРИЮ  - ОКНА ИЛИ БАЛКОННЫЕ КОНСТРУКЦИИ,
                        |А затем ДВЕ ИЛИ БОЛЕЕ МОДЕЛИ, ЧТОБЫ ПЕРЕЙТИ
                        | К ТАБЛИЦЕ СРАВНЕНИЯ
                .section-choose(v-else)
                  .wrap-tbl 
                    .panel-choose
                      .selection-material
                        .list-materials
                          .item(v-for="material in materials")
                            label {{ material.sMaterialTitle}}
                              input(type="radio" v-bind:value="material.iMaterialID" v-model="iMaterialID")
                          //- span(v-if="iMaterialID!==null") Выбрано: {{ iMaterialID }}
                      .selection-model
                        .list-products
                          ul.brand
                            li(
                              v-for="brand in result"
                              :class="{ active: brand.iBrandID == 5}"
                              @click="reloadMiniBar"
                            )
                              span.brand {{ brand.sBrandTitle }}
                              ul.model
                                li(v-for="product in brand.products")
                                  label
                                    input(type="checkbox" :value="product.iProductID" v-model="selectedProducts")
                                    span.model {{ brand.sBrandTitle}} {{ product.sProductTitle}}
                                      template(v-if="product.iProductID === 7") Тарам 
                    .button-compare
                      button(@click="makeCompare") Сравнить
                        //- .list(v-for="product in result")
                          label {{ product.sBrandTitle }}
                            input(type="checkbox")
                        //- <pre>{{ result }}</pre>
                        //- ul
                          li(v-for="product in SelectedProducts") {{product.sProductTitle}} - {{product.iProductID}}
              .page-compare(v-else)  
                .content
                  .button-selection

                    a.back(@click="returnToSelection")
                      i.material-icons keyboard_arrow_left
                      span Вернуться к выбору
                  .carousel-wrapper
                    .parameter-column
                      .main-parameter-header
                        .row-h  
                          label.switch
                            input(type="checkbox")
                            .slider
                              .l
                                img.normal(src="/images/compare/window-small.svg", alt="")
                                span {{ itemsNumber }}
                              .r
                                img.normal(src="/images/compare/balcon-small.svg", alt="")
                                span 0
                          .custom-control.custom-checkbox
                            input(type="checkbox" id="customCheck1" v-model="markHideSameValue").custom-control-input
                            label(for="customCheck1").custom-control-label Скрыть одинаковые значения
                        .header
                          .desc-main
                            span Основные параметры
                          .row-i(v-if="isActive.mountingDepth")
                            span Монтажная глубина
                          .row-i(v-if="isActive.profile")
                            span Профиль
                          .row-i(v-if="isActive.profileClass")
                            span Класс профиля
                          .row-i(v-if="isActive.doubleGlazing")
                            span Стеклопакет
                          .row-i(v-if="isActive.heatTransferResistance")
                            span Сопротивление теплопередаче
                          .row-i(v-if="isActive.country")
                            span Родина бренда
                          .desc-add
                            //(v-if="isActive.test")
                            span Дополнительные параметры
                          .row-i(v-if="isActive.shapikShapeOptions")
                            span Варианты формы штапика
                          .row-i(v-if="isActive.decorationOptions")
                            span Варианты декорирования
                          .row-i(v-if="isActive.frameFeature")
                            span Особенности рамы

                    .caroosel
                      .owl-carousel
                        .owl-stage-outer
                          .owl-stage
                            .owl-item(v-for="(product, index) in selectedListProducts" :key="index")
                              .item
                                .row-h
                                  .top
                                    img.myimg(
                                      v-bind:src="getImgLink(product.product_colors[0].sProductColorFilename)"
                                      alt='test okno'
                                      v-on:load="makeRows"
                                    )
                                    .markCr(@click="deleteProduct(index)")
                                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                  .bot
                                    .l
                                      .vendor
                                        span {{ product.brand.sBrandTitle }} 
                                      .model
                                        span {{ product.sProductTitle }}
                                    .r
                                      .img-wrap
                                        span.choose Выбрать
                                        img
                                        //- (src='/images/compare/addToCalc.svg', alt='add to calculator')
                                        //- img(src='/images/compare/addToCalcHover.svg', alt='add to calculator')
                                        span.add Добавить в калькулятор
                                  .empty-item
                                .meaning
                                  .desc-main
                                    //- span AAA
                                  .row-i(v-if="isActive.mountingDepth")
                                    span {{ product.MountingDepth }}
                                  .row-i(v-if="isActive.profile")
                                    span {{ product.Profile }}
                                  .row-i(v-if="isActive.profileClass")
                                    span {{ product.ProfileClass }}
                                  .row-i(v-if="isActive.doubleGlazing")
                                    span {{ product.DoubleGlazing }}
                                  .row-i(v-if="isActive.heatTransferResistance")
                                    span {{ product.HeatTransferResistance }}
                                  .row-i(v-if="isActive.country")
                                    span {{ product.brand.country.sCountryTitle }}
                                  //- extra-par
                                  //- (v-if="isActive.test")
                                  .desc-add
                                    //- span AAA
                                  .row-i(v-if="isActive.shapikShapeOptions")
                                    span {{ product.ShapikShapeOptions }}
                                  .row-i(v-if="isActive.decorationOptions")
                                    span {{ product.DecorationOptions }}
                                  .row-i(v-if="isActive.frameFeature")
                                    span {{ product.FrameFeature }}

                            
