.modal.fade#compareModal(tabindex="-1" role="dialog" aria-labelledby="compareModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
          .modal-header
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
          .modal-body
              .page-1(v-if="!comparePage")
                .title Cравнение
                .selection
                  //- .item
                  //-     label
                  //-       input(type="radio" name="selectEntity")
                  //-       .button-select
                  //-         img(src='/images/compare/window.svg', alt='okno')
                  //- .item 
                  //-     label
                  //-       input(type="radio" name="selectEntity")
                  //-       .button-select
                  //-         img(src='/images/compare/balcon.svg', alt='balcon')
                  //- span {{ name }}
                  //span {{ info.material[1].sMaterialTitle }}
                  //span {{ materials }}
                  //span {{ products }}
                  

                        
                .add-model
                  .add-model-button Добавить модели
                    i.material-icons(class="button-windows_add") add
                .bottom
                  span ПОЖАЛУЙСТА, ВЫБЕРИТЕ КАТЕГОРИЮ  - ОКНА ИЛИ БАЛКОННЫЕ КОНСТРУКЦИИ,
                       |А затем ДВЕ ИЛИ БОЛЕЕ МОДЕЛИ, ЧТОБЫ ПЕРЕЙТИ
                       | К ТАБЛИЦЕ СРАВНЕНИЯ
                .section-choose
                  .panel-choose
                    .selection-material
                      .list-materials
                        .item(v-for="material in materials")
                          label {{ material.sMaterialTitle}}
                            input(type="radio" v-bind:value="material.iMaterialID" v-model="iMaterialID")
                        //- span(v-if="iMaterialID!==null") Выбрано: {{ iMaterialID }}
                    .selection-model
                      .list-products
                        ul.brand
                          li(
                            v-for="brand in result"
                            :class="{ active: brand.iBrandID == 5}"
                            @click="reloadMiniBar"
                          )
                            span.brand {{ brand.sBrandTitle }}
                            ul.model
                              li(v-for="product in brand.products")
                                label
                                  input(type="checkbox" :value="product.iProductID" v-model="selectedProducts")
                                  span.model {{ brand.sBrandTitle}} {{ product.sProductTitle}}
                                    template(v-if="product.iProductID === 7") Тарам 
                  .button-compare
                    button(@click="makeCompare") Сравнить
                      //- .list(v-for="product in result")
                        label {{ product.sBrandTitle }}
                          input(type="checkbox")
                      //- <pre>{{ result }}</pre>
                      //- ul
                        li(v-for="product in SelectedProducts") {{product.sProductTitle}} - {{product.iProductID}}
              .page-compare(v-else)  
                .content
                  .button-selection
                    button(@click="returnToSelection") Вернуться к выбору
                  .carousel-wrapper
                    .parameter-column
                      .main-parameter-header
                        span Основные параметры
                      .main-parameter
                        div
                          span Монтажная глубина
                        div
                          span Профиль
                        div
                          span Класс профиля
                        div
                          span Стеклопакет
                        div
                          span Сопротивление теплопередаче
                        div
                          span Родина бренда
                      .additional-parameter-header
                        span Дополнительные параметры
                      .additional-parameter
                        div
                          span Варианты формы штапика
                        div
                          span Варианты декорирования
                        div
                          span Особенности рамы

                    .caroosel
                      .owl-carousel
                        .item
                          div {{ selectedListProducts[0].brand.sBrandTitle }}
                          div {{ selectedListProducts[0].sProductTitle }}
                          div {{ selectedListProducts[0].MountingDepth }}
                          div {{ selectedListProducts[0].Profile }}
                          div {{ selectedListProducts[0].ProfileClass }}
                          div {{ selectedListProducts[0].DoubleGlazing }}
                          div {{ selectedListProducts[0].HeatTransferResistance }}
                          div {{ selectedListProducts[0].brand.country.sCountryTitle }}
                          div {{ selectedListProducts[0].ShapikShapeOptions }}
                          div {{ selectedListProducts[0].DecorationOptions }}
                          div {{ selectedListProducts[0].FrameFeature }}
                        .item
                          div {{ selectedListProducts[0].brand.sBrandTitle }}
                          div {{ selectedListProducts[0].sProductTitle }}
                          div {{ selectedListProducts[0].MountingDepth }}
                          div {{ selectedListProducts[0].Profile }}
                          div {{ selectedListProducts[0].ProfileClass }}
                          div {{ selectedListProducts[0].DoubleGlazing }}
                          div {{ selectedListProducts[0].HeatTransferResistance }}
                          div {{ selectedListProducts[0].brand.country.sCountryTitle }}
                          div {{ selectedListProducts[0].ShapikShapeOptions }}
                          div {{ selectedListProducts[0].DecorationOptions }}
                          div {{ selectedListProducts[0].FrameFeature }}
                        .item
                          div {{ selectedListProducts[0].brand.sBrandTitle }}
                          div {{ selectedListProducts[0].sProductTitle }}
                          div {{ selectedListProducts[0].MountingDepth }}
                          div {{ selectedListProducts[0].Profile }}
                          div {{ selectedListProducts[0].ProfileClass }}
                          div {{ selectedListProducts[0].DoubleGlazing }}
                          div {{ selectedListProducts[0].HeatTransferResistance }}
                          div {{ selectedListProducts[0].brand.country.sCountryTitle }}
                          div {{ selectedListProducts[0].ShapikShapeOptions }}
                          div {{ selectedListProducts[0].DecorationOptions }}
                          div {{ selectedListProducts[0].FrameFeature }}
                        .item
                          div {{ selectedListProducts[0].brand.sBrandTitle }}
                          div {{ selectedListProducts[0].sProductTitle }}
                          div {{ selectedListProducts[0].MountingDepth }}
                          div {{ selectedListProducts[0].Profile }}
                          div {{ selectedListProducts[0].ProfileClass }}
                          div {{ selectedListProducts[0].DoubleGlazing }}
                          div {{ selectedListProducts[0].HeatTransferResistance }}
                          div {{ selectedListProducts[0].brand.country.sCountryTitle }}
                          div {{ selectedListProducts[0].ShapikShapeOptions }}
                          div {{ selectedListProducts[0].DecorationOptions }}
                          div {{ selectedListProducts[0].FrameFeature }}
                        .item
                          div {{ selectedListProducts[0].brand.sBrandTitle }}
                          div {{ selectedListProducts[0].sProductTitle }}
                          div {{ selectedListProducts[0].MountingDepth }}
                          div {{ selectedListProducts[0].Profile }}
                          div {{ selectedListProducts[0].ProfileClass }}
                          div {{ selectedListProducts[0].DoubleGlazing }}
                          div {{ selectedListProducts[0].HeatTransferResistance }}
                          div {{ selectedListProducts[0].brand.country.sCountryTitle }}
                          div {{ selectedListProducts[0].ShapikShapeOptions }}
                          div {{ selectedListProducts[0].DecorationOptions }}
                          div {{ selectedListProducts[0].FrameFeature }}
                          



