ul.contacts
  li
    a(href="#" data-toggle="modal" data-target="#modal_mobile_contact")
      svg.icon--speech-bubble(width='20' height='20')
        use(xlink:href='#speech-bubble')
  li
    a(href='tel:+74993912221' data-toggle='modal' data-target='#zay_modal' data-class='zay_modal_black')
      svg.icon--phone(width='20' height='20')
        use(xlink:href='#phone-1')
  li
    a(href='mailto:prosto@prostokna.ru')
      svg.icon--letter(width='20' height='18')
        use(xlink:href='#letter')