li
    a.whatsapp(href="https://api.whatsapp.com/send?phone=79779390290&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5", target='_blank')
li
    a.viber(href="viber://add?number=79779390290", target='_blank')
li
    a.telegram(href="#", target='_blank')
li
    a.facebook(href="#", target='_blank')
li
    a.instagram(href="#", target='_blank')
li
    a.youtube(href="https://www.youtube.com/user/ProstoOkna/featured?view_as=subscriber", target='_blank')
