#top
    .logo
        a(href='/')
            <svg width="95" height="36" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="8.5" y1="0" x2="8.5" y2="17"><stop stop-color="#d75be7" offset="0"/><stop stop-color="#bd86ee" offset="1"/></linearGradient></defs><path d="M0 21c0-1 1-2 2-2h13c1 0 2 1 2 2v13c0 1-1 2-2 2H2c-1 0-2-1-2-2z" fill="#c973eb"/><path d="M0 2c0-1 1-2 2-2h13c1 0 2 1 2 2v13c0 1-1 2-2 2H2c-1 0-2-1-2-2z" fill="url(#a)"/><text dominant-baseline="text-before-edge" style="line-height:6px;font-kerning:normal" font-size="8" font-family="'Montserrat','Montserrat-SemiBold'" letter-spacing=".4" transform="translate(46 17)"><tspan>ОКНА</tspan></text><g><text dominant-baseline="text-before-edge" style="line-height:10px;font-kerning:normal" font-size="10" font-family="'Montserrat','Montserrat-Bold'" font-weight="700" font-style="none" letter-spacing=".5" transform="translate(46 5)"><tspan fill="#d165e9">ПРО</tspan><tspan>СТО</tspan></text></g><g><path d="M19 2c0-1 1-2 2-2h13c1 0 2 1 2 2v13c0 1-1 2-2 2H21c-1 0-2-1-2-2z" fill="#a9b1f7"/></g><g><path d="M19 21c0-1 1-2 2-2h13c1 0 2 1 2 2v13c0 1-1 2-2 2H21c-1 0-2-1-2-2z" fill="#82dcee"/></g></svg>
    .search
        a(href='#').mbutton.grey.small Найти
        .bginput
            label(for='search') REHAU
            input(type='text',placeholder='Введите поисковый запрос...',id='search')
    a.phone
        a.tel.lptracker_phone(href='tel:+74993912221') +7 499 391 22 21
        //- a.callall(href='#' data-toggle="modal" data-target="#zay_modal" data-class="zay_modal_white") +7 499 391 22 21
        //- a.whatsapp(href='https://api.whatsapp.com/send?phone=79779390290&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5' target="_blank")
            //- img(src='/images/top/whatsapp_top_bl.svg', alt='4')
        a.callall(href="#" data-toggle="modal" data-target="#modal_mobile_contact")
            <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg"><path d="M14.41 10.623c.413.398.652.933.673 1.506a2.191 2.191 0 01-.563 1.55l-.014.017a.764.764 0 01-.022.023c-.843.843-2.02 1.288-3.407 1.288h-.032c-1.022-.005-2.135-.265-3.31-.771a.579.579 0 01.46-1.063c1.015.438 2.002.672 2.855.676h.027c1.067 0 1.957-.324 2.578-.938l.004-.005a1.041 1.041 0 00-.052-1.45c-1.554-1.498-2.288-1.39-2.967-.728l-1.08 1.073a.579.579 0 01-.644.118c-.061-.027-1.517-.686-3.158-2.327l-.076-.076c-1.641-1.64-2.3-3.097-2.327-3.158a.579.579 0 01.118-.643l1.072-1.081c.663-.68.771-1.413-.727-2.967a1.04 1.04 0 00-1.45-.052l-.005.004c-.62.626-.944 1.526-.938 2.605.01 2.081 1.191 4.498 3.159 6.466.375.375.804.748 1.273 1.108a.579.579 0 11-.704.919c-.51-.391-.977-.798-1.388-1.208C1.587 9.33.28 6.609.267 4.229.26 2.83.706 1.64 1.555.79a.814.814 0 01.023-.02l.016-.015A2.19 2.19 0 013.145.19c.573.021 1.108.26 1.506.673.78.808 1.23 1.485 1.416 2.13.257.89.023 1.715-.695 2.45a.128.128 0 00-.003.004l-.777.782c.275.489.88 1.44 1.908 2.467l.076.076c1.035 1.035 1.98 1.636 2.467 1.91l.783-.778.004-.003c.735-.718 1.56-.952 2.449-.695.646.187 1.323.636 2.131 1.416zm-5.526-6.31a1.72 1.72 0 01-.514-1.229c0-.465.182-.901.514-1.23l1.51-1.496a.579.579 0 11.814.822L9.9 2.476h2a3.187 3.187 0 013.183 3.18v1.595a.579.579 0 01-1.158.001V5.658c-.001-1.116-.91-2.024-2.026-2.024H9.842l1.366 1.354a.579.579 0 11-.814.822z" fill="#fff"/></svg>
            <svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M18.225 13.96a.297.297 0 01-.297.297H1.891a.297.297 0 01-.297-.297V2.08c0-.163.133-.296.297-.296h16.037c.164 0 .297.133.297.297zm-.297-12.77H1.891A.891.891 0 001 2.08v11.88c0 .492.399.891.891.891h16.037a.891.891 0 00.891-.89V2.08a.891.891 0 00-.89-.891z" fill="#fff"/><path d="M18.225 13.96a.297.297 0 01-.297.297H1.891a.297.297 0 01-.297-.297V2.08c0-.163.133-.296.297-.296h16.037c.164 0 .297.133.297.297zm-.297-12.77H1.891A.891.891 0 001 2.08v11.88c0 .492.399.891.891.891h16.037a.891.891 0 00.891-.89V2.08a.891.891 0 00-.89-.891z" fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width=".3"/><path d="M17.367 2.372a.298.298 0 00-.217.068l-6.858 5.724a.597.597 0 01-.765 0L2.67 2.44a.299.299 0 00-.484.175c-.019.104.02.21.101.278l6.858 5.723c.442.37 1.087.37 1.53 0l6.857-5.723a.295.295 0 00-.165-.52z" fill="#fff"/><path d="M17.367 2.372a.298.298 0 00-.217.068l-6.858 5.724a.597.597 0 01-.765 0L2.67 2.44a.299.299 0 00-.484.175c-.019.104.02.21.101.278l6.858 5.723c.442.37 1.087.37 1.53 0l6.857-5.723a.295.295 0 00-.165-.52z" fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width=".3"/><g><path d="M6.68 8.651a.295.295 0 00-.284.092l-4.135 4.43a.295.295 0 10.432.403l4.134-4.43a.295.295 0 00-.147-.495z" fill="#fff"/><path d="M6.68 8.651a.295.295 0 00-.284.092l-4.135 4.43a.295.295 0 10.432.403l4.134-4.43a.295.295 0 00-.147-.495z" fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width=".3"/></g><g><path d="M13.424 8.743a.295.295 0 10-.432.403l4.135 4.43a.295.295 0 00.432-.403z" fill="#fff"/><path d="M13.424 8.743a.295.295 0 10-.432.403l4.135 4.43a.295.295 0 00.432-.403z" fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width=".3"/></g></svg>
            <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M14.105 13.739a7.296 7.296 0 01-5.194 2.15c-1.2 0-2.392-.296-3.447-.858a.778.778 0 00-.621-.048l-3.645 1.276 1.276-3.645a.778.778 0 00-.049-.621 7.363 7.363 0 01-.858-3.448c0-1.962.764-3.806 2.15-5.193A7.297 7.297 0 018.912 1.2c1.962 0 3.807.764 5.194 2.152a7.296 7.296 0 012.151 5.193 7.296 7.296 0 01-2.151 5.194zm.714-11.102A8.3 8.3 0 008.911.19c-1.104 0-2.18.214-3.198.635a8.313 8.313 0 00-2.71 1.812A8.3 8.3 0 00.556 8.545c0 1.331.321 2.654.93 3.832L.082 16.389a.768.768 0 00.183.803.768.768 0 00.802.183L5.08 15.97a8.38 8.38 0 003.832.93 8.3 8.3 0 005.908-2.448 8.3 8.3 0 002.448-5.908 8.3 8.3 0 00-2.448-5.908z" fill="#fff"/><g><path d="M11.529 12.01c-.149.148-.604.2-1.4-.141-.842-.36-1.78-1.035-2.644-1.898-.863-.863-1.537-1.802-1.897-2.643-.342-.796-.29-1.252-.142-1.4l.89-.889 1.097 1.098-.526.526a.771.771 0 00-.143.898 7.129 7.129 0 003.131 3.131c.3.153.66.096.898-.142l.526-.527 1.098 1.098zm.487-2.719a.987.987 0 00-1.394 0l-.42.42a6.12 6.12 0 01-2.457-2.457l.42-.42a.987.987 0 000-1.394L7.032 4.307a.987.987 0 00-1.394 0l-.906.906c-.52.52-.545 1.412-.073 2.513.41.957 1.16 2.008 2.112 2.96.952.952 2.003 1.702 2.96 2.112.523.224.998.336 1.41.336.454 0 .83-.137 1.102-.41l.906-.906a.98.98 0 00.29-.697.979.979 0 00-.29-.697z" fill="#fff"/></g></svg>

    .l
        #toggleBasicMenu
            .wrap
                span
                span
                span
                span
                span
                span
                span
                span
                span
        .menu
            ul
                if left_menu
                    each item, index in left_menu
                        if (left_menu_active || left_menu_active === 0) && index == left_menu_active
                            - var active_class = 'active'
                        else
                            - var active_class = ''
                        li(class= active_class)
                            a(href= item.uri)
                                .b
                                    img(src="/images/top/" + item.ico[0], alt="")
                                .h
                                    img(src="/images/top/" + item.ico[1], alt="")
                                .title #{item.title}
    .cal(data-toggle="modal" data-target="#calc_wait")
        .img
