extends ../layouts/app

block content
    #fullpage_welcome.ppage
        include s1
        include s2
        include s3
        include s4
        include s5
        // include s6
        include s7
        include s8
        include s9
    #fullpage_nav
        .lineprogress
            .line
        ul
            li.active Заказать окно
            li Основное меню
            li Как выбрать окно
            li Алгоритм заказа
            li Сравнение профилей
            // li Калькулятор
            li Наши клиенты
            li Связаться с нами
            li Контакты
