extends ../layouts/app

block head
    link(rel="stylesheet", href='/index.legacy.' + env.BUILD_HASH + '.css')
    
block scripts
    script(src='/index.legacy.' + env.BUILD_HASH + '.js')


block content
    main.layout-index
        #fullpage_welcome.ppage
            include s1
            include s2
            include s3
            include s4
            include s5
            include s6
            include s7
            include s8
            include s9
        #fullpage_nav
            ul
                li.active Заказать окно
                li Основное меню
                li Как выбрать окно
                li Алгоритм заказа
                li Сравнение профилей
                // li Калькулятор
                li Наши клиенты
                li Связаться с нами
                li Контакты
            ul.contacts
                li
                    a(href="#",data-toggle="modal",data-target="#modal_mobile_contact")
                        svg.icon--speech-bubble(width='20',height='20')
                            use(xlink:href='#speech-bubble')
                li
                    a(href='tel:+74993912221',data-toggle='modal',data-target='#zay_modal',data-class='zay_modal_black')
                        svg.icon--phone(width='20',height='20')
                            use(xlink:href='#phone-1')
                li
                    a(href='mailto:prosto@prostokna.ru')
                        svg.icon--letter(width='20',height='18')
                            use(xlink:href='#letter')
    #s3-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-header
                    button.close(type="butto" data-dismiss="modal" aria-label="Закрыть")
                        span(aria-hidden="true") &times;
                .modal-body
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(data-src='https://player.vimeo.com/video/72915044?autoplay=1' allowfullscreen allow="autoplay; fullscreen")
    #measurements.modal.fade(tabindex="-1" role="dialog" aria-labelledby="measurementsLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#measurementsLabel ОТПРАВЬТЕ ВАШ МАКЕТ / ЭСКИЗ НА РАСЧЕТ
                    button.close(type="button" data-dismiss="modal" aria-label="Закрыть")
                        span(aria-hidden="true") &times;
                .modal-body
                    .form-group
                        input(type="text" class="form-control" placeholder="ВАШЕ ИМЯ")
                    .form-group
                        input(type="email" class="form-control" placeholder="ВАШ EMAIL")
                    .form-group
                        input(type="tel" class="form-control" placeholder="ВАШ НОМЕР ТЕЛЕФОНА")
                .modal-footer
                    button.close(type="button" data-dismiss="modal") Назад
                    button(type="button") Отправить
    #file-measurements.modal.fade(tabindex="-1" role="dialog" aria-labelledby="measurementsLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#measurementsLabel ОТПРАВЬТЕ ВАШ МАКЕТ / ЭСКИЗ НА РАСЧЕТ
                    button.close(type="button" data-dismiss="modal" aria-label="Закрыть")
                        span(aria-hidden="true") &times;
                .modal-body
                    form#my-awesome-dropzone.drop-wrap.dropzone(action="/file-upload")
                        .drop
                            span ДОБАВЬТЕ ИЛИ ПЕРЕТАЩИТЕ ФАЙЛЫ
                            svg(width='59' height='47')
                                use(xlink:href='#upload')
                        .fallback
                            input(name="file" type="file" accept=".jpg, .jpeg, .png, .word, .dwg, .ai, .docx, .pdf" multiple)