.section.active.s1
    .fp_bg
        .l
            .bg_flex
                ul
                    li.el1 Сложные задачи решаем просто
                    li.el2 Изготовление окон <br /> и остекление <br /> балконов
                    li.el3
                        a(href='/calculation').mbutton.white Заказать окно
        .r
            .bg_flex
                ul
                    li
                        span.title От 6 990 руб.
                        span.desc За окно с доставкой и установкой. Экономия до 40%
                    li
                        span.title 5 лет гарантии
                        span.desc Даже при условии, что окна вы устанавливаете сами
