section.section.active.s1
    .fp-bg
        .l
            div
                p Сложные задачи решаем просто
                h1 Изготовление окон <br /> и остекление <br /> балконов
                ul.s1-advantages
                    li
                        span.title От 6 690 ₽
                        span.s1-desc За окно с доставкой и установкой. Экономия до 40%
                    li
                        span.title 5 лет гарантии
                        span.s1-desc Даже при условии, что окна вы устанавливаете сами
                a(href='/calculation').btn
                    span Заказать окно
        .r
            .bg-image(style='background-image: url(/images/index/s1-bg-2.jpg);')
            div
                ul.s1-items
                    li
                        a.is-hovered(href='#' data-img='/images/index/s1-bg-2.jpg')
                            span.title DISCOUNT 15%
                            span.s1-desc REHAU BLITZ NEW
                    li
                        a(href='#' data-img='/images/index/s1-bg-1.jpg')
                            span.title DISCOUNT 15%
                            span.s1-desc REHAU BLITZ NEW
                    li
                        a(href='#' data-img='/images/index/s1-bg-1.jpg')
                            span.title DISCOUNT 15%
                            span.s1-desc REHAU BLITZ NEW
                    li
                        a(href='#' data-img='/images/index/s1-bg-1.jpg')
                            span.title DISCOUNT 15%
                            span.s1-desc REHAU BLITZ NEW
