section.section.active.s1
    .fp-bg
        .l
            .wrap
                .desktop
                    p Сложные задачи решаем просто
                    h1 Изготовление окон <br /> и остекление <br /> балконов

                ul.items.slick.mob.tablet
                    li
                        a(href='#' data-img='/images/index/s1-bg-2.jpg')
                            span.title DISCOUNT 15%
                            span.desc REHAU BLITZ NEW
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua.
                    li
                        a(href='#' data-img='/images/index/s1-bg-1.jpg')
                            span.title DISCOUNT 15%
                            span.desc REHAU BLITZ NEW
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua.
                    li
                        a(href='#' data-img='/images/index/s1-bg-1.jpg')
                            span.title DISCOUNT 15%
                            span.desc REHAU BLITZ NEW
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua.
                    li
                        a(href='#' data-img='/images/index/s1-bg-1.jpg')
                            span.title DISCOUNT 15%
                            span.desc REHAU BLITZ NEW
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua.
                
                .desktop-tablet
                    ul.advantages
                        li
                            span.title От 6 690 ₽
                            span.desc За окно с доставкой и установкой. Экономия до 40%
                        li
                            span.title 5 лет гарантии
                            span.desc Даже при условии, что окна вы устанавливаете сами
                a(href='/calculation').btn
                    span Заказать окно
        .r
            .bg-image(style='background-image: url(/images/index/s1-bg-2.jpg);')
            .tablet
                p Сложные задачи решаем просто
            .tablet-mob
                h1 Изготовление окон <br /> и остекление <br /> балконов
            ul.items.desktop
                li
                    a(href='#' data-img='/images/index/s1-bg-2.jpg')
                        span.title DISCOUNT 15%
                        span.desc REHAU BLITZ NEW
                        span.bg
                        span.arrow-down
                li
                    a(href='#' data-img='/images/index/s1-bg-1.jpg')
                        span.title DISCOUNT 15%
                        span.desc REHAU BLITZ NEW
                        span.bg
                        span.arrow-down
                li
                    a(href='#' data-img='/images/index/s1-bg-1.jpg')
                        span.title DISCOUNT 15%
                        span.desc REHAU BLITZ NEW
                        span.bg
                        span.arrow-down
                li
                    a(href='#' data-img='/images/index/s1-bg-1.jpg')
                        span.title DISCOUNT 15%
                        span.desc REHAU BLITZ NEW
                        span.bg
                        span.arrow-up
