mixin list(list)
    if list
        ol
            each item in list
                li
                    a(href=item.uri class={ 'more': item.uri === '#', 'disabled': item.dev })= item.title
                        span.bg

                    +list(item.list)

section.section.s2
    button.s2-close MENU
    button.s2-back(aria-label='Назад')
        svg(width='15px' height='15px')
            use(xlink:href='#back')
    
    ul.s2-main-list
        each item in s2_menu
            li.s2-card
                .s2-front-card
                    div
                        button.card-back(aria-label='Назад')
                            svg(width='15px' height='15px')
                                use(xlink:href='#back')
                        button.card-close(aria-label='Закрыть')
                            svg(width='15px' height='15px')
                                use(xlink:href='#cross')
                    svg.card-icon(aria-hidden='true')
                        use(xlink:href=`#index-${item.ico}`)
                    p= item.title
                    
    ul.s2-secondary-list
        each item in s2_menu
            li.s2-back-card-wrap
                .s2-back-card
                    +list(item.list)
                svg.s2-mouse(width="16" height="38")
                    use(xlink:href='#mouse')