mixin list(list)
    if list
        ol
            each item in list
                li.s2-secondary-card
                    a(href=item.uri class={ 'more': item.uri === '#', 'disabled': item.dev })= item.title

                    +list(item.list)
.section.s2
    .fp_bg
        button.s2-menu MENU
        ul.s2-main-list
            each item in s2_menu
                li.s2-primary-card
                    svg(aria-hidden='true')
                        defs
                            filter(id='f1' width='272%' height='808%' x='-76%' y='-344%' filterUnits='objectBoundingBox')
                                feGaussianBlur(stdDeviation='5 5' result='FeGaussianBlur2117Out' in='SourceGraphic')
                        use(xlink:href=`#symbol--index-${item.ico}`)
                    p= item.title
        ol.s2-secondary-list
            each item in s2_menu
                li.s2-secondary-card
                    +list(item.list)
                    svg(aria-hidden='true')
                        use(xlink:href=`#symbol--index-${item.ico}`)
