.section.s3
    .fp_bg
        .l
            .video
                .hamburger.hamburger--spin
                    .hamburger-box
                        .hamburger-inner
                .v
            .play
                .button
                .info Смотреть видео<br />8:42
        .r
            .vopros ?
            .desc
                .title Как просто выбрать окна<span>?</span>
                .text Данное видео подробно расскажет вам о том, на что обращать внимание при выборе материалов окон под различные помещения и условия. Вы сможете самостоятельно разобраться без помощи консультанта.
