.section.s3(style="background-image: url(/images/index/s3-bg.jpg)")
    .fp-bg
        .s3-wrap
            .s3-play
                button(type="button" data-toggle="modal" data-target="#s3-modal")
                    svg
                        title Запустить видео
                        use(xlink:href='#play')
            .s3-content
                .s3-title КАК ПРОСТО ВЫБРАТЬ ОКНА
                .s3-description Данное видео подробно расскажет вам о том, на что обращать внимание при выборе материалов окон под различные помещения и условия. Вы сможете самостоятельно разобраться без помощи консультанта.
            div.s3-button
                a(href='/calculation').btn
                    span Выбрать окно