.section.s4
    .l
        .bg_flex
            .line1 У нас вы можете
            .line2 Заказать окна 
                span просто
            .line3
                p Мы не занимаемся накруткой цены, вы точно знаете за что платите.
                p По запросу к вам приезжает специалист для замеров и консультации и берет фиксированную цену за свою услугу. Однако точный расчет и сам договор заключается в офисе.
                p Это означает, что специалист не заинтересован в обмане и не станет заниматься накруткой для личного обогащения.
            .line4
                a(href='#').mbutton.blue Вызвать замерщика
                a(href='#').mbutton.white_blue_border Отправить свои замеры
    .r
        ul
            li.item0
                div
                    img(src='/images/index/s4/11.svg', alt='Первый этап')
                    | Предоставляете свои предварительные замеры или используете <a href="#">наш калькулятор</a>
            li.item1
                div
                    img(src='/images/index/s4/22.svg', alt='Второй этап')
                    | <a href="#">Вызываете специалиста</a> для замеров и консультации
            li.item2
                div
                    img(src='/images/index/s4/33.svg', alt='Третий этап')
                    | После расчета итоговой стоимости заключаете договор в офисе
            li.item3
                div
                    img(src='/images/index/s4/44.svg', alt='Четвертый этап')
                    | Ожидаете установки в течении 7 рабочих дней после заключения договора
