section.section.s4
    .fp-bg
        div.s4-text
            div
                .s4-pre-title У нас вы можете
                .s4-title Заказать окна просто
                .s4-description
                    p Мы не занимаемся накруткой цены, вы точно знаете за что платите.

                    p По запросу к вам приезжает наш технолог для замеров и консультации и берет фиксированную цену за свою услугу.  Однако точный расчет и сам договор заключается в офисе. 

                    p Это означает, что специалист не заинтересован в обмане и не станет заниматься накруткой для личного обогащения.
                div.s4-btns
                    button.btn(type="button" data-toggle="modal" data-target="#file-measurements"): span Отправить замеры
                    a.btn(href="/gager"): span Вызвать замерщика
        div
            ol.s4-list
                li
                    div
                        span.s4-counter: span
                        svg(aria-hidden='true')
                            use(xlink:href='#calculator')
                        p Предоставьте свои предварительные замеры или используйте 
                            button наш калькулятор
                li
                    div
                        span.s4-counter: span
                        svg(aria-hidden='true')
                            use(xlink:href='#specialist')
                        p
                            a(href="#" data-toggle="modal" data-target="#zay_modal") Вызовите специалиста 
                            | для точных замеров и консультации

                li
                    div
                        span.s4-counter: span
                        svg(aria-hidden='true')
                            use(xlink:href='#contract')
                        p После расчета итоговой стоимости заключите договор в офисе 
                li
                    div
                        span.s4-counter: span
                        svg(aria-hidden='true')
                            use(xlink:href='#truck')
                        p Ожидайте доставку и установку в течение 7 рабочих дней после заключения договора  
