.section.s5
  .fp_bg#compare
    .wrap
      .content
        .title Cравнение
        .selection
          .wrap-top
            .select-wrap
              .item
                  label(for="window" :class="{active: isWindowChecked}")
                    input(type="radio" name="selectEntity" id="window" @click="selectType" checked)
                    .button-select.window
                      img(src='/images/compare/window-main.svg', alt='okno')
              .item 
                  label(for="balcon" :class="{active: !isWindowChecked}")
                    input(type="radio" name="selectEntity" id="balcon" @click="selectType")
                    .button-select.balcon
                      img(src='/images/compare/balcon-main.svg', alt='balcon')
            .add-model-btn
              button.top-search-btn(data-toggle="modal" data-target="#compareModal" data-info="s5") Добавить модели
                i.material-icons(class="button-windows_add") add

          .bottom
            span ПОЖАЛУЙСТА, ВЫБЕРИТЕ КАТЕГОРИЮ  - ОКНА ИЛИ БАЛКОННЫЕ КОНСТРУКЦИИ,
                |А затем ДВЕ ИЛИ БОЛЕЕ МОДЕЛИ, ЧТОБЫ ПЕРЕЙТИ
                | К ТАБЛИЦЕ СРАВНЕНИЯ