.section.s5
    .fp_bg
        .empty
            .up
                .bg_flex
                    .l1 У вас пока нет добавленных к сравнению оконных профилей или балконных конструкций
                    .l2 Пожалуйста, Выберите 2 или более модели, чтобы перейти к сравнению
            .down
                .l
                    .bg_flex
                        .custom-control.custom-radio
                            input(type="radio", id="customRadio1", name="customRadio", checked).custom-control-input
                            label(for="customRadio1").custom-control-label
                                img(src='/images/index/s5/select_0_active.svg', alt='Выбрать окно')
                        .custom-control.custom-radio
                            input(type="radio", id="customRadio2", name="customRadio").custom-control-input
                            label(for="customRadio2").custom-control-label
                                img(src='/images/index/s5/select_1_active.svg', alt='Выбрать балкон')
                .c
                    .list
                        .items
                            .item.selected
                                .bg REHAU BLITZ
                                    i.material-icons add
                            .item.selected
                                .bg MONTBLANC ECO
                                    i.material-icons add
                            .item.selected
                                .bg REHAU BRILLIANT-DESIGN
                                    i.material-icons add
                            .item
                                .bg Выбрать окна 4
                                    i.material-icons add
                            .item
                                .bg Выбрать окна 5
                                    i.material-icons add
                            .item
                                .bg Выбрать окна 6
                                    i.material-icons add
                            .button
                                a(href='#').mbutton.blue.mbutton-block Сравнить     
        .sravnenie
            .back
                .l
                    img.big(src='/images/index/s5/back_arrow.png', alt='Выбрать окно')
                .r
                    img.big(src='/images/index/s5/o_white.svg', alt='Выбрать окно')
                    img.big.active(src='/images/index/s5/b_white.svg', alt='Выбрать балкон')
            table
                thead
                    tr
                        th.zag
                            img.big(src='/images/index/s5/o_white.svg', alt='Выбрать окно')
                            img.big.active(src='/images/index/s5/b_white.svg', alt='Выбрать балкон')
                            img.small(src='/images/index/s5/o_black.svg', alt='Выбрать балкон')
                            img.small.active(src='/images/index/s5/b_black.svg', alt='Выбрать балкон')
                        th
                            .l
                                img(src='/images/index/s5/test.png', alt='test okno')
                            .r
                                .remove
                                    i.material-icons clear
                                .title
                                    i.material-icons expand_more
                                    span.brand Montblanc
                                    span.model Eco
                                .link
                                    i.material-icons remove_red_eye
                                .button_select
                                    .name Выбрать
                                    img(src='/images/index/s5/add.svg', alt='add')
                        th
                            .l
                                img(src='/images/index/s5/test.png', alt='test okno')
                            .r
                                .remove
                                    i.material-icons clear
                                .title
                                    i.material-icons expand_more
                                    span.brand Montblanc
                                    span.model Eco
                                .link
                                    i.material-icons remove_red_eye
                                .button_select
                                    .name Выбрать
                                    img(src='/images/index/s5/add.svg', alt='add')
                        th
                            .l
                                img(src='/images/index/s5/test.png', alt='test okno')
                            .r
                                .remove
                                    i.material-icons clear
                                .title
                                    i.material-icons expand_more
                                    span.brand Montblanc
                                    span.model Eco
                                .link
                                    i.material-icons remove_red_eye
                                .button_select
                                    .name Выбрать
                                    img(src='/images/index/s5/add.svg', alt='add')
                tbody
                    tr.phone
                        td
                            asdasdasd
                        td(colspan=3)
                            img(src='/images/index/s5/icon-1.svg', alt='add') 
                            span Монтажная глубина
                    tr.basic
                        td 
                            img(src='/images/index/s5/icon-1.svg', alt='add') 
                            span Монтажная глубина
                            .info
                                .desc Ма́рке́тинг (от англ. marketing — в буквальном переводе с английского означает «действие на рынке», «рыночную деятельность») — это ...
                        td 70мм
                        td 70мм
                        td 70мм
                    tr.phone
                        td
                            asdasdasd
                        td(colspan=3)
                            img(src='/images/index/s5/icon-2.svg', alt='add') 
                            span Профиль
                    tr.basic
                        td 
                            img(src='/images/index/s5/icon-2.svg', alt='add') 
                            span Профиль
                            .info
                                .desc Ма́рке́тинг (от англ. marketing — в буквальном переводе с английского означает «действие на рынке», «рыночную деятельность») — это ...
                        td 3-камерный
                        td 3-камерный
                        td 3-камерный
                    tr.phone
                        td
                            asdasdasd
                        td(colspan=3)
                            img(src='/images/index/s5/icon-3.svg', alt='add') 
                            span Класс профиля
                    tr.basic
                        td 
                            img(src='/images/index/s5/icon-3.svg', alt='add') 
                            span Класс профиля
                            .info
                                .desc Ма́рке́тинг (от англ. marketing — в буквальном переводе с английского означает «действие на рынке», «рыночную деятельность») — это ...
                        td «A»
                        td «B»
                        td «C»
                    tr.phone
                        td
                            asdasdasd
                        td(colspan=3)
                            img(src='/images/index/s5/icon-4.svg', alt='add') 
                            span Стеклопакет
                    tr.basic
                        td 
                            img(src='/images/index/s5/icon-4.svg', alt='add') 
                            span Стеклопакет
                            .info
                                .desc Ма́рке́тинг (от англ. marketing — в буквальном переводе с английского означает «действие на рынке», «рыночную деятельность») — это ...
                        td до 32 мм
                        td до 32 мм
                        td до 32 мм
                    tr.phone
                        td
                            asdasdasd
                        td(colspan=3)
                            img(src='/images/index/s5/icon-5.svg', alt='add') 
                            span Сопротивление теплопередаче
                    tr.basic
                        td 
                            img(src='/images/index/s5/icon-5.svg', alt='add') 
                            span Сопротивление теплопередаче
                            .info
                                .desc Ма́рке́тинг (от англ. marketing — в буквальном переводе с английского означает «действие на рынке», «рыночную деятельность») — это ...
                        td 0,58 м2°С/Вт
                        td 0,58 м2°С/Вт
                        td 0,58 м2°С/Вт
                    tr.phone
                        td
                            asdasdasd
                        td(colspan=3)
                            img(src='/images/index/s5/icon-6.svg', alt='add') 
                            span Родина бренд
                    tr.basic
                        td 
                            img(src='/images/index/s5/icon-6.svg', alt='add') 
                            span Родина бренда
                            .info
                                .desc Ма́рке́тинг (от англ. marketing — в буквальном переводе с английского означает «действие на рынке», «рыночную деятельность») — это ...
                        td
                            span.flag-rus Швейцария
                        td
                            span.flag-rus Швейцария
                        td
                            span.flag-rus Швейцария
                    tr.more_add
                        td
                        td(colspan=3)
                            a.linkmore(href='#')
                                span.dots ...
                                span.basic Дополнительные характеристики
                                span.more Вернуться к основных характеристикам
                    tr.more.phone
                        td
                            asdasdasd
                        td(colspan=3)
                            img(src='/images/index/s5/icon-7.svg', alt='add') 
                            span Варианты формы штапика
                    tr.more
                        td Варианты формы штапика
                            .info
                                .desc Ма́рке́тинг (от англ. marketing — в буквальном переводе с английского означает «действие на рынке», «рыночную деятельность») — это ...
                        td прямой, скруглённый
                        td прямой, скруглённый
                        td прямой, скруглённый
                    tr.more.phone
                        td
                            asdasdasd
                        td(colspan=3)
                            img(src='/images/index/s5/icon-8.svg', alt='add') 
                            span Варианты декорирования
                    tr.more
                        td Варианты декорирования
                            .info
                                .desc Ма́рке́тинг (от англ. marketing — в буквальном переводе с английского означает «действие на рынке», «рыночную деятельность») — это ...
                        td покраска, ламинация двухсторонняя без окраски в массе
                        td покраска
                        td ламинация двухсторонняя
                    tr.more.phone
                        td
                            asdasdasd
                        td(colspan=3)
                            img(src='/images/index/s5/icon-6.svg', alt='add') 
                            span Особенность рамы
                    tr.more
                        td Особенность рамы
                            .info
                                .desc Ма́рке́тинг (от англ. marketing — в буквальном переводе с английского означает «действие на рынке», «рыночную деятельность») — это ...
                        td скруглённая рама и створка
                        td скруглённая рама
                        td скруглённая рама
                tfoot
                    tr.big
                        th
                            a.linkmore(href='#')
                                i.material-icons chevron_right
                                span.basic Дополнительные характеристики
                                span.more Вернуться к основных характеристикам
                        th(colspan=3)
                            a.mbutton.linkoriginal(href="#")
                                span.all Скрыть одинаковые значения
                                span.original Показать все
                    tr.small
                        th
                            a.mbutton.linkoriginal(href="#")
                                span.all Скрыть одинаковые значения
                                span.original Показать все
                        th
                            a.add(href="#")
                                img(src='/images/index/s5/add.svg', alt='add')
                        th
                            a.add(href="#")
                                img(src='/images/index/s5/add.svg', alt='add')
                        th
                            a.add(href="#")
                                img(src='/images/index/s5/add.svg', alt='add')
        .pop_choice
                    .menu
                        span.item-title Окно 4
                        span.item MONTBLANC ECO
                        span.item RAHAU BLITZ
                        span.item REHAU BRILLANT-DESIGN
                        span.item NOVOTEX
                        span.item MONTBLANC ECO
                        span.item RAHAU BLITZ
                        span.item REHAU BRILLANT-DESIGN
                        span.item NOVOTEX
                        span.item MONTBLANC ECO
                        span.item RAHAU BLITZ
        .call_back
            img(src='/images/index/s5/call-back.png', alt='call-back')        
