.section.s6
    .fp_bg
        include part/s6--modal-form.pug

        .child-fullpage
            include part/s6--module-result.pug

            .wrap-container
                include part/s6--nav-panel.pug

                div(data-Module="body-tabs")
                    include part/s6--nav-tabs.pug
                    //- include part/s6--body-welcome.pug
                                
                    div(data-El="container-tabs")#nav-tabContent.tab-content
                        #tab1.tab-pane.fade.show.active(role='tabpanel')
                            .multi-group
                                h2 Производитель и модель
                                //- include part/s6--group-models.pug
                                include part/s6--group-models2.pug
                        #tab2.tab-pane.fade.show(role='tabpanel')
                            .multi-group
                                h2 Тип и размер окна
                                div(data-grid="sizes-and-views")
                                    //- include part/s6--group-view.pug
                                    //- include part/s6--group-sizes.pug
                                    include part/s6--group-view2.pug
                                    include part/s6--group-sizes2.pug
                        #tab3.tab-pane.fade.show(role='tabpanel')
                            .multi-group
                                h2 Дополнительно
                                div(data-grid="extra")
                                    //- include part/s6--group-extra.pug
                                    include part/s6--group-extra2.pug
                        #tab4.tab-pane.fade.show(role='tabpanel')
                            .multi-group
                                h2 Цвет материала
                                div(data-grid="colors")
                                        include part/s6--group-colors.pug
                                        //- include part/s6--group-colors--x2_.pug
                                        //- include part/s6--group-colors--x3.pug
                                        //- include part/s6--group-colors--x4.pug
                                        //- include part/s6--group-colors--x5.pug
                                        //- include part/s6--group-colors2.pug
                                        //- include part/s6--group-colors2--x2.pug
