.section.s7
    .fp_bg
        .data
            .info
                .l Наши клиенты
                .r Наша компания ведет все заказы от начала до самого конца, оказывает постоянную поддержку и никогда не отказывается от принятых на себя обязательств. Мы тепло встречаем всех наших клиентов и трепетно о них заботимся.
            .owl-carousel.owl-theme
                .item
                    .bg_flex
                        img(src='/images/index/s7/1.png', alt='МВД')
                        .title
                            div
                                span МВД
                                | Министерство внутренних дел России
                    .bg_flex
                        img(src='/images/index/s7/2.png', alt='ФСБ')
                        .title
                            div
                                span ФСБ
                                | Федеральная служба безопасности России
                    .bg_flex
                        img(src='/images/index/s7/3.png', alt='Азбука Вкуса')
                        .title
                            div
                                span Азбука Вкуса
                                | Сеть супермаркетов
                    .bg_flex
                        img(src='/images/index/s7/4.png', alt='KFC')
                        .title
                            div
                                span KFC
                                | Cеть быстрого питания
                .item
                    .bg_flex
                        img(src='/images/index/s7/5.png', alt='NIKE')
                        .title
                            div
                                span NIKE
                                | Сеть магазинов спортивной одежды
                    .bg_flex
                        img(src='/images/index/s7/6.png', alt='FIFA')
                        .title
                            div
                                span FIFA
                                | Международная федерация футбола
                    .bg_flex
                        img(src='/images/index/s7/7.png', alt='ЦУМ')
                        .title
                            div
                                span ЦУМ
                                | Торговый центр
                    .bg_flex
                        img(src='/images/index/s7/8.png', alt='DoorHan')
                        .title
                            div
                                span DoorHan
                                | ГК Doorhan
                .item
                    .bg_flex
                        img(src='/images/index/s7/9.png', alt='МКБ')
                        .title
                            div
                                span МКБ
                                | Московский Кредитный банк
                    .bg_flex
                        img(src='/images/index/s7/10.png', alt='Billa')
                        .title
                            div
                                span Billa
                                | Сеть супермаркетов
                    .bg_flex
                        img(src='/images/index/s7/11.png', alt='СИБУР')
                        .title
                            div
                                span СИБУР
                                | Нефтехимическая компания
                    .bg_flex
                        img(src='/images/index/s7/12.png', alt='МИЦ')
                        .title
                            div
                                span МИЦ
                                | Инвестиционно-девелоперская компания
                .item
                    .bg_flex
                        img(src='/images/index/s7/13.png', alt='Инвитро')
                        .title
                            div
                                span Инвитро
                                | Частная медицинская компания
                    .bg_flex
                        img(src='/images/index/s7/14.png', alt='Гостиница Украина')
                        .title
                            div
                                span Гостиница Украина
                                | Гостиница Украина
                    .bg_flex
                        img(src='/images/index/s7/15.png', alt='Моспромстрой')
                        .title
                            div
                                span Моспромстрой
                                | Российская строительная компания
                    .bg_flex
                        img(src='/images/index/s7/16.png', alt='Доктор Лодер')
                        .title
                            div
                                span Доктор Лодер
                                | Сеть фитнес-клубов
