.section.s7
    .fp_bg
        .data
            .info
                .l Наши клиенты
                .r Наша компания ведет все заказы от начала до самого конца, оказывает постоянную поддержку и никогда не отказывается от принятых на себя обязательств. Мы тепло встречаем всех наших клиентов и трепетно о них заботимся.
            .owl-carousel.owl-theme
                .item
                    mixin section_7_item(title, i)
                        .bg_flex
                            img(src='/images/welcome/logo.svg', alt=title+' '+i)
                            .title
                                div
                                    span= title
                                    | Premium Electric Cars and SUVs
                    +section_7_item('Tesla', 1)
                    +section_7_item('Tesla', 2)
                    +section_7_item('Tesla', 3)
                    +section_7_item('Tesla', 4)
                    +section_7_item('Tesla', 5)
                    +section_7_item('Tesla', 6)
                    +section_7_item('Tesla', 7)
                    +section_7_item('Tesla', 8)
                    +section_7_item('Tesla', 9)
                    +section_7_item('Tesla', 10)
                    +section_7_item('Tesla', 11)
                    +section_7_item('Tesla', 12)
                .item
                    +section_7_item('Tesla', 13)
                    +section_7_item('Tesla', 14)
                    +section_7_item('Tesla', 15)
                    +section_7_item('Tesla', 16)
                    +section_7_item('Tesla', 17)
                    +section_7_item('Tesla', 18)
                    +section_7_item('Tesla', 19)
                    +section_7_item('Tesla', 20)
                    +section_7_item('Tesla', 21)
                    +section_7_item('Tesla', 22)
                    +section_7_item('Tesla', 23)
                    +section_7_item('Tesla', 24)
                .item
                    +section_7_item('Tesla', 25)
                    +section_7_item('Tesla', 26)
                    +section_7_item('Tesla', 27)
                    +section_7_item('Tesla', 28)
                    +section_7_item('Tesla', 29)
                    +section_7_item('Tesla', 30)
                    +section_7_item('Tesla', 31)
                    +section_7_item('Tesla', 32)
                    +section_7_item('Tesla', 33)
                    +section_7_item('Tesla', 34)
                    +section_7_item('Tesla', 35)
                    +section_7_item('Tesla', 36)
