.section.s8
    .fp_bg
        .l
            .bg_flex
                .title Напишите нам
                ul
                    li.active Вы клиент<i class="material-icons">keyboard_arrow_right</i>
                    li Вы монтажная бригада<i class="material-icons">keyboard_arrow_right</i>
                    li Вы корпоративный клиент<i class="material-icons">keyboard_arrow_right</i>
        .r
            .bg_flex
                .desc Вы можете отправить нам сообщение на любую интересующую вас тему, или документ со своими замерами для расчета стоимости окна.
                .bgform
                    form
                        .row
                            .col
                                .form-group
                                    input(type='text', placeholder='Ваше имя').form-control.form-control-pokna.white
                            .col
                                .form-group
                                    input(type='text', placeholder='Ваш телефон').form-control.form-control-pokna.white
                        .row
                            .col
                                .form-group
                                    textarea(placeholder='Введите сообщение').form-control.form-control-pokna.white
                        .row
                            .col
                                a(href='#').mbutton.mbutton-block.trans-white <span>+</span>Прикрепить файл
                            .col
                                a(href='#').mbutton.mbutton-block.white Отправить
