.section.s8(style="background-image: url(/images/index/s8/s8-fullhd.jpg)")
    .fp_bg.fp_bg_s8
        .flex-block
                .top-block
                    .left
                        .btn-group
                    .right
                        .title Напишите нам
                .bottom-block
                    .type-block
                        .empty-wrap
                        ul
                            li.active
                                label
                                    input(type="radio" name="selectName" checked)
                                    | Вы клиент<i class="material-icons">keyboard_arrow_right</i>
                            li 
                                label
                                    input(type="radio" name="selectName")
                                    | Вы монтажная бригада<i class="material-icons">keyboard_arrow_right</i>
                            li 
                                label
                                    input(type="radio" name="selectName")
                                    | Вы корпоративный клиент<i class="material-icons">keyboard_arrow_right</i>
                    
                    .form-block
                        form.form_contact
                            .row
                                .col.contacts
                                    .form-group
                                        label(for='nameInput') Name
                                        input(type='text' name="name" placeholder='Ваше имя' id='nameInput').form-control.form-control-pokna.white
                                        //.invalid-feedback Необходимо указать Ваше имя
                    
                                    .form-group.phone
                                        label(for='phoneInput') Phone
                                        input(type='text' name="tel" placeholder='Ваш телефон' id='phoneInput').form-control.form-control-pokna.white
                                        //.invalid-feedback Необходимо указать контактный номер
                            .row
                                .col.msg
                                    .form-group
                                        label(for='messageTextArea') Message
                                        textarea(name="message" placeholder='Введите сообщение' id='messageTextArea').form-control.form-control-pokna.white  
                                        .clip
                                            input(type='file' id='chooseFile')
                                            label(for='chooseFile') 
                                                img(src='/images/index/s8/clip.svg' alt='clip')
                                            .fileName                                       
                            .row
                                .col.btn-send
                                    button(type="submit") Отправить

                            
                                


