.section.s8
    .fp_bg.fp_bg_s8
        .flex-block
              .bl-wrapp_lt
                .title Напишите нам
              .bl-wrapp_lb
                ul
                    li(data-subject="Напишите нам - Вы клиент") Вы клиент<i class="material-icons">keyboard_arrow_right</i>
                    li(data-subject="Напишите нам - Вы монтажная бригада") Вы монтажная бригада<i class="material-icons">keyboard_arrow_right</i>
                    li(data-subject="Напишите нам - Вы корпоративный клиент") Вы корпоративный клиент<i class="material-icons">keyboard_arrow_right</i>
              .bl-wrapp_rt
                .desc Вы можете отправить нам сообщение на любую интересующую вас тему, или документ со своими замерами для расчета стоимости окна.
              .bl-wrapp_rb
                .bgform
                    form.form_contact
                        input(type="hidden" name="subject" value="Главная страница - Напишите нам")
                        input(type="hidden" name="metrika" value="zayavka")
                        input(type="hidden" name="page_path" value= page_path)
                        .row
                            .col
                                .form-group
                                    input(type='text' name="name" placeholder='Ваше имя').form-control.form-control-pokna.white
                                    .invalid-feedback Необходимо указать Ваше имя
                            .col
                                .form-group
                                    input(type='text' name="tel" placeholder='Ваш телефон').form-control.form-control-pokna.white
                                    .invalid-feedback Необходимо указать контактный номер
                        .row
                            .col
                                .form-group
                                    textarea(name="message" placeholder='Введите сообщение').form-control.form-control-pokna.white
                        .row
                            .col
                                button(type="submit") Отправить
                        //- .row
                            .col
                                label.custom-file-upload Прикрепить файл
                                    input(name="file" type="file")
                                //- a(href='#').mbutton.mbutton-block.trans-white <span>+</span>Прикрепить файл
                            .col
                                a(href='#').mbutton.mbutton-block.white Отправить
