section.section.s9
	.fp-bg
		.wrap
			.s9-title: h2 Карта сайта
			div
				nav.s9-nav
					ul
						li
							h3.s9-list-title Главное
							ul
								li
									a(href='#') Список монтажных бригад
								li
									a(href='#') Монтаж
								li
									a(href='#') Гарантии
								li
									a(href='#') Лучшая цена
								li
									a(href='#') АКЦИЯ!
								li
									a(href='/company') О компании
						li
							h3.s9-list-title Сотрудничество
							ul
								li
									a(href='#') Заработайте с нами
								li
									a(href='#') Работа монтажным
								li
									a(href='#') Бригадам
								li
									a(href='#') Оптовикам
								li
									a(href='#') Реквизиты
						li
							h3.s9-list-title Своими руками
							ul
								li
									a(href='#') Обучение монтажу
								li
									a(href='#') Регулировка окон
								li
									a(href='#') Инструкция по замеру
								li
									a(href='#') Купить монтажный набор
								li
									a(href='#') Вместе еще дешевле
			div.s9-map-wrap
				.s9-map
					#map
					address
						a(href="tel:+74993912221") +7 (499) 391-22-21
						C 10:00 до 19:00
						a(href="mailto:prosto@prostokna.ru") prosto@prostokna.ru
						| Москва, ул. Южнопортовая 5 с. 1
				div
					p.copyright © Просто окна. ООО «МИТ». Все права защищены. 2020
					ul.social
						include ../include/social_icons.pug