.section.s9
	.fp_bg
		.full
			.l
				.bg_flex
					.title Карта сайта
					.line__df
						.line
							.item.item0
								.name Главное
								ul
									li
										a(href='#') Список монтажных бригад
									li
										a(href='#') Монтаж
									li
										a(href='#') Гарантии
									li
										a(href='#') Лучшая цена
									li
										a(href='#') АКЦИЯ!
									li
										a(href='#') О компании
							.item.item1
								.name Сотрудничество
								ul
									li
										a(href='#') Заработайте с нами
									li
										a(href='#') Работа монтажным
									li
										a(href='#') Бригадам
									li
										a(href='#') Оптовикам
									li
										a(href='#') Реквизиты
						.line.line2
							.item.item2
								.name Своими руками
								ul
									li
										a(href='#') Обучение монтажу
									li
										a(href='#') Регулировка окон
									li
										a(href='#') Инструкция по замеру
									li
										a(href='#') Купить монтажный набор
									li
										a(href='#') Вместе еще дешевле
			.r
				.map
				ul.info
					li.title Контакты
					li.tel <a href="tel:+74993912221">+7(499) 391-22-21</a>
					li.time с 10:00 до 19:00 Пн. - Пт.
					li.mail <a href="mailto:prosto@prostokna.ru">prosto@prostokna.ru</a>
					li.address Москва, ул. Спартаковская площадь 14
					li.soc
						ul
							li
								a(href="#", target='_blank')
									img(src="/images/index/s9/soc1.svg", alt="Мы в ВКонтакте")
							li
								a(href="#", target='_blank')
									img(src="/images/index/s9/soc2.svg", alt="Мы в Twitter")
							li
								a(href="#", target='_blank')
									img(src="/images/index/s9/soc3.svg", alt="Написать или повонить в Skype")
							li
								a(href="#", target='_blank')
									img(src="/images/index/s9/soc4.svg", alt="Написать или повонить в Whatsapp")
		.bottom
			span © «Просто окна» Все права защищены. 2018
			a(href="#") Правила конфиденциальности
			a(href="#") Условия
