extends ../layouts/app

block content
    #favorites
        section.favorites.ppage
            .container
                .row.header-container
                    .col-xl-12.title-favorites.text-center
                        span Избранное
                    .col-xl-12.d-flex.justify-content-center
                        .tab-favorites
                            a#windows
                                img(src='/images/favorites/window.png')
                        .tab-favorites
                            a#gloss
                                img(src='/images/favorites/tb.png')
                    .col-xl-12.text-center
                        button.look-all#favorites-card-item
                            span Смотреть все
            .container-fluid
                .row.lines-container
                    .col-xl-12.favorites-cards-container
                         .favorites-card-item.windows
                             .favorites-card-header
                                 a.favorites-card-button.fre-qurty()
                                     img(src='/images/favorites/sq.png')
                                 a.favorites-card-button.eyes()
                                     img(src='/images/favorites/eye.png')
                                 a.favorites-card-button.window()
                                     img(src='/images/favorites/window.png')
                                 a.favorites-card-button.close
                                     img.close(src='/images/favorites/close.png')    
                             .favorites-card-body
                                 a.btn-view
                                     span CHRISTALLS
                                 .card-modals-view#view
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .favorites-card-body-text
                                     span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt dolore nisi ea quibusdam iste a! Aspernatur, ducimus ipsum exercitationem voluptate totam sed sint culpa sit quibusdam aliquam ipsa, libero laudantium.
                                 .card-title
                                     span MONTBLANC
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .card-color-border
                                     .card-color(style={'background': '#887561'})
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span BIenge
                                 .card-photo(style={'background-image': 'url(/images/favorites/3.png)'})
                                 .btn-view-mob.dots
                                    img.dots(src='/images/favorites/dots.png')
                         .favorites-card-item.windows
                             .favorites-card-header
                                 a.favorites-card-button.fre-qurty()
                                     img(src='/images/favorites/sq.png')
                                 a.favorites-card-button.eyes()
                                     img(src='/images/favorites/eye.png')
                                 a.favorites-card-button.window()
                                     img(src='/images/favorites/window.png')
                                 a.favorites-card-button.close
                                     img.close(src='/images/favorites/close.png')    
                             .favorites-card-body
                                 a.btn-view
                                     span CHRISTALLS
                                 .card-modals-view#view
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .favorites-card-body-text
                                     span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt dolore nisi ea quibusdam iste a! Aspernatur, ducimus ipsum exercitationem voluptate totam sed sint culpa sit quibusdam aliquam ipsa, libero laudantium.
                                 .card-title
                                     span MONTBLANC
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .card-color-border
                                     .card-color(style={'background': '#ad966a'})
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span BIenge
                                 .card-photo(style={'background-image': 'url(/images/favorites/2.png)'})
                                 .btn-view-mob.dots
                                    img.dots(src='/images/favorites/dots.png')
                         .favorites-card-item.windows
                             .favorites-card-header
                                 a.favorites-card-button.fre-qurty()
                                     img(src='/images/favorites/sq.png')
                                 a.favorites-card-button.eyes()
                                     img(src='/images/favorites/eye.png')
                                 a.favorites-card-button.window()
                                     img(src='/images/favorites/window.png')
                                 a.favorites-card-button.close
                                     img.close(src='/images/favorites/close.png')    
                             .favorites-card-body
                                 a.btn-view
                                     span CHRISTALLS
                                 .card-modals-view#view
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .favorites-card-body-text
                                     span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt dolore nisi ea quibusdam iste a! Aspernatur, ducimus ipsum exercitationem voluptate totam sed sint culpa sit quibusdam aliquam ipsa, libero laudantium.
                                 .card-title
                                     span MONTBLANC
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .card-color-border
                                     .card-color(style={'background': '#9f9e9d'})
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span BIenge
                                 .card-photo(style={'background-image': 'url(/images/favorites/1.png)'})
                                 .btn-view-mob.dots
                                    img.dots(src='/images/favorites/dots.png')
                         .favorites-card-item.gloss
                             .favorites-card-header
                                 a.favorites-card-button.fre-qurty()
                                     img(src='/images/favorites/sq.png')
                                 a.favorites-card-button.eyes()
                                     img(src='/images/favorites/eye.png')
                                 a.favorites-card-button.window()
                                     img(src='/images/favorites/window.png')
                                 a.favorites-card-button.close
                                     img.close(src='/images/favorites/close.png')    
                             .favorites-card-body
                                 a.btn-view
                                     span CHRISTALLS
                                 .card-modals-view#view
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .favorites-card-body-text
                                     span Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, expedita quas autem ad quaerat nisi fugiat facere tempore, quod blanditiis eligendi inventore aliquam ea voluptate repudiandae dignissimos facilis, soluta quidem?
                                 .card-title
                                     span MONTBLANC
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .card-color-border
                                     .card-color(style={'background': '#8da418'})
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span BIenge
                                 .card-photo(style={'background-image': 'url(/images/favorites/4.png)'})
                                 .btn-view-mob.dots
                                    img.dots(src='/images/favorites/dots.png')
                         .favorites-card-item.gloss
                             .favorites-card-header
                                 a.favorites-card-button.fre-qurty()
                                     img(src='/images/favorites/sq.png')
                                 a.favorites-card-button.eyes()
                                     img(src='/images/favorites/eye.png')
                                 a.favorites-card-button.window()
                                     img(src='/images/favorites/window.png')
                                 a.favorites-card-button.close
                                     img.close(src='/images/favorites/close.png')    
                             .favorites-card-body
                                 a.btn-view
                                     span CHRISTALLS
                                 .card-modals-view#view
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .favorites-card-body-text
                                     span Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, expedita quas autem ad quaerat nisi fugiat facere tempore, quod blanditiis eligendi inventore aliquam ea voluptate repudiandae dignissimos facilis, soluta quidem?
                                 .card-title
                                     span MONTBLANC
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .card-color-border
                                     .card-color(style={'background': '#c04b00'})
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span BIenge
                                 .card-photo(style={'background-image': 'url(/images/favorites/5.png)'})
                                 .btn-view-mob.dots
                                     img.dots(src='/images/favorites/dots.png')
                         .favorites-card-item.windows
                             .favorites-card-header
                                 a.favorites-card-button.fre-qurty()
                                     img(src='/images/favorites/sq.png')
                                 a.favorites-card-button.eyes()
                                     img(src='/images/favorites/eye.png')
                                 a.favorites-card-button.window()
                                     img(src='/images/favorites/window.png')
                                 a.favorites-card-button.close
                                     img.close(src='/images/favorites/close.png')    
                             .favorites-card-body
                                 a.btn-view
                                     span CHRISTALLS
                                 .card-modals-view#view
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .favorites-card-body-text
                                     span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt dolore nisi ea quibusdam iste a! Aspernatur, ducimus ipsum exercitationem voluptate totam sed sint culpa sit quibusdam aliquam ipsa, libero laudantium.
                                 .card-title
                                     span MONTBLANC
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .card-color-border
                                     .card-color(style={'background': '#9f9e9d'})
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span BIenge
                                 .card-photo(style={'background-image': 'url(/images/favorites/1.png)'})
                                 .btn-view-mob.dots
                                    img.dots(src='/images/favorites/dots.png')
                         .favorites-card-item.gloss
                             .favorites-card-header
                                 a.favorites-card-button.fre-qurty()
                                     img(src='/images/favorites/sq.png')
                                 a.favorites-card-button.eyes()
                                     img(src='/images/favorites/eye.png')
                                 a.favorites-card-button.window()
                                     img(src='/images/favorites/window.png')
                                 a.favorites-card-button.close
                                     img.close(src='/images/favorites/close.png')    
                             .favorites-card-body
                                 a.btn-view
                                     span CHRISTALLS
                                 .card-modals-view#view
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .favorites-card-body-text
                                     span Lorem ipsum dolor sit amet consectetur adipisicing elit. MolLorem ipsum dolor sit amet consectetur adipisicing elit. Molllitia, expedita quas autem ad quaerat nisi fugiat facere tempore, quod blanditiis eligendi inventore aliquam ea voluptate repudiandae dignissimos facilis, soluta quidem?
                                 .card-title
                                     span MONTBLANC
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .card-color-border
                                     .card-color(style={'background': '#8da418'})
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span BIenge
                                 .card-photo(style={'background-image': 'url(/images/favorites/4.png)'})
                                 .btn-view-mob.dots
                                    img.dots(src='/images/favorites/dots.png')
                         .favorites-card-item.gloss
                             .favorites-card-header
                                 a.favorites-card-button.fre-qurty()
                                     img(src='/images/favorites/sq.png')
                                 a.favorites-card-button.eyes()
                                     img(src='/images/favorites/eye.png')
                                 a.favorites-card-button.window()
                                     img(src='/images/favorites/window.png')
                                 a.favorites-card-button.close
                                     img.close(src='/images/favorites/close.png')    
                             .favorites-card-body
                                 a.btn-view
                                     span CHRISTALLS
                                 .card-modals-view#view
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .favorites-card-body-text
                                     span Lorem ipsum dolor sit amet consectetur adipisicing elit. MollitLorem ipsum dolor sit amet consectetur adipisicing elit. Mollia, expedita quas autem ad quaerat nisi fugiat facere tempore, quod blanditiis eligendi inventore aliquam ea voluptate repudiandae dignissimos facilis, soluta quidem?
                                 .card-title
                                     span MONTBLANC
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .card-color-border
                                     .card-color(style={'background': '#c04b00'})
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span BIenge
                                 .card-photo(style={'background-image': 'url(/images/favorites/5.png)'})
                                 .btn-view-mob.dots
                                     img.dots(src='/images/favorites/dots.png')
                         .favorites-card-item.gloss
                             .favorites-card-header
                                 a.favorites-card-button.fre-qurty()
                                     img(src='/images/favorites/sq.png')
                                 a.favorites-card-button.eyes()
                                     img(src='/images/favorites/eye.png')
                                 a.favorites-card-button.window()
                                     img(src='/images/favorites/window.png')
                                 a.favorites-card-button.close
                                     img.close(src='/images/favorites/close.png')    
                             .favorites-card-body
                                 a.btn-view
                                     span CHRISTALLS
                                 .card-modals-view#view
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .favorites-card-body-text
                                     span Lorem ipsum dolor sit amet consectetur adipisicing elit.LoreLorem ipsum dolor sit amet consectetur adipisicing elit. Mollm ipsum dolor sit amet consectetur adipisicing elit. Moll Mollitia, expedita quas autem ad quaerat nisi fugiat facere tempore, quod blanditiis eligendi inventore aliquam ea voluptate repudiandae dignissimos facilis, soluta quidem?
                                 .card-title
                                     span MONTBLANC
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span Simple modal
                                 .card-color-border
                                     .card-color(style={'background': '#c04b00'})
                                 .card-modals
                                     .cards-number
                                         span 4242
                                     .card-modal
                                         span BIenge
                                 .card-photo(style={'background-image': 'url(/images/favorites/5.png)'})
                                 .btn-view-mob.dots
                                     img.dots(src='/images/favorites/dots.png')