#fullpage_welcome .section .fp-tableCell {
  position: absolute;
  top: 80px;
  right: 80px;
  bottom: 0;
  left: 0;
  height: auto !important;
  width: auto !important;
  overflow: hidden; }
  @media (max-width: 1200px) {
    #fullpage_welcome .section .fp-tableCell {
      right: 0;
      bottom: 60px; } }
  @media (max-width: 575px) {
    #fullpage_welcome .section .fp-tableCell {
      top: 50px;
      bottom: 40px; } }
