.fp-viewing-s1 #top {
  background-color: transparent; }
  .fp-viewing-s1 #top .search {
    background-color: transparent; }
  .fp-viewing-s1 #top .cal div.img {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.968 27.355a3.617 3.617 0 01-3.613 3.613H4.645a3.617 3.617 0 01-3.613-3.613V4.645a3.617 3.617 0 013.613-3.613h22.71a3.617 3.617 0 013.613 3.613zM27.355 0H4.645A4.65 4.65 0 000 4.645v22.71A4.65 4.65 0 004.645 32h22.71A4.65 4.65 0 0032 27.355V4.645A4.65 4.65 0 0027.355 0z' fill='%23fff'/%3E%3Cpath d='M29.354 15.486h-12.84V2.646a.514.514 0 00-1.028 0v12.84H2.646a.514.514 0 000 1.028h12.84v12.84a.514.514 0 001.028 0v-12.84h12.84a.514.514 0 000-1.028z' fill='%23fff'/%3E%3Cpath d='M4.265 9.064h3.733v3.732a.533.533 0 001.066 0V9.064h3.732a.533.533 0 000-1.066H9.064V4.265a.533.533 0 00-1.066 0v3.733H4.265a.533.533 0 000 1.066z' fill='%23fff'/%3E%3Cpath d='M19.204 8.8h8.53a.533.533 0 000-1.067h-8.53a.533.533 0 000 1.067z' fill='%23fff'/%3E%3Cg%3E%3Cpath d='M27.735 23.2h-8.531a.533.533 0 000 1.067h8.53a.533.533 0 000-1.067z' fill='%23fff'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M12.107 19.893a.533.533 0 00-.754 0l-2.822 2.822-2.822-2.822a.533.533 0 00-.754.754l2.822 2.822-2.822 2.822a.533.533 0 10.754.754l2.822-2.822 2.822 2.822a.531.531 0 00.754 0 .533.533 0 000-.754L9.285 23.47l2.822-2.822a.533.533 0 000-.754z' fill='%23fff'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M23.181 20.629a.534.534 0 111.068 0 .534.534 0 01-1.068 0zm2.133 0c0-.882-.717-1.6-1.6-1.6-.882 0-1.599.718-1.599 1.6 0 .882.717 1.6 1.6 1.6.882 0 1.6-.718 1.6-1.6z' fill='%23fff'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M23.715 27.201a.534.534 0 110-1.067.534.534 0 010 1.067zm0-2.132c-.883 0-1.6.717-1.6 1.6 0 .881.717 1.599 1.6 1.599.882 0 1.6-.718 1.6-1.6 0-.882-.718-1.6-1.6-1.6z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E"); }
  .fp-viewing-s1 #top .icon--calculator,
  .fp-viewing-s1 #top .icon--favorites {
    color: #fff; }
  .fp-viewing-s1 #top .bginput .icon--magnifier {
    color: #363636; }
  @media (max-width: 800px) {
    .fp-viewing-s1 #top .icon--hamburger,
    .fp-viewing-s1 #top .icon--logo,
    .fp-viewing-s1 #top .icon--whats-app,
    .fp-viewing-s1 #top .icon--magnifier {
      color: #fff; } }

.s1 {
  font-weight: 600;
  font-size: 14px; }
  @media (max-width: 800px) {
    .s1 {
      background-color: #323232; } }
  @media (max-width: 600px) {
    .s1 {
      height: 100vh;
      min-height: 568px;
      position: relative; } }
  @media (max-width: 575px) {
    .s1 {
      font-size: 13px; } }
  .s1 .fp-tableCell {
    padding-top: 0; }
  .s1 .fp-bg {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    height: 100%; }
    @media (max-width: 1050px) {
      .s1 .fp-bg {
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 800px) {
      .s1 .fp-bg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .s1 .l {
    color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px; }
    @media (max-width: 800px) {
      .s1 .l {
        color: #fff;
        z-index: 1;
        height: 100%;
        pointer-events: none; } }
    .s1 .l > div {
      max-width: 400px;
      -webkit-transform: translate(-30px, 50px);
              transform: translate(-30px, 50px); }
      @media (max-width: 1150px) {
        .s1 .l > div {
          -webkit-transform: translate(0, 50px);
                  transform: translate(0, 50px); } }
      @media (max-width: 800px) {
        .s1 .l > div {
          max-width: 500px;
          -webkit-transform: initial;
                  transform: initial;
          margin-bottom: -38px; } }
  .s1 .r {
    color: #fff;
    background-color: #323232;
    position: relative; }
    @media (max-width: 800px) {
      .s1 .r {
        position: static;
        margin-bottom: 10vh; } }
    @media (max-width: 575px) {
      .s1 .r {
        margin-bottom: 0;
        padding-bottom: 75px; } }
    .s1 .r > div:last-child {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 255px;
      height: 100%;
      margin: 0 0 0 35px;
      padding-top: 60px; }
      @media (max-width: 800px) {
        .s1 .r > div:last-child {
          padding: 0 0 10px 0;
          margin: 0;
          max-width: initial;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      @media (max-width: 575px) {
        .s1 .r > div:last-child {
          padding: 0px;
          position: static;
          background-color: black; } }
      .s1 .r > div:last-child:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50px;
        height: 100%;
        width: 255px;
        background-color: rgba(0, 0, 0, 0.5); }
        @media (max-width: 800px) {
          .s1 .r > div:last-child:before {
            content: initial; } }
  .s1 h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin: 2.5em 0;
    text-transform: uppercase; }
    @media (max-width: 1440px) {
      .s1 h1 {
        margin: 1.7em 0; } }
    @media (max-width: 800px) {
      .s1 h1 {
        font-size: 36px;
        color: #fff; } }
    @media (max-width: 575px) {
      .s1 h1 {
        font-size: 24px;
        text-align: center;
        margin: 0; } }
  .s1 p {
    font-size: 18px;
    text-transform: uppercase; }
    @media (max-width: 575px) {
      .s1 p {
        display: none; } }
  .s1 ul {
    padding: 0;
    list-style: none; }
  .s1 .s1-advantages .title,
  .s1 .s1-items .title {
    font-size: 18px;
    display: block; }
  @media (max-width: 800px) {
    .s1 .btn {
      position: absolute;
      bottom: 10vh;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }
  @media (max-width: 600px) {
    .s1 .btn {
      bottom: 80px; } }

.s1-advantages {
  margin: 30px auto 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 575px) {
    .s1-advantages {
      display: none; } }
  .s1-advantages li {
    margin-right: 40px; }
    .s1-advantages li:last-child {
      margin-right: 0; }
  .s1-advantages .title {
    color: #d55ee8;
    margin-bottom: 0.7em; }
    @media (max-width: 800px) {
      .s1-advantages .title {
        color: #fff; } }
  .s1-advantages .s1-desc {
    color: #353535;
    font-weight: 500; }
    @media (max-width: 800px) {
      .s1-advantages .s1-desc {
        color: #fff; } }

.s1-slider-imgs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
  @media (max-width: 800px) {
    .s1-slider-imgs {
      position: absolute;
      top: 0;
      border-bottom: 0;
      width: 100%;
      height: 105%;
      opacity: 0.5; } }

.s1-slide img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }
  @media (max-width: 600px) {
    .s1-slide img {
      height: 100vh;
      min-height: 568px; } }

@media (max-width: 800px) {
  .s1-items {
    margin: 0 auto 0 auto;
    text-align: center;
    width: 100vw; }
    .s1-items.slick-initialized li {
      display: block; }
    .s1-items li {
      display: none; }
      .s1-items li:first-child {
        display: block; } }

@media (max-width: 575px) {
  .s1-items {
    overflow: hidden; } }

.s1-items a {
  color: #fff;
  display: block;
  padding: 45px 0 45px 45px;
  position: relative;
  z-index: 1; }
  @media (max-width: 800px) {
    .s1-items a {
      padding: 0;
      max-width: 400px;
      margin: auto;
      padding: 30px 15px 30px 15px; } }
  @media (max-width: 575px) {
    .s1-items a {
      padding: 39px 15px 38px; } }
  .s1-items a:hover, .s1-items a:focus {
    text-decoration: none; }
  .s1-items a:hover, .s1-items a:focus, .s1-items a.isActive {
    color: #fff; }
    .s1-items a:hover:after, .s1-items a:focus:after, .s1-items a.isActive:after {
      opacity: 1; }
  .s1-items a:after {
    content: "";
    position: absolute;
    left: -45px;
    top: 0;
    z-index: -1;
    width: 340px;
    height: 100%;
    border-radius: 15px;
    background-image: -webkit-gradient(linear, right top, left top, from(#d859e7), to(#8ce0fa));
    background-image: linear-gradient(270deg, #d859e7 0%, #8ce0fa 100%);
    -webkit-box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.57);
            box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.57);
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    opacity: 0; }
    @media (max-width: 800px) {
      .s1-items a:after {
        content: initial; } }
  .s1-items a:before {
    content: "";
    position: absolute;
    left: -9px;
    top: 48px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 9.117a9 9 0 1118 0 9 9 0 01-18 0z' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath d='M0 9.117a9 9 0 1118 0 9 9 0 01-18 0z' fill='none' stroke='%23fff' stroke-miterlimit='50' stroke-width='2' clip-path='url(&quot;%23a&quot;)'/%3E%3Cg%3E%3Cpath d='M4 9.117a5 5 0 1110 0 5 5 0 01-10 0z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    width: 18px;
    height: 18px; }
    @media (max-width: 1440px) {
      .s1-items a:before {
        width: 10px;
        height: 10px;
        left: -5px; } }
    @media (max-width: 800px) {
      .s1-items a:before {
        content: initial; } }

.s1-items .title,
.s1-items .s1-desc {
  position: relative;
  white-space: pre-line; }

.s1-items .title {
  color: #fff;
  margin-bottom: 1em; }
  @media (max-width: 1440px) {
    .s1-items .title {
      font-size: 14px; } }
  @media (max-width: 800px) {
    .s1-items .title {
      font-size: 36px; } }
  @media (max-width: 575px) {
    .s1-items .title {
      font-size: 17px; } }

@media (max-width: 800px) {
  .s1-items .s1-desc {
    font-size: 18px; } }

@media (max-width: 575px) {
  .s1-items .s1-desc {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    max-width: 240px; } }

.s1-items .slick-list {
  padding: 0 100px 0 50px;
  width: 405px; }
  @media (max-width: 800px) {
    .s1-items .slick-list {
      width: initial;
      padding: initial; } }

@media (max-width: 600px) {
  .s1-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

.s1-dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px 0; }
  @media (max-width: 600px) {
    .s1-dots .slick-dots {
      margin-bottom: 25px; } }
  .s1-dots .slick-dots li {
    margin: 0 10px; }
    .s1-dots .slick-dots li.slick-active button {
      background-color: #cb70eb; }
  .s1-dots .slick-dots button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    border: 1px solid #cb70eb;
    border-radius: 50%;
    outline: none;
    background: transparent;
    padding: 0;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
    @media (max-width: 575px) {
      .s1-dots .slick-dots button {
        background-color: rgba(255, 255, 255, 0.3);
        border: none; } }
