#fullpage_welcome .section.s2 ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  #fullpage_welcome .section.s2 ul li {
    position: relative;
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    border-right: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f; }
    @media (max-width: 768px) {
      #fullpage_welcome .section.s2 ul li {
        position: static;
        display: block;
        width: 50%;
        height: 25%;
        border-bottom: 1px solid #9f9f9f !important; }
        #fullpage_welcome .section.s2 ul li:nth-child(2n+0) {
          border-right: none; }
        #fullpage_welcome .section.s2 ul li:nth-last-child(-n+2) {
          border-bottom: none !important; } }
    #fullpage_welcome .section.s2 ul li:nth-child(4n+0) {
      border-right: none; }
    #fullpage_welcome .section.s2 ul li:nth-last-child(-n+4) {
      border-bottom: none; }
    #fullpage_welcome .section.s2 ul li.item0 .i .img {
      background-image: url("/images/index/s2/1.svg"); }
    #fullpage_welcome .section.s2 ul li.item1 .i .img {
      background-image: url("/images/index/s2/2.svg"); }
    #fullpage_welcome .section.s2 ul li.item2 .i .img {
      background-image: url("/images/index/s2/3.svg"); }
    #fullpage_welcome .section.s2 ul li.item3 .i .img {
      background-image: url("/images/index/s2/4.svg"); }
    #fullpage_welcome .section.s2 ul li.item4 .i .img {
      background-image: url("/images/index/s2/5.svg"); }
    #fullpage_welcome .section.s2 ul li.item5 .i .img {
      background-image: url("/images/index/s2/6.svg"); }
    #fullpage_welcome .section.s2 ul li.item6 .i .img {
      background-image: url("/images/index/s2/7.svg"); }
    #fullpage_welcome .section.s2 ul li.item7 .i .img {
      background-image: url("/images/index/s2/8.svg"); }
    #fullpage_welcome .section.s2 ul li .i {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 180px;
      height: 100%;
      margin: auto; }
      @media (max-width: 768px) {
        #fullpage_welcome .section.s2 ul li .i {
          width: 100%;
          height: 100%; } }
      #fullpage_welcome .section.s2 ul li .i .img {
        width: 150px;
        height: 130px;
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        @media (max-width: 768px) {
          #fullpage_welcome .section.s2 ul li .i .img {
            width: 80px;
            height: 70%;
            margin: 0 auto; } }
      #fullpage_welcome .section.s2 ul li .i i {
        display: none;
        color: #fff;
        font-size: 25px;
        text-align: right;
        margin-right: 30px;
        margin-top: 15px; }
      #fullpage_welcome .section.s2 ul li .i .title {
        font-family: "MontserratBold";
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase; }
        @media (max-width: 993px) {
          #fullpage_welcome .section.s2 ul li .i .title {
            padding: 0 10px;
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            height: 30%;
            font-size: 13px;
            line-height: 15px; } }
      #fullpage_welcome .section.s2 ul li .i .img__hover {
        display: none;
        background-image: url("/images/index/s2/logotransparent.svg");
        background-size: cover;
        height: 120px;
        width: 100px;
        position: absolute;
        bottom: -30px;
        right: 0; }
    #fullpage_welcome .section.s2 ul li ul {
      display: none;
      position: relative; }
      @media (max-width: 768px) {
        #fullpage_welcome .section.s2 ul li ul {
          position: static; } }
    #fullpage_welcome .section.s2 ul li.active {
      background-color: #165ed4; }
      @media (max-width: 768px) {
        #fullpage_welcome .section.s2 ul li.active {
          height: 100%;
          width: 100%;
          position: absolute; } }
      #fullpage_welcome .section.s2 ul li.active .i {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0 30px; }
        @media (max-width: 576px) {
          #fullpage_welcome .section.s2 ul li.active .i {
            padding: 0; } }
        #fullpage_welcome .section.s2 ul li.active .i .img {
          display: none; }
        #fullpage_welcome .section.s2 ul li.active .i i {
          color: #fff;
          text-decoration: none; }
          @media (max-width: 768px) {
            #fullpage_welcome .section.s2 ul li.active .i i {
              display: block; } }
        #fullpage_welcome .section.s2 ul li.active .i .title {
          color: #FFFFFF;
          text-align: left;
          padding-bottom: 20px; }
          @media (max-width: 768px) {
            #fullpage_welcome .section.s2 ul li.active .i .title {
              display: none; } }
        #fullpage_welcome .section.s2 ul li.active .i ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 100%;
          top: auto;
          right: auto;
          bottom: auto;
          left: auto; }
          @media (max-width: 768px) {
            #fullpage_welcome .section.s2 ul li.active .i ul {
              height: 300px;
              margin-top: 60px; } }
          #fullpage_welcome .section.s2 ul li.active .i ul li {
            display: block;
            float: none;
            width: auto;
            height: auto;
            text-align: left;
            border: none;
            opacity: 0.65; }
            @media (max-width: 768px) {
              #fullpage_welcome .section.s2 ul li.active .i ul li {
                float: left;
                margin: 0 auto;
                border: none !important;
                padding: 1px 2px; } }
            #fullpage_welcome .section.s2 ul li.active .i ul li a {
              font-family: 'Montserrat';
              color: white;
              font-size: 14px;
              text-decoration: none;
              white-space: nowrap;
              display: block;
              float: left;
              clear: both; }
              @media (max-width: 993px) {
                #fullpage_welcome .section.s2 ul li.active .i ul li a {
                  font-size: 14px; } }
              @media (max-width: 768px) {
                #fullpage_welcome .section.s2 ul li.active .i ul li a {
                  font-size: 18px; } }
            #fullpage_welcome .section.s2 ul li.active .i ul li:hover {
              opacity: 1; }
              #fullpage_welcome .section.s2 ul li.active .i ul li:hover a {
                padding-left: 20px;
                position: relative;
                padding-right: 55px; }
                @media (max-width: 768px) {
                  #fullpage_welcome .section.s2 ul li.active .i ul li:hover a {
                    padding: 0;
                    position: static; } }
                #fullpage_welcome .section.s2 ul li.active .i ul li:hover a::before {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 12px;
                  width: 40px;
                  height: 1px;
                  background-color: white; }
                  @media (max-width: 993px) {
                    #fullpage_welcome .section.s2 ul li.active .i ul li:hover a::before {
                      top: 11px; } }
                  @media (max-width: 768px) {
                    #fullpage_welcome .section.s2 ul li.active .i ul li:hover a::before {
                      display: none; } }
                #fullpage_welcome .section.s2 ul li.active .i ul li:hover a::after {
                  content: '';
                  position: absolute;
                  right: -3px;
                  top: 9px;
                  width: 0;
                  height: 0;
                  border-top: 3.5px solid transparent;
                  border-left: 7px solid white;
                  border-bottom: 3.5px solid transparent; }
                  @media (max-width: 993px) {
                    #fullpage_welcome .section.s2 ul li.active .i ul li:hover a::after {
                      top: 8px; } }
                  @media (max-width: 768px) {
                    #fullpage_welcome .section.s2 ul li.active .i ul li:hover a::after {
                      display: none; } }
              @media (max-width: 768px) {
                #fullpage_welcome .section.s2 ul li.active .i ul li:hover {
                  position: static; } }
        #fullpage_welcome .section.s2 ul li.active .i .img__hover {
          display: block; }
