#fullpage_welcome .section.s4 .l {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-right: 1px solid #c6c6c6; }
  @media (max-width: 575px) {
    #fullpage_welcome .section.s4 .l {
      width: 100%;
      height: 55%;
      padding: 15px;
      border-right: none; } }
  #fullpage_welcome .section.s4 .l .bg_flex .line1 {
    font-family: 'MontserratMedium';
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 20px; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line1 {
        display: none; } }
  #fullpage_welcome .section.s4 .l .bg_flex .line2 {
    font-family: 'MontserratSemiBold';
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    padding-bottom: 50px; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line2 {
        font-family: 'Montserrat';
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 30px; } }
    @media (max-width: 375px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line2 {
        padding-bottom: 10px; } }
    #fullpage_welcome .section.s4 .l .bg_flex .line2 span {
      color: #2d70e4; }
  #fullpage_welcome .section.s4 .l .bg_flex .line3 {
    font-family: 'MontserratSemiBold';
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 50px; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line3 {
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 30px; } }
    @media (max-width: 375px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line3 {
        padding-bottom: 10px; } }
    #fullpage_welcome .section.s4 .l .bg_flex .line3 p {
      margin-bottom: 15px; }
      @media (max-width: 575px) {
        #fullpage_welcome .section.s4 .l .bg_flex .line3 p {
          margin-bottom: 5px; } }
      #fullpage_welcome .section.s4 .l .bg_flex .line3 p:last-child {
        margin-bottom: 0; }
  #fullpage_welcome .section.s4 .l .bg_flex .line4 a:first-child {
    margin-right: 10px; }
    @media (max-width: 575px) {
      #fullpage_welcome .section.s4 .l .bg_flex .line4 a:first-child {
        font-size: 10px;
        padding: 6px 20px; } }
  @media (max-width: 575px) {
    #fullpage_welcome .section.s4 .l .bg_flex .line4 a:last-child {
      display: none; } }

#fullpage_welcome .section.s4 .r {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%; }
  @media (max-width: 575px) {
    #fullpage_welcome .section.s4 .r {
      border-top: 1px solid #c6c6c6;
      top: 55%;
      width: 100%;
      height: 45%; } }
  #fullpage_welcome .section.s4 .r ul {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
    #fullpage_welcome .section.s4 .r ul li {
      display: block;
      float: left;
      width: 50%;
      height: 50%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      border-right: 1px solid #c6c6c6;
      border-bottom: 1px solid #c6c6c6;
      font-family: 'MontserratMedium';
      font-size: 14px;
      line-height: 24px; }
      #fullpage_welcome .section.s4 .r ul li:nth-child(2n+0) {
        border-right: none; }
      #fullpage_welcome .section.s4 .r ul li:nth-last-child(-n+2) {
        border-bottom: none; }
      #fullpage_welcome .section.s4 .r ul li.item0 div::before {
        content: '1'; }
      #fullpage_welcome .section.s4 .r ul li.item0 div::after {
        background-image: url("/images/index/s4/1.svg"); }
      #fullpage_welcome .section.s4 .r ul li.item1 div::before {
        content: '2'; }
      #fullpage_welcome .section.s4 .r ul li.item1 div::after {
        background-image: url("/images/index/s4/2.svg"); }
      #fullpage_welcome .section.s4 .r ul li.item2 div::before {
        content: '3'; }
      #fullpage_welcome .section.s4 .r ul li.item2 div::after {
        background-image: url("/images/index/s4/3.svg"); }
      #fullpage_welcome .section.s4 .r ul li.item3 div::before {
        content: '4'; }
      #fullpage_welcome .section.s4 .r ul li.item3 div::after {
        background-image: url("/images/index/s4/4.svg"); }
      #fullpage_welcome .section.s4 .r ul li div {
        position: relative;
        width: 330px;
        height: 172px;
        padding: 100px 0 0 80px; }
        @media (max-width: 575px) {
          #fullpage_welcome .section.s4 .r ul li div {
            width: 100%;
            height: 100%;
            padding: 10px 15px 0 70px;
            font-size: 10px;
            line-height: 13px;
            vertical-align: bottom;
            text-align: right; } }
        @media (max-width: 375px) {
          #fullpage_welcome .section.s4 .r ul li div {
            padding: 10px 15px 0 35px; } }
        #fullpage_welcome .section.s4 .r ul li div::before {
          position: absolute;
          top: 0;
          left: 0;
          font-family: 'MontserratBold';
          font-size: 230px;
          line-height: 172px;
          opacity: .08; }
          @media (max-width: 575px) {
            #fullpage_welcome .section.s4 .r ul li div::before {
              font-size: 80px;
              line-height: 80px;
              left: 15px; } }
        #fullpage_welcome .section.s4 .r ul li div::after {
          content: '';
          position: absolute;
          top: 0;
          left: 80px;
          width: 250px;
          height: 80px;
          background-repeat: no-repeat;
          background-position: left center; }
          @media (max-width: 575px) {
            #fullpage_welcome .section.s4 .r ul li div::after {
              top: 10px;
              height: 40px;
              background-size: contain;
              display: none; } }
        #fullpage_welcome .section.s4 .r ul li div img {
          position: absolute;
          top: 0;
          right: 0; }
          @media (max-width: 575px) {
            #fullpage_welcome .section.s4 .r ul li div img {
              top: auto;
              right: auto;
              left: 10px;
              bottom: 10px;
              width: 15px;
              height: 15px; } }
        #fullpage_welcome .section.s4 .r ul li div a {
          color: #2d70e4;
          text-decoration: underline; }
