#fullpage_welcome .section.s5 .empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #fullpage_welcome .section.s5 .empty .up {
    position: relative;
    width: 100%;
    height: 35%;
    background-color: #2d70e4;
    color: white;
    text-align: center;
    font-family: 'MontserratSemiBold';
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    #fullpage_welcome .section.s5 .empty .up .bg_flex .l1 {
      font-size: 26px;
      padding: 0 30% 30px; }
    #fullpage_welcome .section.s5 .empty .up .bg_flex .l2 {
      font-size: 20px;
      padding: 0 30%; }
  #fullpage_welcome .section.s5 .empty .down {
    position: relative;
    width: 100%;
    height: 65%;
    background-color: #FFF; }
    #fullpage_welcome .section.s5 .empty .down .l {
      position: relative;
      float: left;
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center; }
      #fullpage_welcome .section.s5 .empty .down .l .bg_flex {
        padding-bottom: 100px;
        width: 100%; }
        #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control {
          padding: 0 0 20px 0; }
          #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control .custom-control-label {
            text-align: center;
            width: 100%;
            padding: 0 0 34px; }
            #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control .custom-control-label::before {
              top: auto;
              left: 50%;
              bottom: 0px;
              margin-left: -8px;
              width: 16px;
              height: 16px;
              background-color: #2D70E4; }
            #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control .custom-control-label::after {
              top: auto;
              left: 50%;
              bottom: 0;
              margin-left: -8px;
              width: 16px;
              height: 16px; }
          #fullpage_welcome .section.s5 .empty .down .l .bg_flex .custom-control:last-child {
            padding: 0; }
    #fullpage_welcome .section.s5 .empty .down .c {
      position: relative;
      float: left;
      width: 50%;
      height: 100%; }
      #fullpage_welcome .section.s5 .empty .down .c .list {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 100px;
        width: 100%;
        display: flex;
        align-items: center; }
        #fullpage_welcome .section.s5 .empty .down .c .list .items {
          position: relative; }
          #fullpage_welcome .section.s5 .empty .down .c .list .items .item {
            float: left;
            width: 50%;
            cursor: default; }
            #fullpage_welcome .section.s5 .empty .down .c .list .items .item .bg {
              position: relative;
              border: 1px solid #9b9b9b;
              border-radius: 10px;
              margin: 7px 30px 7px 0;
              padding: 29px 40px 29px 20px;
              font-family: 'MontserratSemiBold';
              text-transform: uppercase;
              font-size: 16px;
              line-height: 20px;
              white-space: nowrap;
              overflow: hidden; }
              #fullpage_welcome .section.s5 .empty .down .c .list .items .item .bg i {
                position: absolute;
                right: 15px;
                top: 50%;
                font-size: 24px;
                transform: translate(0, -50%);
                background-color: white;
                cursor: pointer; }
              #fullpage_welcome .section.s5 .empty .down .c .list .items .item .bg:hover {
                color: #2d70e4;
                border: 1px solid #96b7f1; }
            #fullpage_welcome .section.s5 .empty .down .c .list .items .item.selected .bg i {
              transform: translate(0, -50%) rotate(45deg); }
      #fullpage_welcome .section.s5 .empty .down .c .button {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100px;
        padding: 0 30px 0 0; }

#fullpage_welcome .section.s5 .sravnenie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }
  #fullpage_welcome .section.s5 .sravnenie table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    font-family: 'MontserratMedium';
    font-size: 14px;
    line-height: 20px; }
    #fullpage_welcome .section.s5 .sravnenie table thead tr th {
      position: relative;
      padding: 0;
      border-right: 1px solid #ededed; }
      #fullpage_welcome .section.s5 .sravnenie table thead tr th .l {
        position: absolute;
        left: 20px;
        top: 20px;
        bottom: 20px;
        right: 51%;
        overflow: hidden; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .l img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      #fullpage_welcome .section.s5 .sravnenie table thead tr th .r {
        position: absolute;
        right: 20px;
        top: 20px;
        bottom: 20px;
        left: 51%; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .remove {
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
          height: 24px; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .remove i {
            display: block;
            font-size: 24px;
            cursor: pointer; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .title {
          position: absolute;
          left: 0;
          top: 30px;
          width: 100%;
          height: 38px;
          padding: 2px 24px 2px 0;
          font-family: 'MontserratBold';
          text-transform: uppercase;
          cursor: pointer; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .title i {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 24px; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .title .brand {
            font-size: 16px;
            line-height: 20px;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .title .model {
            font-size: 13px;
            line-height: 14px;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .link {
          position: absolute;
          left: 0;
          top: 78px;
          height: 24px;
          width: 100%; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .link i {
            font-size: 24px;
            cursor: pointer; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .button_select {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 38px;
          width: 38px;
          line-height: 38px;
          padding: 0 0 0 20px;
          background-color: #2d70e4;
          border-radius: 10px;
          color: white;
          font-size: 11px;
          font-family: 'Montserrat';
          cursor: pointer; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .button_select div.name {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th .r .button_select img {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 18px;
            height: 18px; }
      #fullpage_welcome .section.s5 .sravnenie table thead tr th:first-child {
        background-color: #2d70e4;
        border-right: none;
        width: 400px;
        text-align: center; }
        #fullpage_welcome .section.s5 .sravnenie table thead tr th:first-child img {
          height: 60px;
          margin: 80px 10px;
          opacity: 0.5;
          cursor: pointer; }
          #fullpage_welcome .section.s5 .sravnenie table thead tr th:first-child img.active {
            opacity: 1; }
      #fullpage_welcome .section.s5 .sravnenie table thead tr th:last-child {
        border-right: none; }
    #fullpage_welcome .section.s5 .sravnenie table tbody tr td {
      position: relative;
      border-top: 1px solid #ededed;
      border-right: 1px solid #ededed;
      padding: 0 30px;
      text-align: center; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td:first-child {
        border-top: 1px solid #6d9ae7;
        border-right: none;
        background-color: #2d70e4;
        color: white;
        text-align: left; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td:last-child {
        border-right: none; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td span.flag-rus {
        background-image: url("/images/index/s5/flag/rus.png");
        background-repeat: no-repeat;
        background-position: left;
        line-height: 21px;
        display: inline-block;
        padding-left: 31px; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td .info {
        position: absolute;
        right: 20px;
        top: 50%;
        width: 18px;
        height: 18px;
        margin-top: -9px;
        background-image: url("/images/index/s5/i.png");
        cursor: pointer;
        display: none; }
        #fullpage_welcome .section.s5 .sravnenie table tbody tr td .info .desc {
          position: absolute;
          width: 400px;
          line-height: 30px;
          top: 50%;
          left: 38px;
          transform: translate(0, -50%);
          padding: 40px 50px;
          background-color: rgba(0, 0, 0, 0.75);
          display: none;
          z-index: 1;
          text-decoration: none; }
        #fullpage_welcome .section.s5 .sravnenie table tbody tr td .info:hover .desc {
          display: block; }
      #fullpage_welcome .section.s5 .sravnenie table tbody tr td:hover .info {
        display: block; }
    #fullpage_welcome .section.s5 .sravnenie table tbody tr.more {
      display: none; }
    #fullpage_welcome .section.s5 .sravnenie table tfoot tr {
      height: 100px; }
      #fullpage_welcome .section.s5 .sravnenie table tfoot tr th {
        padding: 0;
        border-top: 1px solid #ededed;
        text-align: center;
        font-weight: normal; }
        #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal {
          font-size: 12px; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal span.all {
            display: block; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal span.original {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal.active span.all {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkoriginal.active span.original {
            display: block; }
        #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore {
          display: inline-block;
          position: relative;
          color: white;
          line-height: 20px;
          text-decoration: none;
          padding: 0 70px 0 0; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore i {
            content: '';
            position: absolute;
            right: 30px;
            top: 0;
            font-size: 20px; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore span.basic {
            display: block; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore span.more {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore.active span.basic {
            display: none; }
          #fullpage_welcome .section.s5 .sravnenie table tfoot tr th a.linkmore.active span.more {
            display: block; }
        #fullpage_welcome .section.s5 .sravnenie table tfoot tr th:first-child {
          border-right: none;
          border-top: 1px solid #6d9ae7;
          background-color: #2d70e4;
          color: white;
          text-align: right; }
