#company {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  .line {
    width: 100%;
    border: 1px solid #707070;
  }
}

.company-natifications {
  filter: blur(10px);
  & + .company-natification {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: block;
  }
}

.company-natification {
  display: none;
  padding: 40px 50px;
  width: 70vw;
  background: #353535;
  font-weight: 600;
  border-radius: 20px;
  font-family: Montserrat;
  color: white;
  i {
    cursor: pointer;
    float: right;
    transform: translate(20px, -15px);
  }
  h4 {
    color: white;
    font-size: 1.6rem;
    margin: 0 auto;
    text-align: center;
  }
  p {
    font-size: 1rem;
    width: 60%;
    margin: 60px auto 85px;
  }
}

.company-natification_input {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    width: calc(100% - 8vmax);
    background: none;
    border: none;
    border-bottom: 1px solid #707070;
    font-size: 2rem;
    color: white;
    &:focus {
      border: none;
      border-bottom: 1px solid white;
    }
  }
}

.company-natification-input-icon {
  width: 48px;
  height: 48px;
  padding: 3px;
  border-radius: 30%;
  background: url("/images/company/call.svg") center/50% 50% no-repeat,linear-gradient(to right, #913fd2, #e953ef);
  background-clip: content-box;
  border: 1px solid #ffffff;
}

section.company-header-section {
  padding: 7vh 7vw 2vh;
  background: #353535;
}

.company-header-section_text-block {
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  h3, h4 {
    color: white;
  }
}

.company-header {
  width: 50%;
}

.company-header_img {
  width: 35%;
  background: url("/images/company/about_company-header-img.png") center/contain no-repeat;
}

.company-header_desc {
  h3 {
    font-size: 2.3rem;
    margin-bottom: 4vh;
  }
  p {
    font-size: 14px;
		letter-spacing: 0.05em;
  }
}

.company-header_about {
  h4 {
    margin-bottom: 2vh;
    font-size: 1rem;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    line-height: 1.5rem;
		letter-spacing: 0.05em;
  }
}

.company-header_slider {
  margin-bottom: 5vh;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 25px;
    border-top: solid 1px #707070;
    border-bottom: solid 1px #707070;
  }
  .owl-stage {
    counter-reset: slider;
		padding-top: 10px;
    h5 {
      height: 60px;
      margin-top: 55px;
      color: white;
      font-size: 13px;
      &:before {
        counter-increment: slider;
        content: "0"counter(slider);
        display: block;
        position: absolute;
        top: -13px;
				font-size: 16px;
				font-family: 'MontserratSemiBold';
				letter-spacing: 0.07em;
        width: 48px;
        height: 48px;
        transition: .3s;
        line-height: 42px;
        text-align: center;
        padding: 3px;
        border-radius: 9px;
        background: #676767;
        background-clip: content-box;
        border: 1px solid #707070;
      }
    }
  }
  p {
    margin-top: 20px;
    color: white;
    font-size: 13px;
  }
  & > * {
    padding: 5px 0;
  }
}

#company .owl-item.active.center-owl {
  font-weight: 600;
  .company-slider-item {
    h5 {
      font-size: .8rem!important;
      font-weight: 600;
      &:before {
        background: linear-gradient(to right, #913fd2, #e953ef);
        background-clip: content-box;
        border: 1px solid #707070;
      }
    }
  }
}

.company-header-slider_touch-icon {
	display: none;
	height: 30px;
	width: 60px;
	margin: 20px auto 30px;
  background: url("/images/company/move.svg") center/contain no-repeat;
}

.company-header_bottom_desc {
  color: white;
  font-size: .9rem;
  line-height: 1.2rem;
  font-weight: 500;
  width: 50vw;
  margin: 0 auto;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    top: -25px;
    width: 86vw;
    left: 50%;
    transform: translateX(-50%);
    border-top: solid 1px #707070;
  }
  p {
    text-align: center;
  }
}

.company-header-bottom-desc_left {
  shape-outside: polygon(0 0, 80% 100%, 0 100%);
  float: left;
  width: 45%;
  height: 12ex;
  transform: scaleX(-1);
}

.company-header-bottom-desc_right {
  shape-outside: polygon(100% 0, 100% 100%, 20% 100%);
  float: right;
  width: 45%;
  height: 12ex;
}

.company-prostokna-section {
  padding: 45px 7vw 65px;
  width: 100%;
  background-color: #ededed;
  h3 {
    font-size: 1rem;
    color: #353535;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
  }
	h4 {
		margin-top: 30px;
		margin-bottom: 50px;
		font-size: 1.375rem;
		text-align: center;
		font-weight: 600;
	}
}

.company-prostokna-section_blocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.company-prostokna-section-block {
  width: 25vw;
  padding: 4vh 2.5vw 2vh 2.5vw;
  background: white;
  border: 1px solid #707070;
  border-radius: 20px;
  font-size: 13px;
  margin-bottom: 30px;
  h5 {
    font-size: .9rem;
    margin-bottom: 4vh;
    font-weight: 600;
  }
  ul {
    counter-reset: list;
    li {
			position: relative;
      display: block;
      overflow: hidden;
      line-height: 1.4rem;
			margin-bottom: 30px;
			padding-left: 35px;
      &:before {
				position: absolute;
				top: 0;
				left: 0;
        counter-increment: list;
        content: "0"counter(list);
        color: #353535;
        display: block;
        margin-right: 7px;
        float: left;
        font-size: 14px;
        font-weight: 600;
      }
      &:last-child {
        margin-bottom: 5vh; 
      }
    }
  }
}


.company-section-slider {
	width: 80%;
  margin: 44px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 576px){
    width: 100%;
    flex-direction: column;
  }
  a {
    display: block;
    img {
      @media screen and (max-width: 576px){
        width: 100%;        
      }      
    }
  }
}

.company-section-slider_item {
  width: 100%;
  padding: 30px;
  @media (max-width: 800px) {
    padding: 10px;
  }
	// height: 80vmin;
  // background: #535353 url("/images/intuitive/temp/3.png") center/contain no-repeat;
  img {
    cursor: pointer;
  }
}



@media screen and (max-width: 800px){

  .owl-carousel.company-section-slider {
  	width: 100%;
    margin: 44px auto;
    .owl-nav button.owl-prev {
      left: -30px;
    }
    .owl-nav button.owl-next {
      right: -30px;
    }
  }

  #company .owl-item {
    .company-slider-item {
      h5 {
        &:before {
          background: linear-gradient(to right, #913fd2, #e953ef);
          background-clip: content-box;
          border: 1px solid #707070;
        }
      }
    }
  }


  .company-natification.center {
    padding: 15px 20px;
    width: 80vw;
    i {
      float: right;
      transform: none;
    }
    h4 {
      font-size: 1.1rem;
    }
    p {
      font-size: .8rem;
      margin: 15px auto 20px;
      width: 80%;
    }
    input {
      font-size: .9rem;
    }
  }

  .company-natification-input-icon {
    width: 6vmax;
    height: 6vmax;
  }

	.company-header_slider {
		text-align: center;
		font-weight: 600;
		margin: 0 auto;
		h5 {
			font-weight: 600;
			margin-left: auto; margin-right: auto;
			width: 60%;
			&:before {
				width: 40px;
				height: 40px;
				top: -5px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		p {
			width: 60%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}
	}

	section.company-header-section {
  	padding: 7vh 0 7vh;
	}

	.company-header-section_text-block, .company-header_bottom_desc {
  	padding: 7vh 7vw 0vh; 
	}

	.company-header-slider_touch-icon {
		display: block;
	}
	
  .company-prostokna-section_blocks {
    flex-wrap: wrap;
  }

  .company-prostokna-section-block {
    width: 100%;
  }

  .company-header-section_text-block {
    flex-wrap: wrap;
  }

  .company-header {
    order: 2;
    width: 100%;
    h3 {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 5vh;
    }
    p {
      line-height: 1.7rem;
    }
  }

  .company-header_img {
    order: 1;
    height: 80vw;
    width: 100%;
    margin-bottom: 10vh;
  }

  .company-header_about {
    margin-top: 7vh;
    text-align: center;
  }

  .company-header_bottom_desc {
    width: inherit;
  }

  .company-header-bottom-desc_left, .company-header-bottom-desc_right {
    display: none;
  }

}

@media screen and (max-width: 600px) {
	.company-header_slider {
		h5 {
			width: 50%;
		}
		p {
			width: 50%;
		}
	}
}

@media screen and (min-aspect-ratio: 14/9) and (min-width: 1400px){
  .company-header_desc {
    h3 {
      margin-bottom: 8vh;
    }
    p {
      margin-bottom: 10vh;
    }
  }

  .company-header_about {
    p {
      width: 75%;
    } 
  }

  .company-header_slider {
    margin: 3vh 0;
  }
}
