
select {
    // width: 100px;
    // height: 26px;
    border: none;
    -webkit-appearance: none;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    
    background: transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    outline: 0;
    option {
        background: #3d3d3d;
        color: #000;
        padding: 5px 0;
        &:hover {
            background: #3d3d3d !important;
        }
    }
}

select::-ms-expand {
    display: none;
}
