
.modal-form {
    display: none;
    height: auto;
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    z-index: 200;
    background: rgba(0,0,0,0.7);
}

.body-modal {
    // display: block;
    display: none;
    position: relative;
    margin: 20px auto;
    background: #FFF;
    padding: 80px 60px 30px;
    width: 100%;
    min-width: 320px;
    max-width: 550px;
    font-family: 'MontserratSemiBold';
    
    i[data-El="close"] {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
    h3 {
        font-family: 'MontserratSemiBold';
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
        ~ p:first-of-type {
            font-family: 'MontserratSemiBold';
            margin-bottom: 70px;
        }
    }
    p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 34px;
        &.t-left {
            text-align: left;
        }
    }

    form {
        input {
            display: block;
            width: 100%;
            border: 1px solid rgba(0,0,0,0.2);
            -webkit-border-radius: 17px;
                    border-radius: 17px;
            padding: 13px;
            font-size: 13px;
            line-height: 15px;
            color: #000;
            outline: 0;
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder {
                color: #000;
            }
        }
        label.file {
                display: block;
                margin: 60px 0;
                width: 100%;
                border: 1px solid #4881f4;
                -webkit-border-radius: 17px;
                        border-radius: 17px;
                position: relative;
                padding: 13px;
                text-transform: uppercase;
                font-size: 13px;
                line-height: 15px;
                color: #000;
                text-align: left;
                cursor: pointer;

            input[type="file"] {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
            span {
            }
        }

        [type="submit"] {
            display: block;
            width: 100%;
            border: 1px solid #4881f4;
            -webkit-border-radius: 17px;
                    border-radius: 17px;
            padding: 13px;
            font-size: 13px;
            line-height: 15px;
            color: #fff;
            background: #4881F4;
            margin-bottom: 60px;
            cursor: pointer;
        }
    }
}