
[data-Module="group-colors"] {
    figure {
        position: relative;
        ins[data-El="color-details"] {
            display: none;
            cursor: pointer;
            position: absolute;
            left: 0;
            right: 0;
            margin: -90px auto 0;
            background: #FFF;
            padding: 10px;
            width: 230px;
            z-index: 20;
            text-align: center;
            
            i {
                width: 100%;
                height: 0;
                display: block;
                padding-top: 100%;
                margin-bottom: 10px;
            }
            b {
                font-family: 'MontserratBold';
                font-weight: normal;
                text-transform: uppercase;
                display: block;
                text-align: center;
                color: #000;
                margin-bottom: 2px;
                font-size: 14px;
                &.name-1 {}
                &.name-2 {}
                &.numb {
                    font-size: 18px;
                }
            }
            span {
                font-family: 'MontserratMedium';
                color: #000;
                font-size: 13px;
                display: inline;
                padding-top: 7px;
                padding-bottom: 7px;
                display: inline-block;
            }
        }
    }
}

[data-El="list-colors"] {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    // width: 105%;
    // height: 160px;
    // margin-left: -2.4%;
    // margin-right: -2.4%;
    width: calc(100% + 24px);
    height: 275px;
    margin-left: -12px;
    margin-right: -12px;
    @media (min-width: 1024px) {
        height: 190px;
    }
    li {
        -webkit-border-radius: 5px;
                border-radius: 5px;
        display: inline-block;
            // width: calc(16.66% - 5%);
            // height: 0;
            // padding-top: calc(16.66% - 5%);
            // margin: 2.5%;
            width: 60px;
            height: 60px;
            margin: 12px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: inset 0 0 35px rgba(0,0,0,0.2);
                box-shadow: inset 0 0 35px rgba(0,0,0,0.2);
        img {
            position: absolute;
            top: 0;left: 0;
            min-width: 100%;
            min-height: 100%;
        }
    }
    &.lines-2 {
        height: 190px;
        }
    &.items-3 {
        li {
            // width: calc(28.33% - 10px); 
            // padding-top: calc(28.33% - 10px);
            // margin: calc(2.5% + 5.0px);
        }
    }
}

[data-El="single-color"] {
    -webkit-border-radius: 5px;
                border-radius: 5px;
        background: grey;
        display: inline-block;
        width: 60px;
        height: 60px;
        vertical-align: middle;
}

[data-El="list-single-colors"] {
    display: block;
    list-style: none;
    padding: 0;
    // width: 105%;
    // margin-left: -2.5%;
    // margin-right: -2.5%;
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 20px;
    font-size: 0;
    // display: flex;
    // -webkit-justify-content: space-between;
    //         justify-content: space-between;
    a {
        -webkit-border-radius: 5px;
                border-radius: 5px;
        display: inline-block;
        // height: 0;
        // width: calc(16.66% - 5%);
        // padding-top: calc(16.66% - 5%);
        // margin: 2.5%;
            width: 60px;
            height: 60px;
            margin: 12px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: inset 0 0 35px rgba(0,0,0,0.2);
                box-shadow: inset 0 0 35px rgba(0,0,0,0.2);
        img {
            position: absolute;
            top: 0;left: 0;
            min-width: 100%;
            min-height: 100%;
        }
    }
    &.items-3 {
        a {
            // width: calc(28.33% - 10px);
            // padding-top: calc(28.33% - 10px);
            // margin: calc(2.5% + 5.0px);
        }
    }
}