

.rangeslider--horizontal {
	height: 10px;
	background: url("/images/index/s6/scale.svg");
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	-webkit-box-shadow: 0 0 0;
	        box-shadow: 0 0 0;
	.rangeslider__fill {
		background: #4B84F5;
		height: 2px;
		top: 4px;
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		top: 5px;
		background: #6c6c6c;
	}
	.rangeslider__handle {
		top: -3px;
	    border: 1px solid #fff;
	    width: 16px;
	    height: 16px;
	    position: absolute;
	    background-image: none;
	    background: #272727;
	    -webkit-border-radius: 50%;
	            border-radius: 50%;
		-webkit-box-shadow: 0 0 0;
		        box-shadow: 0 0 0;
	    &:after {
	    	width: 4px;
		    height: 4px;
		    background-image: none;
		    background: #FFF;
		    border-radius: 50%;
	    }
	}
	~ output {
		font-size: 20px;
	}
}


