@keyframes gagerPreloader {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes gagerPreloaderHide {
    0% {
        opacity: 1;
        display: block;
        z-index: 1;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
#gager {		
    .preloader {
				display: none;
        position: fixed;
        right: 0;
        left: 80px;
        top: 80px;
        height: calc(100vh - 80px);
        background-color: #353535;
        animation-name: gagerPreloaderHide;
        animation-duration: .25s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        @media (max-width: 1200px) {
            left: 0;
        }
        @media (max-width: 575px) {
            top: 50px;
            min-height: calc(100vh - 50px);
        }
        .empty {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: calc(100vw - 80px);
            text-align: center;
            @media (max-width: 1200px) {
                width: 100vw;
            }
            .title{
                font-weight: 500;
                font-size: 35px;
                text-transform: uppercase;
                color: #fff;
                padding-bottom: 250px;
            }
            ul{
                height: 24px;
                width: 96%;
                font-weight: 500;
                font-size: 22px;
                list-style: none;
                display: flex;
                justify-content: space-between;
                color: #fff;
                margin: 0 auto;
                padding: 0 10px;
                background: url("/images/gager/XDdegreeW.svg") repeat-x left bottom;
                li{
                    margin-top: -70px;
                }
                .li-5,
                .li-11{
                    display: none;
                }
            }
            .load {
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                overflow: hidden;
                animation-name: gagerPreloader;
                animation-duration: 1s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: linear;
                .full {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    width: calc(100vw - 80px);
                    text-align: center;
                    color: white;
                    background-color: #353535;
                    @media (max-width: 1200px) {
                        width: 100vw;
                    }
                    .title{
                        color: #0585FA;
                        padding-bottom: 250px;
                    }
                    ul{
                        color: #0585FA;
                        background: url("/images/gager/XDdegreeB.svg") repeat-x left bottom;
                        li{
                            margin-top: -70px;
                        }

                    }
                }
            }
        }
    }
		.gager {
			height: calc(100vh - 60px);
			min-height: calc(100vh - 60px);
			width: 100%;
			background: #F5F5F5;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media screen and (max-width: 992px){
				flex-direction: column;
				height: auto;
			}
			&-block {
				width: 55%;
				height: 100%;
				padding: 7%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				font-weight: 500;
				@media screen and (max-width: 1400px){
					padding: 4%;
					width: 50%;
				}
				@media screen and (max-width: 1200px){
					padding: 3%;
				}
				@media screen and (max-width: 992px){
					order: 1;
					width: 100%;
					height: calc(100vh - 60px);
					padding: 7%;
				}
				@media screen and (max-width: 576px){
					height: calc(100vh - 50px);
				}
				@media screen and (max-width: 340px){
					order: 1;
					width: 100%;
					height: 100vh;
					padding: 4%;					
				}
				.gager-text {
					font-size: 14px;
					@media screen and (max-width: 576px){
						font-size: 11px;
					}					
					&_big {
						font-size: 17px;
						@media screen and (max-width: 576px){
							font-size: 13px;
						}
					}
				}
			}
			&-form {
				width: 45%;
				height: 100%;
				background: #323232;
				position: relative;
				overflow: hidden;
				@media screen and (max-width: 1400px){					
					width: 50%;
				}
				@media screen and (max-width: 992px){
					order: 0;
					height: calc(100vh - 60px);
					width: 100%;					
				}
				@media screen and (max-width: 576px){
					height: calc(100vh - 50px);
				}
				.overlay {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.7);
					@media screen and (max-width: 992px){
						background: rgba(0, 0, 0, 0.8);
					}
				}
				.popup-thanks {
					display: none;
					width: 296px;
					padding: 25px;
					text-align: center;
					color: #fff;
					font-size: 13px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					background: rgba(0, 0, 0, 0.8);
					border-radius: 15px;
					z-index: 50;
					font-weight: 500;
					img {
						display: block;
						margin: 0 auto;
						margin-bottom: 25px;
					}
				}
				&_main {
					position: absolute;
					z-index: 10;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background: #2C2C2C;
					border-radius: 15px;
					padding: 15%;
					width: 85%;
					@media screen and (max-width: 992px){
						background: transparent;
						width: 65%;
						padding: 10%;			
					}
					@media screen and (max-width: 768px){						
						width: 80%;				
					}
					@media screen and (max-width: 576px){						
						width: 90%;				
					}
					.input-wrapp {
						position: relative;
						margin-bottom: 35px;
						input {
							border-radius: 50px;
							display: block;
							width: 100%;
							background: #343434;
							padding: 8px 20px;
							border: 1px solid transparent;
							transition: .25s;
							color: #fff;
							font-size: 14px;
							&:focus {
								outline: none;
								border: 1px solid #9b47e5;	
								&+label {
									transform: translateY(-32px);
								}							
							}
						}
						label {
							position: absolute;
							top: 8px;
							left: 20px;
							color: #7A7A7A;
							pointer-events: none;
							font-size: 14px;
							transition: .25s;
						}
					}
					.form-submit {
						display: block;
						margin: 0 auto;
						width: 100%;
						max-width: 294px;
						border-radius: 50px;
						padding: 12px 20px;
						border: none;
						color: #fff;
						font-size: 14px;
						text-transform: uppercase;
						font-weight: 600;
						margin-top: 90px;
						cursor: pointer;
						box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.57);
						background: rgba(155,71,229,1);
						background: -moz-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
						background: -webkit-gradient(left top, right top, color-stop(0%, rgba(155,71,229,1)), color-stop(100%, rgba(228,90,233,1)));
						background: -webkit-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
						background: -o-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
						background: -ms-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
						background: linear-gradient(to right, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
						@media screen and (max-width: 576px){
							font-size: 12px;
						}
					}
					.go-to {
						display: none;
						position: relative;						
						border-radius: 50px;
						padding: 12px 20px;
						text-align: center;
						color: #fff;
						text-decoration: none;
						background: #3C3C3C;
						font-size: 11px;
						font-weight: 500;
						width: 175px;
						margin: 0 auto;
						margin-top: 60px;
						&:after {
							content: '';
							background: url('/images/gager/i.svg') no-repeat center / contain;
							display: block;
							position: absolute;
							top: 50%;
							right: 10%;
							transform: translateY(-50%);
							width: 15px;
							height: 15px;
						}
						@media screen and (max-width: 992px){
							display: block;
							cursor: pointer;
						}
					}
				}
				svg {
					position: absolute;					
					top: 0;
					right: 50%;
					height: 126%;
					transform: translateX(36%);
					@media screen and (max-width: 1200px){
						height: 115%;
					}
					@media screen and (max-width: 992px){
						height: 157%;
						top: -6%;
					}
					@media screen and (max-width: 576px){
						height: 100%;
						top: 0;
					}
					.ico {
						path {
							transition: .25s;
							fill: transparent;
						}	
						&.active {
							path {
								fill: #c872eb;
							}		
						}					
					}
					.ellipse {
						stroke-dasharray: 0, 1400;
						transition: stroke-dasharray 3s linear;
						stroke-dashoffset: 195;
						stroke-width: 3.5;
					}
				}
			}
		} 
}
@media (max-width: 768px) {
    #gager{
        .preloader{
            .empty{
                .title{
                    font-size: 27px;
                }
                ul{
                    height: 29px;
                    font-size: 18px;
                    li{
                        display: none;
                    }
                    .li-1, .li-5, .li-8, .li-11, .li-14{
                        display: block;
                    }
                }
            }
        }
    }
}
@media (max-width: 420px) {
    #gager{
        .preloader{
            .empty{
                .title{
                    font-size: 18px;
                }
                ul{
                    height: 26px;
                    font-size: 16px;
                    .li-5, .li-11{
                        display: none;
                    }
                }
            }
        }
    }
}
