.content_block {
	&_flap {
		justify-content: flex-end;
		.flap {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			&__desc {
				text-align: center;
				font-family: 'MontserratSemiBold';
			}
			&__title {
				font-size: 18px;
				margin-bottom: 10px;
			}
			&__subtitle {
				font-size: 12px;
			}
			&__price {
				font-size: 12px;
			}
			.btn-more_desc_flap {
				display: none;
				@media screen and (max-width: 992px) {
					display: flex;
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
			.colors_flap {
				display: flex;
				margin-top: 50px;
				@media screen and (max-width: 992px) {
					margin-top: 0;
				}
				.colors__item {
					position: relative;
					width: 50px;
					height: 50px;
					margin: 5px;
					cursor: pointer;
					border-radius: 6px;
					@media screen and (max-width: 992px) {
						width: 40px;
						height: 40px;						
					}
					@media screen and (max-width: 576px) {
						width: 30px;
						height: 30px;						
					}
					&.active {
						&:after {
							content: '';
							display: block;
							width: 15px;
							height: 15px;
							background: url("/images/accessories/check.svg") no-repeat center / contain;
							position: absolute;
							bottom: 15%;
							right: 15%;
						}
					}
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}				
			}
			&__color__desc {
				font-family: 'MontserratSemiBold';
				margin-bottom: 132px;
				@media screen and (max-width: 992px) {
					margin-bottom: 35px;
				}
				.color__num {
					font-size: 8px;
				}
				.color__name {
					font-size: 11px;
				}
			}
			&__img {
				width: 100%;
				@media screen and (max-width: 992px) {
					width: 80%;
				}
				img {
					width: 100%;
					height: 100%;					
					object-fit: contain;
				}
			}
		}
	}	
}


.choise {
	&_flap {
		@media screen and (max-width: 992px){
			flex-basis: 27%;
		}		
	}
}
