.content_block {
	position: relative;
	flex-basis: 60%;
	height: calc(100vh - 60px);
	display: flex;
	align-items: center;
	@media screen and (max-width: 992px){
		flex-basis: 73%;
		padding-top: 50px;
	}
	@media screen and (max-width: 576px){
		position: relative;
	}
	.select_wrapp {
		position: absolute;
		top: 10%;
		left: 16%;
		width: 350px;
		display: flex;
		z-index: 10;
		@media screen and (max-width: 992px){
			top: 8%;
			left: 50%;
			transform: translateX(-50%);
		}
		@media screen and (max-width: 420px){
			width: 300px;
		}
		.select {				
			position: relative;
			width: 50%;
			height: 40px;
			margin-right: 2px;
			@media screen and (max-width: 992px){
				margin-top: 20px;
			}
			@media screen and (max-width: 576px){
				height: 34px;
			}
			&__list {
				width: 100%;
				background: #EDEDED;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 5;								
				&:after {
					content: '';
					display: block;
					width: 13px;
					height: 13px;
					background: url("/images/accessories/arrow.svg") no-repeat center / contain;
					position: absolute;
					right: 14px;
					top: 14px;
					transition: transform 0.3s;
					z-index: 0;
					cursor: pointer;
					@media screen and (max-width: 576px){
						top: 11px;
					}
				}
				&_brand {
					border-top-left-radius: 19px;
					border-bottom-left-radius: 19px;
					.select__item {
						&:first-child {
							border-radius: 0;
							border-top-left-radius: 19px;
							border-bottom-left-radius: 19px;
						}
						&:last-child {
							border-radius: 0;
							border-bottom-left-radius: 19px;
						}
					}
				}
				&_model {
					border-top-right-radius: 19px;
					border-bottom-right-radius: 19px;
					.select__item {
						&:first-child {
							border-radius: 0;
							border-top-right-radius: 19px;
							border-bottom-right-radius: 19px;
						}
						&:last-child {
							border-radius: 0;
							border-bottom-right-radius: 19px;
						}
					}
				}
				&.active {
					.select__item {
						border-top: 1px solid darken(#EDEDED, 5%);
						&:first-child {
							border-top: none;
							border-bottom-right-radius: 0;
							border-bottom-left-radius: 0;
						}
					}
					&:after {
						transform: rotate(180deg);
					}
				}
			}
			&__item {
				display: none;
				text-align: center;
				width: 100%;
				padding: 11px 0;
				font-size: 12px;
				font-weight: 600;
				text-transform: uppercase;
				transition: background-color .3s;
				background-color: transparent;					
				cursor:pointer;
				@media screen and (max-width: 576px){
					padding: 8px 0;
				}
				&:first-child {
					border-top: none;
					border-radius: 19px;
					border-top-right-radius: 19px;
					border-top-left-radius: 19px;
				}									
				&:last-child {
					border-bottom-right-radius: 19px;
					border-bottom-left-radius: 19px;
				}									
				&.active {
					display: block;						
				}					
				&:hover {
					background-color: darken(#EDEDED, 5%);
				}
			}
		}
	}
	.settings{
		&__handle {
			width: 25%;
			flex-grow: 0;
			height: 100%;
			@media screen and (max-width: 576px){
				position: absolute;
			}
		}
		.colors {		
			&_handle {
				position: absolute;
				top: 56%;
				left: 17%;
				transform: translateY(10%);
				width: 200px;
				z-index: 5;
				@media screen and (max-width: 1200px){
					width: 180px;
					top: 50%;
				}
				@media screen and (max-width: 992px){
					width: 150px;
					height: 100px;
					display: flex;
				}
				@media screen and (max-width: 576px){
					width: 118px;
					height: 100px;
					margin-top: 0;
					left: 60%;
				}
				.colors__item {
					width: 24%;
					@media screen and (max-width: 992px){
						width: 40px;
					}
					@media screen and (max-width: 768px){
						width: 30px;
					}
					@media screen and (max-width: 576px){
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}
	.result {
		&_handle {
			flex-grow: 2;
			flex-basis: auto;
			height: 100%;
			@media screen and (max-width: 992px){
				flex-grow: 0;
				flex-basis: 72%;
			}			
			@media screen and (max-width: 576px){
				flex-basis: 100%;
			}			
			.result__desc {
				position: absolute;
				top: 30%;
				left: 60%;
				transform: translateY(-50%);
				width: 245px;
				padding: 20px;
				border-radius: 6px;
				background: #ECECEC;
				box-shadow: 0 0 0 15px rgba(#ECECEC, .6);
				font-weight: 600;
				@media screen and (max-width: 1200px){
					top: 30%;
				}
				@media screen and (max-width: 992px){
					top: 40%;
					left: 10%;
				}
				@media screen and (max-width: 768px){
					padding: 15px;
					box-shadow: 0 0 0 10px rgba(#ECECEC, .6);
					width: 200px;
				}
				@media screen and (max-width: 576px){
					width: 170px;
					padding: 10px;
				}
				@media screen and (max-width: 420px){
					left: 10%;
				}
				.result__title {
					font-size: 18px;
					@media screen and (max-width: 768px){
						font-size: 16px;
					}
				}
				.result__subtitle {
					font-size: 12px;
					@media screen and (max-width: 768px){
						font-size: 10px;
					}
				}
				.result__num {
					font-size: 13px;
					margin-top: 10px;
					@media screen and (max-width: 768px){
						font-size: 11px;
						margin-top: 5px;
					}
				}
				.result__color {
					font-size: 12px;
					@media screen and (max-width: 768px){
						font-size: 10px;
					}
				}
			}
		}
		.window {
			&_handle {			
				width: 85%;
    		left: 55%;
				@media screen and (max-width: 1200px){
					width: 115%;
				}
				@media screen and (max-width: 992px){
					width: 80%;
					left: -5%;
				}
				@media screen and (max-width: 576px){
					width: 70%;
				}
				@media screen and (max-width: 440px){
					width: 100%;
				}
			}
		}
		.texture {
			&_handle {			
				top: 59%;
				left: 87%;
				width: 32%;
				@media screen and (max-width: 1200px){
					left: 97%;
					width: 40%;
				}
				@media screen and (max-width: 992px){
					left: 74%;
					top: 61%;
    			width: 25%;
				}
				@media screen and (max-width: 576px){
					left: 70%;
    			width: 20%;
				}
				@media screen and (max-width: 440px){
					left: 80%;
    			width: 30%;
				}
			}
		}
	}
}


.choise {
	&_handle {
		@media screen and (max-width: 992px){
			flex-basis: 27%;
		}		
	}
}
