.content_windowsill {
	padding-left: 200px;
	@media screen and (max-width: 1200px) {
		padding-left: 180px;
	}
	@media screen and (max-width: 992px) {
		padding-left: 0;
		height: auto;
	}
	.content_block_windowsill {
		flex-basis: 100%;
		@media screen and (max-width: 992px) {
			flex-direction: column;
			height: auto;
		}
	}
	.settings_windowsill {
		flex-basis: 20%;
		min-width: 235px;
		height: 100%;
		justify-content: flex-start;		
		flex-direction: column;
		border-left: 1px solid #C1C1C1;
		border-right: 1px solid #C1C1C1;
		@media screen and (max-width: 992px) {
			order: 1;
			flex-direction: row;
		}
		@media screen and (max-width: 576px) {
			position: relative;
			width: 100vw;
			margin-top: 0;
		}
		.select_wrapp {
			position: relative;
			top: 0;
			left: 0;
			width: 90%;
			display: flex;
			z-index: 10;
			flex-basis: 200px;
			align-items: center;
			@media screen and (max-width: 1200px) {
				flex-basis: 100px;
			}
			@media screen and (max-width: 992px) {
				position: absolute;
				top: 20px;
				left: 50%;
				width: 300px;
			}
			@media screen and (max-width: 576px) {
				position: absolute;
				top: 0;
				left: 50%;
				width: 300px;
				transform: translate(-50%,-50%);
			}
			.select {
				margin-top: 0;
				.select__list {
					border-radius: 0;
				}
				.select__list_brand {
					border-top-left-radius: 19px;
					border-bottom-left-radius: 19px;
				}
				.select__list_model {
					border-top-right-radius: 19px;
					border-bottom-right-radius: 19px;
				}
			}			
		}
		.windowsill__list {
			flex-basis: 70%;
			overflow-y: scroll;
			width: 90%;
			padding-right: 10px;
			@media screen and (max-width: 1200px) {
				flex-basis: 80%;
			}
			@media screen and (max-width: 992px) {
				display: flex;
				overflow-y: visible;
				overflow-x: scroll;
				flex-basis: 100%;
				width: 100vw;
				padding-right: 0;
				padding-top: 25px;				
				padding-bottom: 25px;
				border-top: 1px solid #707070;
			}
			&::-webkit-scrollbar { 
				width: 5px;
				height: 5px;
			}
			&::-webkit-scrollbar-track {
					margin-bottom: 20px;
					border-radius: 5px;
					background: #cfcfcf;					
			}
			/* Handle */
			&::-webkit-scrollbar-thumb {
					background: #a0a0a0;
					border-radius: 5px;
			}
			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
					background: darken(#a0a0a0, 10%);
			}
			.windowsill__item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 25%;
				@media screen and (max-width: 992px) {
					min-width: 250px;
				}
				img {
					width: 50%;
				}
				.desc {
					font-family: 'MontserratSemiBold';
					width: 40%;
					@media screen and (max-width: 1400px){
						width: 45%;
					}

					.title {
						font-size: 13px;
						margin-bottom: 15px;
					}
					.num {
						font-size: 8px;
					}
					.text {
						font-size: 11px;
					}
				}				
			}
		}
	}
	.result_windowsill {
		flex-basis: 55%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (max-width: 992px) {
			order: 0;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.btn-more_desc-sill {
			display: none;
			@media screen and (max-width: 992px) {
				display: flex;
				margin-top: 20px;
				margin-bottom: 25px;
			}
		}
		.title_block {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			flex-basis: 123px;
			font-family: 'MontserratSemiBold';
			@media screen and (max-width: 1200px) {
				flex-basis: 75px;
			}
			@media screen and (max-width: 992px) {
				display: none;
			}
			.sill_title {
				font-size: 18px;				
			}
			.sill_subtitle {
				font-size: 12px;
			}
		}
		.sill_price {
			font-size: 13px;
			font-family: 'MontserratSemiBold';
		}
		.sill_color {
			margin-top: 50px;
			font-family: 'MontserratSemiBold';
			@media screen and (max-width: 1200px) {
				margin-top: 25px;
			}
			@media screen and (max-width: 992px) {
				position: absolute;
				top: 30%;
				left: 20px;
				transform: translateY(-50%);
			}
			img {
				@media screen and (max-width: 1200px) {
					width: 70%;
				}
				@media screen and (max-width: 992px) {
					width: 50%;
				}
			}
			.color_num {
				font-size: 9px;
				margin-top: 7px;
			}
			.color_name {
				font-size: 11px;
			}
		}
		.sill_result {
			position: relative;
			width: 70%;
			flex-grow: 2;
			@media screen and (max-width: 1400px) {
				width: 80%;
			}
			@media screen and (max-width: 992px) {
				flex-grow: 0;
				width: 50%;
			}
			.plus {
				position: absolute;
				top: 42%;
				left: 70%;
				width: 24px;
				height: 24px;
				text-align: center;
				line-height: 21px;
				border-radius: 50%;
				background: #fff;
				font-size: 16px;
				box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.6);
				cursor: pointer;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		.sill_text {
			flex-grow: 1;
			width: 70%;
			text-align: center;
			font-size: 12px;
			font-family: 'MontserratMedium';
			@media screen and (max-width: 1400px) {
				width: 80%;
			}
			@media screen and (max-width: 992px) {
				display: none;
			}
		}
	}
	.choise_windowsill {
		position: relative;
		flex-basis: 30%;
		height: 100%;
		border-left: 1px solid #C1C1C1;
		display: flex;
		align-content: flex-end;
		@media screen and (max-width: 992px) {
			order: 2;
		}
		@media screen and (max-width: 576px) {
			display: block;
		}
		.sill-arrow {
			display: none;
			@media screen and (max-width: 576px) {
				display: block;
				text-align: center;
				padding-top: 20px;
				padding-bottom: 20px;
			}
			.arrow {
				cursor: pointer;
			}
		}
		&:after {
			content: '';
			display: block;
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background: #c1c1c1;
			@media screen and (max-width: 992px) {
				display: none;
			}
		}
		.sill-gamma {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			overflow-y: scroll;
			margin-top: 50px;
			@media screen and (max-width: 992px) {
				margin-top: 0;
				width: 100vw;
				height: 300px;
			}
			&::-webkit-scrollbar { 
				width: 5px;
			}
			&::-webkit-scrollbar-track {
					border-radius: 5px;
					background: #cfcfcf;					
			}
			/* Handle */
			&::-webkit-scrollbar-thumb {
					background: #a0a0a0;
					border-radius: 5px;
			}
			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
					background: darken(#a0a0a0, 10%);
			}		
			.gamma__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 50%;
				padding-top: 30px;
				padding-bottom: 20px;
				border-bottom: 1px solid #c1c1c1;
				@media screen and (max-width: 992px) {
					width: 33.33%;
					border-bottom: 0;
					border-bottom: 1px solid #c1c1c1;
					border-right: 1px solid #c1c1c1;
				}
				@media screen and (max-width: 576px) {
					width: 50%;
					border-bottom: 1px solid #c1c1c1;
					border-right: 1px solid #c1c1c1;
				}
				.sill_color {
					font-family: 'MontserratSemiBold';
					img {
						width: 50%;
					}
					.color_num {
						font-size: 9px;
						margin-top: 7px;
					}
					.color_name {
						font-size: 11px;
					}
				}
				.sill {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
				.star {

				}
			}
		}
	}
}