extends ../layouts/app

block content
    #products.ppage
        ul
            each product in products
                li
                    a(href="/product/"+product.sProductURI) #{product.sBrandTitle} #{product.brand.sBrandTitle} #{product.sProductTitle}
