.product
    include submenu
    .product__main
        .product__sidebar.sidebar
            .sidebar__head
                .sidebar__icons
                    a.sidebar__icon.sidebar__icon_window(href="javascript:void(0)")
                        img(src='/images/product/window-icon.svg', alt='window-icon')
                    a.sidebar__icon.sidebar__icon_hamburget.submenu-open(href="javascript:void(0)")
                        img(src='/images/product/hamburger.svg', alt='hamburger')
                .sidebar__title REHAU
                .sidebar__subtitle BLITZ/NEW
            a.product__phone.product__phone_hide-md(href="javascript:void(0)")
                img(src='/images/product/phone.svg', alt='Phone')
        .product__content
            .product__block
                include statistic
            .product__block
                include colors
            .product__block
                .product__info
                    .product__description
                        strong Rehau Blitz New<br><br>
                        p Система Rehau Blitz в свое время была одной из наиболее востребованных в сегменте профилей эконом-класса. Но ей на смену был разработан профиль Rehau Blitz New — в конструкцию были внесены изменения, направленные, в первую очередь, на улучшение теплотехнических характеристик.
                        strong Рабочие характеристики профиля Blitz New от Rehau<br><br>
                        p Rehau Blitz New – новая разработка компании Rehau, призванная обеспечить хорошее энергосбережение даже при использовании недорогого профиля. Для трехкамерной системы с монтажной глубиной в 60 мм характерен показатель сопротивления теплопередаче на уровне 0,70 м2°C/Вт — это значение выше, чем у большинства профильных систем такого класса.
                        p Окна, изготовленные на базе Rehau Blitz New, получаются практически полностью герметичными. Плотный прижим обеспечивается продуманной геометрией рамы и створки, а также двумя контурами уплотнения со вставками из эластичных полимеров – защита от пыли, влаги и сквозняков получается эффективной. <br> Понравится профиль Rehau Blitz New и тем, кто любит естественное освещение. Высота профильной системы уменьшена до 105 мм, так что рамы и створки получаются уже, чем при использовании стандартного профиля, в результате окно пропускает примерно на 10-12 % больше света и это особенно хорошо видно при остеклении проемов с большой площадью.
                        p Rehau Blitz New, как и другие системы от этого производителя, отличается также высокой экологичностью. При производстве пластиковых деталей используется максимально безопасный ПВХ, не содержащий кадмия (крайне токсичный тяжелый металл, который может входить в состав ПВХ), потому и окна на базе этого профиля можно использовать без ограничений!
                        strong Область применения Rehau Blitz New<br><br>
                        p Компания «Просто окна» применяет профильную систему Rehau Blitz New для изготовления самых разных конструкций.
                        p Профиль задействуется для остекления:
                        ul
                            li балконов и лоджий;
                            li террас, беседок и других аналогичных объектов;
                            li загородных домов (как летних, так и предназначенных для круглогодичного проживания);
                            li квартир и т. д.
                        p Популярность системы Rehau Blitz New обуславливается не только его эксплуатационными преимуществами. Использование этого профиля позволяет делать очень эстетичные окна: строгие формы с внутренней стороны позволяют конструкции вписаться в любой интерьер, а скошенный наплав снаружи делает Rehau Blitz New украшением любого фасада.  Если же возникает необходимость, то окна могут быть изготовлены не только в белом цвете: компания «Просто окна» предлагает обширную палитру ламинации, которая значительно разнообразит спектр дизайнерских решений. <br> Rehau Blitz New – это профильная система, которая относится к эконом-сегменту лишь формально, а по эксплуатационным характеристикам и по внешнему виду она превосходит многие другие решения.
                    img.product__window_static(src='/images/product/window_static.png', alt='Window static')
                    button.product__submit ДОБАВИТЬ В КАЛЬКУЛЯТОР