extends ../layouts/app

block content
    #wiki_article.ppage
        .list
            a.back(href="/wiki")
                i.material-icons keyboard_arrow_left
                span Назад к списку статей
            ul
                - var n = 0
                while n < 10
                    - n++
                    li
                        .num 01
                        .data
                            .title Особые стекла для пластиковых окон пластиковых
                            a(href="/wiki/article") Перейти к статье
        .article
            h1 MONTBLANC THERMO
            p MONTBLANC — бренд профилей ПВХ, появившийся на отечественном рынке оконных конструкций в 2001 году, что позволяет его назвать относительно молодым. Тем не менее, профили, выпущенные под этой маркой, пользуются высокой популярностью, а сам бренд продолжает активно развиваться.
            p Компания СТЛ Экструзия – правообладатель торговой марки МОНБЛАН. Сейчас Группа компаний СТЛ насчитывает 4 завода и является одним из крупнейших производителей ПВХ-продукции в России. В линейке профильных систем Монблан представлено более  100 наименований продукции:  профильные системы от 3-х до 6-ти камер для оконных и дверных блоков с различной  монтажной шириной, подоконники от 100 до 1000 мм с шагом нарезки через 50мм
            p Линейка оконных и дверных профилей позволяет выполнять строительные заказы различной сложности. Система логистики и инновационные технологии максимально отвечают потребностям рынка. В основе концепции лежит стремление к постоянному совершенствованию качества выпускаемой продукции.
            p Для производства ПВХ профилей Montblanc используется только новейшее оборудование и качественное сырье, что становится залогом прекрасных потребительских свойств продукции. Montblanc строго следит за соответствием изготовляемых профилей заявленному качественному уровню. Результатом этого становится высокая надежность производимых профильных систем. Заботясь о том, чтобы совместная работа была не только выгодной, но и удобной для партнеров, Montblanc является поставщиком, изначально нацеленным на долговременное сотрудничество. Для конечного потребителя Montblanc является синонимом высокого качества, надежности и долговечности. Такая репутация на рынке способствует развитию бренда — объемы производства и ассортимент профилей Montblanc постоянно расширяются, а эксплутационные характеристики совершенствуютсяdictum eget. Vivamus vehicula  nibh ut dolor blandit, a tincidunt neque aliquet. Fusce augue mauris, interdum ac velit  et, dapibus mattis ipsum. Vivamus sollicitudin dolor quis nunc tincidunt congue.  Nullam id arcu eu orci molestie tincidunt. Aliquam sodales tellus vel mattis varius.  Vestibulum gravida justo non turpis ultricies pretium eu quis lorem. Orci varius natoque  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce risus libero,  varius ut porta ut, dictum a ex. Proin lectus eros, consectetur sit amet posuere sed,  auctor id.
            img(src="/images/wiki/slide.png", alt="слайд")
            p MONTBLANC — бренд профилей ПВХ, появившийся на отечественном рынке оконных конструкций в 2001 году, что позволяет его назвать относительно молодым. Тем не менее, профили, выпущенные под этой маркой, пользуются высокой популярностью, а сам бренд продолжает активно развиваться.
            p Компания СТЛ Экструзия – правообладатель торговой марки МОНБЛАН. Сейчас Группа компаний СТЛ насчитывает 4 завода и является одним из крупнейших производителей ПВХ-продукции в России. В линейке профильных систем Монблан представлено более  100 наименований продукции:  профильные системы от 3-х до 6-ти камер для оконных и дверных блоков с различной  монтажной шириной, подоконники от 100 до 1000 мм с шагом нарезки через 50мм
            p Линейка оконных и дверных профилей позволяет выполнять строительные заказы различной сложности. Система логистики и инновационные технологии максимально отвечают потребностям рынка. В основе концепции лежит стремление к постоянному совершенствованию качества выпускаемой продукции.
            p Для производства ПВХ профилей Montblanc используется только новейшее оборудование и качественное сырье, что становится залогом прекрасных потребительских свойств продукции. Montblanc строго следит за соответствием изготовляемых профилей заявленному качественному уровню. Результатом этого становится высокая надежность производимых профильных систем. Заботясь о том, чтобы совместная работа была не только выгодной, но и удобной для партнеров, Montblanc является поставщиком, изначально нацеленным на долговременное сотрудничество. Для конечного потребителя Montblanc является синонимом высокого качества, надежности и долговечности. Такая репутация на рынке способствует развитию бренда — объемы производства и ассортимент профилей Montblanc постоянно расширяются, а эксплутационные характеристики совершенствуютсяdictum eget. Vivamus vehicula  nibh ut dolor blandit, a tincidunt neque aliquet. Fusce augue mauris, interdum ac velit  et, dapibus mattis ipsum. Vivamus sollicitudin dolor quis nunc tincidunt congue.  Nullam id arcu eu orci molestie tincidunt. Aliquam sodales tellus vel mattis varius.  Vestibulum gravida justo non turpis ultricies pretium eu quis lorem. Orci varius natoque  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce risus libero,  varius ut porta ut, dictum a ex. Proin lectus eros, consectetur sit amet posuere sed,  auctor id.
