extends ../layouts/app

block content
    #wiki_catalog.ppage
        ul
            li
                .num 01
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
            li
                .num 02
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
            li
                .num 03
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
            li
                .num 04
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
            li
                .num 05
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
            li
                .num 06
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
            li
                .num 07
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
            li
                .num 08
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
            li
                .num 09
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
            li
                .num 10
                .item
                    .title Особые стекла для пластиковых окон ПВХ
                    .desc Стеклопакет – важнейший элемент ПВХ окна. От его качества зависят ведущие свойства окна из пластика в целом – шумоизоляция, параметры сохранения тепла в жилище и даже безопасность проживающих в помещении. Чтобы пластиковые окна ПВХ
                    a.open(href="/wiki/article") Перейти к статье
