extends ../layouts/app

block content
    #wiki_catalog.ppage
        .hamburger
            .hamburger-box
                .hamburger-inner
        ul
            include catalog_list.pug
        .more
            a.load(href="#") Загрузить еще
