extends ../../layouts/app

block content
  #cheaper-together.ppage
    section.more-low
      .container.more-low_top
        .row
          .title.col-lg-12 
            span вместе еще дешевле
          .pre-title.col-lg-12 
            span Как это работает: 
          .pre-pre-title.col-lg-12 
            span Все хотят купить окна как можно дешевле, в том числе ваши соседи и знакомые.<br> Объединяйтесь и сэкономьте еще больше!
        .row
          .col-lg-10.container_people
            .img_container  
              .image_peopl        
                img(src="/images/company/innovation/two.png")
              .img_window_container
                .img_window_item
                  img(src="/images/company/innovation/window.png")
                .img_window_item
                  img(src="/images/company/innovation/window.png")
                .img_window_item
                  img(src="/images/company/innovation/window.png")
            .img_container
              .add
                img(src="/images/company/innovation/add.png")
            .img_container
              .image_peopl
                img(src="/images/company/innovation/man.png")
              .img_window_container
                .img_window_item
                  img(src="/images/company/innovation/window.png")
                .img_window_item
                  img(src="/images/company/innovation/window.png")
            .img_container
              .add
                img(src="/images/company/innovation/add.png")
            .img_container
              .image_peopl
                img(src="/images/company/innovation/famaly.png")
              .img_window_container
                .img_window_item
                  img(src="/images/company/innovation/window.png")
                .img_window_item
                  img(src="/images/company/innovation/window.png")
                .img_window_item
                  img(src="/images/company/innovation/window.png")
                .img_window_item
                  img(src="/images/company/innovation/window.png")
            .img_container
              .add
                img(src="/images/company/innovation/add.png")
            .img_container
              .image_peopl
                img(src="/images/company/innovation/girl.png")
              .img_window_container
                .img_window_item
                  img(src="/images/company/innovation/window.png")
                .img_window_item
                  img(src="/images/company/innovation/window.png")
            .img_container.tablet
              .add
                img(src="/images/company/innovation/ravn.png")
            .img_container.tablet
              .sale_img
                img(src="/images/company/innovation/sale.png")
            .img_container.tablet
              .sale_text
                p от <span class="sale">1% </span> до <span class="sale">5% </span>
                span дополнительно за весь заказ на опт  
            .img_container.tablet
              button.sale_btn Подробнее      
      .container.more-low_bottom
        .row
          .pre-title.more.col-lg-12 
            span Подробнее:
          .col-lg-12.number-container
            .number_items
              .number_img
                img(src="/images/company/innovation/on.png")
              .number_nm
                span 01
              .number_text
                span <b> Получайте скидку за объём от 1 до 5%</b> на Просто Окна, которые и без того стоят дешево. Оптом всегда дешевле!
            .hr
              hr
            .number_items
              .number_img
                img(src="/images/company/innovation/tw.png")
              .number_nm
                span 02
              .number_text
                span Экономьте на вызове замерщика. Вызывайте замерщика вместе с соседом или знакомым. Тогда вызов будет стоить для Вас не 700 рублей, а всего 350 (из расчета 700/2=350). А если разделить эту сумму на четверых?
            .hr
              hr
            .number_items
              .number_img
                img(src="/images/company/innovation/fr.png")
              .number_nm
                span 03
              .number_text 
                span Сэкономьте на установке.
                span Монтажники сделают вам скидку за то, что им не придётся торчать в пробках, теряя время на разъезды по разным заказам. Каждый квадратный метр обойдется Вам дешевле на 30 рублей при монтаже от 4-х окон (включительно), и на 50 рублей – при установке от 6-х окон (включительно).
            .hr
              hr
            .number_items
              .number_img
                img(src="/images/company/innovation/for.png")
              .number_nm
                span 04
              .number_text
                span Экономьте ещё больше – устанавливайте окна самостоятельно. Пройдите коллективное обучение монтажу по фиксированной цене: 700* руб/м2* при монтаже окна и 400* руб за погонный метр при монтаже откосов. Монтажники приедут и, на примере одного окна, подробно расскажут и покажут, как правильно производить установку. Знания получаете индивидуальные, а вот затраты – общие.
            .hr
              hr
            .number_items.last
              .number_img
                img(src="/images/company/innovation/all.png")
              .number_nm
                span 05
              .number_text
                span Экономьте свое время! Приобретите монтажный набор у нас, и Вам не придется бегать по магазинам в поисках расходных материалов, да еще и переплачивать за них.
    section.more-low.more-low_bot
      .container.more-low_top
        .row
          .title.col-lg-12.tablet 
            span вместе еще дешевле
          .img_container.tablet.col-lg-12
              button.sale_btn Описание
          .pre-pre-title.col-lg-12 
            span.pre-pre-title_one Все хотят купить окна как можно дешевле, в том числе ваши соседи и знакомые.<br>
            span.pre-pre-title_two Объединяйтесь и сэкономьте еще больше!
      .owl-carousel.owl-theme.col-lg-12.p-0.tabs.loop#cheaper
        div.opasity
          .number_nm.op
            span 01
          hr
          .number_img
            .line_vert
            img(src="/images/company/innovation/on.png")
        div.opasity
          .number_nm
            span 02
          hr
          .number_img
            .line_vert
            img(src="/images/company/innovation/tw.png")
        div.opasity
          .number_nm
            span 03
          hr
          .number_img
            .line_vert
            img(src="/images/company/innovation/fr.png")
        div.opasity
          .number_nm
            span 04
          hr
          .number_img
            .line_vert
            img(src="/images/company/innovation/for.png")
        div.opasity
          .number_nm
            span 05
          hr
          .number_img
            .line_vert
            img(src="/images/company/innovation/all.png")
      .description_container
        .description_item
          span.description_head Получайте скидку за объём от 1 до 5%
          .description_body
            p  Получайте скидку за объём от 1 до 5%
            p  на Просто Окна, которые и без того стоят дешево. Оптом всегда дешевле!
        .description_item
          span.description_head Экономьте на вызове замерщика
          .description_body
            p  Экономьте на вызове замерщика
            p  Вызывайте замерщика вместе с соседом или знакомым. Тогда вызов будет стоить для Вас не 700 рублей, а всего 350 (из расчета 700/2=350).
            span А если разделить эту сумму на четверых?
        .description_item
          span.description_head Сэкономьте на установке.
          .description_body
            p  Сэкономьте на установке.
            p  Монтажники сделают вам скидку за то, что им не придётся торчать в пробках, теряя время на разъезды по разным заказам. Каждый квадратный метр обойдется Вам дешевле на 30 рублей при монтаже от 4-х окон (включительно),
            span и на 50 рублей – при установке от 6-х окон (включительно)
        .description_item
          span.description_head Экономьте ещё больше 
          .description_body
            p  Экономьте ещё больше - 
            p  устанавливайте окна самостоятельно. Пройдите коллективное обучение монтажу по фиксированной цене: 700* руб/м2* при монтаже окна и 400* руб за погонный метр при монтаже откосов. Монтажники приедут и, на примере одного окна, подробно расскажут и покажут, как правильно производить установку. 
            span Знания получаете индивидуальные, а вот затраты – общие.
        .description_item
          span.description_head Экономьте свое время! 
          .description_body
            p  Экономьте свое время! 
            p  Приобретите монтажный набор у нас, и Вам не придется бегать по магазинам в поисках расходных материалов, 
            span да еще и переплачивать за них.
      .tel_cont
        img(src="/images/company/innovation/tel.png")
