#options.ppage
	section.fittings
		.menu_fittings.menu
			.menu__head
				.menu__icons
					a.menu__icon.menu__icon_handle(href="#")
						img(src='/images/options/handle.svg', alt='icon')
					a.menu__icon.menu__icon_burger(href="#")
						img(src='/images/options/hamburger.svg', alt='burger-icon')
				p.menu__title Ручки				
			.call_back
				img(src='/images/options/phone.svg', alt='phone')
		.fittings__main
			.fittings__window
				.fittings__example
					img.window(src='/images/options/window.svg', alt='window')
					img.handle(src='/images/options/handle-1.svg', alt='MONTBLANC')
					.fittings__option
				.fittings__colors
					.fittings__color.fittings__color_1
					.fittings__color.fittings__color_2
					.fittings__color.fittings__color_3
					.fittings__color.fittings__color_4
					.fittings__color.fittings__color_5
					.fittings__color.fittings__color_6
					.fittings__color.fittings__color_7
					.fittings__color.fittings__color_8
					.fittings__color.fittings__color_9
			.fittings__choise
				.fittings__circles
					span.fittings__circle.deg0
					span.fittings__circle.deg45
					span.fittings__circle.deg90
					span.fittings__circle.deg135
					span.fittings__circle.deg180
					span.fittings__circle.deg225
					span.fittings__circle.deg270
					span.fittings__circle.deg315
	section.curtains
		.menu_curtains.menu
			.menu_head
				.menu__icons
					a.menu__icon.menu__icon_handle(href="#")
						img(src='/images/options/curtains.svg', alt='icon')
					a.menu__icon.menu__icon_burger(href="#")
						img(src='/images/options/hamburger.svg', alt='burger-icon')
				p.menu__title Шторы
			.call_back
				img(src='/images/options/phone.svg', alt='phone')
		.curtains__main
			.curtains__window
				.curtains__example
					img.window(src='/images/options/window-2.svg', alt='window')
					img.curtain(src='/images/options/curtain.png', alt='curtain')
			.curtains__choise
				.curtains__circles
					span.curtains__circle.deg0.active
					span.curtains__circle.deg20
					span.curtains__circle.deg40
					span.curtains__circle.deg340
					span.curtains__circle.deg320
	section.jalousie
		.menu_jalousie.menu
			.menu_head
				.menu__icons
					a.menu__icon.menu__icon_handle(href="#")
						img(src='/images/options/jalousie.svg', alt='icon')
					a.menu__icon.menu__icon_burger(href="#")
						img(src='/images/options/hamburger.svg', alt='burger-icon')
				p.menu__title Жалюзи
			.call_back
				img(src='/images/options/phone.svg', alt='phone')
		.jalousie__main
			.jalousie__window
				.jalousie__example
					img.window(src='/images/options/window-3.svg', alt='window')
					img.jalousie(src='/images/options/jalousie-wood.svg', alt='jalousie')
				.jalousie__textures
					.jalousie__texture.jalousie__texture_1
					.jalousie__texture.jalousie__texture_2
					.jalousie__texture.jalousie__texture_3
					.jalousie__texture.jalousie__texture_4
					.jalousie__texture.jalousie__texture_5
					.jalousie__texture.jalousie__texture_6
					.jalousie__texture.jalousie__texture_7
					.jalousie__texture.jalousie__texture_8
					.jalousie__texture.jalousie__texture_9
			.jalousie__choise
				.jalousie__circles
					span.jalousie__circle.deg0.active
					span.jalousie__circle.deg45.active
					span.jalousie__circle.deg315.active
