#options.ppage
	.upmenu
		.upmenu__icons
			img(src='/images/options/sub/handle.svg')
			img.upmenu__close(src='/images/options/sub/close.svg')
		.upmenu__content
			ul.upmenu__categories
				li.upmenu__category Ручки
				li.upmenu__category Шторы
				li.upmenu__category Жалюзи
				li.upmenu__category Подоконники
				li.upmenu__category Клапаны
				li.upmenu__category Москитные сетки
			ul.upmenu__brands
				li.upmenu__brand SIB
				li.upmenu__brand DELIGHT
				li.upmenu__brand BRILLIANT
				li.upmenu__brand GENEO
	section.fittings
		.menu_fittings.menu
			.menu__head
				.menu__icons
					a.menu__icon.menu__icon_handle(href="#")
						img(src='/images/options/handle.svg', alt='icon')
					a.menu__icon.menu__icon_burger(href="#")
						img(src='/images/options/hamburger.svg', alt='burger-icon')
				p.menu__title Ручки				
			.call_back
				img(src='/images/options/phone.svg', alt='phone')
		.fittings__main
			.fittings__window
				.fittings__example
					img.window(src='/images/options/window.svg', alt='window')
					img.handle(src='/images/options/handle-1.svg', alt='MONTBLANC')
					.fittings__option
				.fittings__colors
					.fittings__color.fittings__color_1
					.fittings__color.fittings__color_2
					.fittings__color.fittings__color_3
					.fittings__color.fittings__color_4
					.fittings__color.fittings__color_5
					.fittings__color.fittings__color_6
					.fittings__color.fittings__color_7
					.fittings__color.fittings__color_8
					.fittings__color.fittings__color_9
			.fittings__choise
				.fittings__circles
					span.fittings__circle.deg0
						.fittings__desc
							span.name.active Rehau
							span.price.active 375 рублей
					span.fittings__circle.deg45
						.fittings__desc
							span.name Rehau
							span.price 375 рублей					
					span.fittings__circle.deg315
						.fittings__desc
							span.name Montblan
							span.price 285 рублей
	section.curtains
		.menu_curtains.menu
			.menu__head
				.menu__icons
					a.menu__icon.menu__icon_handle(href="#")
						img(src='/images/options/curtains.svg', alt='icon')
					a.menu__icon.menu__icon_burger(href="#")
						img(src='/images/options/hamburger.svg', alt='burger-icon')
				p.menu__title Шторы
			.call_back
				img(src='/images/options/phone.svg', alt='phone')
		.curtains__main
			.curtains__window
				.curtains__example
					img.window(src='/images/options/window-2.svg', alt='window')
					img.curtain(src='/images/options/curtain.png', alt='curtain')
			.curtains__choise
				.curtains__circles
					span.curtains__circle.deg0.main
						.curtains__desc
							span.name.active SILK
							span.price.active 3375 рублей
					span.curtains__circle.deg20
						.curtains__desc
							span.name SILK CURTAINS
							span.price 3375 рублей
					span.curtains__circle.deg40
						.curtains__desc
							span.name SILK CURTAINS
							span.price 2375 рублей
					span.curtains__circle.deg340
						.curtains__desc
							span.name SILK CURTAINS
							span.price 1375 рублей
					span.curtains__circle.deg320
						.curtains__desc
							span.name SILK CURTAINS
							span.price 3375 рублей
	section.jalousie
		.menu_jalousie.menu
			.menu__head
				.menu__icons
					a.menu__icon.menu__icon_handle(href="#")
						img(src='/images/options/jalousie.svg', alt='icon')
					a.menu__icon.menu__icon_burger(href="#")
						img(src='/images/options/hamburger.svg', alt='burger-icon')
				p.menu__title Жалюзи
			.call_back
				img(src='/images/options/phone.svg', alt='phone')
		.jalousie__main
			.jalousie__window
				.jalousie__example
					img.window(src='/images/options/window-3.svg', alt='window')
					img.jalousie(src='/images/options/jalousie-wood.svg', alt='jalousie')
				.jalousie__textures
					.jalousie__texture.jalousie__texture_1
					.jalousie__texture.jalousie__texture_2
					.jalousie__texture.jalousie__texture_3
					.jalousie__texture.jalousie__texture_4
					.jalousie__texture.jalousie__texture_5
					.jalousie__texture.jalousie__texture_6
					.jalousie__texture.jalousie__texture_7
					.jalousie__texture.jalousie__texture_8
					.jalousie__texture.jalousie__texture_9
			.jalousie__choise
				.jalousie__circles
					span.jalousie__circle.deg0
						.jalousie__desc
							span.name.active Вертикальные
							span.price.active от 12 375 рублей
					span.jalousie__circle.deg45.active
						.jalousie__desc
							span.name Горизонтальные
							span.price от 10 375 рублей
					span.jalousie__circle.deg315.active
						.jalousie__desc
							span.name Тканевые
							span.price от 8 375 рублей