#zay_modal {
	label {
		font-size: 14px;
		font-weight: 500;
		margin-left: 40px;
	}
	.row {
		label {
			margin-left: 55px;
		}
	}
	.btn {
		width: 100%;
		max-width: 100%;
	}
	.modal-dialog {
		max-width: 630px;
		@media (max-width: 700px) {
			max-width: 100%;
		}
		@media (max-width: 575px) {
			margin: 0;
		}
	}
	.form_contact {
		max-width: 365px;
		width: 100%;
    	margin: auto;
	}
	.modal-content {
		padding: 3rem 0.5rem;
		border: none;
		border-radius: 20px;
		@media (max-width: 575px) {
			padding: 2rem;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-content: center;
		}
		.close-modal {
			position: absolute;
			right: 1rem;
			top: 1rem;
			cursor: pointer;
			@media (max-width: 575px) {
				right: 0.75rem;
				top: 0.75rem;
			}
		}
		.title {
			text-align: center;
			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;
			padding-bottom: 0.5rem;
			@media (max-width: 575px) {
				font-size: 16px;
			}
		}
		.desc {
			text-align: center;

			font-size: 14px;
			padding-bottom: 3rem;
			@media (max-width: 575px) {
				font-size: 12px;
				padding-bottom: 2rem;
			}
		}
		input {
			color: black;
		}
		input,
		button,
		select {
			font-size: 14px;
			border-radius: 2rem;
			padding: 0.5rem 1rem;

			height: 2.75rem;
			@media (max-width: 575px) {
				height: 2rem;
				padding: 0.35rem 0.75rem;
			}
		}
	}
	&.zay_modal_white {
		label,
		select {
			color: hsla(0, 0%, 0%, 0.27);
		}
		.modal-content {
			background: white !important;
			.close-modal {
				i {
					color: black;
				}
			}
			.title {
				color: #212529;
			}
			.desc {
				color: #212529;
			}
		}
	}
	&.zay_modal_black {
		label,
		select {
			color: hsla(0, 0%, 100%, 0.27);
		}
		.modal-content {
			background: #2a2a2a !important;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			.close-modal {
				i {
					color: white;
				}
			}
			.title {
				color: white;
			}
			.desc {
				color: white;
			}
			
			input,
			select {
				background: #363636;

				border: 1px solid #ddd;
			}
			button {
				background: linear-gradient(to right, #9b47e5 0%, #e45ae9 100%);
				border: 1px solid #9b47e5;
			}
		}
	}
}

#thanks_modal {
	.modal-dialog {
		max-width: 400px;
		@media (max-width: 575px) {
			max-width: 100%;
		}
	}
	.modal-content {
		padding: 3rem;
		border: none;
		border-radius: 0;
		@media (max-width: 575px) {
			padding: 2rem;
		}
		.close-modal {
			position: absolute;
			right: 1rem;
			top: 1rem;
			cursor: pointer;
			@media (max-width: 575px) {
				right: 0.75rem;
				top: 0.75rem;
			}
		}
		.title {
			text-align: center;
			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;
			padding-bottom: 0.5rem;
			@media (max-width: 575px) {
				font-size: 16px;
			}
		}
		.desc {
			text-align: center;

			font-size: 16px;
			padding-bottom: 0;
			@media (max-width: 575px) {
				font-size: 12px;
			}
		}
	}
}

#calc_wait {
	.modal-dialog {
		max-width: 400px;
		@media (max-width: 575px) {
			max-width: 100%;
		}
	}
	.modal-content {
		padding: 3rem;
		border: none;
		border-radius: 0;
		@media (max-width: 575px) {
			padding: 2rem;
		}
		.close-modal {
			position: absolute;
			right: 1rem;
			top: 1rem;
			cursor: pointer;
			@media (max-width: 575px) {
				right: 0.75rem;
				top: 0.75rem;
			}
		}
		.title {
			text-align: center;
			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;
			padding-bottom: 0.5rem;
			@media (max-width: 575px) {
				font-size: 16px;
			}
		}
		.desc {
			text-align: center;

			font-size: 16px;
			padding-bottom: 0;
			@media (max-width: 575px) {
				font-size: 12px;
			}
		}
	}
}

#modal_development {
	.modal-dialog {
		max-width: 400px;
		@media (max-width: 575px) {
			max-width: 100%;
		}
	}
	.modal-content {
		padding: 3rem;
		border: none;
		border-radius: 0;
		@media (max-width: 575px) {
			padding: 2rem;
		}
		.close-modal {
			position: absolute;
			right: 1rem;
			top: 1rem;
			cursor: pointer;
			@media (max-width: 575px) {
				right: 0.75rem;
				top: 0.75rem;
			}
		}
		.title {
			text-align: center;
			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;
			padding-bottom: 0.5rem;
			@media (max-width: 575px) {
				font-size: 16px;
			}
		}
		.desc {
			text-align: center;

			font-size: 16px;
			padding-bottom: 0;
			@media (max-width: 575px) {
				font-size: 12px;
			}
		}
	}
}

#modal_mobile_contact {
	padding-right: 0 !important;
	.modal-dialog {
		max-width: 100%;
		margin: 0;
	}
	.modal-content {
		height: 100vh;
		padding: 5rem 2rem;
		border: none;
		border-radius: 0;
		background: rgba(53, 53, 53, 0.9);
		@media (max-width: 575px) {
			background: rgba(53, 53, 53, 1);
		}
		.close-modal {
			position: absolute;
			right: 1rem;
			top: 1rem;
			cursor: pointer;
			color: white;
			@media (max-width: 575px) {
				right: 0.75rem;
				top: 0.75rem;
			}
		}
		.list {
			// background: red;
			display: flex;
			flex-wrap: wrap;
			max-width: 600px;
			margin: auto;
			// justify-content: flex-start;
			align-items: center;
			@media (max-width: 575px) {
				height: 100%;
			}
			.item {
				text-decoration: none;
				flex-basis: 25%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				@media (max-width: 575px) {
					flex-basis: 50%;
				}
				&:first-child {
					img {
						padding: 0 5px;
					}
				}
				img {
					width: 45%;
					height: auto;
				}
				.title {
					padding-top: 50px;
					text-align: center;
					font-size: 14px;
					color: white;
					@media (max-width: 575px) {
						padding-top: 15px;
					}
				}
				&.item_5 {
					border-top: 1px solid rgba(255, 255, 255, 0.15);
					margin-top: 50px;
					flex-basis: 100%;
					@media (max-width: 575px) {
						margin-top: 15px;
					}
					span {
						font-size: 18px;
						font-weight: 600;
						// background: linear-gradient(0deg, #E55AE9, #9C47E5);
						color: white;
						display: block;
					}
				}
			}
		}
	}
}

#product_catalog_modal {
	padding-right: 0 !important;
	.modal-dialog {
		height: calc(100% - 60px);
		margin: 60px 0 0 60px;
		max-width: 100%;
		overflow: hidden;
		@media (max-width: 1200px) {
			margin: 60px 0 0 0;
		}
		@media (max-width: 575px) {
			height: calc(100% - 50px);
			margin: 50px 0 0 0;
		}
		.modal-content {
			height: 100%;
			border: none;
			border-radius: 0;
			background: none;
			.hamburger {
				padding: 0;
				// background: red;
				position: absolute;
				top: 30px;
				left: 30px;
				width: 30px;
				height: 30px;
				@media (max-width: 990px) {
					top: 20px;
					left: auto;
					right: 40px;
					transform: translate(10px, 0);
				}
				@media (max-width: 767px) {
					top: 15px;
					left: auto;
					right: 20px;
					transform: translate(10px, 0);
				}
				.hamburger-box {
					width: inherit;
					.hamburger-inner {
						width: inherit;
						background: white;
						&::after {
							width: inherit;
							background: white;
						}
					}
				}
			}
			.productsMenu {
				background: rgba(53, 53, 53, 0.9);
				@media (max-width: 575px) {
					padding: 50px 20px 0 70px;
				}
			}
		}
	}
}

#modal_gallery_owl {
	padding-right: 0 !important;
	.modal-dialog {
		height: calc(100% - 60px);
		margin: 60px 0 0 60px;
		max-width: 100%;
		overflow: hidden;
		@media (max-width: 1200px) {
			margin: 60px 0 0 0;
		}
		@media (max-width: 575px) {
			height: calc(100% - 50px);
			margin: 50px 0 0 0;
		}
		.modal-content {
			height: 100%;
			border: none;
			border-radius: 0;
			background: none;
			// background: yellow;
			.hamburger {
				padding: 0;
				z-index: 10;
				// background: red;
				position: absolute;
				top: 30px;
				left: 30px;
				width: 30px;
				height: 30px;
				@media (max-width: 575px) {
					top: 10px;
					left: 10px;
				}
				.hamburger-box {
					width: inherit;
					.hamburger-inner {
						width: inherit;
						background: white;
						&::before {
							width: inherit;
							background: white;
						}
						&::after {
							width: inherit;
							background: white;
						}
					}
				}
			}
			.wrap {
				display: flex;
				flex-direction: column;
				background: #353535;
				height: 100%;
				min-height: 100%;
				padding: 0;
				overflow: hidden;
				background: rgba(53, 53, 53, 0.9);
				@media (max-width: 575px) {
					// padding: 50px 20px 0 70px;
				}
				.owl-carousel {
					// background: red;
					height: 100%;
					transition: all 0.5s;
					opacity: 0;
					visibility: hidden;
					&.open {
						opacity: 1;
						visibility: visible;
					}
					.owl-stage-outer {
						height: 100%;
						// background: green;
						.owl-stage {
							height: 100%;
							// background: blue;
							.owl-item {
								width: 100%;
								height: 100%;
								// background: yellow;
								.item {
									height: 100%;
									// background: brown;
									padding: 75px 0 100px;
									@media (max-width: 575px) {
										padding: 50px 39px 36px;
									}
									img {
										width: 100%;
										height: calc(100% - 60px);
										object-fit: contain;
										margin-bottom: 15px;
									}
									.titleCode {
										color: white;
										text-align: center;
										.title {
											font-weight: 500;
											font-size: 16px;
										}
										.code {
											text-transform: uppercase;
											font-size: 14px;
										}
									}
								}
							}
						}
					}
					.owl-nav {
						button {
							position: absolute;
							top: 50%;
							transform: translate(0, -50%);
							width: 19px;
							height: 35px;
							text-indent: -9999px;
							&.owl-prev {
								left: 50px;
								background-image: url("/images/page-brand/prev.png");
								@media (max-width: 575px) {
									left: 10px;
								}
							}
							&.owl-next {
								right: 50px;
								background-image: url("/images/page-brand/next.png");
								@media (max-width: 575px) {
									right: 10px;
								}
							}
							&.disabled {
								opacity: 0.5;
							}
						}
					}
					.owl-dots {
						position: absolute;
						width: 100%;
						left: 0;
						bottom: 55px;
						display: flex;
						align-items: center;
						justify-content: center;
						@media (max-width: 575px) {
							bottom: 10px;
						}
						button.owl-dot {
							width: 10px;
							height: 10px;
							margin: 5px;
							background: white;
							opacity: 0.5;
							@media (max-width: 575px) {
								width: 8px;
								height: 8px;
								margin: 4px;
							}
							&.active {
								opacity: 1;
								background: #43a22c;
							}
						}
					}
				}
			}
		}
	}
}

#modal_video {
	.modal-dialog {
		min-width: 700px;
		@media (max-width: 757px) {
			min-width: 100%;
			margin: 0;
		}
		.modal-content {
			@media (max-width: 757px) {
				width: 100vw;
				height: 100vh;
				border: none;
				border-radius: 0;
				display: flex;
				justify-content: center;
			}
			.close-modal {
				cursor: pointer;
				position: absolute;
				right: 6px;
				top: 6px;
				cursor: pointer;
				@media (max-width: 575px) {
					right: 0.75rem;
					top: 0.75rem;
				}
			}
			#video_vimeo {
				padding: 30px;
				@media (max-width: 757px) {
					padding: 0;
				}
				iframe {
					width: 100%;
				}
			}
		}
	}
}

#form_request {
	// display: none;
	align-items: center;
	justify-content: center;
	&.active {
		display: flex;
	}
	.form-overlay {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		position: absolute;
		top: 0;
		left: 0;
	}

	.modal {
		&-main {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			// height: 100%;
			// width: 100%;
		}
		&-title {
			position: relative;
			text-transform: uppercase;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			@media screen and (max-width: 576px) {
				font-size: 12px;
			}
		}
		&-wrapp {
			position: relative;
			margin-top: 30px;
			background: #2a2a2a;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
			width: 635px;
			height: 412px;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			@media screen and (max-width: 768px) {
				width: 500px;
			}
			@media screen and (max-width: 576px) {
				width: 90vw;
			}
		}
		&-close {
			font-size: 24px;
			position: absolute;
			top: 8px;
			right: 10px;
			color: #585858;
			line-height: 24px;
			cursor: pointer;
		}
		&-block_load {
			display: block;
			background: #313131;
			padding: 35px 63px;
			text-align: center;
			border-radius: 15px;
			width: calc(100% - 280px);
			height: calc(100% - 120px);
			@media screen and (max-width: 768px) {
				width: calc(100% - 150px);
			}
			@media screen and (max-width: 576px) {
				width: calc(100% - 60px);
				height: calc(100% - 150px);
				padding: 20px 30px;
			}
			&-title {
				color: #fff;
				font-size: 13px;
				text-transform: uppercase;
				margin-bottom: 44px;
			}
			&-img {
				width: 40%;
				margin: 0 auto;
				margin-bottom: 38px;
				transition: transform 0.25s;
				svg {
					@media screen and (max-width: 576px) {
						width: 100%;
					}
					path {
						transition: fill 0.25s;
					}
				}
			}
			&-btn {
				position: relative;
				width: 100%;
				display: block;
				padding: 6px 12px;
				background: linear-gradient(to right, #9b47e5 0%, #e45ae9 100%);
				border: none;
				border-radius: 50px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				color: #fff;
				cursor: pointer;
				span {
					position: absolute;
					top: 50%;
					right: 10%;
					transform: translateY(-50%);
					font-size: 16px;
				}
			}
			&-input {
				display: none;
			}
			&-desc {
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				font-size: 10px;
				@media screen and (max-width: 576px) {
					width: 100%;
				}
			}
		}
		&-block_checkload {
			width: 100%;
			padding: 0px 47px;
			display: none;
			@media screen and (max-width: 576px) {
				padding: 0px 25px;
			}
			&-list {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				margin-bottom: 15px;
				&.scroll {
					overflow-y: scroll;
				}
				&::-webkit-scrollbar {
					width: 5px;
				}
				&::-webkit-scrollbar-track {
					border-radius: 5px;
					background: #aaa;
				}
				/* Handle */
				&::-webkit-scrollbar-thumb {
					background: #9b47e5;
					border-radius: 5px;
				}
				/* Handle on hover */
				&::-webkit-scrollbar-thumb:hover {
					background: darken(#9b47e5, 10%);
				}
			}
			&-item {
				position: relative;
				background: #262525;
				border-radius: 50px;
				width: 29%;
				padding: 7px 12px 7px 20px;
				color: #fff;
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 500;
				margin-top: 15px;
				margin-right: 3.5%;
				white-space: nowrap;
				@media screen and (max-width: 576px) {
					width: 44%;
				}
				&:nth-child(-n + 3) {
					margin-top: 0;
					@media screen and (max-width: 576px) {
						margin-top: 15px;
					}
				}
				&:nth-child(-n + 2) {
					@media screen and (max-width: 576px) {
						margin-top: 0;
					}
				}
				span {
					display: block;
					position: absolute;
					text-align: center;
					top: 50%;
					right: 10%;
					transform: translateY(-50%);
					color: #fff;
					font-size: 20px;

					cursor: pointer;
				}
			}
			&-more {
				position: relative;
				background: #313131;
				border-radius: 50px;
				padding: 7px 12px 7px 20px;
				width: 29%;
				color: #fff;
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 500;
				border: none;
				display: block;
				margin-bottom: 65px;
				text-align: left;
				cursor: pointer;
				@media screen and (max-width: 576px) {
					width: 44%;
				}
				&:after {
					content: "+";
					display: block;
					position: absolute;
					top: 50%;
					right: 10%;
					transform: translateY(-50%);
					color: #fff;
					font-size: 20px;

					cursor: pointer;
				}
			}
			.progress_bar {
				margin: 10px 0;
				padding: 3px;
				background: #313131;
				border-radius: 50px;
				text-align: center;
				color: #fff;
				font-size: 14px;
				opacity: 0;
				transition: opacity 0.25s linear;
				.percent {
					background-color: #9b47e5;
					height: auto;
					width: 0;
					border-radius: 50px;
				}
				&.loading {
					opacity: 1;
				}
			}
			&-btn {
				position: relative;
				width: 29%;
				margin: 0 auto;
				display: block;
				padding: 12px 12px;
				background: #313131;
				border: none;
				border-radius: 50px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				color: rgba(255, 255, 255, 0.5);
				cursor: pointer;
				@media screen and (max-width: 576px) {
					width: 50%;
					max-width: 180px;
				}
				&.active {
					background: linear-gradient(to right, #9b47e5 0%, #e45ae9 100%);
					color: #fff;
				}
			}
		}
		&-block_form {
			padding: 0px 128px;
			width: 100%;
			display: none;
			@media screen and (max-width: 768px) {
				padding: 0px 50px;
			}
			@media screen and (max-width: 576px) {
				padding: 0px 30px;
			}
			.input-wrapp {
				position: relative;
				label {
					position: absolute;
					top: 12px;
					left: 23px;
					color: rgba(255, 255, 255, 0.57);
					margin-bottom: 0;
					font-size: 14px;
					transition: transform 0.25s;
					pointer-events: none;
				}
			}
			&-input {
				background: transparent;
				border: 2px solid #585858;
				padding: 12px 20px;
				border-radius: 40px;
				display: block;
				width: 100%;
				margin-bottom: 30px;
				color: #fff;
				font-size: 12px;
				font-weight: 500;
				caret-color: #9b47e5;
				transition: 0.25s;
				&:focus {
					outline: none;
					border: 2px solid #9b47e5;
					& + label {
						transform: translateY(-33px);
					}
				}
			}
			&-buttons {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			&-back {
				width: 48%;
				padding: 12px 12px;
				background: #212121;
				border: none;
				border-radius: 50px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				color: rgba(255, 255, 255, 0.5);
				cursor: pointer;
			}
			&-submit {
				width: 48%;
				padding: 12px 12px;
				background: #313131;
				border: none;
				border-radius: 50px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				color: rgba(255, 255, 255, 0.5);
				cursor: pointer;
				&.active {
					background: linear-gradient(to right, #9b47e5 0%, #e45ae9 100%);
					color: #fff;
				}
			}
		}
		&-progressbar {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 635px;
			background: #2a2a2a;
			border-radius: 18px;
			padding: 37px 72px;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			@media screen and (max-width: 768px) {
				width: 540px;
				padding: 37px 52px;
			}
			@media screen and (max-width: 576px) {
				width: 90vw;
				padding: 30px 42px;
			}
			.count {
				text-align: center;
				color: #fff;
			}
			.progress-line {
				border: 1px solid #fff;
				padding: 3px;
				border-radius: 10px;
				margin-top: 25px;
				.line {
					display: block;
					width: 0%;
					height: 4px;
					border-radius: 10px;
					background: linear-gradient(to right, #9b47e5 0%, #e45ae9 100%);
					&.active {
						animation: run 2s linear forwards;
					}
				}
			}
		}
		&-result {
			display: none;
			width: 85px;
			height: 85px;
			background: #2a2a2a url("/images/index/check.svg") no-repeat center center;
			border-radius: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			cursor: pointer;
		}
	}
	@keyframes run {
		0% {
			width: 0%;
		}
		100% {
			width: 100%;
		}
	}
}