#regulation_windowall {
    font-family: 'Montserrat';
    display: block;
		@media screen and (max-width: 992px) {
        display: none;
    }
}
#regulation_window {
		display: none;
    font-family: 'Montserrat';    
    @media screen and (max-width: 992px) {
        display: block;
    }
		.owl-carousel, .owl-carousel .owl-item {
			position: static;
		}
		.owl-item.active.center {
			.regulation_window-infoitem {
				display: block;
				position: absolute;
				width: 80%;
				bottom: 0;
				left: 50%;
			}
			@media screen and (max-width: 576px){
				.icon-block img {
					opacity: 1;
				}
			}
		}
    .pop-up {
    position: absolute;
    width: 55%;  
    padding: 75px;  
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(53, 53, 53, 0.95);    
    border-radius: 30px;
    z-index: 10;
    color: #fff;
    text-align: center;
    display: none;
    @media screen and (max-width: 768px) {
        width: 70%;
        padding: 50px;
    } 
    @media screen and (max-width: 576px) {
        width: 80%;
        padding: 30px;
    } 
    &_close {
        width: 28px;
        height: 28px;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: -14px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(228,90,233,1);
        background: -moz-linear-gradient(top, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,90,233,1)), color-stop(100%, rgba(161,73,229,1)));
        background: -webkit-linear-gradient(top, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
        background: -o-linear-gradient(top, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
        background: -ms-linear-gradient(top, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
        background: linear-gradient(to bottom, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45ae9', endColorstr='#a149e5', GradientType=0 );        
        &:before {
            content: '';
            display: block;
            width: 70%;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-45deg);
            transform-origin: center center;
            transition: 0.3s;
        }
        &:after {
            content: '';
            display: block;
            width: 70%;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(45deg);
            transform-origin: center center;
            transition: 0.3s;
        }
        &:hover {
            &:after {
                transform: translate(-50%,-50%) rotate(225deg);
            }
            &:before {
                transform: translate(-50%,-50%) rotate(-225deg);
            }
            
        }
    }
    &_text {
        font-size: 12px;
    }  
}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;    
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 1.2;
    color: #353535;
}

button:focus, button:active, button:visited {
    outline: none;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

.regulation_windowall {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 61px;
    padding-right: 5vw;
    padding-bottom: 50px;
    @media screen and (max-width: 1200px) {
        padding-right: 0;
    }
    &__desc {
        min-width: 282px;
        max-width: 282px;
        // width: 22%;
    }
    &-title {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 100px;
    }
    &-text {
        font-size: 11px;
        margin-bottom: 30px;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 65%;
        position: relative;
        @media screen and (max-width: 1200px) {
            width: 74%;
        }
        .regulation-problem {            
            min-height: 210px;
            cursor: pointer;
						display: block;
						text-decoration: none;
            &:last-child {
                min-height: 0;
            }
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;              
            }
            &-title {
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 400;
                text-align: center;
            }
        }
        &:before {
            content: '';
            display: block;
            width: 1px;
            height: 80%;
            position: absolute;
            background: #353535;
            left: 33%;
            top: 50%;
            transform: translateY(-50%);
        }
        &:after {
            content: '';
            display: block;
            width: 1px;
            height: 80%;
            position: absolute;
            background: #000;
            right: 33%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__item {
        width: 18%;        
    }
}

.regulation_window {		
    &-header {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        @media screen and (max-width: 576px) {
          padding-top: 20px;
    			padding-bottom: 20px;
        }
        .swap-d {
            position: absolute;
            left: 50px;
            top: 50%;
						transform: translateY(-50%);
            @media screen and (max-width: 992px) {
                display: none;
            } 
        } 
        .swap-m {
            display: none;
            @media screen and (max-width: 992px) {
                display: block;
                position: absolute;
                left: 50px;
                bottom: 23px;
            }
            @media screen and (max-width: 576px) {
                left: 25px;
            }
        } 
        .btn-desc {
            display: none;
            @media screen and (max-width: 992px) {
                display: block;
                position: relative;
                z-index: 2;
                width: 92px;
                padding: 8px 0;
                margin: 0 auto;
                margin-top: 20px;
                border: none;
                color: #fff;
                text-transform: uppercase;
                font-size: 8px;
                font-weight: 600;
                border-radius: 100px;                
                transition: all 0.3s ease;
                box-shadow: 0px 7px 15px 0px rgba(138, 138, 138, 0.5);
                background: rgba(228,90,233,1);
                background: -moz-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228,90,233,1)), color-stop(100%, rgba(155,71,229,1)));
                background: -webkit-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
                background: -o-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
                background: -ms-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
                background: linear-gradient(to right, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45ae9', endColorstr='#9b47e5', GradientType=1 );
            }
            span {
                position: relative;
                z-index: 5;
            }
            &:focus {
                transform: translateY(4px);
                box-shadow: 0px 3px 15px 0px rgba(138, 138, 138, 0.5);
            }
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 100px;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                background: rgba(161,73,229,1);
                background: -moz-linear-gradient(left, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(161,73,229,1)), color-stop(100%, rgba(228,90,233,1)));
                background: -webkit-linear-gradient(left, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                background: -o-linear-gradient(left, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                background: -ms-linear-gradient(left, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                background: linear-gradient(to right, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a149e5', endColorstr='#e45ae9', GradientType=1 );
                transition: opacity .5s;
            }
            &:hover {                
                &:before {
                    opacity: 1;
                }
            }
        }      
    }
    &-title {
        font-family: 'Montserrat';
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: #353535;
        text-align: center;
        margin: 0;
        @media screen and (max-width: 992px) {
            font-size: 18px;
        }
        @media screen and (max-width: 576px) {
            font-size: 13px;
        }
    }
    &-main {
        border-top: 1px solid #353535;
    }
    &-chekclist {        
        display: flex;
        justify-content: space-around;
    }
    &-checkitem {     
        span {
            width: 1px;
            height: 25px;
            display: block;
            background: #353535;
            margin: 0 auto;
            margin-bottom: 5px;

        }
        .icon-block {            
            cursor: pointer;
            width: 40px;
						height: 40px;
						margin: 0 auto;
						@media screen and (max-width: 992px) {
							width: 30px;
							height: 30px;
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
							@media screen and (max-width: 576px){
								opacity: 0.5;
							}
						}
        }        
    }
    &-infolist {
        margin-top: 40px;
				height: calc(100vh - 255px);
				overflow-y: auto;
				@media screen and (max-width: 992px) {            
            height: calc(100vh - 290px);
        }
				@media screen and (max-width: 576px) {            
            height: calc(100vh - 234px);
        }
				&::-webkit-scrollbar { 
					width: 5px;
				}
				&::-webkit-scrollbar-track {
						border-radius: 5px;
						background: #aaa;					
				}
				/* Handle */
				&::-webkit-scrollbar-thumb {
						background: rgba(161,73,229,1);
						border-radius: 5px;
				}
				/* Handle on hover */
				&::-webkit-scrollbar-thumb:hover {
						background: darken(rgba(161,73,229,1), 10%);
				}
        @media screen and (max-width: 576px) {            
            margin-top: 20px;
        }
    }
		
    &-infoitem {
        display: none;      
        .info-title {
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
            margin-bottom: 45px;
						font-family: 'MontserratSemiBold';
            @media screen and (max-width: 992px) {
                font-size: 13px;
            }
            @media screen and (max-width: 576px) {
                font-size: 12px;
                margin-bottom: 35px;
            }         
        }
        .info-text {
            font-size: 14px;
            text-align: center;
            width: 40%;
            margin: 0 auto;
						line-height: 2.2em;
						margin-bottom: 30px;
            @media screen and (max-width: 1200px) {
                width: 50%;
            }
            @media screen and (max-width: 992px) {
                font-size: 11px;
            }
            @media screen and (max-width: 768px) {
                width: 70%;
            }
            @media screen and (max-width: 576px) {
                width: 90%;
            }         
        }
        .info-picture {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 45px;
					@media screen and (max-width: 576px){
						flex-direction: column;
					}
					img {
						width: auto;
						max-width: 100%;
						margin: 0 20px;
						&:last-child {
							@media screen and (max-width: 576px){
								max-width: 70%;
								margin-bottom: 0;
							}
						}
						@media screen and (max-width: 992px){
							max-width: 30%;
						}
						@media screen and (max-width: 576px){
							max-width: 45%;
							margin-bottom: 20px;
						}
					}
        }
    }
		
}
