#favorites{
    overflow: hidden;
    $colorLight: #ad966a;
    $colorBrown: #887561;
    $colorGray: #9f9e9d;
    $colorGreen: #8da418;
    $colorOrange: #c04b00;
    
    section.favorites{
        background-color: #424242;
        transition: all 0.7s ease 0s;
        @media screen and (max-width: 1000px){
            padding: 5rem 0;
        }
        padding-bottom: 5rem;
        font-family: 'Montserrat', sans-serif;
        overflow: hidden;
        transition: .7 all;
        .header-container{
            margin-top: 2em;
            height: 150px;
            @media screen and (max-width: 426px){
                margin:0;
            }
        }
        .look-all{
            width: 138px;
            height: 25px;
            border-radius: 100px;
            background-color: #333232;
            border:none;
            color: #ffffff;
            font-size: .5em;
            font-weight: 500;
            letter-spacing: 0.13px;
            text-transform: uppercase;
            display: none;
        }
        .tab-favorites{
            margin: 0 .4rem;
        }
    .title-favorites{
        font-size: 1.5em;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        }
        .favorites-card-button, .btn-view, .tab-favorites, .look-all{
            cursor: pointer;
        }
        .lines-container{
            justify-content: space-around;
        }
        .favorites-cards-container{
            // display: grid;
            // grid-template-columns:19% 19% 19% 19% 19%;
            // grid-gap: 10vw 1.2%;
            width: 19%;
            text-align: center;
            color: white;
            // @media screen and (max-width:1300px){
            //     margin: 5rem 0rem;
            //     grid-template-columns: auto auto auto auto;
            // }
           
            @media screen and (max-width:1300px){
                width: 23%;
            }
            @media screen and (max-width:1000px){
                width: 31%;
            }
            @media screen and (max-width:610px){
                width: 47%;
            }
            // @media screen and (max-width:420px){
            //     grid-template-columns: 100%;
            //     .favorites-card-item{
            //         margin: 15px 0;
            //     }
            // }
        }
        .favorites-card-item,.favorites-card-body{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
        }
        .favorites-card-item{
            width:100%;
            position: relative;
            margin-top: 30px;
            cursor: pointer;
            .favorites-card-header{
                @media screen and (max-width: 426px){
                    width:100%;
                }
            }
            a.favorites-card-button{
                @media screen and (max-width: 426px){
                 width: 35px;
                 height:35px;               
                }
                img{
                    @media screen and (max-width: 426px){
                        width: 50%;
                    }
                }
            }


            @media screen and (max-width: 400px) {
                width: 100%
            }
            &:active{
            //    .favorites-card-header{
            //        display: flex;
            //    }
            }
            .favorites-card-body{
            @media screen and (max-width: 980px){
                &:hover{

                &:nth-last-of-type(-n+3){
                    .favorites{
                        padding-bottom: 500px;
                    }
                    }
                } 
            }
        }
            &:hover{
               
             }
        }
        .favorites-card-header{
            display: flex;
            justify-content: space-around;
            display: none;
            width: 70%;
            @media screen and (max-width: 1000px) {
                width: 100%;
            }
            .favorites-card-button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 9px;
                &.fre-qurty{
                    background-image: linear-gradient(to top, #e55ae9 0%, #9c47e5 100%);
                }
                &.eyes{
                    background-color: #535353;
                }
                &.window{
                    background-color: #89e6fb;
                }
                &.close{
                    background-color: #535353;
                    img{
                        width: 25%;
                    }
                }
            }
        }
        .favorites-card-body{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 20px;
            border: 1px solid #95989a;
            padding: 1rem 1rem;
            width: 100%;
            position: relative;
            @media screen and (max-width: 768px){
                padding: 1rem 1.5rem;
            }
            @media screen and (max-width: 520px){
                padding: 1rem 2rem;
            }
            @media screen and (max-width: 426px){
                border-radius: 15px;
                padding: 1rem 1rem;
            }
            // .button-view-all{
            //     a{
            //         color: black;
            //         font-size: 2em;
            //         @media screen and (max-width: 426px){
            //             font-size: 1em;           
            //            }
            //     }
            // }
            .card-title{
                text-transform: uppercase;
                @media screen and (max-width: 426px){
                 font-size: .7em;           
                }
            }
            &>div{
                margin: .3rem 0;
            }
            div.card-color-border{
                border-radius: 9px;
                border: 1px solid #ffffff;
                padding: 2px;
                margin:10px 0;
                @media screen and (max-width: 426px){
                    border-radius: 3px;
                    padding: 1px;
                    margin:6px 0;
                }
                .card-color{
                    background: #9f9e9d;
                    width: 29px;
                    height: 29px;
                    border-radius: 6px;
                    @media screen and (max-width: 426px){
                        width: 15px;
                        height: 15px;
                        border-radius: 3px;
                    }
                    &.backColorLight{
                        background: $colorLight;
                    }
                    &.backColorBrown{
                        background: $colorBrown;
                    }
                    &.backColorGray{
                        background: $colorGray;
                    }
                    &.backColorGreen{
                        background: $colorGreen;
                    }
                    &.backColorOrange{
                        background: $colorOrange;
                    }
                }
            }   
            .card-modals-view,.btn-view{
                display: none;
                text-transform: uppercase;
                color: #414141;
                font-weight: 600;
            }
            .card-modals-view{
                font-size: .7em;
                @media screen and (max-width: 750px) {
                    margin: 2rem 0;
                }
                @media screen and (max-width: 426px) {
                    margin: 1rem 0;
                }
            }
            .btn-view{
                font-size: 1em;
                border: none;
                background: transparent;
                border-bottom: 1px solid #414141;
                margin-bottom: .3rem;
                @media screen and (max-width: 750px) {
                    width:100%;
                    border: 1px solid white;
                    border-radius: 20px;
                }
                @media screen and (max-width: 426px){
                    padding: 3px 0;
                }
            }
            .favorites-card-body-text{
                display: none;
                color: #414141;
                font-size: 12px;
                letter-spacing: 0.22px;
                line-height: 18px;
                font-weight: 600;
                margin-bottom: 20px;
            }
         
        }
    }
    .card-modals{
        font-size: .7em;
        text-transform: uppercase;
        @media screen and (max-width: 426px){
            font-size: .5em;                   
        }
    }
    
    section.favorites {
        .btn-view-mob.dots{
            margin-top: 20px;
        }
        .card-photo{
            text-align: center;
            height: 200px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width:100%;
            @media screen and (min-width: 1000px){
                width: 70%;
                height: 170px;
            }    

            @media screen and (max-width: 426px){
                height: 100px;
                width: 70%;
    }
    @media screen and (max-width: 350px){
        height: 120px;
        width: 100%;
        }
            img{
                width: 100%;
            }
        }

        .active{
            cursor: auto;
            .favorites-card-header{
                display: flex;
            }
            .favorites-card-body{
                height: 100%;
                margin-top: 30px;
                justify-content: flex-start;
                background-image: linear-gradient(to top, #83f2fc 0%, #a3bbf9 52%, #d957e7 100%);
               
                animation: toggle 1s ease; 
                padding: 2em 3em;
                div{
                    display: none;
                }
              //  position: absolute;
                top: 15%;  
                
                @media screen and (max-width: 980px){
                    height: 202%;
                    z-index:10;
                    padding: 2em 2em;
                    
                }
                @media screen and (max-width: 426px){
                    padding: 1em 1em;
                   }
                // @media screen and (max-width: 426px){
                //     height: auto;
                //     position: inherit;
                //     margin-top: 0;
                //     margin-bottom: 30px;
                // }
                .favorites-card-body-text{
                    width: 100%;
                    display:block;
                    text-align: left;
                    @media screen and (max-width: 426px){
                     font-size: .6em;   
                    }
                    @media screen and (max-width: 350px){
                        font-size: .5em;   
                       }
                }
                #view.card-modals-view{
                    display: block;
                    margin-top: .7rem;
                    margin-bottom: 1.2rem;
                    font-weight: 600;
                    @media screen and (max-width: 426px){
                     font-size: .6em;
                     padding-top: .7rem;
                     padding-bottom: 1rem;  
                     margin: 0; 
                    }
                    @media screen and (max-width: 350px){
                        font-size: .5em;   
                       }
                    div{
                        display: block;
                    }
                }
                .btn-view{
                    display: block;
                    @media screen and (max-width:1000px){
                        padding: 3px 0;
                    }
                    @media screen and (max-width: 426px){
                        font-size: .7em;
                    }
                    @media screen and (max-width: 330px){
                        font-size: .6em;
                    }
                }
                .btn-view-mob{
                    display: none;
                }
            }
        }
    }
    
}