extends ../layouts/app

block content
  #company.ppage
    section.company-header-section
      .company-header-section_text-block
        .company-header
          .company-header_desc
            h3 О компании
            p Компания «Просто Окна» — российский производитель светопрозрачных и ограждающих конструкций - оконных, дверных, фасадных систем и аналогичных изделий. Мы работаем с ПВХ, алюминиевыми и деревянными профильными системами от ведущих мировых производителей. Это позволяет нам предлагать клиентам самый широкий спектр продуктов разного уровня, но неизменно высокого качества.  Важной особенностью компании является комплексный подход в работе. Мы не просто производим и продаем окна и двери, а выполняем полный  цикл работ, от замера, проектирования, подбора комплектации до монтажа, ремонта, регулировки и сервисного обслуживания. С момента выхода на  рынок в 2013 году компания «Просто Окна» безупречно делает свою работу и отличаемся бескомпромиссным подходом к качеству и вниманию к  клиентам. Все это позволило нам стать членом «Межрегиональной Ассоциации Надежных Исполнителей» (https://gost-reestr.ru/), войти в состав  реестра Московского портала поставщиков (https://zakupki.mos.ru/#/) и занять позицию в рейтинге ТОП-10 оконных компаний г. Москвы. Это делает компанию “Просто Окна” надежным подрядчиком и партнером для наших клиентов ссылка на наших клиентов.
          .company-header_about
            h4 Наши принципы и ценности
            p В работе с клиентами компания «Просто Окна» придерживается ряда основополагающих принципов:
        .company-header_img
      .company-header-slider_touch-icon
      .owl-carousel.company-header_slider
        .company-slider-item 
          h5(data-index="1") Максимально обширный ассортимент
          p Мы предлагаем большой выбор профильных систем и комплектующих: от бюджетных конструкций до изделий премиум-класса в индивидуальном дизайне.
        .company-slider-item 
          h5(data-index="2") Индивидуальный подход
          p Расширяя рамки и не ограничиваясь только консультациями по подбору оптимальной конфигурации и комплектации конструкций. Мы проектируем остекление объектов и изготавливаем нестандартные конструкции по вашим эскизам или ТЗ.
        .company-slider-item 
          h5(data-index="3") Премиум-качество даже для бюджетного сегмента
          p Вне зависимости от стоимости комплектующих и материалов мы производим конструкции в строгом соответствии со стандартами качества. Это же касается и монтажных работ – установка окон и дверей выполняется по нормативам ГОСТ/СНиП или ТУ разработанному специалистами нашей компании, с использованием современных знаний и материалов.
        .company-slider-item 
          h5(data-index="4") Полный цикл работы: от эскиза до сервисного обслуживания
          p К работе привлекаются компетентные специалисты – проектировщики, технологи (не просто замерщики), специалисты по сборке,профессиональные монтажные группы, менеджеры и бухгалтеры. Благодаря этому мы можем работать с проектами любой сложности и любого масштаба.
        .company-slider-item 
          h5(data-index="5") Работа “в белую”
          p Мы заключаем официальные договоры в строгом соответствии с требованиями действующего законодательства. Это позволяет нам работать не только с юридическими и физическими лицами, а также с государственными и муниципальными компаниями и службами. Кроме того, это обеспечивает всем нашим клиентам подтвержденную гарантию и оперативный документооборот.
      .company-header_bottom_desc
        .company-header-bottom-desc_left
        .company-header-bottom-desc_right
        p Покупая окна у нас, Вы получаете не просто товар — Вы приобретаете настоящих друзей, искренне заинтересованных в том, чтобы у вас всё получилось.

    section.company-prostokna-section
      h3 Почему «Просто Окна»?
      .company-prostokna-section_blocks
        .company-prostokna-section-block
          h5 Мы работаем для вас с полной отдачей:
          ul
            li Мы быстрые, гибкие, мобильные и профессиональные;
            li Практикуем индивидуальный подход и ведение заказов личным менеджером;
            li Осуществляем 100% сопровождение объектов, гарантируя высокое качество сервиса и ремонта;
            li Работаем только с опытными специалистами, систематически повышая их квалификацию. 
          p Штатные монтажные группы имеют аккредитацию для выполнения высотных работ, а также для работы в детских дошкольных учреждениях и для оказания монтажно-сервисных услуг силовым структурами России по всей территории. Это делает нас ближе к вам и расширяет перечень возможностей для плодотворного сотрудничества!
        .company-prostokna-section-block
          h5 Мы максимально оптимизируем все процессы: 
          ul
            li Меньше расходов – дешевле продукция;
            li Все продумано до мелочей;
            li Мы убрали все лишнее;
            li Минимизация рисков для нас — низкие цены для вас. 
          p Это делает наши окна доступнее: при небольших затратах вы можете позволить себе качественное современное остекление.
        .company-prostokna-section-block
          h5 И все же — почему так дешево?
          ul
            li Парадоксально, но мы первые, кто показывает настоящие цены;
            li Мы первые, кто оставил Вам выбор, за что и сколько платить; 
            li Мы не накручиваем цены сверх необходимого;
            li Мы не навязываем ненужные услуги;
            li Мы помогаем не только сэкономить, но и заработать — а этого не предлагает ни одна из известных нам компаний! 
          p Это делает вас нашими клиентами. Компания Просто Окна делает всё, чтобы в ваших домах царили тепло и комфорт, а коммерческие объекты, находящиеся в вашем ведении, сияли сверкающими поверхностями окон, фасадов и витрин!
      h4 Мы – не компания, для Вас мы – просто друзья! «Просто Окна»
      .line
      .company-section-slider
        .company-section-slider_item
          a.loop-link(href="/images/company/cert1_big.jpg")
            img(src="/images/company/cert1.jpg" alt="sertificate")
        .company-section-slider_item
          a.loop-link(href="/images/company/cert2_big.jpg")
            img(src="/images/company/cert2.jpg" alt="sertificate")
      .line
  //- .company-natification.center
    i.material-icons clear
    h4 ХОТИТЕ УЗНАТЬ О НАС БОЛЬШЕ?
    p Оставьте ваш номер телефона и наш менеджер свяжется с Вами и расскажет самое интересное
    .company-natification_input
      input(type="text")
      .company-natification-input-icon
