extends ../layouts/app

block content
  #company.ppage
    header
      .offer
        h1.offer__title about us        
        p.offer__desc Мы – оконная компания нового формата.
        img.main-picture.tablet(src='/images/company/main-picture.png', alt='window with room')        
        .offer__text
          p Предпочитая быть честными, скажем прямо: у нас небольшой штат сотрудников,  и все они – отличные специалисты, чуткие и внимательные люди. Благодаря этому, нам действительно не нужны скрытые наценки на наш товар.

          p По факту, мы отказались от монтажных бригад в штате и лишних расходов на их содержание. Взамен Вы получаете объективную возможность сэкономить. Теперь появляется выбор: сделать все самим или нанять любую монтажную бригаду или компанию, которая удовлетворит Ваши потребности и покажется Вам наиболее компетентной. Мы же, в свою очередь, поможем сделать Вам правильный выбор при необходимости. Наглядно продемонстрируем и научим, как легко и просто замерять и ставить.

          p С клиентами мы всегда работаем абсолютно прозрачно. Именно поэтому наши заказчики точно знают, сколько и за что они платят, имея широкие возможности выбора. Явно,что сейчас именно честность является залогом хорошей репутации нашей компании.<br> Мы душой заинтересованы в клиентах – и для Вас у нас действует ряд точных бонусных программ.<br> Покупая окна у нас, Вы получаете не просто товар — Вы приобретаете друзей.
          img.arrow(src='/images/company/arrow.png', alt='arrow')
      img.main-picture.desktop(src='/images/company/main-picture.png', alt='window with room') 
    section.advantages
      h2.advantages__title С Вами мы в полной отдаче потому, что:
      ul.advantages__list
        li.advantages__item.advantages__item_1
          p.main-text Мы быстрые, гибкие и мобильные;
          p Мы быстрые, гибкие и мобильные;
          p Уделяем максимум внимания каждому клиенту;
          p Нам не нужно содержать большой штат сотрудников;
          p Нам не нужна дорогая реклама;
          p Нам не нужен большой офис
          p.main-text Это делает нас ближе
        li.advantages__item.advantages__item_2
          p.main-text Максимум оптимизации
          p Меньше расходов – дешевле окна;
          p Все продуманно до мелочей;
          p Мы убрали все лишнее;
          p Важно не количество людей, а качество их работы;
          p Факт, что минимизация рисков для нас, низкие цены для вас.
          p.main-text Это делает наши окна дешевле
        li.advantages__item.advantages__item_3
          p.main-text Подробнее, почему же все-таки так дёшево
          p Парадоксально, но мы первые, кто показывает настоящие цены;
          p Мы первые, кто оставил Вам выбор, за что и сколько платить;
          p Мы не навязываем ненужные услуги;
          p Мы не накручиваем цены;
          p Мы помогаем не только сэкономить, но и заработать, чего не предлагает ни одна из известных нам компаний!
          p.main-text Это делает наши окна дешевле
      h3.advantages__last-title Мы – не компания, для Вас мы – просто друзья! «Просто Окна»

