extends ../layouts/app

block content
    #page-brand
        section.page.ppage
            .container.page_all
                .row
                    .col-xl-12.title
                        .sBrandTitle #{brand.sBrandTitle}
                        span.more
                          img.arrow(src="/images/page-brand/arrow.svg")
                          ul.brand__list
                            each item in brands
                                li.brand__item(class= (item.iBrandID == brand.iBrandID) ? 'active' : '')
                                    a(href="/brand/" + item.sBrandURI) #{ item.sBrandTitle }
                    .col-xl-12
                        button.btn ОПИСАНИЕ
            .container
                .row
                    .col-lg-11.pre_title.text-center
                        span #{ brand.sBrandDesc }
            .container
                .row
                    .container_slider.col-xl-12.owl-theme.owl-carousel
                        each item, key in product
                            .slide(data-hash= key)
                                a(href='#' + key)
                                    .photo
                                        if item.product_images[0]
                                            img.img(src="/images/product/gallery/" + item.product_images[0].sProductImageFrontName)
                                        a.btn-look(href="/product/" + item.sProductURI)
                                            img(src="/images/page-brand/look.png")
                                    .slide_title
                                        span.slide_title_text #{ item.sProductTitle }
            .container.slider_two
                .row
                    .slider-nav.col-xl-12.owl-theme.owl-carousel.carouselOne
                        each item, key in product
                            .slide1
                                if item.product_images[0]
                                    img.img(src="/images/product/gallery/" + item.product_images[0].sProductImageFrontName)
                                a.btn-look(href="/product/" + item.sProductURI)
                                    img(src="/images/page-brand/look.png")
