#wiki_catalog {
    padding: 0;
    background-color: #353535;
    color: white;
    .hamburger {
        position: fixed;
        left: 117px;
        top: 117px;
        z-index: 2;
        width: 36px;
        height: 36px;
        // background: red;
        padding: 0;
        .hamburger-box {
            width: 100%;
            height: 100%;
            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                width: 100%;
                background: white;
            }
        }
        @media (max-width: 1500px) {
            left: 92px;
            top: 92px;
        }
        @media (max-width: 1199px) {
            width: 24px;
            height: 24px;
            left: 25px;
            top: 85px;
        }
        @media (max-width: 850px) {
            width: 50px;
            height: 50px;
            background-color: rgba(53, 53, 53, .75);
            // background: red;
            padding: 15px 10px;
            left: 50%;
            top: 60px;
            transform: translate(-50%, 0);
            border-radius: 0 0 4px 4px;
        }
        @media (max-width: 575px) {
            top: 50px;
        }
    }
    .sidebar {
        position: fixed;
        left: 60px;
        top: 60px;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.85);
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        // transition: all 250ms;
        &.open {
            visibility: visible;
            opacity: 1;
        }
        @media (max-width: 1199px) {
            left: 0;
        }
        @media (max-width: 575px) {
            top: 50px;
        }
        ul {
            list-style: none;
            padding: 100px 150px;
            // background: yellow;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            height: 100%;
            @media (max-width: 1500px) {
                padding: 100px;
            }
            @media (max-width: 1200px) {
                padding: 75px;
            }
            @media (max-width: 850px) {
                padding: 50px 15px 0 15px;
            }
            li {
                width: 33%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-family: 'MontserratSemiBold';
                font-size: 20px;
                text-transform: uppercase;
                padding: 10px;
                @media (max-width: 1200px) {
                    font-size: 16px;
                }    
                @media (max-width: 850px) {
                    width: 50%;
                    height: auto;
                    font-size: 12px;
                    font-family: 'Montserrat';
                }    
                a {
                    color: white;
                    text-decoration: none;
                    transition: opacity 500ms;
                }
            }
        }
    }
    ul.catalog_list {
        margin: 0;
        padding: 150px 0 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        border-bottom: 1px solid rgba(255,255,255,.15);
        position: relative;
        // transition: .25s -webkit-filter linear;
        &.disabled {
            -webkit-filter: blur(6px);
            filter: blur(6px);
        }
        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            background: rgba(255,255,255,.15);
        }
        &::before {
            left: 150px;
            @media(max-width: 1500px) {
                left: 100px;
            }
            @media(max-width: 1200px) {
                left: 75px;
            }
            @media(max-width: 850px) {
                left: 30px;
            }
        }
        &::after {
            right: 150px;
            @media(max-width: 1500px) {
                right: 100px;
            }
            @media(max-width: 1200px) {
                right: 75px;
            }
            @media(max-width: 850px) {
                right: 30px;
            }
        }
        @media(max-width: 1500px) {
            padding-top: 100px;
        }
        @media(max-width: 1200px) {
            padding-top: 75px;
        }
        @media(max-width: 850px) {
            padding-top: 50px;
        }
        li {
            position: relative;
            width: 50%;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-right: 50px;
            padding-left: 200px;
            border-right: 1px solid rgba(255,255,255,.15);
            border-top: 1px solid rgba(255,255,255,.15);
            @media(max-width: 1500px) {
                padding-left: 150px;
            }
            @media(max-width: 1200px) {
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 20px;
                padding-left: 95px;                
            }
            @media(max-width: 850px) {
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 50px;
                padding-left: 50px;
                border-right: none;
            }
            &:nth-child(even) {
                border-right: none;
                padding-right: 200px;
                padding-left: 50px;
                @media(max-width: 1500px) {
                    padding-right: 150px;
                }
                @media(max-width: 1200px) {
                    padding-left: 20px;
                    padding-right: 95px;
                }
                @media(max-width: 850px) {
                    padding-right: 50px;
                    padding-left: 50px;
                }
            }
            .num {
                font-family: 'MontserratSemiBold';
                font-size: 130px;
                line-height: 130px;
                float: left;
                width: 200px;
                overflow: hidden;
                @media(max-width: 1500px) {
                    font-size: 100px;
                    line-height: 100px;
                    width: 150px;
                }
                @media(max-width: 1200px) {
                    font-size: 80px;
                    line-height: 80px;
                    width: 120px;
                }
                @media(max-width: 850px) {
                    font-size: 30px;
                    line-height: 30px;
                    width: 50px;
                }
            }
            .item {
                margin-left: 200px;
                @media(max-width: 1500px) {
                    margin-left: 150px;
                }
                @media(max-width: 1200px) {
                    margin-left: 120px;
                }
                @media(max-width: 850px) {
                    margin-left: 50px;
                }
                .title {
                    font-family: 'MontserratSemiBold';
                    font-size: 22px;
                    line-height: 32px;
                    height: 130px;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    @media(max-width: 1500px) {
                        font-size: 20px;
                        line-height: 25px;
                        height: 100px;
                    }
                    @media(max-width: 1200px) {
                        font-size: 16px;
                        line-height: 20px;
                        height: 80px;
                    }
                    @media(max-width: 850px) {
                        font-size: 14px;
                        line-height: 17px;
                        height: auto;
                        padding-bottom: 10px;
                        align-items: flex-start;
                    }
                }
                .desc {
                    font-family: 'MontserratMedium';
                    font-size: 14px;
                    line-height: 21px;
                    padding-bottom: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @media(max-width: 1200px) {
                        font-size: 12px;
                        line-height: 17px;
                        padding-bottom: 20px;
                    }
                    @media(max-width: 850px) {
                        font-size: 10px;
                        line-height: 15px;
                        padding-bottom: 15px;
                    }
                }
                a.open {
                    font-family: 'MontserratSemiBold';
                    text-transform: uppercase;
                    font-size: 12px;
                    color: white;
                    padding: 0 35px;
                    border: 1px solid white;
                    border-radius: 17px;
                    float: left;
                    line-height: 34px;
                    text-decoration: none;
                    opacity: 0;
                    transition: all .15s;
                    &:hover {
                        background-color: #0071E8;
                        border: 1px solid #0071E8;
                    }
                    @media(max-width: 1200px) {
                        font-size: 10px;
                        line-height: 24px;
                        padding: 0 25px;
                    }
                    @media(max-width: 850px) {
                        opacity: 1;
                        padding: 0 15px;
                    }
                }
            }
            &:hover {
                .item {
                    a.open {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .more {
        padding: 50px 0 150px;
        border-left: 1px solid rgba(255,255,255,.15);
        border-right: 1px solid rgba(255,255,255,.15);
        margin: 0 150px;
        text-align: center;
        @media(max-width: 1500px) {
            margin: 0 100px;
        }
        @media(max-width: 1200px) {
            margin: 0 75px;
        }
        @media(max-width: 850px) {
            padding: 50px 0 50px;
            margin: 0 30px;
        }
        a.load {
            color: white;
            background-color: #0071E8;
            font-family: 'MontserratSemiBold';
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            padding: 15px 50px;
            border-radius: 22px;
            text-decoration: none;
            display: inline-block;
        }
    }
}