#optional_service {
    font-family: 'Montserrat';
		background: #EDEDED;
		position: relative;
    .pop-up { 
        display: none;               
        width: 60%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100;
        box-shadow: 0 0 145px 0px rgba(156, 156, 156, 0.75);
        padding: 115px 80px;
        @media screen and (max-width: 1200px) {
            width: 85%;
        }
        @media screen and (max-width: 992px) {
            padding: 85px 60px;
        }
        @media screen and (max-width: 576px) {
            padding: 25px 10px;
            width: 95%;
						height: 82vh;
						transform: translate(-50%,-45%);
        }
        &_wrapp {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 992px) {
                flex-direction: column;
                align-items: center;
            }
            @media screen and (max-width: 576px) {
                overflow-y: scroll;
								height: 100%;
								padding-right: 10px;
            }
        }
        &_close {
            position: absolute;
            top: -17px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            width: 34px;
            height: 34px;
            border: none;
            cursor: pointer;
            border-radius: 9px;
            background: rgba(228,90,233,1);
            background: -moz-linear-gradient(top, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,90,233,1)), color-stop(100%, rgba(161,73,229,1)));
            background: -webkit-linear-gradient(top, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
            background: -o-linear-gradient(top, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
            background: -ms-linear-gradient(top, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
            background: linear-gradient(to bottom, rgba(228,90,233,1) 0%, rgba(161,73,229,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45ae9', endColorstr='#a149e5', GradientType=0 );
            &:before {
                content: '';
                display: block;
                width: 50%;
                height: 1px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(-45deg);
                transform-origin: center center;
                transition: 0.3s;
            }
            &:after {
                content: '';
                display: block;
                width: 50%;
                height: 1px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(45deg);
                transform-origin: center center;
                transition: 0.3s;
            }
            &:hover {
                &:after {
                    transform: translate(-50%,-50%) rotate(225deg);
                }
                &:before {
                    transform: translate(-50%,-50%) rotate(-225deg);
                }                
            }      
        }
        .desc {
            width: 60%;
            @media screen and (max-width: 992px) {
            width: 100%;
            }
        }
        .desc-text {
            font-size: 11px;
        }
        .feature-title {
            font-size: 18px;
            margin-bottom: 25px;
            font-weight: 700;
        }
        td {
            font-size: 12px;
            font-weight: 700;
        }
        .price {
            padding-left: 40px;
            font-size: 18px;
        }
    }
		.owl-item.active.center {
			.optional_wrapp {
				@media screen and (max-width: 992px) {
						display: block;
				}
			}
		}
		.owl-stage-outer {
			padding-bottom: 30px;
		}
}

.optional_service {

    &-header {
        padding-top: 92px;
        padding-bottom: 63px;
        position: relative;
        @media screen and (max-width: 576px) {
            padding-top: 15px;
            padding-bottom: 45px;
        }
        .swap-m {
            display: none;
            @media screen and (max-width: 992px) {
                display: block;
                position: absolute;
                bottom: 30px;
                left: 50px;
            }
            @media screen and (max-width: 576px) {
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }       
    }
    &-title {
        font-family: 'Montserrat';
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: #353535;
        text-align: center;
        margin: 0;
        @media screen and (max-width: 992px) {
            font-size: 18px;
        }
        @media screen and (max-width: 576px) {
            font-size: 13px;
        }
    }
    .swap-m {
        display: none;
        @media screen and (max-width: 992px) {
            position: absolute;
            bottom: 30px;
            left: 50px;
        }
    }
    &-main {
        border-top: 1px solid #353535;
        position: relative;
        padding-bottom: 100px;
				@media screen and (max-width: 992px) {
					padding-bottom: 0;         
				}       
        .swap-d {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (max-width: 1200px) {
                bottom: 10px;
            }
            @media screen and (max-width: 992px) {
                display: none;          
            }          
        }
    }
    &-chekclist {        
        display: flex;
        justify-content: space-around;
				width: 85%;
				margin: 0 auto;
    }
    &-checkitem {       
        @media screen and (max-width: 992px){
					width: 325px;
    			margin: 0 auto;
				}		
        @media screen and (max-width: 576px){
					width: 100%;
				}		
        &:hover {
            .btn-desc {
                opacity: 1;
            }
        }
        &.active {
            @media screen and (max-width: 992px) {
                width: 50%;            
            }
            @media screen and (max-width: 768px) {
                width: 70%;            
            }
            @media screen and (max-width: 576px) {
                width: 80%;            
            }
            .optional_wrapp {
                @media screen and (max-width: 992px) {
                    display: block;
                }
            }
            img {
                width: 42px;
            }
        }            
        .line {
            width: 1px;
            height: 25px;
            display: block;
            background: #353535;
            margin: 0 auto;
            margin-bottom: 5px;

        }
        .img_wrap {
						width: 50px;
						height: 50px;
						margin: 0 auto;
						@media screen and (max-width: 1400px) {
              width: 40px;
							height: 40px;
            }
						@media screen and (max-width: 576px) {
							width: 30px;
							height: 30px;
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
        }
        img {            
            cursor: pointer;
            width: 42px;
            display: block;
            margin: 0 auto;
            @media screen and (max-width: 992px) {
                width: 100%;
                max-width: 42px;
            }
        }
				
        .optional_wrapp {
            @media screen and (max-width: 992px) {
                display: none;
            }
        }				
        .optional-title {
            font-size: 11px;
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
            margin-top: 40px;
						font-family: 'MontserratSemiBold';
						@media screen and (max-width: 576px) {
							margin-top: 20px;
						}
        } 
        .optional-desc {
            font-size: 11px;
            text-align: center;
            padding: 53px 40px;
            border: 1px solid #353535;
            margin-top: 15px;
            @media screen and (max-width: 1300px) {
                padding: 40px 30px;
            }
            @media screen and (max-width: 576px) {
                padding: 25px 15px;
								height: 40vh;
								overflow-y: scroll;
            }
            p {
                line-height: 2em;
                margin: 0;
            }            
        }
        .btn-desc {
            display: block;
            opacity: 0;
            position: relative;
            z-index: 2;
            width: 65%;
            cursor: pointer;
            padding: 10px 0;
            margin: 0 auto;
            margin-top: 30px;
            border: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            border-radius: 100px;                
            transition: all 0.3s ease;
            box-shadow: 0px 7px 15px 0px rgba(138, 138, 138, 0.5);
            background: rgba(228,90,233,1);
            background: -moz-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228,90,233,1)), color-stop(100%, rgba(155,71,229,1)));
            background: -webkit-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
            background: -o-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
            background: -ms-linear-gradient(left, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
            background: linear-gradient(to right, rgba(228,90,233,1) 0%, rgba(155,71,229,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45ae9', endColorstr='#9b47e5', GradientType=1 );
            @media screen and (max-width: 992px) {
                opacity: 1;
            }
            @media screen and (max-width: 576px) {
                margin-top: 15px;
            }
            .more {
                position: relative;
                z-index: 5;
            }
            &:focus {
                transform: translateY(4px);
                box-shadow: 0px 3px 15px 0px rgba(138, 138, 138, 0.5);
            }
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 100px;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                background: rgba(161,73,229,1);
                background: -moz-linear-gradient(left, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(161,73,229,1)), color-stop(100%, rgba(228,90,233,1)));
                background: -webkit-linear-gradient(left, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                background: -o-linear-gradient(left, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                background: -ms-linear-gradient(left, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                background: linear-gradient(to right, rgba(161,73,229,1) 0%, rgba(228,90,233,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a149e5', endColorstr='#e45ae9', GradientType=1 );
                transition: opacity .5s;
            }
            &:hover {                
                &:before {
                    opacity: 1;
                }
            }
        }    
    }
}

