#news.ppage{
    position: relative;
    .slick-list.draggable{
        z-index: 999;
    }
    hr{
        position: absolute;
        transform: rotate(90deg);
        height: 0.5px;
        width: 130%;
        top: 30%;
        left: 38%;
        background-color: #b9b9bb;
    }
}
.col-lg-4.card-news-container.owl-theme.owl-carousel.slick-initialized.slick-slider.slick-vertical{
   &:after {
    content: '';
    width: 0;
    height: 110%;
    position: absolute;
    border: 0.5px solid #b9b9bb;
    top: -10%;
    left: 70%;
    z-index: inherit;
   @media screen and (max-width: 1000){
       content: none;
   } 
}
}
section.news{

    $bg-colog: #ededed;
    background-color: $bg-colog;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    .title{
        font-size: 1.5em;
        font-weight: 600;
    }
    .title_data{
        font-size: .7em;
    }
    .news-text{
        font-size: .8em;
        padding-top: 3rem;
        letter-spacing: 0.2px;
        font-weight: 600;
        .news-text-block {
            p{
                margin-bottom: 4rem;
            }
        } 
    }
    .card-news{
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        background-color: $bg-colog;
        padding: 1rem;
        margin-bottom: 2rem;
        position: relative;
        cursor: pointer;
        &:first-child{
            &:after{
                
                content: "";
                position: absolute;
                top: -20rem;
                left: 70%;
                display: block;
                width: 1px;
                height: 20rem;
                background-color: #b9b9bb;
                @media screen and (max-width: 985px){ width: 0}
            }
            &:before{
               
                @media screen and (max-width: 990px){
                    content: "";
                    position: absolute;
                    display: block;
                    height: 1px;
                    width: 150px;
                    top:50%;
                    left:-95%;
                    background-color: #b9b9bb;
                }
                @media screen and (max-width: 768px){
                    content: "";
                    position: absolute;
                    display: block;
                    height: 1px;
                    width: 150px;
                    top:50%;
                    left:-129%;
                    background-color: #b9b9bb;
                }
             
            }
        }
        &:last-child{
            &:before{
                content: "";
                position: absolute;
                top: 6.8rem;
                left: 70%;
                display: block;
                width: 1px;
                height: 100vh;
                background-color: #b9b9bb;
                @media screen and (max-width: 985px){
                    height: 1px;
                    width: 100vh;
                    top:50%;
                    left:100%;
                }
                
            }
        }
        &:after{
            
            content: "";
            position: absolute;
            top: -2rem;
            left: 70%;
            display: none;
            width: 1px;
            height: 2rem;
            background-color: #b9b9bb;
            @media screen and (max-width: 985px){
                display: block;
                height: 1px;
                width: 1rem;
                top:50%;
                left:-1rem;
            }
        }
        .title_go{
            font-size: 1.5em;
            cursor: pointer;
        }
    }
    
    span.day, span.month{
        &:after{
            content:' / '
        }
    }
    .owl-carousel{
        display: block;
    }
        @media screen and (max-width: 985px){
            .owl-item.center{
                .card-news.item{
                    background-image: linear-gradient(180deg, #e55ae9 0%, #9f48e5 100%);
                    color: white;
                    }
            }
            .owl-carousel .owl-stage-outer{
                overflow: inherit;
            }
            .news_body{
                margin-top: 4rem;
                .title,.title_data{
                    text-align: center;
                }
            }
            .my_container{
                display: flex;
                flex-direction: column-reverse;
            }
            .card-news-container{
                display: flex;
                .card-news{
                    height: 10rem;
                    margin: .5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            .card-name{
                flex-direction: column;
                .title_go{
                    text-align: right;
                }
            }
        }
        @media screen and (min-width: 985px){
        .card-news.active.item{
            background-image: linear-gradient(180deg, #e55ae9 0%, #9f48e5 100%);
            color: white;
            }
        }
}