#news-tape{
    overflow: hidden;
    
    section.news-tape{
        background-color: #424242;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        
        font-family: 'Montserrat', sans-serif;
        overflow: hidden;
    .title-news{
        font-size: 1.5em;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        @media screen and (max-width: 768px){
            margin: 2rem 0;
        }
    }
    .container.news-tape-container{
        @media screen and (min-width:769px) {
            max-width: 95vw;
            padding-right: 0;
            margin-right: 0;
        }
    }
    .cards-container{
        display: grid;
        grid-template-columns:  repeat(6, 1fr);
        grid-template-rows: auto auto; 
        grid-gap: 15px 20px;

        overflow-x: hidden;
        overflow-y: hidden;
        transition: all 0.2s;
        transform: scale(0.98);
        will-change: transform;
        user-select: none;
        cursor: pointer;
        
        @media screen and (max-width:768px){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .active{
            cursor: grabbing;
            cursor: -webkit-grabbing;
            transform: scale(1);
        }
    }
    .card-body{
        //border: 1px solid #6f7071;
        border-radius: 10px;
        width: 25vh;
        margin: 10px 0;
        flex: initial;
        padding: 0;
        @media screen and (max-width: 768px){
            width: 100%;
        }
        .img-thumbnail{
            background: transparent;
            border: 1px solid #6f7071;
            border-radius: 10px;
        }
    }
    .card-border{
        border: 1px solid #95989a;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        position: relative;
        height: 100%;
        &:nth-child(3){
            grid-row: 1 / 3;
            .card-body{
                width:30vh;
                @media screen and (max-width: 768px){
                    width: 100%;
                }
            }
        }
        // &:nth-of-type(2n){
            // grid-column: 1;
            // grid-row: 1 / 3;
        // }
        @media screen and (max-width:768px){
            margin-top: 10px;
            height: auto;
            width:47%;
            &:nth-of-type(3n){
                width:100%;
            }
        }

        @media screen and (max-width:540px){
            width: 100%;
        }
    }
    .news-tape-item{
        width: 95%;
        height: 95%;
        color: white;
        border-radius: 20px;
        background-color: #424242;
        padding: 1rem;
        margin-bottom: 2rem;
        position: relative;
        cursor: pointer;
        margin: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition-duration: 1s;
        &:hover{
            transform: rotate(-30deg);
            background-image: linear-gradient(180deg, #e55ae9 0%, #9f48e5 100%);
        //   position: absolute;
        //    left: 30%;
        //    top: 10%;
            z-index: 999;
            width: 95%;
            height: 95%;
        }
        .title{
            font-size: 1.2em;
            line-height: 18px;
            text-transform: uppercase;
        }
        .go{
            font-size: 2em;
            cursor: pointer;
        }
    }
    .title_data{
        font-size: .6em;
    }
    span.day, span.month{
        &:after{
            content:' / '
        }
    }

    .btn-go-read{
        width: 300px;
        height: 38px;
        border-radius: 29px;
        font-size: .8em;
        font-weight: 600;
        border: none;
        background-image: linear-gradient(270deg, #e55ae9 0%, #9c47e5 100%);
        color: white;
        text-transform: uppercase;
        cursor: pointer;
       
        div{
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            &:after{
                content: '';
                width: 100%;
                height: 100%;
                background: url(../../../../images/company/news-tape/our.png);
                background-size: 20px;
                background-repeat: no-repeat;
                position: absolute;
                left: 80%;
                top: 10%;
            }
            @media screen and (max-width: 769px){
                &:after{
                    left: 55%;
                    top: 30%;
                }
            }
            @media screen and (max-width: 1100px){
                &:after{
                    left: 80%;
                    top: 20%;
                }
            }

            
        }
        &.footer{
            @media screen and (max-width: 768px){
                display: none;
            }
        }
        &.header{
            display: none;
            @media screen and (max-width: 768px){
                display: inline;
                margin: 2rem 0;
            }
        }
    }
}
}