$speed: 0.25s;
#fullpage_nav {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 60px;
    @media (max-width: 1200px) {
        display: none;
    }
    ul:not(.contacts) {
        list-style: none;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -160px 0 0;
        padding: 25px 0;
        width: 59px;
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition: all $speed linear;
        -moz-transition: all $speed linear;
        -o-transition: all $speed linear;
        transition: all $speed linear;
        li {
            position: relative;
            white-space: nowrap;
            position: relative;
            display: block;
            padding: 5px 100px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            -webkit-transition: all $speed linear;
            -moz-transition: all $speed linear;
            -o-transition: all $speed linear;
            transition: all $speed linear;
            cursor: pointer;
            text-transform: uppercase;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                margin: -5px 0 0;
                left: 24.5px;
                width: 3px;
                height: 3px;
                background-color: none;
                border-radius: 50%;
                -webkit-transition: all $speed linear;
                -moz-transition: all $speed linear;
                -o-transition: all $speed linear;
                transition: all $speed linear;
            }
            &.active {
                color: #4b84f5;
                &::before {
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -o-transform: scale(1.5);
                }
            }
        }
        &.open {
            width: 400px;
            padding: 50px 0;
            margin: -275px 0 0;
            background-color: rgba(0, 0, 0, 0.8);
            li {
                padding: 15px 100px 15px 100px;
                &::before {
                    left: 45px;
                    background-color: #fff;
                    border: none;
                }
                &.active {
                    &::before {
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        background-color: #2d70e4;
                    }
                }
            }
        }
    }
    &.black {
        border-left: 1px solid #999;
        li {
            &::before {
                border: 1px solid rgba(56, 56, 56, 1);
            }
            &.active {
                &::before {
                    background-color: rgba(56, 56, 56, 1);
                }
            }
        }
        @media (max-width: 1200px) {
            background: rgba(255, 255, 255, 1);
        }
    }
    &.white {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        li {
            &::before {
                border: 1px solid rgba(255, 255, 255, 1);
            }
            &.active {
                &::before {
                    background-color: rgba(255, 255, 255, 1);
                }
            }
        }
        @media (max-width: 1200px) {
            background: rgba(255, 255, 255, 1);
        }
    }
    @media (max-width: 1200px) {
        border-left: 0 !important;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
    }

    .contacts {
        position: absolute;
        bottom: 60px;

        width: 60px;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1200px) {
            display: none;
        }

        a {
            width: 38px;
            height: 38px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50%;

            transition: 0.3s ease-out;

            &:focus,
            &:hover {
                opacity: 0.75;
            }
        }

        li {
            margin-bottom: 10px;

            &:first-child {
                a {
                    background-color: #4caf50;
                }
            }

            &:nth-child(2) {
                a {
                    background-color: #cb6dea;
                }
            }

            &:last-child {
                a {
                    background-color: #a9b1f7;
                }

                margin-bottom: 0;
            }
        }
    }

    .icon--phone {
        color: #fff;
    }
}

.layout-index {
    .section {
        padding: 0 60px;

        @media (max-width: 1200px) {
            padding: 0;
        }

        &.s1 {
            padding: 0 0 0 60px;

            @media (max-width: 1200px) {
                padding: 0;
            }
        }
    }
}

.fp-tableCell {
    display: block;
}

.modal {
    color: #2f2f2f;

    &#measurements {
        .modal-body,
        .modal-footer {
            max-width: 350px;
            width: 100%;

            margin: auto;
        }
    }

    &#file-measurements {
        .modal-body {
            text-align: center;

            max-width: 480px;

            margin: auto;
        }
    }

    .modal-content {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        background-color: #ececec;
    }

    .modal-title {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .form-control {
        color: #2f2f2f;
        font-size: 10px;
        font-weight: 600;

        background-color: #e3e3e3;

        border: 1px solid #d8d8d8;
        border-radius: 20px;
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;

        button {
            border-radius: 21px;
            color: #2f2f2f;
            font-size: 12px;
            font-weight: 600;

            padding: 10px 0;

            flex: 0 0 50%;

            &.close {
                background-color: #fff;
            }

            &:not(.close) {
                border: 1px solid #323232;
            }
        }
    }
}

.drop-wrap {
    text-align: center;

    background-color: #fff;

    border-radius: 20px;

    min-height: 250px;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        font-size: 12px;
        font-weight: 500;

        margin-bottom: 30px;
    }

    input {
        position: absolute;

        clip: rect(1px, 1px, 1px, 1px);

        width: 1px;
        height: 1px;

        overflow: hidden;
    }

    svg {
        display: block;
        margin: 10px auto;
    }
}

.drop-list {
    margin-top: 15px;

    span {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.47);
        border-radius: 100px;
        background-color: #ffffff;

        width: 160px;

        padding: 5px 0;

        font-size: 10px;
        font-weight: 500;

        display: inline-block;

        position: relative;
    }

    button {
        font-size: 15px;
        line-height: 1;

        background-color: transparent;
        border: none;

        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.fp-viewing-s3,
.fp-viewing-s5 {
    #top {
        background-color: transparent;
    }

    .l .menu {
        background-color: transparent;
        
        &.opened {
            background-color: #363636;
        }
    }

    #top {
        border-bottom: 1px solid #fff;

        .l {
            border-right: 1px solid #fff;

            @media (max-width: 1200px) {
                border-right: none;
            }
        }

        .cal {
            border-left: 1px solid #fff;

            @media (max-width: 1200px) {
                border-left: none;
            }
        }
    }

    #fullpage_nav.white {
        border-left: 1px solid #fff;

        @media (max-width: 1200px) {
            border-left: none;
        }
    }

    .icon {
        color: #fff;
    }

    .bginput {
        color: #fff;

        border-color: #fff;
        input {
            color: #fff;
        }
        label {
            border-color: #82dcee;
        }

        @media (max-width: 800px) {
            color: #111;

            border-color: #363636;

            input {
                color: #111;
            }

            svg {
                color: #363636;
            }
        }
    }

    .menu {
        a {
            color: #fff;
        }

        a:hover,
        a:focus {
            color: #363636;
            svg {
                color: #363636;
            }
        }
    }
}