.s1 {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	font-size: 14px;

	@media (max-width: 575px) {
		font-size: 13px;
	}

	.fp-bg {
		display: grid;
		grid-template-columns: 1fr 1.3fr;
		height: inherit;

		padding: 60px 0 0 0;

		@media (max-width: 1050px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 800px) {
			grid-template-columns: 1fr;
		}

		@media (max-width: 575px) {
			padding-top: 50px;
		}
	}

	@media (max-width: 800px) {
		.l,
		.r {
			grid-row: 1;
			grid-column: 1;
		}
	}

	.l {
		color: #323232;

		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 800px) {
			align-items: flex-end;
			margin-bottom: 10vh;

			z-index: 1;

			.items {
				display: flex;
				flex-direction: column-reverse;
			}
		}
	}

	.r {
		color: #fff;

		background: #323232 url(/images/index/s1-bg-1.jpg);

		@media (max-width: 800px) {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.3);
			}

			> * {
				position: relative;
			}
		}

		.desktop {
			display: flex;

			@media (max-width: 800px) {
				display: none;
			}
		}

		.items {
			flex-direction: column;
			justify-content: flex-end;

			background-color: hsla(0, 0%, 0%, 0.5);

			max-width: 300px;
			height: 100%;

			margin: 0 0 0 85px;
			padding: 0 0 100px 0;

			@media (max-width: 1050px) {
				margin: 0 0 0 45px;
			}

			li:last-child a:after {
				top: initial;
				bottom: 45px;
			}

			a {
				color: #fff;
				display: block;

				margin: 0 -60px 0 -40px;
				padding: 45px 60px 45px 65px;

				border-radius: 15px;
				background-image: linear-gradient(270deg, hsla(294, 75%, 63%, 0) 0%, hsla(194, 92%, 76%, 0) 100%);

				position: relative;

				@media (max-width: 1280px) {
					padding: 25px 60px 25px 65px;
					margin: 0 -20px 0 -40px;
				}

				&:hover,
				&:focus {
					box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.57);
					background-image: linear-gradient(270deg, hsla(294, 75%, 63%, 1) 0%, hsla(194, 92%, 76%, 1) 100%);
					color: #fff;
					text-decoration: none;

					&:after {
						opacity: 1;
					}

					.arrow-up,
					.arrow-down {
						opacity: 1;
					}
				}

				&:before {
					content: "";

					position: absolute;
					left: 30px;
					top: 47px;

					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cg transform='translate(0 -1032.362)'%3E%3Ccircle cy='1042.362' cx='10' fill='none' stroke='%23fff' stroke-width='1' r='10'/%3E%3Ccircle r='5' cy='1042.362' cx='10' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
					background-size: cover;
					width: 20px;
					height: 20px;

					@media (max-width: 1280px) {
						width: 10px;
						height: 10px;
						top: 28px;
						left: 35px;
					}
				}

				&:after {
					content: "";

					position: absolute;
					right: 60px;
					top: 45px;

					background-image: url("data:image/svg+xml,%3Csvg width='29' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.519 25.74c0 6.402-5.13 11.611-11.435 11.611-6.305 0-11.435-5.229-11.435-11.656v-11.39c0-6.427 5.13-11.656 11.435-11.656 6.305 0 11.435 5.229 11.435 11.656zM14.084 0C6.318 0 0 6.417 0 14.305v11.39C0 33.584 6.318 40 14.084 40c7.765 0 14.084-6.397 14.084-14.26V14.305C28.168 6.417 21.849 0 14.084 0z' fill='%23fff'/%3E%3Cg%3E%3Cpath d='M14.084 10.95c-.732 0-1.325.592-1.325 1.324v4.636a1.324 1.324 0 102.65 0v-4.636c0-.732-.594-1.325-1.325-1.325z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
					background-size: cover;

					width: 29px;
					height: 40px;

					opacity: 0;
				}

				.arrow-up,
				.arrow-down {
					width: 12px;
					height: 12px;

					position: absolute;
					right: 69px;

					opacity: 0;

					&:before,
					&:after {
						content: "";

						background-size: cover;

						width: 12px;
						height: 7px;

						position: absolute;

						@keyframes opacity-arrow {
							0% {
								opacity: 0;
							}

							100% {
								opacity: 1;
							}
						}
					}

					&:before {
						top: 0;

						animation: opacity-arrow 0.75s ease-out infinite;
					}

					&:after {
						bottom: 0;

						animation: opacity-arrow 0.75s 1s ease-out infinite;
					}
				}

				.arrow-down {
					bottom: 46px;

					&:before,
					&:after {
						background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.772.218l4.52 4.52 4.52-4.52A.74.74 0 0111.339 0a.74.74 0 01.527.218.74.74 0 01.218.527.74.74 0 01-.218.527L6.819 6.319a.74.74 0 01-.527.218.74.74 0 01-.527-.218L.718 1.272A.74.74 0 01.5.745.74.74 0 01.718.218.74.74 0 011.245 0c.2 0 .386.078.527.218z' fill='%23fff'/%3E%3C/svg%3E");
					}
				}

				.arrow-up {
					top: 46px;

					&:before,
					&:after {
						background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.772 6.366l4.52-4.52 4.52 4.52a.74.74 0 00.527.218.74.74 0 00.527-.218.74.74 0 00.218-.527.74.74 0 00-.218-.527L6.819.265a.74.74 0 00-.527-.218.74.74 0 00-.527.218L.718 5.312a.74.74 0 00-.218.527.74.74 0 00.218.527.74.74 0 00.527.218.74.74 0 00.527-.218z' fill='%23fff'/%3E%3C/svg%3E");
					}
				}
			}

			.title {
				color: #fff;
				margin-bottom: 1em;

				@media (max-width: 1280px) {
					font-size: 14px;
				}
			}
		}

		@media (max-width: 800px) {
			h1,
			p {
				max-width: 455px;
				margin-left: auto;
				margin-right: auto;
			}

			p {
				margin-top: 15vh;
				margin-bottom: 1.75em;
			}
		}
	}

	h1 {
		font-size: 24px;
		font-weight: 600;
		line-height: 1.5;
		margin: 2.5em 0;
		text-transform: uppercase;

		@media (max-width: 1280px) {
			margin: 1.7em 0;
		}

		@media (max-width: 800px) {
			font-size: 36px;
			color: #fff;
		}

		@media (max-width: 575px) {
			font-size: 24px;
			text-align: center;
			margin-top: 22vh;
		}
	}

	p {
		font-size: 18px;
		text-transform: uppercase;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	.slick-dots {
		display: flex;
		justify-content: center;

		margin: 30px 0;

		@media (max-width: 575px) {
			position: absolute;
			bottom: -10vh;
			left: 50%;
			margin: 0;
			transform: translateX(-50%);
		}

		li {
			margin: 0 10px;
			&.slick-active button {
				background-color: #cb70eb;
			}
		}

		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 8px;
			height: 8px;
			cursor: pointer;
			color: transparent;
			background-color: transparent;
			border: 1px solid #cb70eb;
			border-radius: 50%;
			outline: none;
			background: transparent;
			padding: 0;

			transition: 0.3s ease-out;

			@media (max-width: 575px) {
				background-color: rgba(255, 255, 255, 0.3);
				border: none;
			}
		}
	}

	.wrap {
		transform: translate(-50px, 75px);

		@media (max-width: 1280px) {
			transform: translate(0, 50px);
		}

		@media (max-width: 800px) {
			max-width: initial;
			width: 100%;
			background-color: #fff;
			transform: translate(0, 0);
			display: flex;
			flex-direction: column;
		}

		> * {
			max-width: 370px;
			margin: auto;
		}
	}

	.advantages,
	.items {
		display: flex;

		.title {
			font-size: 18px;

			display: block;
		}
	}

	.advantages {
		margin: 30px auto 60px auto;

		li {
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}
		}

		.title {
			color: #d55ee8;
			margin-bottom: 0.7em;

			@media (max-width: 800px) {
				color: #272727;
			}
		}

		.desc {
			color: #353535;
			font-weight: 500;

			@media (max-width: 800px) {
				color: #272727;
			}
		}
	}

	.items {
		margin: 0 0 100px 0;

		@media (max-width: 800px) {
			margin: 0 auto 0 auto;
			text-align: center;
		}

		.title {
			@media (max-width: 800px) {
				font-size: 36px;
			}
			@media (max-width: 575px) {
				font-size: 17px;
				margin: 1.75em 0 0.5em 0;
			}
		}

		.desc {
			@media (max-width: 800px) {
				font-size: 18px;
			}
			@media (max-width: 575px) {
				font-size: 13px;
				margin-bottom: 1em;
				display: inline-block;
			}
		}

		p {
			display: none;

			@media (max-width: 575px) {
				display: block;
				font-size: 13px;
				letter-spacing: 0.08px;
				line-height: 1.5;
				text-transform: initial;
				margin: 0 auto 3em auto;

				max-width: 260px;
			}
		}
	}

	a.mbutton {
		position: relative;
		box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.57);
		border-radius: 2.4em;
		font-size: 14px;
		background-image: linear-gradient(to right, #d859e7 0%, #bd8af0 100%);
		color: #fff;
		padding: 1.15em 2.75em;

		transition: 0.3s ease-out;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			border-radius: 2.4em;

			background-image: linear-gradient(to right, #bd8af0 0%, #d859e7 100%);

			z-index: 0;
			transition: 0.5s ease-out;
			opacity: 0;
		}

		&:hover,
		&:focus {
			box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.57);

			&:before {
				opacity: 1;
			}
		}

		@media (max-width: 800px) {
			margin-bottom: -1.95em;
		}

		@media (max-width: 575px) {
			font-size: 12px;
		}

		span {
			position: relative;
		}
	}

	.desktop {
		display: block;

		@media (max-width: 800px) {
			display: none;
		}
	}

	.tablet {
		display: none;

		@media (min-width: 575px) and (max-width: 800px) {
			display: block;
		}
	}

	.mob {
		display: none;

		@media (max-width: 575px) {
			display: block;
		}
	}

	.desktop-tablet {
		display: block;

		@media (max-width: 575px) {
			display: none;
		}
	}

	.tablet-mob {
		display: none;

		@media (max-width: 800px) {
			display: block;
		}
	}
}
