.fp-viewing-s2 {
	color: #fff;
	#top,
	#top .menu {
		background-color: #363636;
	}

	.icon {
		color: #fff;
	}

	.bginput {
		border-color: #fff;

		label {
			border-color: #82dcee;
		}
	}

	.menu {
		a {
			color: #fff;
		}

		a:hover,
		a:focus {
			color: #363636;
			svg {
				color: #363636;
			}
		}
	}
}

.s2 {
	font-family: Montserrat, sans-serif;
	background-color: #363636;

	.fp_bg {
		display: grid !important;
		justify-content: initial !important;
	}

	ol {
		margin: 0;
		padding: 0;
	}
}

.s2-main-list,
.s2-secondary-list {
	grid-column: 1;
	grid-row: 1;

	display: grid;
	grid-template-columns: repeat(4, 1fr);

	width: 100%;
	height: 100%;

	@media (max-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}

	> li:nth-child(4n) {
		@media (min-width: 800px) {
			border-right: none;

			border-right: initial;

			&.is-active {
				left: -100%;

				left: initial;
			}
		}
	}
}

.s2-main-list {
	z-index: 1;

	@media (max-width: 800px) {
		> li:nth-child(2n) {
			border-right: none;
		}
	}
}

.s2-secondary-list {
	@media (max-width: 800px) {
		display: block;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;

		&.open {
			z-index: 1;
		}

		.s2-control {
			color: #fff;
			
			position: absolute;
			top: 130px;
			z-index: 1;

			height: 50px;

			border-radius: 40px;

			box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

			border: none;

			&:before {
				content: "";
				background-size: cover;
			}

			&.s2-control--menu {
				width: 195px;

				background-image: linear-gradient(to right, #c17eed 0%, #d361e8 100%);

				left: 50%;
				transform: translateX(-50%);

				&:before {
					background-image: url("data:image/svg+xml,%3Csvg width='23' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.604 1.5H21.5' fill='none' stroke-linecap='round' stroke='%23fff' stroke-miterlimit='50' stroke-width='2'/%3E%3Cpath d='M1.604 9.5H21.5' fill='none' stroke-linecap='round' stroke='%23fff' stroke-miterlimit='50' stroke-width='2'/%3E%3Cg%3E%3Cpath d='M1.604 17.5H21.5' fill='none' stroke-linecap='round' stroke='%23fff' stroke-miterlimit='50' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");

					width: 23px;
					height: 19px;
				}
			}

			&.s2-control--prev,
			&.s2-control--next {
				width: 130px;

				background-color: #555;

				&:before {
					width: 12px;
					height: 22px;
				}
			}

			&.s2-control--prev {
				left: 100px;

				&:before {
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.345 11.639l9.779 9.775c.429.428 1.124.428 1.554 0 .43-.428.43-1.123 0-1.55l-9.003-9 9.002-9c.43-.428.43-1.123 0-1.553a1.101 1.101 0 00-1.554 0L.344 10.087a1.108 1.108 0 00.001 1.552z' fill='%23fff'/%3E%3C/svg%3E");

					left: 25px;
				}
			}

			&.s2-control--next {
				right: 100px;

				&:before {
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.655 11.64l-9.779 9.774a1.101 1.101 0 01-1.554 0 1.096 1.096 0 010-1.55l9.003-9-9.002-9a1.097 1.097 0 010-1.552 1.101 1.101 0 011.554 0l9.779 9.775c.422.423.422 1.13-.001 1.552z' fill='%23fff'/%3E%3C/svg%3E");

					right: 25px;
				}
			}
		}
	}

	ol {
		counter-reset: item;
	}

	a:before {
		counter-increment: item;
		content: "0" counter(item);
	}

	> li {
		border-bottom: 1px solid #9f9f9f;

		position: relative;

		background-color: transparent;

		transition: 0.3s ease-out;

		&.is-active {
			z-index: 1;

			background-color: #363636;

			@media (max-width: 800px) {
				height: 100%;
			}
		}
	}

	.show > ol {
		visibility: visible;
	}

	ol {
		position: absolute;

		visibility: hidden;

		top: 50%;
		left: 50%;

		width: 100%;
		height: 100%;

		max-width: 380px;
		max-height: 380px;

		transform: translate(-50%, -50%);

		@media (min-width: 800px) {
			left: 0;

			display: flex;
			flex-direction: column;
			justify-content: center;

			padding-left: 40px;

			overflow: hidden auto;

			transform: translateY(-50%);
		}
	}

	.material-icons {
		position: absolute;
	}
}

.s2-primary-card {
	position: relative;
	width: 100%;
	height: 100%;

	transition: 0.3s ease-out;

	overflow: hidden;

	background-color: #363636;

	border-right: 1px solid #9f9f9f;
	border-bottom: 1px solid #9f9f9f;

	cursor: pointer;

	@media (max-width: 800px) {
		border-right: none;
	}

	&:hover {
		@media (min-width: 800px) {
			svg {
				filter: drop-shadow(0 0 6px #fff);
			}

			p {
				color: #d268e9;
			}
		}
	}

	&:nth-child(odd) {
		@media (max-width: 800px) {
			border-right: 1px solid #9f9f9f;
		}
	}

	@media (min-width: 800px) {
		&.is-active {
			width: 200%;
			background-color: #363636;

			z-index: 1;

			cursor: initial;

			svg {
				filter: grayscale(1) drop-shadow(0 0 6px #fff);

				top: 150px;

				transform: translate(150%, -50%);
			}

			p {
				opacity: 0;
			}
		}

		&.is-inactive {
			svg {
				filter: grayscale(1);

				opacity: 0.25;
			}
		}
	}

	svg,
	p {
		position: absolute;
		left: 0;
		right: 0;

		text-align: center;

		margin: auto;

		transition: 0.5s ease-out;
	}

	svg {
		width: 200px;
		height: 200px;

		top: 50%;
		transform: translateY(-50%);

		@media (max-width: 1440px) {
			width: 140px;
			height: 140px;
		}

		@media (max-width: 800px) {
			width: 80px;
			height: 80px;
		}

		@media (max-width: 600px) {
			width: 65px;
			height: 65px;
		}
	}

	p {
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;

		bottom: 30px;

		@media (max-width: 1440px) {
			font-size: 18px;
		}

		@media (max-width: 800px) {
			font-size: 13px;
		}

		@media (max-width: 600px) {
			bottom: 10px;
		}
	}
}

.s2-secondary-card {
	a {
		color: #fff;
		font-size: 12px;
		font-weight: 600;
		text-align: left;

		display: block;

		width: 100%;

		position: relative;

		border: none;
		border-radius: 1.5em;

		padding: 0.75em 2.5em 0.75em 4.25em;

		background-color: transparent;

		cursor: pointer;

		@media (max-width: 800px) {
			font-size: 16px;
		}

		@media (max-width: 600px) {
			bottom: 14px;
		}

		&:hover,
		&:focus {
			background-image: linear-gradient(to right, #c17eed 0%, #d361e8 100%);
			text-decoration: none;
			&:before {
				opacity: 1;
			}
		}

		&:before,
		&:after {
			font-size: 1.5em;

			position: absolute;
			top: 50%;

			transform: translateY(-50%);
		}

		&:before {
			left: 1em;

			opacity: 0;
		}

		&[href="#"]:not(.disabled) {
			&:after {
				content: "+";
				right: 0.9em;
			}
		}
	}

	.disabled {
		// display: none;
	}
}
