[class^="fp-viewing-s2"] {
	#top,
	#top .menu {
		background-color: #363636;
	}

	.icon {
		color: #fff;
	}

	.bginput {
		color: #fff;

		border-color: #fff;
		input {
			color: #fff;
		}
		label {
			border-color: #82dcee;
		}
	}

	.menu {
		a {
			color: #fff;
		}

		a:hover,
		a:focus {
			color: #363636;
			svg {
				color: #363636;
			}
		}
	}

	.s2 {
		color: #fff;
	}
}

.s2 {
	padding-right: 60px;

	color: #fff;

	background-color: #363636;

	@media (max-width: 1200px) {
		padding-right: 0;
	}

	@media (max-width: 910px) {
		&.isActive {
			.s2-cards {
				z-index: -1;
			}

			.s2-close {
				z-index: 2;
			}
		}

		ol {
			padding: 0;
		}

		.s2-close {
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
			color: #fff;

			background-image: linear-gradient(to right, #c17eed 0%, #d361e8 100%);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);

			border: none;
			border-radius: 23px;

			position: absolute;
			top: 90px;
			left: 50%;
			z-index: -1;

			height: 40px;
			width: 165px;

			padding-left: 15px;

			transform: translateX(-50%);

			&:before {
				content: "";

				background-image: url("data:image/svg+xml,%3Csvg width='23' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.604 1.5H21.5' fill='none' stroke-linecap='round' stroke='%23fff' stroke-miterlimit='20' stroke-width='2'/%3E%3Cpath d='M1.604 9.5H21.5' fill='none' stroke-linecap='round' stroke='%23fff' stroke-miterlimit='20' stroke-width='2'/%3E%3Cg%3E%3Cpath d='M1.604 17.5H21.5' fill='none' stroke-linecap='round' stroke='%23fff' stroke-miterlimit='20' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;

				width: 23px;
				height: 19px;

				position: absolute;
				left: 28px;
				top: 50%;

				transform: translateY(-50%);
			}
		}

		.fp-next,
		.fp-prev {
			border: none;

			margin: 0;

			position: absolute;
			top: 90px;

			width: 80px;
			height: 40px;

			background-color: #555555;

			&:before {
				content: "";

				background-repeat: no-repeat;

				width: 10px;
				height: 18px;

				position: absolute;
				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);
			}
		}

		.fp-next {
			border-radius: 23px 0 0 23px;
			right: 0;

			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.324 9.311L1.5 17.131a.881.881 0 01-1.244 0 .876.876 0 010-1.24l7.203-7.2-7.202-7.2a.877.877 0 010-1.242.881.881 0 011.244 0l7.823 7.82a.886.886 0 01-.001 1.242z' fill='%23fff'/%3E%3C/svg%3E");
			}
		}

		.fp-prev {
			border-radius: 0 23px 23px 0;
			left: 0;
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.254 9.311l7.823 7.82c.343.343.9.343 1.244 0a.876.876 0 000-1.24l-7.203-7.2 7.202-7.2a.877.877 0 000-1.242.881.881 0 00-1.244 0L.253 8.07a.886.886 0 00.001 1.242z' fill='%23fff'/%3E%3C/svg%3E");
			}
		}

		.slide {
			.card-icon {
				position: absolute;
				bottom: 0;
				right: 5px;
				z-index: 1;

				width: 120px;
				height: 120px;
			}
		}

		.slide-wrap {
			padding-top: 180px;
		}

		.fp-tableCell {
			position: relative;
		}

		.s2-first-level,
		.s2-first-level li {
			max-width: 200px;
			margin: 0 auto;
			width: 100%;
		}

		.s2-first-level {
			&.isActive {
				overflow: hidden;
			}

			ol {
				display: none;
				margin: 0;
			}

			.isShown {
				position: absolute;
				top: 180px;
				left: 0;
				z-index: 1;

				width: 100%;
				height: 100%;

				display: flex;
				flex-direction: column;
				justify-content: flex-start;

				background-color: #363636;
			}
		}

		.s2-cards {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;

			background-color: #363636;

			width: 100%;
			height: 100%;

			padding-top: 60px;

			display: flex;
			flex-flow: row wrap;

			&.hidden {
				z-index: -1;
			}
		}

		.s2-front-card {
			text-align: center;

			width: 50%;
			border-bottom: 1px solid #9f9f9f;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&:nth-child(odd) {
				border-right: 1px solid #9f9f9f;
			}

			p {
				font-size: 13px;
				text-transform: uppercase;

				margin: 20px 0 0 0;
			}

			.card-icon {
				width: 70px;
				height: 70px;
			}
		}

		.s2-title {
			font-size: 15px;
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;

			margin-bottom: 40px;
		}
	}

	svg,
	button,
	a,
	li,
	.s2-front-card,
	.s2-back-card {
		transition: 0.3s ease-out;
	}

	.desktop {
		padding-top: 60px;
		
		@media (max-width: 910px) {
			display: none;
		}
	}

	.mob {
		display: none;
		@media (max-width: 910px) {
			display: block;

			background-color: #363636;

			a,
			a.more {
				font-size: 13px;

				padding: 0.7em 0;

				text-transform: uppercase;

				&:before {
					content: initial;
				}

				&:after {
					flex: initial;
					padding: 0 0 0 2em;
				}
			}

			// .s2-first-level {
			// 	max-width: 60%;
			// 	margin: auto;
			// 	transform: translateX(15%);
			// }
		}
	}

	a {
		display: inline-block;

		color: #fff;
		font-size: 14px;
		font-weight: 600;

		padding: 0.7em 0 0.7em 5em;

		width: 100%;

		display: flex;
		align-items: center;

		position: relative;

		&:hover,
		&:focus {
			text-decoration: none;

			&:before,
			.bg {
				opacity: 1;
			}
		}

		&:before {
			counter-increment: item;
			content: "0" counter(item);

			font-size: 0.85em;

			opacity: 0;

			position: absolute;
			left: 2em;
			top: 1em;

			transition: 0.3s ease-out;
		}

		&.more {
			&:after {
				content: "+";

				font-size: 1.5em;
				line-height: 1;

				flex: 1;

				text-align: right;

				padding-right: 1em;
			}
		}

		.bg {
			background-image: linear-gradient(to right, #c17eed 0%, #d361e8 100%);

			width: 100%;
			height: 100%;

			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;

			border-radius: 1.65em;

			opacity: 0;

			transition: 0.3s ease-out;

			box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
		}
	}
}
.s2-main-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	height: calc(100vh - 60px);

	@media (max-width: 910px) {
		grid-template-columns: repeat(2, 1fr);

		height: initial;
	}

	> li {
		position: relative;
		height: 100%;
		width: 100%;

		border-right: 1px solid #9f9f9f;

		cursor: pointer;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			border-bottom: 1px solid #9f9f9f;
		}

		&:nth-child(4n + 4) {
			border-right: none;
		}

		&:hover {
			.s2-front-card {
				p {
					color: #d268e9;
				}

				.card-icon {
					filter: drop-shadow(0 0 4px #fff);
				}
			}
		}

		&.active {
			cursor: default;

			&:nth-child(4n + 4) {
				.s2-front-card,
				.s2-back-card {
					left: -100%;
				}

				.s2-mouse {
					left: 10%;
				}
			}

			.s2-front-card,
			.s2-back-card {
				z-index: 2;
			}

			.s2-front-card {
				background-color: #2c2c2c;

				width: 200%;

				overflow: hidden;

				p {
					visibility: hidden;
				}

				.card-icon {
					left: 40%;

					filter: grayscale(1) drop-shadow(0 0 4px #fff);
				}

				.card-close {
					opacity: 1;

					cursor: pointer;
				}
			}
		}

		&.inactive {
			&:hover {
				.s2-front-card {
					p {
						color: #fff;
					}
				}
			}

			.s2-front-card {
				.card-icon {
					filter: grayscale(1);
				}
			}
		}
	}
}

.s2-front-card,
.s2-back-card {
	@media (min-width: 910px) {
		position: absolute;
		left: 0;
		top: 0;

		height: 100%;
		width: 100%;
	}
}

.s2-front-card {
	@media (min-width: 910px) {
		z-index: 1;

		text-align: center;

		background-color: #363636;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		div {
			margin: 50px 40px 0 40px;

			display: flex;
			justify-content: space-between;
		}

		p {
			font-size: 24px;
			font-weight: 600;
			text-transform: uppercase;

			margin-bottom: 2em;

			@media (max-width: 1440px) {
				font-size: 18px;
			}
		}

		button {
			border: none;
			background-color: transparent;

			padding: 5px;

			cursor: pointer;
		}

		.card-icon {
			position: relative;
			left: 0;

			height: 172px;

			@media (max-width: 1440px) {
				height: 140px;
			}
		}

		.card-close,
		.card-back {
			stroke: #fff;
			fill: transparent;

			opacity: 0;

			cursor: default;
		}

		.card-back {
			&.show {
				opacity: 1;

				cursor: pointer;
			}
		}
	}
}

.s2-back-card {
	position: absolute;

	overflow: auto;

	margin: 13vh 1px 1px 100px;

	height: calc(100% - 13vh - 1px);
	width: calc(100% - 101px);

	@media (max-width: 1440px) {
		margin: 13vh 1px 1px 21px;

		width: calc(100% - 21px);
	}

	&::-webkit-scrollbar {
		width: 0px;
	}

	> ol {
		display: block;

		position: relative;

		ol {
			display: none;
		}
	}

	ol {
		counter-reset: item;

		padding: 0;

		height: 100%;
	}

	.isActive {
		overflow: hidden;
	}

	.isShown {
		display: block;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		width: 100%;

		background-color: #2c2c2c;
	}
}

.s2-card {
	&.isScroll .s2-mouse {
		opacity: 1;
	}
	
	.s2-mouse {
		opacity: 0;
		position: absolute;
    	z-index: 2;
    	top: 15vh;
		left: 110%;
	}

	@keyframes pulse {
		from {
			opacity: 1;
		}
		
		to {
			opacity: 0;
		}
	}
}