#fullpage_welcome {
    .section {
        &.s6 {
            .l {
                position: absolute;
                top: 0;
                left: 0;
                width: 37%;
                height: 100%;
                background-color: #232323;
                color: white;
                padding: 0 80px;
                display: flex;
                align-items: center;
                border-right: 1px solid #444444;
                .bg {
                    width: 100%;
                    .title {
                        font-family: 'MontserratSemiBold';
                        font-size: 60px;
                        line-height: 60px;
                        text-transform: uppercase;
                        text-align: center;
                        padding-bottom: 30px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .select_type {
                        background-color: #2e2e2e;
                        border-radius: 10px;
                        padding: 15px;
                        margin: 0 0 40px;
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            li {
                                display: inline-block;
                                width: 50%;
                                font-family: 'MontserratSemiBold';
                                font-size: 14px;
                                line-height: 20px;
                                text-transform: uppercase;
                                text-align: center;
                                a {
                                    display: block;
                                    opacity: .5;
                                    color: white;
                                    text-decoration: none;
                                    &:hover {
                                        opacity: .7;
                                    }
                                }
                                &.active {
                                    a {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                    .selected_type {
                        background-color: #383838;
                        border-radius: 10px 10px 0 0;
                        padding: 15px 25px;
                        height: 160px;
                        .empty {
                            color: white;
                            opacity: .5;
                        }
                    }
                    a.add_selected {
                        position: relative;
                        display: block;
                        color: white;
                        height: 70px;
                        background-color: #454545;
                        border-radius: 0 0 10px 10px;
                        font-family: 'MontserratMedium';
                        font-size: 16px;
                        line-height: 20px;
                        padding: 25px 20px 25px 60px;
                        margin: 0 0 30px 0;
                        text-decoration: none;
                        &::before {
                            content: '+';
                            position: absolute;
                            top: 25px;
                            left: 20px;
                            width: 20px;
                            height: 20px;
                            background-color: white;
                            border-radius: 50%;
                            color: #2d70e4;
                            text-align: center;
                            line-height: 20px;
                            font-size: 24px;
                        }
                    }
                    .cost {
                        height: 100px;
                        background-color: #454545;
                        border-radius: 10px;
                        line-height: 20px;
                        padding: 40px 50px;
                        font-family: 'MontserratSemiBold';
                        font-size: 16px;
                        text-transform: uppercase;
                        color: white;
                        .desc {

                        }
                        .value {
                            float: right;
                            font-size: 20px;
                            .val {

                            }
                            .rub {

                            }
                        }
                    }
                    .link1 {
                        margin: 30px 0 0;
                    }
                    .link2 {
                        margin: 30px 0 0;
                    }
                }
            }
            .r {
                position: absolute;
                top: 0;
                right: 0;
                width: 63%;
                height: 100%;
                background-color: #333;
                background-image: url('/images/index/bg.jpg');
                background-size: cover;
                background-position: center;
                .bg {
                    position: absolute;
                    top: 60px;
                    left: 60px;
                    right: 60px;
                    bottom: 60px;
                    .title {
                        padding: 10px 0;
                        margin: 0 0 30px;
                        .desc {
                            margin: 0 30px;
                            color: white;
                            font-family: 'MontserratSemiBold';
                            font-size: 30px;
                            line-height: 30px;
                            text-transform: uppercase;
                            opacity: .5;
                            text-align: center;
                        }
                        a.left,
                        a.right {
                            display: block;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            i {
                                font-size: 30px;
                                line-height: 30px;
                                color: white;
                            }
                        }
                        a.left {
                            float: left;
                        }
                        a.right {
                            float: right;
                        }
                    }
                    ul {
                        margin: 0;
                        height: 50px;
                        padding: 15px;
                        list-style: none;
                        background-color: #2e2e2e;
                        border-radius: 10px;
                        li {
                            vertical-align: top;
                            display: inline-block;
                            width: 25%;
                            text-align: center;
                            padding: 0;
                            a {
                                display: block;
                                color: white;
                                text-decoration: none;
                                opacity: .5;
                                font-family: 'MontserratSemiBold';
                                font-size: 14px;
                                line-height: 20px;
                                text-transform: uppercase;
                                &:hover {
                                    opacity: .7;
                                }
                            }
                            &.active {
                                a {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .data {
                        position: absolute;
                        top: 160px;
                        left: 0;
                        width: 100%;
                        bottom: 0;
                        background-color: #383838;
                        border-radius: 10px;
                        padding: 50px;
                        .empty {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            .t {
                                font-family: 'MontserratSemiBold';
                                font-size: 24px;
                                line-height: 24px;
                                color: white;
                                text-align: center;
                                padding: 0 0 26px 0;
                            }
                            .d {
                                font-family: 'Montserrat';
                                font-size: 16px;
                                line-height: 16px;
                                color: white;
                                text-align: center;
                                padding: 0 0 34px 0;
                            }
                            .additem {
                                position: absolute;
                                top: 100px;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                a {
                                    font-family: 'MontserratSemiBold';
                                    font-size: 14px;
                                    line-height: 14px;
                                    text-transform: uppercase;
                                    position: absolute;
                                    top: 0;
                                    height: 100%;
                                    width: 49%;
                                    background-color: #ededed;
                                    color: #010101;
                                    text-decoration: none;
                                    display: block;
                                    border-radius: 10px;
                                    padding: 10px;
                                    text-align: center;
                                    display: flex;
                                    align-items: center;
                                    .bg_link {
                                        width: 100%;
                                        .img {
                                            width: 100%;
                                            height: 90px;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            background-size: contain;
                                        }
                                        .name {
                                            padding: 30px 0 0;
                                        }
                                    }
                                    &.item0 {
                                        left: 0;
                                        .img {
                                            background-image: url('/images/index/s5/o_black.svg');
                                        }
                                    }
                                    &.item1 {
                                        right: 0;
                                        .img {
                                            background-image: url('/images/index/s5/b_black.svg');
                                        }
                                    }
                                    &:hover {
                                        background-color: #2d70e4;
                                        color: white;
                                        &.item0 {
                                            .img {
                                                background-image: url('/images/index/s5/o_white.svg');
                                            }
                                        }
                                        &.item1 {
                                            .img {
                                                background-image: url('/images/index/s5/b_white.svg');
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}