.fp-viewing-s6 {
    #top {
        background-color: transparent;
    }

    .l .menu {
        background-color: transparent;

        &.opened {
            background-color: #363636;
        }
    }

    #top {
        border-bottom: 1px solid #fff;

        .l {
            border-right: 1px solid #fff;

            @media (max-width: 1200px) {
                border-right: none;
            }
        }

        .cal {
            border-left: 1px solid #fff;

            @media (max-width: 1200px) {
                border-left: none;
            }
        }
    }

    #fullpage_nav.white {
        border-left: 1px solid #fff;

        @media (max-width: 1200px) {
            border-left: none;
        }
    }

    .bginput {
        color: #fff;

        border-color: #fff;
        input {
            color: #fff;
        }
        label {
            border-color: #82dcee;
        }

        @media (max-width: 800px) {
            color: #111;

            border-color: #363636;

            input {
                color: #111;
            }

            svg {
                color: #363636;
            }
        }
    }

    .menu {
        a {
            color: #fff;
        }

        a:hover,
        a:focus {
            color: #363636;
            svg {
                color: #363636;
            }
        }
    }
}

.s6 {
    color: #fff;

    position: relative;

    background-color: #323232;

    .fp-bg {
        // padding: 60px 0 80px 0;

        padding: 60px 0 7vh 0;

        height: 100%;

        @media (max-width: 800px) {
            padding: 60px 0 0 0;

            display: flex;
            align-items: flex-end;
        }

        @media (max-width: 600px) {
            height: 650px;
        }
    }
}

.s6-btn-wrap {
    position: absolute;
    right: 100px;
    // bottom: 100px;
    bottom: 10vh;
    z-index: 4;

    max-width: 300px;
    width: 100%;

    @media (max-width: 1200px) {
        bottom: inherit;
        top: 100px;
        right: 60px;
    }

    @media (max-width: 575px) {
        right: 50%;
        top: 70px;

        transform: translateX(50%);
    }

    .btn {
        height: 50px;
        max-width: 300px;

        @media (max-width: 1200px) {
            height: initial;
        }

        @media (max-width: 800px) {
            width: 100%;
        }
    }
}

.s6-slider-imgs {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &:before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.33) 25%,
            rgba(0, 0, 0, 0) 100%
        );

        z-index: 1;

        @media (max-width: 800px) {
            content: initial;
        }
    }

    .s6-slide {
        width: 100vw;
        height: 100vh;

        @media (max-width: 600px) {
            height: 650px;
        }

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

.s6-slider-wrap,
.s6-slider {
    height: 100%;
}

.s6-slider-wrap {
    overflow: hidden;

    display: flex;
    align-items: flex-end;

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;

        height: 150px;

        margin: 0 85px;
        padding: 0 45px 40px 45px;

        background-color: hsla(0, 0%, 0%, 0.5);

        z-index: 1;

        transition: 0.3s ease-out;
    }

    @media (max-width: 575px) {
        margin: 0;
        padding: 0 40px 20px 40px;

        height: 130px;
    }

    &.isOpen {
        @media (max-width: 800px) {
            height: calc(100% - 200px);

            .s6-dropup {
                svg {
                    transform: rotate(180deg);
                }
            }

            .s6-slide {
                > div {
                    flex-direction: column;
                    align-items: flex-start;

                    max-width: 360px;

                    margin: auto;
                }
            }

            .s6-title {
                order: initial;
                margin-bottom: 6vh;

                align-self: center;
            }

            .s6-description {
                display: block;
            }

            .s6-img {
                margin: 6vh 0 3.5vh 0;
                width: initial;
            
                img {
                    width: 100%;
                }
            }

            .s6-slider-panel {
                opacity: 0;
            }
        }

        @media (max-width: 575px) {
            height: calc(100% - 105px);

            .s6-img {
                max-width: 67px;

                margin: 30px 0 0 0;
            }
        }
    }
}

.s6-dropup {
    display: none;

    @media (max-width: 800px) {
        display: block;

        width: 100%;

        padding: 20px;

        background-color: transparent;
        border: none;

        svg {
            width: 18px;
            height: 11px;

            transition: 0.3s ease-out;
        }
    }

    @media (max-width: 575px) {
        padding: 10px;
    }
}

.s6-slider-windows {
    width: 100%;

    z-index: 2;

    .s6-slide {
        > div {
            max-width: 500px;

            padding-left: 50px;

            @media (max-width: 800px) {
                max-width: initial;

                padding-left: 0;

                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }
        }
    }

    .s6-wrap {
        @media (max-width: 800px) {
            display: flex;
            align-items: center;
        }
    }
}

.s6-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.11px;
    text-transform: uppercase;

    // margin-bottom: 3em;
    margin-bottom: 6vh;

    @media (max-width: 800px) {
        margin-bottom: 0;
        order: 1;
    }

    @media (max-width: 575px) {
        font-size: 15px;
    }
}

.s6-description {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.08px;

    margin-bottom: 0;

    @media (max-width: 800px) {
        display: none;
    }

    @media (max-width: 575px) {
        font-size: 13px;
    }
}

.s6-img {
    margin: 6vh 0 3.5vh 0;

    @media (max-width: 800px) {
        width: 24px;
        margin: 0;
    }

    img {
        width: 100%;
        max-width: 117px;
    }
}

.s6-model {
    font-size: 18px;
    font-weight: 600;

    @media (max-width: 800px) {
        margin-left: 20px;
    }

    @media (max-width: 575px) {
        font-size: 12px;
    }

    span:first-child {
        text-transform: uppercase;

        display: block;
    }
}

.s6-slider-panel {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.08px;

    position: absolute;
    bottom: 10vh;
    left: 50%;
    z-index: 3;

    transform: translateX(-50%);

    border-radius: 25px;
    background-color: hsla(0, 0%, 0%, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 400px;
    width: 100%;
    height: 50px;

    @media (max-width: 1200px) {
        max-width: 350px;
    }

    @media (max-width: 800px) {
        width: initial;
        height: initial;

        background-color: transparent;

        left: initial;
        right: 130px;
        bottom: 40px;

        transform: initial;

        button {
            display: none;
        }
    }

    @media (max-width: 575px) {
        right: 40px;
    }

    .slick-arrow {
        background-color: transparent;
        border: none;

        padding: 15px 40px;

        &.slick-disabled {
            cursor: default;
            opacity: 0;
        }

        svg {
            width: 10px;
            height: 10px;
        }
    }

    .slick-pagination {
        li {
            display: none;

            &.slick-active {
                display: block;
            }
        }
    }
}

.s6-swipe {
    display: none;

    @media (max-width: 800px) {
        display: block;

        position: absolute;
        top: 120px;
        left: 100px;
        z-index: 1;

        svg {
            width: 70px;
            height: 33px;
        }
    }

    @media (max-width: 575px) {
        left: 50%;
        top: 130px;

        transform: translateX(-50%);
    }
}
