#fullpage_welcome {
    .section {
        &.s7 {
            .data {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 80px;
                width: 100%;
                .info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 25%;
                    background: -moz-linear-gradient(0deg, rgba(42,0,164,1) 0%, rgba(22,94,211,1) 100%); /* ff3.6+ */
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(42,0,164,1)), color-stop(100%, rgba(22,94,211,1))); /* safari4+,chrome */
                    background: -webkit-linear-gradient(0deg, rgba(42,0,164,1) 0%, rgba(22,94,211,1) 100%); /* safari5.1+,chrome10+ */
                    background: -o-linear-gradient(0deg, rgba(42,0,164,1) 0%, rgba(22,94,211,1) 100%); /* opera 11.10+ */
                    background: -ms-linear-gradient(0deg, rgba(42,0,164,1) 0%, rgba(22,94,211,1) 100%); /* ie10+ */
                    background: linear-gradient(90deg, rgba(42,0,164,1) 0%, rgba(22,94,211,1) 100%); /* w3c */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a00a4', endColorstr='#165ed3',GradientType=1 ); /* ie6-9 */
                    .l {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        font-family: 'MontserratSemiBold';
                        font-size: 60px;
                        line-height: 70px;
                        text-transform: uppercase;
                        color: #FFF;
                        display: flex;
                        align-items: center;
                        padding: 0 80px;
                        @media (max-width: 992px) {
                            font-size: 50px;
                            line-height: 60px;
                        }
                        @media (max-width: 768px) {
                            font-size: 35px;
                            line-height: 55px;
                            padding: 0 50px;
                        }
                        @media (max-width: 576px) {
                            width: 100%;
                            line-height: 40px;
                            justify-content: center;
                            text-align: center;
                        }
                    }
                    .r {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 50%;
                        height: 100%;
                        font-family: 'Montserrat';
                        font-size: 16px;
                        line-height: 30px;
                        color: #FFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 80px 0 0;
                        @media (max-width: 1342px) {
                            line-height: 26px;
                        }
                         @media (max-width: 992px) {
                            line-height: 20px;
                            font-size: 15px;
                        }
                        @media (max-width: 768px) {
                            line-height: 15px;
                            font-size: 13px;
                            padding-right: 50px;
                        }
                        @media (max-width: 576px) {
                            display: none;
                        }
                    }
                }
                .owl-carousel {
                    position: absolute;
                    top: 25%;
                    left: 0;
                    width: 100%;
                    height: 75%;
                    .owl-stage-outer {
                        height: 100%;
                        .owl-stage {
                            height: 100%;
                            .owl-item {
                                height: 100%;
                                .item {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: space-around;
                                    flex-direction: column;
                                    .bg_flex {
                                        position: relative;
                                        height: 33.3333333333%;
                                        border-right: 1px solid #999999;
                                        border-bottom: 1px solid #999999;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        img {
                                            width: 200px;
                                            opacity: .3;
                                            @media (max-width: 576px) {
                                                max-width: 200px;
                                                width: 80%;
                                            }
                                        }
                                        .title {
                                            display: none;
                                            justify-content: center;
                                            align-items: center;
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            background-color: rgba(22,94,212,.9);
                                            font-family: 'Montserrat';
                                            font-size: 10px;
                                            line-height: 14px;
                                            text-transform: uppercase;
                                            color: #FFF;
                                            text-align: center;
                                            padding: 0 20px;
                                            span {
                                                font-family: 'MontserratSemiBold';
                                                font-size: 16px;
                                                line-height: 20px;
                                                width: 100%;
                                                padding-bottom: 10px;
                                                display: block;
                                            }
                                        }
                                        &:hover {
                                            .title {
                                                display: flex;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .owl-dots {
                        margin: 25px;
                    }
                }
            }
        }
    }
}