[class^="fp-viewing-s8"] {
    #top {
        background-color: transparent;
    }
    .l .menu {
        background-color: transparent;
        &.opened {
            background-color: #363636;
        }
    }
    #top {
        border-bottom: 1px solid #fff;
        .l {
            border-right: 1px solid #fff;
            @media (max-width: 1200px) {
                border-right: none;
            }
        }
        .cal {
            border-left: 1px solid #fff;
            @media (max-width: 1200px) {
                border-left: none;
            }
        }
    }
    #fullpage_nav.white {
        border-left: 1px solid #fff;
        @media (max-width: 1200px) {
            border-left: none;
        }
    }
    .icon {
        color: #fff;
    }
    .bginput {
        color: #fff;
        border-color: #fff;
        input {
            color: #fff;
        }
        label {
            border-color: #82dcee;
        }
        @media (max-width: 768px) {
            color: #111;
            border-color: #363636;
            input {
                color: #111;
            }
            svg {
                color: #363636;
            }
        }
    }
    .menu {
        a {
            color: #fff;
        }
        a:hover,
        a:focus {
            color: #363636;
            svg {
                color: #363636;
            }
        }
    }
}

.section {
    &.s8 {
        height: 100vh;
        background-size: cover; 
        background-image: url('/images/index/s8/s8-fullhd.jpg');
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width: 1200px) {
            background-image: url('/images/index/s8/s8-tablet.jpg');
        }
        @media (max-width: 768px) {
            background-image: url('/images/index/s8/s8-phone.jpg');
            height: auto;
        }
        .fp_bg {
            height: 100vh;
            padding-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px) {
                height: auto;
            }
            .flex-block {
                display: flex;
                flex-direction: column;
                .top-block {
                    display: flex;
                    justify-content: center;
                    .left {
                        width: 390px;
                        @media (max-width: 1200px) {
                            display: none;
                        }
                    }
                    .right {
                        width: 600px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        @media (max-width: 1200px) {
                            flex-direction: row;
                            justify-content: center;
                        }
                        @media (max-width: 768px) {
                            width: auto;
                        }
                        .title {
                            display: flex;
                            align-items: flex-end;
                            text-transform: uppercase;
                            font-family: Montserrat;
                            color: white;
                            font-weight: 400;
                            font-size: 24px;
                            padding: 0 0 60px 40px;
                            @media (max-width: 1200px) {
                                padding: 0 0 60px 0px;
                            }
                        }
                    }                
                }
                .bottom-block {
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    @media (max-width: 1200px) {
                        flex-direction: column;
                        align-items: center;
                    }
                    .type-block {
                        width: 350px;
                        margin-right: 40px;
                        .empty-wrap {
                            height: 30px;
                            @media (max-width: 1200px) {
                                display: none;
                            }
                        }
                        ul {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            width: 100%;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 600;
                            font-family: Montserrat;
                            color: white;
                            padding: 0;
                            list-style: none;
                            text-transform: uppercase;
                            @media (max-width: 1200px) {
                                font-size: 15px;
                                align-items: center;
                            }
                            @media (max-width: 768px) {
                                font-size: 11px;
                            }
                            li {
                                position: relative;
                                cursor: pointer;
                                margin: 0 0 15px 0px;
                                border: 1px solid #676767;
                                border-radius: 8px;
                                width: 350px;
                                &:hover, &.active {
                                    border: 1px solid #2F2F2F;
                                    background-color: #2F2F2F;
                                    i {
                                        display: block;
                                        @media (max-width: 1200px) {
                                            display: none;
                                        }
                                    }
                                }
                                @media (max-width: 1200px) {
                                    width: 410px;
                                    padding: 0px;
                                    border: 1px solid #171717;
                                    border-radius: 7px;
                                    opacity: 0.77;
                                    background-color: #171717;
                                    margin: 0 0 20px 0px;
                                    &:hover, &.active {
                                        // border: 1px solid #2F2F2F;
                                        border: none;
                                        opacity: 1;
                                        background: linear-gradient(to top, #D165E9, #8EDDFA);
                                        i {
                                            display: none;
                                        }
                                        &::after {
                                            content: '';
                                            position: absolute;
                                            right: 25px;
                                            top: 50%;
                                            transform: translate(0, -50%);
                                            border-radius: 50%;
                                            background-color: white;
                                            width: 6px;
                                            height: 6px;
                                        }
                                    }
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        right: 23px;
                                        top: 50%;
                                        transform: translate(0, -50%);
                                        border-radius: 50%;
                                        border: 1px solid white;
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
                                @media (max-width: 768px) {
                                    width: 100%;
                                }
                                label {
                                    padding: 22px 70px 22px 40px;
                                    width: 100%;
                                    margin: 0;
                                    input {
                                        display: none;
                                    }
                                    i {
                                        display: none;
                                        position: absolute;
                                        right: 20px;
                                        top: 50%;
                                        transform: translate(0, -50%);
                                        font-size: 24px;
                                    }
                                    @media (max-width: 768px) {
                                        padding: 11px 70px 11px 40px;
                                    }
                                }
                            }
                        }
                        @media (max-width: 1200px) {
                            margin: 0 0 60px 0;
                        }
                        @media (max-width: 768px) {
                            width: 100%;
                            padding: 0 45px;
                        }
                    }
                    .form-block {
                        width: 600px;
                        @media (max-width: 768px) {
                            width: 100%;
                            padding: 0 45px;
                        }
                        .form_contact {
                            position: relative;
                            .mask {
                                position: relative;
                                .contacts{
                                    display: flex;
                                    justify-content: space-between;
                                    padding-bottom: 15px;
                                    @media (max-width: 768px) {
                                        flex-direction: column;
                                        align-items: center;
                                        width: 100%
                                    }
                                    .form-group {
                                        width: 100%;
                                        &.phone {
                                            display: flex;
                                            flex-direction: column;
                                            align-items: flex-end;
                                            label {
                                                padding-left: 47px;
                                            }
                                        }
                                        label {
                                            height: 30px;
                                            width: 100%;
                                            font-size: 14px;
                                            line-height: 18px;
                                            font-weight: 500;
                                            font-family: Montserrat;
                                            color: #fff;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center ;
                                            margin:0;
                                            padding-left: 41px;
                                        }
                                        input {
                                            position: relative;
                                            cursor: pointer;
                                            padding: 22px 70px 22px 40px;
                                            border: 1px solid #676767;
                                            border-radius: 8px;
                                            width: 294px;
                                            background-color: rgba(0,0,0, 0.4);
                                            opacity: 1;
                                            font-size: 14px;
                                            background-image: none;
                                            @media (max-width: 768px) {
                                                width: 100%;
                                                padding: 16px 70px 16px 40px;
                                            }
                                            &::placeholder {
                                                color: white !important;
                                                opacity: 1 !important;
                                            }
                                        } 
                                    }
                                }
                                .msg {
                                    .form-group {
                                        width: 100%;
                                        position: relative;
                                        margin: 0;
                                        label {
                                            height: 30px;
                                            width: 100%;
                                            font-size: 14px;
                                            line-height: 18px;
                                            font-weight: 500;
                                            font-family: Montserrat;
                                            color: white;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center ;
                                            margin: 0 0 0 41px;
                                        }
                                        .messageWrap {
                                            @media (max-width: 768px) {
                                                display: flex;
                                                flex-direction: column;
                                                height: 245px;
                                            }
                                            textarea {
                                                height: 195px;
                                                border: 1px solid #676767;
                                                border-bottom: none;
                                                border-radius: 8px 8px 0 0;
                                                background-color: rgba(0,0,0, 0.4);
                                                opacity: 1;
                                                color: white !important;
                                                background-image: none !important;
                                                resize: none;
                                                overflow: hidden;
                                                padding-bottom: 40px;
                                                @media (max-width: 768px) {
                                                    flex-grow: 1;
                                                    height: auto;
                                                }
                                                &::placeholder {
                                                    color: white !important;
                                                    opacity: 1 !important;
                                                }
                                            }
                                            .panelWrap {
                                                height: 50px;
                                                border: 1px solid #676767;
                                                border-top: none;
                                                border-radius: 0 0 8px 8px;
                                                background-color: rgba(0,0,0, 0.4);
                                                color: white;
                                                font-size: 14px;
                                                line-height: 18px;
                                                font-weight: 500;
                                                font-family: Montserrat;
                                                display:flex;
                                                justify-content: flex-end;
                                                align-items: center;
                                                padding-right: 15px;
                                                @media (max-width: 768px) {
                                                    flex-shrink: 0;
                                                    height: auto;
                                                    padding: 10px 10px 5px 10px;
                                                }
                                                .clip {
                                                    order: 2;
                                                    input {
                                                        display: none;
                                                    }
                                                    label {
                                                        margin: 0;
                                                        cursor: pointer;
                                                    }
                                                }
                                                .fileListContainer {
                                                    order: 1;
                                                    display: flex;
                                                    .fileList {
                                                        background-color: #262525;
                                                        opacity: 1;
                                                        font-size: 10px;
                                                        line-height: 12px;
                                                        font-weight: 500;
                                                        font-family: Montserrat;
                                                        color: white;
                                                        border: 0.5px solid #FFFFFF;
                                                        border-radius: 13px;
                                                        height: 26px;
                                                        width: 150px;
                                                        padding: 7px 0 7px 12px;
                                                        margin-right: 10px;
                                                        position: relative;
                                                        .removeFile {
                                                            cursor: pointer;
                                                            &::before, &::after{
                                                                position: absolute;
                                                                right: 15px;
                                                                top: 50%;
                                                                content: '';
                                                                height: 10px;
                                                                width: 1.5px;
                                                                background-color: #FFFFFF;    
                                                            }
                                                            &::before {
                                                                transform: translate(0, -50%) rotate(45deg);
                                                            }
                                                            &::after {
                                                                transform: translate(0, -50%) rotate(-45deg);
                                                            }
                                                        }
                                                        @media (max-width: 768px) {
                                                            margin-bottom: 5px;
                                                        }
                                                    }
                                                    @media (max-width: 768px) {
                                                        display: flex;
                                                        flex-direction: column;
                                                    }
                                                }
                                                @media (max-width: 768px) {
                                                    justify-content: space-between;
                                                }
                                            }
                                        }
                                        @media (max-width: 768px) {
                                            width: 100%;
                                        }
                                    }
                                }
                                .status {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: black;
                                    opacity: 0.8;
                                    border-radius: 8px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    transition: all 0.2s ease-out;
                                    span {
                                        font-size: 14px;
                                        line-height: 18px;
                                        font-weight: 500;
                                        font-family: Montserrat;
                                        color: white;
                                        text-transform: uppercase;
                                        
                                    }
                                    &.hideStatus {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                        .btn-send {
                            width: 100%;
                            display: flex;
                            justify-content: flex-end;
                            margin-top: 60px;
                            @media (max-width: 768px) {
                                margin-bottom: 90px;
                                justify-content: center;
                            }
                            button {
                                height: 50px;
                                width: 294px;
                                padding: 0px;
                                border: none;
                                border-radius: 34px;
                                background: linear-gradient(to right, #84D4EB, #CB6AE9);
                                font-size: 14px;
                                line-height: 18px;
                                font-weight: 600;
                                font-family: Montserrat;
                                color: white;
                                text-transform: uppercase;
                                @media (max-width: 768px) {
                                    height: 40px;
                                    width: 195px;
                                }
                                &.hideButton {
                                    //display: none;
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}
