[class^="fp-viewing-s9"] {
    #top {
        background-color: transparent;
    }

    .l .menu {
        background-color: transparent;

        &.opened {
            background-color: #363636;
        }
    }

    .icon {
        color: #fff;
    }

    .bginput {
        color: #fff;

        border-color: #fff;

        input {
            color: #fff;
        }
        label {
            border-color: #82dcee;
        }
    }

    .menu {
        a {
            color: #fff;
        }

        a:hover,
        a:focus {
            color: #363636;
            svg {
                color: #363636;
            }
        }
    }
}

.s9 {
    color: #fff;

    background-image: linear-gradient(to left, #222, #222 50%, #363636 50%);

    @media (max-width: 800px) {
        background-image: initial;

        background-color: #363636;
    }

    .fp-bg {
        padding-top: 60px;

        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap {
        max-width: 1680px;
        max-height: 775px;

        width: 100%;

        padding: 0 40px;

        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: max-content 1fr;

        height: 100%;

        @media (max-width: 1440px) {
            grid-template-columns: 300px 1fr;

            padding-top: 20px;
        }

        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            max-height: initial;

            padding: 80px 0 30px 0;
        }

        @media (max-width: 575px) {
            padding: 40px 0 10px 0;
        }

        > div:nth-child(2) {
            grid-row: 1 / span 2;
            grid-column: 1;
        }
    }

    .copyright {
        font-size: 14px;
        font-weight: 500;

        margin-bottom: 0;

        @media (max-width: 800px) {
            margin-top: 10px;

            order: 1;
        }

        @media (max-width: 575px) {
            margin-top: 0;

            font-size: 11px;
        }
    }

    a,
    .s9-list-title {
        color: #fff;
    }
}

.s9-nav {
    @media (max-width: 800px) {
        padding: 0 40px 40px 40px;
    }

    @media (max-width: 575px) {
        padding: 0 40px 20px 40px;
    }

    > ul {
        @media (max-width: 800px) {
            display: flex;
        }

        @media (max-width: 575px) {
            text-align: center;

            justify-content: center;
        }

        > li {
            @media (max-width: 800px) {
                flex: 0 0 33%;

                padding-right: 10px;
            }

            @media (max-width: 575px) {
                flex: initial;

                padding-right: initial;
            }
        }
    }

    .s9-list-title {
        + ul {
            margin-bottom: 45px;

            @media (max-width: 800px) {
                margin-bottom: 0;
            }
        }
    }

    li:last-child {
        .s9-list-title {
            + ul {
                margin-bottom: 0;
            }
        }
    }

    li,
    a {
        line-height: 2;

        @media (max-width: 1440px) {
            line-height: 1.65;
        }
    }

    a {
        font-size: 14px;
        font-weight: 500;

        display: inline-block;

        @media (max-width: 575px) {
            font-size: 13px;
        }

        &:hover,
        &:focus {
            opacity: 0.5;

            text-decoration: none;
        }
    }

    .slick-arrow {
        @media (max-width: 575px) {
            font-size: 0;
            line-height: 0;

            position: absolute;
            top: 50%;

            width: 20px;
            height: 20px;

            padding: 0;

            background: transparent;

            cursor: pointer;

            border: none;

            display: flex;
            align-items: center;
            justify-content: center;

            &.slick-prev {
                left: -25px;
            }

            &.slick-next {
                right: -25px;
            }

            svg {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.s9-title,
.s9-list-title {
    font-weight: 600;
}

.s9-title {
    grid-column: 1 / span 2;
    grid-row: 1;

    text-align: center;
    text-transform: uppercase;

    margin-bottom: 1.35em;

    @media (max-width: 800px) {
        margin-bottom: 2em;
    }

    @media (max-width: 575px) {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    > * {
        color: #fff;
        font-size: 24px;
    }
}

.s9-list-title {
    font-size: 18px;
    text-transform: uppercase;

    margin-bottom: 1em;

    @media (max-width: 575px) {
        font-size: 13px;
    }
}

.s9-map-wrap {
    grid-row: 2;
    grid-column: 2;

    > div:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 60px;

        @media (max-width: 800px) {
            flex-direction: column;
        }

        @media (max-width: 575px) {
            margin-top: 30px;
        }
    }
}

.s9-map {
    height: calc(100% - 150px);
    width: 100%;

    position: relative;

    @media (max-width: 800px) {
        height: 40vh;
    }

    @media (max-width: 575px) {
        height: 250px;
    }

    #map {
        height: 100%;
    }

    address {
        font-size: 12px;
        font-weight: 500;

        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 9px;
        background-image: linear-gradient(
            270deg,
            hsla(272, 76%, 73%, 0.88) 0%,
            hsla(294, 75%, 63%, 0.88) 100%
        );

        position: absolute;
        top: 15%;
        left: 35%;

        padding: 35px;

        @media (max-width: 575px) {
            font-size: 8px;

            padding: 23px;

            top: initial;
            bottom: 15px;
            left: 50%;

            transform: translateX(-50%);
        }
    }

    a {
        color: #ffffff;

        display: block;

        margin-bottom: 20px;

        &[href^="tel"] {
            font-size: 14px;
            font-weight: 600;

            @media (max-width: 575px) {
                font-size: 9px;
            }
        }

        &[href^="mailto"] {
            font-size: 12px;
            font-weight: 500;

            @media (max-width: 575px) {
                font-size: 8px;
            }
        }
    }
}
