#fullpage_welcome {
    .section {
        &.s9 {
			.full {
				@media (max-width: 768px) {
					display: flex;
				}
				.l {
					position: absolute;
					top: 0;
					left: 0;
					width: 45%;
					bottom: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					@media (max-width: 1200px) {
						bottom: 30px;
					}
					@media (max-width: 768px) {
						width: 100%;
						height: 37%;
						position: absolute;
						top: inherit;
					}
					@media (max-width: 576px) {
						height: 40%;
						bottom: 20px;
					}
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 50%;
						width: 1px;
						height: 100%;
						background-color: #e0e0e0;
						z-index: -1;
						@media (max-width: 768px) {
							left: 65%;
						}
						@media (max-width: 576px) {
							left: 66%;
						}
					}
					.bg_flex {
						display: flex;
						flex-wrap: wrap;
						position: relative;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						bottom: 0;
						padding: 0;
						&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 50%;
						width: 1px;
						height: 100%;
						background-color: #e0e0e0;
						z-index: -1;
							@media (max-width: 768px) {
								left: 34%;
							}
							@media (max-width: 576px) {
								left: 33%;
							}
						}
						.title {
							font-family: 'MontserratBold';
							font-size: 30px;
							display: flex;
							justify-content: center;
							line-height: 54px;
							text-transform: uppercase;
							width: 100%;
							align-items: center;
							@media (max-width: 1200px) {
								font-size: 32px;
							}
							@media (max-width: 768px) {
								justify-content: left;
								margin-left: 20px;
								height: 40px;
								font-size: 14px;
								display: none;
							}
						}
						.line__df {
							display: flex;
							flex-wrap: wrap;
							width: 100%;
							.line {
								display: flex;
								margin-top: 25px;
								border-top: 1px solid #e0e0e0;
								padding: 0 50px;
								width: 100%;
								@media (max-width: 1200px) {
									margin-top: 20px;
									padding: 0 30px;
								}
								@media (max-width: 768px) {
									width: 70%;
									padding: 15px 0 0 15px;
									margin-top: 50px;
								}
								@media (max-width: 576px) {
									width: 67%;
									padding: 15px 0 15px;
									margin-top: 30px;
								}
								&:last-child {
									.item {
										padding-bottom: 0;
									}
								}
								.item {
									position: relative;
									padding: 15px 0 20px 30px;
									vertical-align: top;
									display: inline-block;
									width: 50%;
									font-size: 12px;
									@media (max-width: 1200px) {
										padding: 10px 0 30px 25px;
										font-size: 14px;
									}
									@media (max-width: 768px) {
										padding: 40px 0 30px 25px;
										font-size: 14px;
									}
									@media (max-width: 576px) {
										font-size: 8px;
										padding: 0 10px 30px;
										width: 50%;
									}
									&::before {
										content: '';
										position: absolute;
										top: -21px;
										left: 30px;
										width: 35px;
										height: 35px;
										background-color: #2d70e4;
										background-repeat: no-repeat;
										background-position: center;
										border-radius: 50%;
										@media (max-width: 1200px) {
											width: 50px;
											height: 50px;
										}
										@media (max-width: 768px) {
											width: 45px;
											height: 45px;
										}
										@media (max-width: 576px) {
											width: 15px;
											height: 15px;
											left: 10px;
										}
									}
									&.item0 {
										&::before {
											background-image: url("/images/index/s9/1.svg")
										}
									}
									&.item1 {
										&::before {
											background-image: url("/images/index/s9/2.svg")
										}
									}
									&.item2 {
										&::before {
											background-image: url("/images/index/s9/3.svg")
										}
									}
									.name {
										font-family: 'MontserratBold';
										line-height: 15px;
										text-transform: uppercase;
										padding: 5px 0 15px;
										@media (max-width: 1200px) {
											padding: 0;
											padding-bottom: 5px;
											padding-top: 40px;
										}
										@media (max-width: 768px) {
											padding: 0;
											padding-bottom: 5px;
										}
										@media (max-width: 576px) {
											padding-bottom: 5px;
										}
									}
									ul {
										display: flex;
										flex-direction: column;
										justify-content: space-between;
										margin: 0;
										padding: 0;
										list-style: none;
										li {
											padding: 2px 0;
											font-family: 'MontserratMedium';
											line-height: 20px;
											@media (max-width: 1200px) {
												line-height: 22px;
											}
											@media (max-width: 768px) {
												line-height: 22px;
											}
											@media (max-width: 576px) {
												padding: 0;
												line-height: 12px;
											}
											a {
												color: black;
												text-transform: none;
											}
										}
									}
								}
								.item2 {
									@media (max-width: 1200px) {
									width: 100%;
									}
								}
							}
							.line2 {
								@media (max-width: 768px) {
									width: 33%;
									position: absolute;
									top: 0;
									right: 0;
								}
								@media (max-width: 576px) {
									top: 0;
								}
							}
						}
					}
				}
				.r {
					position: absolute;
					top: 0;
					right: 0;
					width: 55%;
					bottom: 40px;
					@media (max-width: 1200px) {
						bottom: 30px;
					}
					@media (max-width: 768px) {
							width: 100%;
							height: 60%;
						}
					@media (max-width: 576px) {
						height: 56%;
					}
					.map {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: #e0e0e0;
					}
					ul.info {
						position: absolute;
						top: 100px;
						right: 100px;
						background-color: white;
						// transform: translate(0, -50%);
						margin: 0;
						list-style: none;
						box-shadow: 0px 20px 20px 0px rgba(14, 17, 29, 0.15);
						padding: 30px 20px 20px;
						
						@media (max-width: 1500px) {
							right: 70px;
						}
						@media (max-width: 1200px) {
							top: 50px;
							right: 50px;
						}
						@media (max-width: 768px) {
							top: 30px;
							right: 60px;
							width: 40%;
						}
						@media (max-width: 576px) {
							display: none;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							// width: 45%;
							// top: 50px;
							// right: 50px;
							// padding: 20px 20px 10px;
							&.open {
								display: block;
							}
						}
						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 20px;
							@media (max-width: 576px) {
								height: 15px;
							}
						}
						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 4px;
						}
						&::before, &::after {
							background: #4b84f5;
							background: -moz-linear-gradient(left, #4b84f5 0%, #155dd3 100%);
							background: -webkit-linear-gradient(left, #4b84f5 0%,#155dd3 100%);
							background: linear-gradient(to right, #4b84f5 0%,#155dd3 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b84f5', endColorstr='#155dd3',GradientType=1 );
						}
						li {
							&.title {
								font-family: 'MontserratBold';
								font-size: 14px;
								line-height: 20px;
								text-transform: uppercase;
								padding-bottom: 15px;
								@media (max-width: 1200px) {
									font-size: 16px;
									padding-bottom: 5px;
								}
								@media (max-width: 576px) {
									font-size: 11px;
									padding-bottom: 0;
								}
							}
							&.tel {
								font-family: 'MontserratBold';
								font-size: 14px;
								line-height: 24px;
								padding-bottom: 5px;
								@media (max-width: 1200px) {
									font-size: 16px;
									padding-bottom: 5px;
								}
								@media (max-width: 576px) {
									font-size: 11px;
									padding-bottom: 0;
								}
								a {
									color: black;
								}
							}
							&.time {
								font-family: 'MontserratMedium';
								font-size: 10px;
								line-height: 17px;
								padding-bottom: 7px;
								@media (max-width: 1200px) {
									font-size: 10px;
									padding-bottom: 5px;
								}
								@media (max-width: 576px) {
									font-size: 8px;
									padding-bottom: 0;
								}
							}
							&.mail {
								font-family: 'MontserratMedium';
								font-size: 12px;
								line-height: 17px;
								padding-bottom: 7px;
								@media (max-width: 1200px) {
									font-size: 14px;
									padding-bottom: 5px;
								}
								@media (max-width: 576px) {
									font-size: 9px;
									padding-bottom: 0;
								}
								a {
									color: black;
								}
							}
							&.address {
								font-family: 'MontserratMedium';
								font-size: 12px;
								line-height: 17px;
								padding-bottom: 27px;
								@media (max-width: 1200px) {
									font-size: 14px;
									padding-bottom: 15px;
								}
								@media (max-width: 576px) {
									font-size: 9px;
									padding-bottom: 5px;
								}
							}
							&.soc {
								ul {
									padding: 0;
									margin: 0;
									height: 40px;
									list-style: none;
									@media (max-width: 576px) {
										height: 25px;
									}
									li {
										width: 37px;
										height: 37px;
										float: left;
										background-color: #232323;
										display: block;
										margin: 0 20px 0 0;
										border-radius: 50%;
										@media (max-width: 1200px) {
											width: 30px;
											height: 30px;
											margin: 0 15px 0 0;
										}
										@media (max-width: 576px) {
											width: 20px;
											height: 20px;
											margin: 0 5px 0 0;
										}
										a {
											display: block;
											width: 100%;
											height: 100%;
											position: relative;
											img {
												position: absolute;
												top: 50%;
												left: 50%;
												transform: translate(-50%, -50%);
												@media (max-width: 1200px) {
													width: 10px;
													height: 10px;
												}
											}
										}
									}
								}
							}
							&.closeMore {
								display: none;
								@media (max-width: 576px) {
									display: block;
									position: absolute;
									right: 10px;
									top: 25px;
									width: 30px;
									height: 30px;
									opacity: 0.75;
									text-indent: -9999px;
									&::before {
										content: '';
										width: 30px;
										height: 2px;
										position: absolute;
										top: 14px;
										left: 0;
										background: black;
										transform: rotate(45deg)
									}
									&::after {
										content: '';
										width: 30px;
										height: 2px;
										position: absolute;
										top: 14px;
										left: 0;
										background: black;
										transform: rotate(-45deg)
									}
								}
							}
						}
					}
				}
			}
            .bottom {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 40px;
                background: #232323;
                padding: 15px 80px;
                font-family: 'Montserrat';
                font-size: 12px;
                color: #FFF;
				@media (max-width: 1200px) {
					height: 30px;
					padding: 6px 80px;
				}
				@media (max-width: 768px) {
					padding: 6px 20px;
					font-size: 12px;
					height: 30px;
				}
				@media (max-width: 576px) {
					padding: 5px 15px;
					font-size: 5px;
					height: 20px;
				}
                span {
                    line-height: 10px;
                }
                a {
                    color: #FFF;
                    float: right;
                    padding-left: 30px;
                }
            }
        }
    }
}