
@import "vars";

/* SIDEBAR */
.sidebar {
  font-family: 'Montserrat';
  background: #FFFFFF;
  color: #353535;
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  z-index: 1;
  top: 80px;
  left: 80px;
  height: 100vh;
  padding: 100px 50px;
  @media(max-width: $xxl) {
    width: 200px;
    min-width: 200px;
    padding: 35px 20px 100px 20px;
  }
  @media(max-width: $xl) {
    left: 0;
  }
  @media(max-width: $md) {
    width: 50px;
    min-width: 50px;
    padding: 0;
    top: 50px;
  }

  &__title {
    font-size: 16px;
    margin-top: 12px;
    line-height: 22px;
    @media (max-width: $md) {
      font-size: 13px;
      margin-top: 6px;
      line-height: 17px;
    }
  }
  &__subtitle {
    font-size: 9px;
    @media (max-width: $md) {
      font-size: 7px;
    }
  }

  &__head {
    @media(max-width: $md) {
      display: none;
    }
  }

  &__icons {
    display: flex;
  }
  &__icon {
    display: block;
    width: 25px;
    height: 25px;
    @media (max-width: $md) {
      width: 20px;
      height: 20px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

}
