
@import "vars";

.statistic {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: $md) {
    flex-direction: column;
    align-items: center;
  }

  &__head {
    font-family: 'MontserratSemiBold';
    width: 40px;
    margin: 40px auto 20px;
    display: none;

    @media (max-width: $md) {
      display: block;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 16px;
    &_hamburger {
      width: 18px;
      cursor: pointer;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__title {
    font-size: 9px;
    margin: 3px 0;
  }
  &__subtitle {
    font-size: 5px;
  }

  &__window {
    width: 400px;
    height: 600px;
  }
  &__shade {
    max-width: 500px;
    width: 500px;

    @media (max-width: $xl) {
      max-width: 400px;
      width: 400px;
    }
    @media (max-width: $xl) {
      max-width: 300px;
      width: 300px;
    }

    @media (max-width: $md) {
      position: relative;
      width: 100%;
      min-width: 100%;
      height: 420px;
      max-width: 420px;
    }
  }

  &__gallery {
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__gallery-overflow {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  &__gallery-window {
    &_base {
      margin-left: -70px;

      @media (max-width: $xl) {
        margin-left: -50px;
      }

      @media (max-width: $md) {
        margin-left: 0;
      }
      img {
        width: 500px;
        height: 700px;

        @media (max-width: $xl) {
          width: 300px;
          height: 420px;
        }
      }
    }
  }
  &__gallery-items {
    margin-bottom: 0;
    padding-left: 0;
  }
  &__gallery-item {
    width: 125px;
    height: 165px;
    @media (max-width: $xl) {
      width: 65px;
      height: 100px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__arm {
    position: absolute;
    top: 350px;
    right: -5px;
    content: '';
    display: block;
    width: 10px;
    height: 130px;
    background-color: #047DF3;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;

    @media (max-width: $xl) {
      top: 200px;
      height: 100px;
    }

    @media (max-width: $md) {
      top: 150px;
      width: 6px;
      right: -3px;
    }
  }

  &__photos {
    &_1 {
      min-height: 800px;
      padding: 50px 20px 50px 140px;

      @media (max-width: $xxxl) {
        padding-left: 80px;
      }

      @media (max-width: $xxl) {
        padding-left: 30px;
      }

      @media (max-width: $xl) {
        padding: 84px 57px;
        min-height: 372px;
      }

      @media (max-width: $md) {
        padding: 0;
        margin: 0 auto;
        width: 140px;
        min-height: 0;
      }
    }
    &_2 {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      width: 0;
      z-index: 1;
    }
  }

  &__img {
    position: relative;
    @media (max-width: $md) {
      margin: 40px auto 20px;
    }

    img {
      width: 350px;
      height: 800px;

      @media (max-width: $xl) {
        width: 160px;
        height: 370px;
      }
      @media (max-width: $md) {
        width: 130px;
        height: 300px;
      }
    }
  }
  &__tooltips {
    margin: 0;
  }
  &__tooltip {
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    &_1 {
      top: 80px;
      left: 0;

      @media (max-width: $xl) {
        top: 50px;
      }
    }
    &_2 {
      top: 110px;
      left: 325px;

      @media (max-width: $xl) {
        top: 60px;
        left: 150px;
      }
      @media (max-width: $md) {
        left: 120px;
      }
    }
    &_3 {
      top: 325px;
      left: 325px;

      @media (max-width: $xl) {
        top: 150px;
        left: 150px;
      }
      @media (max-width: $md) {
        left: 120px;
      }
    }
  }
  &__tooltip-text {
    display: none;
    background-color: #4E4E4E;
    padding: 60px 10px 40px 25px;
    font-size: 12px;
    line-height: 24px;
    font-family: 'MontserratSemiBold';
    border-radius: 5px;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    z-index: 9;
    margin-top: -50px;

    @media (max-width: $xl) {
      font-size: 10px;
      padding: 12px;
      width: 185px;
      min-width: 185px;
      line-height: 18px;
    }

    @media (max-width: $md) {
      font-size: 8px;
      padding: 10px;
      width: 130px;
      min-width: 130px;
      line-height: 12px;
    }
  }
  &__dot:hover + &__tooltip-text {
    display: block;
  }
  &__dot {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    .dot_middle {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $xl) {
        width: 10px;
        height: 10px;
      }
      .dot_inside {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 1);

        @media (max-width: $xl) {
          width: 5px;
          height: 5px;
        }
      }
    }

    @media (max-width: $xl) {
      width: 15px;
      height: 15px;
    }
  }
  &__circle {
    background-color: #4E4E4E;
    font-size: 110px;
    margin: 0;
    &:hover > span {
      color: #43A22C;
    }
    &:after {
      background-color: #353535;
    }
    & .bar, & .fill {
      border-color: #43A22C !important;
    }

    @media (max-width: $xl) {
      font-size: 52px;
    }
    @media (max-width: $sm) {
      font-size: 41px;
    }
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;
    min-width: 420px;
    width: 420px;
    padding: 140px 180px 90px 30px;
    box-sizing: content-box;


    @media (max-width: $xxxl) {
      padding-right: 80px;
    }

    @media (max-width: $xxl) {
      padding-right: 30px;
    }
    @media (max-width: $xl) {
      padding-left: 0;
      padding-right: 0;
      max-width: 230px;
      min-width: 230px;
      width: 230px;
    }
    @media (max-width: $md) {
      padding-top: 30px;
    }
    @media (max-width: $sm) {
      padding: 20px 0 30px 0;
      max-width: 180px;
      min-width: 180px;
      width: 180px;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    max-height: 320px;
    align-content: space-between;
  }
  &__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  &__note {
    font-size: 12px;
    font-family: 'MontserratSemiBold';
    margin-top: 10px;
    text-transform: uppercase;

    @media (max-width: $xl) {
      font-size: 7px;
    }
    @media (max-width: $sm) {
      font-size: 5px;
    }
  }
  &__submit {
    @media (max-width: $md) {
      display: none;
    }
  }

}