#products {
  height: 1px;
  overflow: hidden; }

.tooltip-page-product .arrow::before {
  border-left-color: rgba(40, 40, 40, 0.9); }

.tooltip-page-product .tooltip-inner {
  background: rgba(40, 40, 40, 0.9); }

.productsMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #353535;
  height: 100%;
  min-height: 100%;
  padding: 100px;
  overflow: hidden; }
  @media (max-width: 575px) {
    .productsMenu {
      overflow: auto;
      padding: 30px; } }
  .productsMenu ul.nav {
    margin: 0 0 20px; }
    @media (max-width: 575px) {
      .productsMenu ul.nav {
        margin: 0 0 10px; } }
    .productsMenu ul.nav .nav-link {
      padding: 0;
      margin: 5px 15px 5px 0;
      font-weight: 500;
      font-size: 18px;
      color: white;
      opacity: .5;
      -webkit-transition: all .25s;
      transition: all .25s;
      text-transform: capitalize; }
      .productsMenu ul.nav .nav-link:hover {
        opacity: .75; }
      .productsMenu ul.nav .nav-link.active {
        opacity: 1; }
      @media (max-width: 575px) {
        .productsMenu ul.nav .nav-link {
          font-size: 16px;
          margin: 3px 10px 3px 0; } }
  .productsMenu .wrap-link {
    padding: 10px 0; }
    @media (max-width: 575px) {
      .productsMenu .wrap-link {
        padding: 5px 0; } }
    .productsMenu .wrap-link .nav-link2 {
      font-size: 16px;
      color: white;
      text-decoration: none;
      opacity: .5; }
      @media (max-width: 575px) {
        .productsMenu .wrap-link .nav-link2 {
          font-size: 14px; } }
      .productsMenu .wrap-link .nav-link2.active, .productsMenu .wrap-link .nav-link2:hover {
        opacity: 1; }

#productMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #353535;
  height: 100%;
  min-height: 100%;
  padding: 60px;
  overflow: hidden;
  color: white;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media (max-width: 1400px) {
    #productMenu {
      padding: 60px 30px; } }
  @media (max-width: 1200px) {
    #productMenu {
      padding: 50px 30px; } }
  @media (max-width: 1100px) {
    #productMenu {
      padding: 0 20px 20px; } }
  @media (max-width: 700px) {
    #productMenu {
      padding: 0 10px 10px; } }
  #productMenu ul.brand_list li.brand_list_item {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #productMenu ul.brand_list li.brand_list_item.open .links a.brand-link {
      border: 1px solid #89E6FB;
      padding: 0; }
      #productMenu ul.brand_list li.brand_list_item.open .links a.brand-link .ico {
        background-image: url("/images/info_hover.svg"); }
    #productMenu ul.brand_list li.brand_list_item.open .links a.brand_list_link span.brand-name {
      color: #89E6FB !important; }
    #productMenu ul.brand_list li.brand_list_item.open .links a.brand_list_link i {
      color: #89E6FB !important; }
      #productMenu ul.brand_list li.brand_list_item.open .links a.brand_list_link i.material-icons-add {
        display: none !important; }
      #productMenu ul.brand_list li.brand_list_item.open .links a.brand_list_link i.material-icons-remove {
        display: block !important; }
    #productMenu ul.brand_list li.brand_list_item.open ul {
      display: block; }
    #productMenu ul.brand_list li.brand_list_item .links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      #productMenu ul.brand_list li.brand_list_item .links a.brand-link {
        -ms-flex-preferred-size: 30px;
            flex-basis: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 50%;
        margin-right: 10px;
        padding: 1px; }
        #productMenu ul.brand_list li.brand_list_item .links a.brand-link .ico {
          width: 100%;
          margin: 6px;
          background-image: url("/images/info.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center; }
      #productMenu ul.brand_list li.brand_list_item .links a.brand_list_link {
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        #productMenu ul.brand_list li.brand_list_item .links a.brand_list_link span.brand-name {
          color: white;
          padding-right: 5px; }
        #productMenu ul.brand_list li.brand_list_item .links a.brand_list_link i {
          font-size: 12px;
          color: white; }
          #productMenu ul.brand_list li.brand_list_item .links a.brand_list_link i.material-icons-remove {
            display: none; }
        #productMenu ul.brand_list li.brand_list_item .links a.brand_list_link:hover {
          color: #89E6FB; }
    #productMenu ul.brand_list li.brand_list_item ul.model_list {
      display: none;
      padding: 20px 0 20px 40px; }
      #productMenu ul.brand_list li.brand_list_item ul.model_list li.model_list_item a {
        text-decoration: none;
        color: white; }
  #productMenu .list {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media (max-width: 1100px) {
      #productMenu .list {
        display: none; } }
    #productMenu .list .item {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
      #productMenu .list .item .title {
        height: 120px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        #productMenu .list .item .title .name {
          -ms-flex-preferred-size: 20px;
              flex-basis: 20px;
          line-height: 20px;
          font-weight: bold;
          font-size: 12px;
          text-transform: uppercase;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding-left: 40px; }
      #productMenu .list .item .subMenu {
        margin: 0 0 0 30px;
        padding: 0;
        font-size: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        #productMenu .list .item .subMenu .item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 24px;
              flex-basis: 24px; }
          #productMenu .list .item .subMenu .item input {
            display: none; }
            #productMenu .list .item .subMenu .item input:checked ~ label {
              background: -webkit-gradient(linear, left top, right top, from(#84EFFB), to(#D858E7));
              background: linear-gradient(90deg, #84EFFB, #D858E7); }
          #productMenu .list .item .subMenu .item label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin: 0;
            padding: 0 10px;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            color: white;
            z-index: 2;
            border-radius: 12px;
            cursor: pointer; }
            #productMenu .list .item .subMenu .item label::before {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              z-index: 0; }
  #productMenu .filter {
    background: rgba(65, 65, 65, 0.5);
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin: 50px 0 0 50px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden; }
    @media (max-width: 1400px) {
      #productMenu .filter {
        margin: 30px 0 0 30px; } }
    @media (max-width: 1100px) {
      #productMenu .filter {
        display: none; } }
    #productMenu .filter .filterData {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      #productMenu .filter .filterData .category {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        min-width: 270px;
        padding: 30px;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        overflow: hidden; }
        #productMenu .filter .filterData .category ul.category_list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          #productMenu .filter .filterData .category ul.category_list li.category_item {
            margin: 0 0 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; }
            #productMenu .filter .filterData .category ul.category_list li.category_item input.producttype_input {
              display: none; }
              #productMenu .filter .filterData .category ul.category_list li.category_item input.producttype_input:checked ~ label.producttype_label {
                background: -webkit-gradient(linear, left top, right top, from(#84EFFB), to(#D858E7));
                background: linear-gradient(90deg, #84EFFB, #D858E7); }
            #productMenu .filter .filterData .category ul.category_list li.category_item label.producttype_label {
              -ms-flex-preferred-size: 40px;
                  flex-basis: 40px;
              margin: 0;
              border-radius: 3px;
              background: #525151;
              -webkit-box-flex: 1;
                  -ms-flex-positive: 1;
                      flex-grow: 1;
              overflow: hidden;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                      flex-direction: row;
              cursor: pointer; }
              #productMenu .filter .filterData .category ul.category_list li.category_item label.producttype_label .ico {
                margin: 0 5px;
                -ms-flex-preferred-size: 50px;
                    flex-basis: 50px;
                -ms-flex-negative: 0;
                    flex-shrink: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center; }
                #productMenu .filter .filterData .category ul.category_list li.category_item label.producttype_label .ico img {
                  padding: 6px 10px;
                  width: 100%;
                  height: 100%;
                  -o-object-fit: contain;
                     object-fit: contain; }
              #productMenu .filter .filterData .category ul.category_list li.category_item label.producttype_label .title {
                padding: 0 10px 0 0;
                -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                        flex-grow: 1;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                font-size: 10px;
                line-height: 12px;
                font-weight: 600;
                text-transform: uppercase; }
            #productMenu .filter .filterData .category ul.category_list li.category_item div.materials {
              margin: 5px 0 0;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column; }
              #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column; }
                #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item input.material_input {
                  display: none; }
                  #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item input.material_input:checked ~ label.material_label span {
                    color: #86ECFB; }
                #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item label.material_label {
                  margin: 5px 0 0 0;
                  -ms-flex-preferred-size: 24px;
                      flex-basis: 24px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex; }
                  #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item label.material_label span {
                    cursor: pointer;
                    border-radius: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: white;
                    font-size: 10px;
                    padding: 5px 10px;
                    background: #414141; }
                #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item .material_category {
                  -ms-flex-preferred-size: 100%;
                      flex-basis: 100%;
                  margin: 0 0 0 30px; }
                  #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item .material_category .material_category_item {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column; }
                    #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item .material_category .material_category_item input.material_category_input {
                      display: none; }
                      #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item .material_category .material_category_item input.material_category_input:checked ~ label.material_category_label span {
                        color: #86ECFB; }
                    #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item .material_category .material_category_item label.material_category_label {
                      margin: 5px 0 0 0;
                      -ms-flex-preferred-size: 24px;
                          flex-basis: 24px;
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex; }
                      #productMenu .filter .filterData .category ul.category_list li.category_item div.materials div.material_item .material_category .material_category_item label.material_category_label span {
                        cursor: pointer;
                        border-radius: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: white;
                        font-size: 10px;
                        padding: 5px 10px;
                        background: #414141; }
            #productMenu .filter .filterData .category ul.category_list li.category_item a.category_link {
              display: block;
              background: #2d2d2d;
              border-radius: 3px;
              font-weight: 600;
              font-size: 10px;
              text-transform: uppercase;
              text-decoration: none;
              color: white;
              height: 40px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding: 0 50px; }
            #productMenu .filter .filterData .category ul.category_list li.category_item ul {
              display: none;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                      flex-direction: row;
              padding-top: 10px; }
              #productMenu .filter .filterData .category ul.category_list li.category_item ul li {
                border-radius: 15px; }
                #productMenu .filter .filterData .category ul.category_list li.category_item ul li a {
                  display: block;
                  font-weight: 600;
                  font-size: 10px;
                  text-transform: uppercase;
                  text-decoration: none;
                  color: white;
                  padding: 0 15px;
                  line-height: 30px; }
                #productMenu .filter .filterData .category ul.category_list li.category_item ul li.active {
                  background: #616161; }
            #productMenu .filter .filterData .category ul.category_list li.category_item.active a.category_link {
              background: -webkit-gradient(linear, left top, right top, from(#84EFFB), to(#D858E7));
              background: linear-gradient(90deg, #84EFFB, #D858E7); }
            #productMenu .filter .filterData .category ul.category_list li.category_item.active ul {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex; }
      #productMenu .filter .filterData .list {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        padding: 30px;
        padding-left: 0;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        overflow: hidden;
        max-width: 100%; }
        #productMenu .filter .filterData .list ul.brand_list li.brand_list_item ul {
          padding: 20px 0; }
  #productMenu .wrap {
    width: 100%;
    display: none;
    grid-template-areas: "wrap_title wrap_title" "wrap_button wrap_options" "wrap_categorys wrap_data";
    grid-template-rows: 60px 100px 1fr;
    grid-template-columns: 50px 1fr; }
    @media (max-width: 1100px) {
      #productMenu .wrap {
        display: grid; } }
    @media (max-width: 700px) {
      #productMenu .wrap {
        grid-template-rows: 50px 80px 1fr;
        grid-template-columns: 40px 1fr; } }
    #productMenu .wrap .title {
      grid-area: wrap_title;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 15px; }
      @media (max-width: 700px) {
        #productMenu .wrap .title {
          font-size: 13px; } }
    #productMenu .wrap .button {
      grid-area: wrap_button;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #productMenu .wrap .button .filterButton {
        background-color: #2A2A2A;
        -ms-flex-preferred-size: 50px;
            flex-basis: 50px;
        border-radius: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        cursor: pointer; }
        #productMenu .wrap .button .filterButton.active {
          background: -webkit-gradient(linear, left top, right top, from(#84EFFB), to(#D858E7));
          background: linear-gradient(90deg, #84EFFB, #D858E7); }
        @media (max-width: 700px) {
          #productMenu .wrap .button .filterButton {
            -ms-flex-preferred-size: 40px;
                flex-basis: 40px; } }
        #productMenu .wrap .button .filterButton .ico {
          cursor: pointer;
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          background-image: url("/images/filter_white.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          margin: 14px; }
          @media (max-width: 700px) {
            #productMenu .wrap .button .filterButton .ico {
              margin: 12px; } }
          #productMenu .wrap .button .filterButton .ico input {
            display: none; }
    #productMenu .wrap .options {
      grid-area: wrap_options;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 50px 0 0; }
      @media (max-width: 700px) {
        #productMenu .wrap .options {
          padding: 0 40px 0 0; } }
      #productMenu .wrap .options .materials {
        -ms-flex-preferred-size: 50px;
            flex-basis: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        @media (max-width: 700px) {
          #productMenu .wrap .options .materials {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            position: relative;
            -ms-flex-preferred-size: 40px;
                flex-basis: 40px; } }
        #productMenu .wrap .options .materials.show .sMaterialTitle {
          display: none; }
        #productMenu .wrap .options .materials.show .list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          z-index: 2; }
        #productMenu .wrap .options .materials .sMaterialTitle {
          position: relative;
          display: none; }
          @media (max-width: 700px) {
            #productMenu .wrap .options .materials .sMaterialTitle {
              margin: 5px 0;
              padding: 0;
              width: 180px;
              border-radius: 20px;
              background: -webkit-gradient(linear, left top, right top, from(#84EFFB), to(#D858E7));
              background: linear-gradient(90deg, #84EFFB, #D858E7);
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              font-weight: bold;
              text-transform: uppercase;
              font-size: 13px; } }
          #productMenu .wrap .options .materials .sMaterialTitle i {
            position: absolute;
            top: 50%;
            right: 8px;
            font-size: 16px;
            -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%); }
        #productMenu .wrap .options .materials .list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          @media (max-width: 700px) {
            #productMenu .wrap .options .materials .list {
              margin: 5px 0;
              display: none;
              position: absolute;
              top: -10px;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              width: 200px;
              background: #575757;
              padding: 10px;
              border-radius: 6px;
              -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.75);
                      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.75); } }
          #productMenu .wrap .options .materials .list label.item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-preferred-size: 40px;
                flex-basis: 40px;
            background: #414141;
            margin: 5px;
            padding: 0 20px;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            border-radius: 20px; }
            @media (max-width: 700px) {
              #productMenu .wrap .options .materials .list label.item {
                margin: 0;
                -ms-flex-preferred-size: 30px;
                    flex-basis: 30px;
                background: none;
                font-size: 13px;
                border-radius: 15px; } }
            #productMenu .wrap .options .materials .list label.item.active {
              background: -webkit-gradient(linear, left top, right top, from(#84EFFB), to(#D858E7));
              background: linear-gradient(90deg, #84EFFB, #D858E7); }
            #productMenu .wrap .options .materials .list label.item input {
              display: none; }
      #productMenu .wrap .options .material_types {
        -ms-flex-preferred-size: 50px;
            flex-basis: 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        @media (max-width: 700px) {
          #productMenu .wrap .options .material_types {
            -ms-flex-preferred-size: 40px;
                flex-basis: 40px; } }
        #productMenu .wrap .options .material_types .item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 10px 5px 15px; }
          @media (max-width: 700px) {
            #productMenu .wrap .options .material_types .item {
              margin: 7px 2px 13px; } }
          #productMenu .wrap .options .material_types .item input {
            display: none; }
            #productMenu .wrap .options .material_types .item input:checked ~ label {
              background: #262525; }
          #productMenu .wrap .options .material_types .item label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            background: #414141;
            padding: 0 10px;
            border-radius: 25px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 20px;
            margin: 0; }
    #productMenu .wrap .categorys {
      grid-area: wrap_categorys;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #productMenu .wrap .categorys .item {
        -ms-flex-preferred-size: 50px;
            flex-basis: 50px;
        margin-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        @media (max-width: 700px) {
          #productMenu .wrap .categorys .item {
            -ms-flex-preferred-size: 40px;
                flex-basis: 40px;
            margin-bottom: 5px; } }
        #productMenu .wrap .categorys .item input {
          display: none; }
          #productMenu .wrap .categorys .item input:checked ~ label.openFilter {
            background: -webkit-gradient(linear, left top, right top, from(#84EFFB), to(#D858E7));
            background: linear-gradient(90deg, #84EFFB, #D858E7); }
        #productMenu .wrap .categorys .item label {
          background: #575757;
          border-radius: 6px;
          height: 50px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin: 0;
          padding: 10px;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          @media (max-width: 700px) {
            #productMenu .wrap .categorys .item label {
              padding: 0;
              height: 40px;
              padding: 8px;
              border-radius: 4px; } }
          #productMenu .wrap .categorys .item label img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
               object-fit: contain; }
    #productMenu .wrap .data {
      grid-area: wrap_data;
      margin: 0 auto;
      min-width: 230px;
      max-width: 300px; }
  #productMenu .brands-models-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #productMenu .brands-models-list .brand-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #productMenu .brands-models-list .brand-item:hover .brand-data a.brand-page-link {
        border: 1px solid rgba(255, 255, 255, 0.5); }
      #productMenu .brands-models-list .brand-item.active .brand-data a.brand-page-link {
        border: 1px solid #85EEFB; }
        #productMenu .brands-models-list .brand-item.active .brand-data a.brand-page-link .ico-info {
          background-image: url("/images/info_hover.svg"); }
      #productMenu .brands-models-list .brand-item.active .brand-data a.brand-title {
        color: #8AE1F8; }
      #productMenu .brands-models-list .brand-item.active .brand-data .ico i.material-icons.material-icons-add {
        display: none; }
      #productMenu .brands-models-list .brand-item.active .brand-data .ico i.material-icons.material-icons-remove {
        display: block;
        color: #8AE1F8; }
      #productMenu .brands-models-list .brand-item.active ul.models-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      #productMenu .brands-models-list .brand-item .brand-data {
        -ms-flex-preferred-size: 30px;
            flex-basis: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        #productMenu .brands-models-list .brand-item .brand-data a.brand-page-link {
          -ms-flex-preferred-size: 30px;
              flex-basis: 30px;
          margin-right: 10px;
          border-radius: 30px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          border: 1px solid transparent; }
          #productMenu .brands-models-list .brand-item .brand-data a.brand-page-link .ico-info {
            z-index: 1;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(0.45);
                    transform: scale(0.45);
            background-image: url("/images/info.svg");
            background-repeat: no-repeat;
            background-position: center; }
        #productMenu .brands-models-list .brand-item .brand-data a.brand-title {
          color: white;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none; }
          @media (max-width: 700px) {
            #productMenu .brands-models-list .brand-item .brand-data a.brand-title {
              font-size: 13px; } }
        #productMenu .brands-models-list .brand-item .brand-data .ico {
          cursor: pointer;
          padding: 0 0 0 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          #productMenu .brands-models-list .brand-item .brand-data .ico i.material-icons {
            font-size: 12px;
            color: white; }
            #productMenu .brands-models-list .brand-item .brand-data .ico i.material-icons.material-icons-remove {
              display: none; }
      #productMenu .brands-models-list .brand-item ul.models-list {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 15px 0; }
        @media (max-width: 700px) {
          #productMenu .brands-models-list .brand-item ul.models-list {
            padding: 5px 0; } }
        #productMenu .brands-models-list .brand-item ul.models-list .model-item {
          padding: 5px 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
          @media (max-width: 700px) {
            #productMenu .brands-models-list .brand-item ul.models-list .model-item {
              padding: 3px 0; } }
          #productMenu .brands-models-list .brand-item ul.models-list .model-item.active a {
            color: #8AE1F8; }
          #productMenu .brands-models-list .brand-item ul.models-list .model-item .empty {
            -ms-flex-preferred-size: 40px;
                flex-basis: 40px;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
          #productMenu .brands-models-list .brand-item ul.models-list .model-item a {
            font-weight: bold;
            font-size: 13px;
            text-transform: uppercase;
            color: white;
            text-decoration: none; }
            @media (max-width: 700px) {
              #productMenu .brands-models-list .brand-item ul.models-list .model-item a {
                font-size: 12px; } }
            #productMenu .brands-models-list .brand-item ul.models-list .model-item a:hover {
              color: #8AE1F8; }
