#gager.ppage
    .preloader
        .empty
            .title вызов замерщика
            ul
                li.li-1 1
                li.li-2 5
                li.li-3 10
                li.li-4 20
                li.li-5 25
                li.li-6 30
                li.li-7 40
                li.li-8 50
                li.li-9 60
                li.li-10 70
                li.li-11 75
                li.li-12 80
                li.li-13 90
                li.li-14 100
            .load
                .full
                    .title вызов замерщика
                    ul
                        li.li-1 1
                        li.li-2 5
                        li.li-3 10
                        li.li-4 20
                        li.li-5 25
                        li.li-6 30
                        li.li-7 40
                        li.li-8 50
                        li.li-9 60
                        li.li-10 70
                        li.li-11 75
                        li.li-12 80
                        li.li-13 90
                        li.li-14 100
    .data
        .content
            .content__text
                p Во многих компаниях вызов замерщика является услугой условно бесплатной. Просто стоимость этой услуги включена в изначальную стоимость окон.
                p Наша компания решила сделать отношения с клиентами абсолютно прозрачными, и мы будем с Вами предельно честны: у нас вызов замерщика – услуга платная. Однако, мы максимально заботимся о своих клиентах. Поэтому, если Вы заказали замерщика, и будете устанавливать окна у нас, мы вычтем стоимость услуги замера из стоимости Вашего заказа.
                p Например. Если Вы заплатили замерщику 700 рублей, и после его визита звоните нам и заказываете у нас окна, окончательная стоимость заказа будет на 700 рублей меньше. Если Вы все же передумаете, после приезда замерщика, деньги за вызов остаются в компании.
                p Для того, чтобы заранее ознакомиться с конечной стоимостью окон и не тратить лишние деньги, Вы можете сделать приблизительный замер сами, по нашей инструкции. Запишите все размеры и пришлите нам. Мы тут же просчитаем точную стоимость заказа, и Вы сможете сразу определиться по цене и, возможно подобрать дополнительные аксессуары: москитные сетки, механизмы трехступенчатого открывания.
                p После этого сделайте шаг навстречу своим новым окнам, и вызовите нашего профессионального замерщика для точного измерения.
                p.title С нами Вам будет просто!
            .content__form
                form.form
                    p ИМЯ (ОБЯЗАТЕЛЬНО)
                    input(placeholder='')
                    p EMAIL
                    input(placeholder='')
                    p ТЕЛЕФОН
                    input(placeholder='',name="phone")
                    button ВЫЗВАТЬ ЗАМЕРЩИКА