#gager.ppage
    .preloader
        .empty
            .title вызов замерщика
            ul
                li 1
                li 5
                li 10
                li 20
                li 30
                li 40
                li 50
                li 60
                li 70
                li 80
                li 90
                li 100
            .load
                .full
                    .title вызов замерщика
                    ul
                        li 1
                        li 5
                        li 10
                        li 20
                        li 30
                        li 40
                        li 50
                        li 60
                        li 70
                        li 80
                        li 90
                        li 100
    .data
        .content
            .content__text
                p Во многих компаниях вызов замерщика является услугой условно бесплатной. Просто стоимость этой услуги включена в изначальную стоимость окон.
                p Наша компания решила сделать отношения с клиентами абсолютно прозрачными, и мы будем с Вами предельно честны: у нас вызов замерщика – услуга платная. Однако, мы максимально заботимся о своих клиентах. Поэтому, если Вы заказали замерщика, и будете устанавливать окна у нас, мы вычтем стоимость услуги замера из стоимости Вашего заказа.
                p Например. Если Вы заплатили замерщику 700 рублей, и после его визита звоните нам и заказываете у нас окна, окончательная стоимость заказа будет на 700 рублей меньше. Если Вы все же передумаете, после приезда замерщика, деньги за вызов остаются в компании.
                p Для того, чтобы заранее ознакомиться с конечной стоимостью окон и не тратить лишние деньги, Вы можете сделать приблизительный замер сами, по нашей инструкции. Запишите все размеры и пришлите нам. Мы тут же просчитаем точную стоимость заказа, и Вы сможете сразу определиться по цене и, возможно подобрать дополнительные аксессуары: москитные сетки, механизмы трехступенчатого открывания.
                p После этого сделайте шаг навстречу своим новым окнам, и вызовите нашего профессионального замерщика для точного измерения.
                p.title С нами Вам будет просто!
            .content__form
                form.form
                    p ИМЯ (ОБЯЗАТЕЛЬНО)
                    input(placeholder='')
                    p EMAIL
                    input(placeholder='')
                    p ТЕЛЕФОН
                    input(placeholder='')
                    button ВЫЗВАТЬ ЗАМЕРЩИКА