#palette.ppage
	.palette
		.palette__book.book
			.book__in
				img(src="/images/palette/Group 451.svg").book__img.book__img_left
				.book__center
					.pereplet
						.gaika
							img(src="/images/palette/Group 477.svg")
							img(src="/images/palette/Group 477.svg")
						.center-block
							.shov
								.left-krug.krug
								.line
								.right-krug.krug
							.shov
								.left-krug.krug
								.line
								.right-krug.krug
							.shov
								.left-krug.krug
								.line
								.right-krug.krug
						.gaika
							img(src="/images/palette/Group 477.svg")
							img(src="/images/palette/Group 477.svg")
				img(src="/images/palette/Group 451.svg").book__img.book__img_right
			.tab-menu
				.tab
					button(onclick="openCity(event, 'renolit')").tablinks.ren RENOLIT
					button(onclick="openCity(event, 'ral')").tablinks#defaultOpen RAL
				#ral.tabcontent
					.ral
						//mixin
						mixin text
							.text
								p RAL 1000
								p Grunbeige
						.ral__block
							.ral__block_left
								.card-pal.card-pal1
									+text
								.card-pal.card-pal2
									+text
								.card-pal.card-pal3
									+text
								.card-pal.card-pal4
									+text
								.card-pal.card-pal5
									+text
								.card-pal.card-pal6
									+text
								.card-pal.card-pal7
									+text
								.card-pal.card-pal8
									+text
								.card-pal.card-pal9
									+text
								.card-pal.card-pal10
									+text
								.card-pal.card-pal11
									+text
								.card-pal.card-pal12
									+text
								.card-pal.card-pal13
									+text
								.card-pal.card-pal14
									+text
								.card-pal.card-pal15
									+text
								.card-pal.card-pal16
									+text
								.card-pal.card-pal17
									+text
								.card-pal.card-pal18
									+text
								.card-pal.card-pal19
									+text
								.card-pal.card-pal20
									+text
								.card-pal.card-pal21
									+text
								.card-pal.card-pal22
									+text
								.card-pal.card-pal23
									+text
								.card-pal.card-pal24
									+text
								.card-pal.card-pal25
									+text
								.card-pal.card-pal26
									+text
								.card-pal.card-pal27
									+text
								.card-pal.card-pal28
									+text
								.card-pal.card-pal29
									+text
								.card-pal.card-pal30
									+text
								.card-pal.card-pal31
									+text
								.card-pal.card-pal32
									+text
								.card-pal.card-pal33
									+text
								.card-pal.card-pal34
									+text
								.card-pal.card-pal35
									+text
								.card-pal.card-pal36
									+text
								.card-pal.card-pal37
									+text
								.card-pal.card-pal38
									+text
								.card-pal.card-pal39
									+text
								.card-pal.card-pal40
									+text
								.card-pal.card-pal41
									+text
								.card-pal.card-pal42
									+text
								.card-pal.card-pal43
									+text
								.card-pal.card-pal44
									+text
								.card-pal.card-pal45
									+text
								.card-pal.card-pal46
									+text
								.card-pal.card-pal47
									+text
								.card-pal.card-pal48
									+text
								.card-pal.card-pal49
									+text
								.card-pal.card-pal50
									+text
								.card-pal.card-pal51
									+text
								.card-pal.card-pal52
									+text
								.card-pal.card-pal53
									+text
								.card-pal.card-pal54
									+text
								.card-pal.card-pal55
									+text
								.card-pal.card-pal56
									+text
								.card-pal.card-pal57
									+text
								.card-pal.card-pal58
									+text
								.card-pal.card-pal59
									+text
								.card-pal.card-pal60
									+text
								.card-pal.card-pal61
									+text
								.card-pal.card-pal60
									+text
								.card-pal.card-pal63
									+text
								.card-pal.card-pal64
									+text
								.card-pal.card-pal65
									+text
								.card-pal.card-pal66
									+text
								.card-pal.card-pal67
									+text
								.card-pal.card-pal68
									+text
								.card-pal.card-pal69
									+text
								.card-pal.card-pal70
									+text
								.card-pal.card-pal71
									+text
								.card-pal.card-pal72
									+text
								.card-pal.card-pal73
									+text
								.card-pal.card-pal74
									+text
								.card-pal.card-pal75
									+text
								.card-pal.card-pal76
									+text
								.card-pal.card-pal77
									+text
								.card-pal.card-pal78
									+text
								.card-pal.card-pal79
									+text
								.card-pal.card-pal80
									+text
								.card-pal.card-pal81
									+text
								.card-pal.card-pal82
									+text
								.card-pal.card-pal83
									+text
								.card-pal.card-pal84
									+text
								.card-pal.card-pal85
									+text
								.card-pal.card-pal86
									+text
								.card-pal.card-pal87
									+text
								.card-pal.card-pal88
									+text
								.card-pal.card-pal89
									+text
								.card-pal.card-pal90
									+text
								.card-pal.card-pal91
									+text
								.card-pal.card-pal92
									+text
								.card-pal.card-pal93
									+text
								.card-pal.card-pal94
									+text
								.card-pal.card-pal95
									+text
								.card-pal.card-pal96
									+text
						.ral__block
							.ral__block_right
								.card-pal.card-pal1
									+text
								.card-pal.card-pal2
									+text
								.card-pal.card-pal3
									+text
								.card-pal.card-pal4
									+text
								.card-pal.card-pal5
									+text
								.card-pal.card-pal6
									+text
								.card-pal.card-pal7
									+text
								.card-pal.card-pal8
									+text
								.card-pal.card-pal9
									+text
								.card-pal.card-pal10
									+text
								.card-pal.card-pal11
									+text
								.card-pal.card-pal12
									+text
								.card-pal.card-pal13
									+text
								.card-pal.card-pal14
									+text
								.card-pal.card-pal15
									+text
								.card-pal.card-pal16
									+text
								.card-pal.card-pal17
									+text
								.card-pal.card-pal18
									+text
								.card-pal.card-pal19
									+text
								.card-pal.card-pal20
									+text
								.card-pal.card-pal21
									+text
								.card-pal.card-pal22
									+text
								.card-pal.card-pal23
									+text
								.card-pal.card-pal24
									+text
								.card-pal.card-pal25
									+text
								.card-pal.card-pal26
									+text
								.card-pal.card-pal27
									+text
								.card-pal.card-pal28
									+text
								.card-pal.card-pal29
									+text
								.card-pal.card-pal30
									+text
								.card-pal.card-pal31
									+text
								.card-pal.card-pal32
									+text
								.card-pal.card-pal33
									+text
								.card-pal.card-pal34
									+text
								.card-pal.card-pal35
									+text
								.card-pal.card-pal36
									+text
								.card-pal.card-pal37
									+text
								.card-pal.card-pal38
									+text
								.card-pal.card-pal39
									+text
								.card-pal.card-pal40
									+text
								.card-pal.card-pal41
									+text
								.card-pal.card-pal42
									+text
								.card-pal.card-pal43
									+text
								.card-pal.card-pal44
									+text
								.card-pal.card-pal45
									+text
								.card-pal.card-pal46
									+text
								.card-pal.card-pal47
									+text
								.card-pal.card-pal48
									+text
								.card-pal.card-pal49
									+text
								.card-pal.card-pal50
									+text
								.card-pal.card-pal51
									+text
								.card-pal.card-pal52
									+text
								.card-pal.card-pal53
									+text
								.card-pal.card-pal54
									+text
								.card-pal.card-pal55
									+text
								.card-pal.card-pal56
									+text
								.card-pal.card-pal57
									+text
								.card-pal.card-pal58
									+text
								.card-pal.card-pal59
									+text
								.card-pal.card-pal60
									+text
								.card-pal.card-pal61
									+text
								.card-pal.card-pal60
									+text
								.card-pal.card-pal63
									+text
								.card-pal.card-pal64
									+text
								.card-pal.card-pal65
									+text
								.card-pal.card-pal66
									+text
								.card-pal.card-pal67
									+text
								.card-pal.card-pal68
									+text
								.card-pal.card-pal69
									+text
								.card-pal.card-pal70
									+text
								.card-pal.card-pal71
									+text
								.card-pal.card-pal72
									+text
								.card-pal.card-pal73
									+text
								.card-pal.card-pal74
									+text
								.card-pal.card-pal75
									+text
								.card-pal.card-pal76
									+text
								.card-pal.card-pal77
									+text
								.card-pal.card-pal78
									+text
								.card-pal.card-pal79
									+text
								.card-pal.card-pal80
									+text
								.card-pal.card-pal81
									+text
								.card-pal.card-pal82
									+text
								.card-pal.card-pal83
									+text
								.card-pal.card-pal84
									+text
								.card-pal.card-pal85
									+text
								.card-pal.card-pal86
									+text
								.card-pal.card-pal87
									+text
								.card-pal.card-pal88
									+text
								.card-pal.card-pal89
									+text
								.card-pal.card-pal90
									+text
								.card-pal.card-pal91
									+text
								.card-pal.card-pal92
									+text
								.card-pal.card-pal93
									+text
								.card-pal.card-pal94
									+text
				#renolit.tabcontent
					.ral
						.ral__block
							.ral__block_left
						.ral__block
							.ral__block_right
		.palette__sidebar
			.search
				img()
				input
			.ral
			.call
				img(src="/images/palette/Group 79.svg")