@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-900.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-100.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Museo Sans Cyrl 300';
    font-size: 14px;
}
.custom-switch {
    height: 1rem;
    display: flex;
    label {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #212529 !important;
    }
}
#app {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    .sidebar {
        flex-basis: 250px;
        flex-grow: 0;
        flex-shrink: 0;
        background: white;
        border-right: 1px solid #E3EBF6;
        position: relative;
        .fixed {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 250px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .logo {
                flex-grow: 0;
                flex-shrink: 0;
                padding: 16px;
                img {

                }
            }
            ul.menu {
                flex-grow: 1;
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 14px;
                li {
                    line-height: 20px;
                    color: rgb(0, 255, 0);
                    text-decoration: none;
                    padding: 6px 16px;
                    &.router-link-active > a {
                        font-family: 'Museo Sans Cyrl 700';
                    }
                    ul {
                        margin: 0;
                        padding: 6px 0 0;
                        list-style: none;
                        li {
                            padding: 3px 16px;
                        }
                    }
                }
            }
        }
    }
    .data {
        padding: 2rem;
        flex-grow: 1;
        flex-shrink: 1;
        background: #F9FBFD;
    }
}
.ProductEdit {
    label.file_upload {
        width: 100%;
        height: 150px;
        background: #dddddd;
        padding: .5rem;
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden !important;
        margin: 0;
        display: block;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
        input {
            display: none;
            position: absolute;
        }
    }
    .custom-control {
        height: 31px;
        label {
            height: 31px;
            line-height: 31px;
            &:before {
                top: 7px;
            }
            &:after {
                top: 9px;
            }
        }
        &.custom-switch-iActive {
            height: 38px;
            label {
                height: 38px;
                line-height: 38px;
                &:before {
                    top: 10px;
                }
                &:after {
                    top: 12px;
                }
            }
        }
    }
    .card {
        margin-bottom: 2rem;
    }
    .card-color {
        label.file_upload {
            height: 150px;
            margin-bottom: 0 !important;
            overflow: hidden;
            position: relative;
            button {
                position: absolute;
                right: 3px;
                top: 3px;
            }
            button.iIndex {
                top: 37px;
                &.active {
                    background: #28A745 !important;
                    i {
                        color: white;
                    }
                }
                i {
                    display: block;
                    font-size: 19px;
                }
            }
        }
    }
    textarea {
        height: 390px;
    }
    .badge-product-link-item {
        position: relative;
        font-size: 12px;
        padding-right: 30px !important;
        padding-left: 10px !important;
        font-family: 'Museo Sans Cyrl 300';
        font-weight: normal;
        i {
            font-size: 20px;
            position: absolute;
            top: 4px;
            right: 5px;
            cursor: pointer;
        }
    }
    select.badge {
        border: none;
        width: 150px;
        padding: 6px 0;
    }
    .producttypes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
        .item {
            display: flex;
            flex-direction: column;
            input {
                display: none;
                &:checked ~ label {
                    background: #007BFF;
                    color: white;
                }
            }
            label {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-basis: 24px;
                background: #F8F9FA;
                border-radius: 12px;
                font-size: 12px;
                cursor: pointer;
                margin: 0 5px 5px 0;
                padding: 0 10px;
            }
        }
    }
}

.ColorList {
    td {
        padding: 5px;
    }
    label.file_upload {
        width: 100%;
        height: 31px;
        background: #dddddd;
        padding: 0;
        margin: 0 !important;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        display: block;
        border-radius: 4px;
        &:before {
            content: 'Выбрать';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 10px;
        }
        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
        }
        input {
            display: none;
        }
    }
    span.form-control {
        overflow: hidden;
        white-space: nowrap;
    }
}

.custom-switch {
    label {
        color: #ADB5BD;
    }
}
.form-group {
    label.label {
        color: #ADB5BD;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}

.bootstrap-select {

}

.gallery .remove {
    position: absolute;
    right: 8px;
    top: 0;
    color: white;
    cursor: pointer;
}
.gallery {
    .card-title {
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .gallery_image_order_input {
        position: absolute;
        left: 12px;
        bottom: 20px;
        font-size: 12px;
        border: none;
        padding: 3px 5px;
        height: 20px;
        width: 103px;
        text-align: center;
        border-radius: 3px;
    }
}

// .picture-input {
//     background: red;
//     width: 100% !important;
//     height: 300px !important;
//     & > div {
//         background: green;
//         height: 100%;
//         .preview-container {
//             background: blue;
//             height: 100% !important;
//             .picture-preview {
//                 background: brown;
//                 width: 100% !important;
//                 height: 100% !important;
//                 object-fit: contain;
//             }
//             .picture-inner {
//                 background: yellow;
//                 width: 100% !important;
//                 height: 100% !important;
//                 border: none !important;
//                 padding: 0 !important;
//                 margin: 0 !important;
//                 top: 0 !important;
//                 width: 0 !important;
//                 height: auto !important;
//                 span {
//                     background: olivedrab;
//                     font-size: 12px !important;
//                     line-height: 17px !important;
//                     height: 100% !important;
//                 }
//             }
//         }
//     }
// }
.picture-input {
    z-index: 0 !important;
    canvas {
        border-radius: 4px !important;
        background: none !important;
        object-fit: cover !important;
        z-index: 0 !important;
        padding: 0 !important;
    }
    .preview-container {
        position: relative !important;
        width: 100% !important;
        max-width: none !important;
        z-index: 0 !important;
        background: #EDF2F9 !important;
        background: grey !important;
        border: 1px dashed #bcc9da !important;
        border-radius: 4px !important;
    }
    .picture-inner {
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        border: none !important;
        padding: 0 !important;
        border-radius: none !important;
        // background: #EDF2F9 !important;
        .picture-inner-text {
            padding: 20px !important;
            font-size: 11px !important;
            color: #9eaec5 !important;
        }
    }
}



#part {
    display: grid;
    grid-template-columns: repeat(3, 250px) 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    overflow: hidden;
    margin: -2rem;
    .myalert {
        text-align: center;
        display: block;
        opacity: 0.5;
    }
    .partBlock {
        display: flex;
        flex-direction: column;
        h2 {
            padding: 0;
            margin: 1rem;
            flex-shrink: 0;
            display: flex;
            height: 30px;
            span {
                font-size: 16px;
                opacity: 0.85;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-grow: 1;
            }
            a.add {
                flex-basis: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                flex-shrink: 0;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .blockData {
            flex-grow: 1;
            overflow: auto;
        }
    }
    .partList {
        grid-row: 1 / span 2;
        background-color: rgba($color: #000000, $alpha: 0.025);
    }
    .partBrandList {
        grid-row: 1 / span 2;
        overflow: auto;
        background-color: rgba($color: #000000, $alpha: 0.005);
    }
    .partModelList {
        background-color: rgba($color: #000000, $alpha: 0.025);
    }
    .partModelEdit {
        grid-column: 4;
        grid-row: 1 / span 2;
        background-color: rgba($color: #000000, $alpha: 0.005);
    }
    .partModelColor {
        grid-column: 3;
        background-color: rgba($color: #000000, $alpha: 0.045);
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding: 0 1rem;
            line-height: 30px;
            display: flex;
            &:hover {
                .edit {
                    opacity: 0.5;
                }
                .destroy {
                    opacity: 0.5;
                }
            }
            &.noActive {
                .title {
                    text-decoration: line-through;
                }
            }
            a {
                &.router-link-active {
                    font-weight: bold;
                    color: black;
                    text-decoration: none;
                }
            }
            .color {
                flex-basis: 24px;
                flex-shrink: 0;
                margin: 3px 5px 3px 0;
                border-radius: 3px;
            }
            .emptyColor {
                flex-basis: 24px;
                margin-right: 5px;
            }
            .title {
                flex-grow: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .edit {
                flex-basis: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.25;
                flex-shrink: 0;
                &:hover {
                    opacity: 0.75;
                }
            }
            .destroy {
                flex-basis: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                opacity: 0.25;
                flex-shrink: 0;
                &:hover {
                    opacity: 0.75;
                    svg {
                        stroke: #DC3545;
                    }
                }
            }
        }
    }
    #PartModelEditForm {
        padding: 0 1rem;
    }
    .images {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
        margin: 1rem;
        .image {
            padding-bottom: 100%;
            position: relative;
            background-color: #EEF0F2;
            border-radius: 0.25rem;
            overflow: hidden;
            label {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.25rem;
                margin: 0;
                cursor: pointer;
                text-align: center;
                input {
                    display: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}