extends ../../layouts/app

block content
	#news.ppage
		section.news
			.container
				.row.my_container
					.col-lg-8.news_body
						.title lorem inspun
						.title_data 
							span.day 01
							span.month 03
							span.year 18
						.news-text.row
							.col-lg-6.news-text-block 
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, at ea alias aut voluptatum eaque, quis, nulla in quo molestiae reiciendis odit facere ipsa natus rerum esse veniam reprehenderit perspiciatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos sequi laudantium illum perferendis quidem eveniet perspiciatis voluptas ab quasi, explicabo impedit voluptatibus pariatur fugit, incidunt, ex facere amet temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sed expedita consectetur quidem temporibus voluptatibus natus dicta iste suscipit eius dolorem, assumenda aliquid, reiciendis quo saepe veritatis vel, nesciunt provident. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus dolorem libero repellat eaque atque! Natus corrupti vero at delectus beatae, consequatur maxime aperiam omnis nesciunt quo repellendus quidem quod officiis.
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, at ea alias aut voluptatum eaque, quis, nulla in quo molestiae reiciendis odit facere ipsa natus rerum esse veniam reprehenderit perspiciatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos sequi laudantium illum perferendis quidem eveniet perspiciatis voluptas ab quasi, explicabo impedit voluptatibus pariatur fugit, incidunt, ex facere amet temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sed expedita consectetur quidem temporibus voluptatibus natus dicta iste suscipit eius dolorem, assumenda aliquid, reiciendis quo saepe veritatis vel, nesciunt provident. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus est voluptatum cumque repellendus alias illo laboriosam, aliquid architecto quas voluptas minima adipisci quos, maiores aspernatur deleniti dicta laborum dolore veniam!
							.col-lg-6.news-text-block  
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, at ea alias aut voluptatum eaque, quis, nulla in quo molestiae reiciendis odit facere ipsa natus rerum esse veniam reprehenderit perspiciatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos sequi laudantium illum perferendis quidem eveniet perspiciatis voluptas ab quasi, explicabo impedit voluptatibus pariatur fugit, incidunt, ex facere amet temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sed expedita consectetur quidem temporibus voluptatibus natus dicta iste suscipit eius dolorem, assumenda aliquid, reiciendis quo saepe veritatis vel, nesciunt provident. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus dolorem libero repellat eaque atque! Natus corrupti vero at delectus beatae, consequatur maxime aperiam omnis nesciunt quo repellendus quidem quod officiis.
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, at ea alias aut voluptatum eaque, quis, nulla in quo molestiae reiciendis odit facere ipsa natus rerum esse veniam reprehenderit perspiciatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos sequi laudantium illum perferendis quidem eveniet perspiciatis voluptas ab quasi, explicabo impedit voluptatibus pariatur fugit, incidunt, ex facere amet temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sed expedita consectetur quidem temporibus voluptatibus natus dicta iste suscipit eius dolorem, assumenda aliquid, reiciendis quo saepe veritatis vel, nesciunt provident. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus dolorem libero repellat eaque atque! Natus corrupti vero at delectus beatae, consequatur maxime aperiam omnis nesciunt quo repellendus quidem quod officiis.
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, at ea alias aut voluptatum eaque, quis, nulla in quo molestiae reiciendis odit facere ipsa natus rerum esse veniam reprehenderit perspiciatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos sequi laudantium illum perferendis quidem eveniet perspiciatis voluptas ab quasi, explicabo impedit voluptatibus pariatur fugit, incidunt, ex facere amet temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sed expedita consectetur quidem temporibus voluptatibus natus dicta iste suscipit eius dolorem, assumenda aliquid, reiciendis quo saepe veritatis vel, nesciunt provident. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus dolorem libero repellat eaque atque! Natus corrupti vero at delectus beatae, consequatur maxime aperiam omnis nesciunt quo repellendus quidem quod officiis.
					.col-lg-4.card-news-container.owl-theme.owl-carousel
						.card-news.active.item
							.news-card-header.d-flex.justify-content-between
								.title_data 
									span.day 01
									span.month 03
									span.year 18
								.title_picture
									img(src='/images/company/news/our.png' alt='')
							.card-name.d-flex.justify-content-between
								.title Lorem, ipsum
								.title_go ...
						.card-news.item
							.news-card-header.d-flex.justify-content-between
								.title_data 
									span.day 01
									span.month 03
									span.year 18
								.title_picture
									img(src='/images/company/news/our.png' alt='')
							.card-name.d-flex.justify-content-between
								.title Lorem, ipsum
								.title_go ...
						.card-news.item
							.news-card-header.d-flex.justify-content-between
								.title_data 
									span.day 01
									span.month 03
									span.year 18
								.title_picture
									img(src='/images/company/news/our.png' alt='')
							.card-name.d-flex.justify-content-between
								.title Lorem, ipsum
								.title_go ...
						.card-news.item
							.news-card-header.d-flex.justify-content-between
								.title_data 
									span.day 01
									span.month 03
									span.year 18
								.title_picture
									img(src='/images/company/news/our.png' alt='')
							.card-name.d-flex.justify-content-between
								.title Lorem, ipsum
								.title_go 
									span ...
						.card-news.item
							.news-card-header.d-flex.justify-content-between
								.title_data 
									span.day 01
									span.month 03
									span.year 18
								.title_picture
									img(src='/images/company/news/our.png' alt='')
							.card-name.d-flex.justify-content-between
								.title Lorem, ipsum
								.title_go 
									span ...
						.card-news.item
							.news-card-header.d-flex.justify-content-between
								.title_data 
									span.day 01
									span.month 03
									span.year 18
								.title_picture
									img(src='/images/company/news/our.png' alt='')
							.card-name.d-flex.justify-content-between
								.title Lorem, ipsum
								.title_go 
									span ...