extends ../../layouts/app

block content
    #news-tape
        section.news-tape.ppage
            .container
                .row
                    .col-lg-12.text-center
                        .title-news
                            span Новости
                    .col-lg-12.text-center
                        button.btn-go-read.header
                            div
                                span Перейти к чтению
            .container.news-tape-container
                .row.news-slider
                    .col-lg-12.cards-container
                        .card-border
                            .news-tape-item.d-flex.justify-content-between
                                .card-news-header.d-flex.justify-content-between
                                    .title_data
                                        span.day 01
                                        span.month 03
                                        span.year 18
                                    .title_picture
                                        img(src='/images/company/news-tape/our.png' alt='')
                                .card-body
                                    img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                .card-name.d-flex.justify-content-between
                                    span.title Lorem ipsum dolor sit amet.
                                    span.go ...
                        .card-border
                            .news-tape-item.d-flex.justify-content-between
                                .card-news-header.d-flex.justify-content-between
                                    .title_data
                                        span.day 01
                                        span.month 03
                                        span.year 18
                                    .title_picture
                                        img(src='/images/company/news-tape/our.png' alt='')
                                .card-body
                                    img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                .card-name.d-flex.justify-content-between
                                    span.title Lorem ipsum dolor sit amet consectetur.  
                                    span.go ...
                        .card-border
                            .news-tape-item.d-flex.justify-content-between
                                .card-news-header.d-flex.justify-content-between
                                    .title_data
                                        span.day 01
                                        span.month 03
                                        span.year 18
                                    .title_picture
                                        img(src='/images/company/news-tape/our.png' alt='')
                                .card-body
                                    img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                .card-name.d-flex.justify-content-between
                                    span.title Lorem, ipsum.
                                    span.go ...
                        .card-border
                                .news-tape-item.d-flex.justify-content-between
                                    .card-news-header.d-flex.justify-content-between
                                        .title_data
                                            span.day 01
                                            span.month 03
                                            span.year 18
                                        .title_picture
                                            img(src='/images/company/news-tape/our.png' alt='')
                                    .card-body
                                        img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                    .card-name.d-flex.justify-content-between
                                        span.title Lorem, ipsum.
                                        span.go ...
                        .card-border
                                .news-tape-item.d-flex.justify-content-between
                                    .card-news-header.d-flex.justify-content-between
                                        .title_data
                                            span.day 01
                                            span.month 03
                                            span.year 18
                                        .title_picture
                                            img(src='/images/company/news-tape/our.png' alt='')
                                    .card-body
                                        img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                    .card-name.d-flex.justify-content-between
                                        span.title Lorem, ipsum.
                                        span.go ...
                        .card-border
                            .news-tape-item.d-flex.justify-content-between
                                .card-news-header.d-flex.justify-content-between
                                    .title_data
                                        span.day 01
                                        span.month 03
                                        span.year 18
                                    .title_picture
                                        img(src='/images/company/news-tape/our.png' alt='')
                                .card-body
                                    img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                .card-name.d-flex.justify-content-between
                                    span.title Lorem ipsum dolor sit amet.
                                    span.go ...
                        .card-border
                            .news-tape-item.d-flex.justify-content-between
                                .card-news-header.d-flex.justify-content-between
                                    .title_data
                                        span.day 01
                                        span.month 03
                                        span.year 18
                                    .title_picture
                                        img(src='/images/company/news-tape/our.png' alt='')
                                .card-body
                                    img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                .card-name.d-flex.justify-content-between
                                    span.title Lorem ipsum dolor sit amet consectetur.  
                                    span.go ...
                        .card-border
                            .news-tape-item.d-flex.justify-content-between
                                .card-news-header.d-flex.justify-content-between
                                    .title_data
                                        span.day 01
                                        span.month 03
                                        span.year 18
                                    .title_picture
                                        img(src='/images/company/news-tape/our.png' alt='')
                                .card-body
                                    img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                .card-name.d-flex.justify-content-between
                                    span.title Lorem, ipsum.
                                    span.go ...
                        .card-border
                                .news-tape-item.d-flex.justify-content-between
                                    .card-news-header.d-flex.justify-content-between
                                        .title_data
                                            span.day 01
                                            span.month 03
                                            span.year 18
                                        .title_picture
                                            img(src='/images/company/news-tape/our.png' alt='')
                                    .card-body
                                        img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                    .card-name.d-flex.justify-content-between
                                        span.title Lorem, ipsum.
                                        span.go ...
                        .card-border
                                .news-tape-item.d-flex.justify-content-between
                                    .card-news-header.d-flex.justify-content-between
                                        .title_data
                                            span.day 01
                                            span.month 03
                                            span.year 18
                                        .title_picture
                                            img(src='/images/company/news-tape/our.png' alt='')
                                    .card-body
                                        img(src='/images/company/news-tape/bg.jpg').img-thumbnail
                                    .card-name.d-flex.justify-content-between
                                        span.title Lorem, ipsum.
                                        span.go ...
            .container
                .row
                    .col-lg-12.text-center
                        button.btn-go-read.footer 
                            div Перейти к чтению