@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'), url('/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratMedium';
    src: url('/fonts/Montserrat-Medium.woff2') format('woff2'), url('/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2'), url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}



.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}




a.mbutton {
    font-family: 'MontserratSemiBold';
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    padding: 13px 30px;
    border-radius: 22px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    &.small {
        padding: 11px 30px;
    }
    &.grey {
        background-color: #383838;
        color: #FFF;
    }
    &.white {
        background-color: #FFF;
        color: #000000;
    }
    &.white_blue_border {
        background-color: #FFF;
        color: #000000;
        border: 1px solid #2d70e4;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    &.blue_border {
        color: white;
        border: 1px solid #2d70e4;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    &.blue {
        background: -moz-linear-gradient(135deg, rgba(21,93,211,1) 0%, rgba(75,132,245,1) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(75,132,245,1)), color-stop(100%, rgba(21,93,211,1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(135deg, rgba(21,93,211,1) 0%, rgba(75,132,245,1) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(135deg, rgba(21,93,211,1) 0%, rgba(75,132,245,1) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(135deg, rgba(21,93,211,1) 0%, rgba(75,132,245,1) 100%); /* ie10+ */
        background: linear-gradient(315deg, rgba(21,93,211,1) 0%, rgba(75,132,245,1) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b84f5', endColorstr='#155dd3',GradientType=0 ); /* ie6-9 */
        color: #FFF;
        &:hover {
            color: #FFF;
        }
    }
    &.trans-white {
        color: #FFF;
        border: 1px solid #FFF;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    &.mbutton-block {
        width: 100%;
        text-align: center;
    }
}


.owl-theme {
    .owl-dots {
        height: 30px;
        .owl-dot {
            outline: none;
            span {
                margin: 10px 10px;
                -moz-transition: all .1s linear;
                -o-transition: all .1s linear;
                -webkit-transition: all .1s linear;
                border: 1px solid #383838;
                background-color: #FFF;
            }
            &:hover {
                background: none;
            }
            &.active {
                span {
                    // transform: scale(1.5);
                    border: none;
                    background-color: #2d70e4;
                }
            }
        }
    }
}




input, textarea {
    &.form-control-pokna {
        border-radius: 22px;
        padding: 12px 20px;
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 18px;
        &.white {
            border-color:rgba(255,255,255,.5);
            background: none;
            color: #FFF;
            &::-webkit-input-placeholder {
                color: rgba(255,255,255,.5);
            }
            &::-moz-placeholder {
                color: rgba(255,255,255,.5);
            }
            &:-ms-input-placeholder {
                color: rgba(255,255,255,.5);
            }
            &:-moz-placeholder {
                color: rgba(255,255,255,.5);
            }
            &:active,
            &:focus {
                color: #FFF;
                border-color:rgba(255,255,255,1);
                box-shadow: none;
                background: -moz-linear-gradient(360deg, rgba(255,255,255,.05) 0%, rgba(255,255,255,.2) 100%); /* ff3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,.05)), color-stop(100%, rgba(255,255,255,.2))); /* safari4+,chrome */
                background: -webkit-linear-gradient(360deg, rgba(255,255,255,.05) 0%, rgba(255,255,255,.2) 100%); /* safari5.1+,chrome10+ */
                background: -o-linear-gradient(360deg, rgba(255,255,255,.05) 0%, rgba(255,255,255,.2) 100%); /* opera 11.10+ */
                background: -ms-linear-gradient(360deg, rgba(255,255,255,.05) 0%, rgba(255,255,255,.2) 100%); /* ie10+ */
                background: linear-gradient(90deg, rgba(255,255,255,.05) 0%, rgba(255,255,255,.2) 100%); /* w3c */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=1 ); /* ie6-9 */            
            }
        }
        &.grey {
            border-color:rgba(0,0,0,.1);
            background: none;
            color: #FFF;
            &::-webkit-input-placeholder {
                color: rgba(0,0,0,.2);
            }
            &::-moz-placeholder {
                color: rgba(0,0,0,.2);
            }
            &:-ms-input-placeholder {
                color: rgba(0,0,0,.2);
            }
            &:-moz-placeholder {
                color: rgba(0,0,0,.2);
            }
            &:active,
            &:focus {
                color: #333;
                border-color:rgba(0,0,0,.2);
                box-shadow: none;
            }
        }
        &.small {
            padding: 10px 20px;
            border-radius: 20px;
            line-height: 17px;
        }
    }
}


$speed: .25s;
#fullpage_nav {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 80px;
    .lineprogress {
        position: absolute;
        top: 0;
        left: -1px;
        bottom: 0;
        width: 4px;
        -webkit-transition: all $speed linear;
        -moz-transition: all $speed linear;
        -o-transition: all $speed linear;
        transition: all $speed linear;
        @media (max-width: 1200px) {
            top: auto;
            left: 0;
            right: 0;
            bottom: 5px;
            width: 100%;
            height: 5px;
        }
        .line {
            width: 100%;
            height: auto;
            @media (max-width: 1200px) {
                width: auto;
                height: 100%;
            }
        }
    }
    ul {
        list-style: none;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -160px 0 0;
        padding: 25px 0;
        width: 79px;
        background-color: rgba(0,0,0,0);
        -webkit-transition: all $speed linear;
        -moz-transition: all $speed linear;
        -o-transition: all $speed linear;
        transition: all $speed linear;
        @media (max-width: 1200px) {
            display: none;
        }
        li {
            position: relative;
            white-space: nowrap;
            position: relative;
            display: block;
            padding: 5px 100px;
            font-family: "MontserratSemiBold";
            font-size: 16px;
            line-height: 20px;
            color: #FFF;
            -webkit-transition: all $speed linear;
            -moz-transition: all $speed linear;
            -o-transition: all $speed linear;
            transition: all $speed linear;        
            cursor: pointer;
            text-transform: uppercase;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                margin: -5px 0 0;
                left: 35px;
                width: 10px;
                height: 10px;
                background-color: none;
                border-radius: 50%;
                -webkit-transition: all $speed linear;
                -moz-transition: all $speed linear;
                -o-transition: all $speed linear;
                transition: all $speed linear;        
            }
            &.active {
                color: #4b84f5;
                &::before {
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -o-transform: scale(1.5);
                }
            }
        }
        &.open {
            width: 400px;
            padding: 50px 0;
            margin: -275px 0 0;
            background-color: rgba(0,0,0,.8);
            li {
                padding: 15px 100px 15px 100px;
                &::before {
                    left: 45px;
                    background-color: #FFF;
                    border: none;
                }
                &.active {
                    &::before {
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        margin: -7px 0 0;
                        left: 43px;
                        width: 14px;
                        height: 14px;
                        background-color: #2d70e4;
                    }
                }
            }
        }
    }
    &.black {
        border-left: 1px solid rgba(56,56,56,.2);
        .lineprogress {
            .line {
                background-color: rgba(153,153,153,1);
            }
        }
        li {
            &::before {
                border: 1px solid rgba(56,56,56,1);
            }
            &.active {
                &::before {
                    background-color: rgba(56,56,56,1);
                }                    
            }
        }
        @media (max-width: 1200px) {
            background: rgba(0,0,0,.5);
        }
    }
    &.white {
        border-left: 1px solid rgba(255,255,255,.5);
        .lineprogress {
            .line {
                background-color: rgba(255,255,255,1);
            }
        }
        li {
            &::before {
                border: 1px solid rgba(255,255,255,1);
            }            
            &.active {
                &::before {
                    background-color: rgba(255,255,255,1);
                }                    
            }
        }        
        @media (max-width: 1200px) {
            background: rgba(255,255,255,.5);
        }
    }
    @media (max-width: 1200px) {
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
    }
    @media (max-width: 575px) {
        height: 40px;
    }
}






#top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    border-bottom: 1px solid #999;
    z-index: 2;
    background-color: #FFF;
    @media (max-width: 575px) {
        height: 50px;
    }
    .l {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 100vh;
        border-right: 1px solid #999;
        @media (max-width: 1200px) {
            width: 0;
            border-right: none;
        }
        .handle {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 80px;
            background: #ededed;
            z-index: 4;
            border-bottom: 1px solid #999;
            -moz-transition: all .5s linear;
            -o-transition: all .5s linear;
            -webkit-transition: all .5s linear;
            cursor: pointer;
            @media (max-width: 575px) {
                transform: scale(.5);
            }
        }
        .menu {
            position: absolute;
            top: 80px;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 79px;
            background-color: #FFF;
            -moz-transition: all .25s linear;
            -o-transition: all .25s linear;
            -webkit-transition: all .25s linear;
            @media (max-width: 1200px) {
                top: 50px;
                width: 0vw;
            }
            ul {
                position: absolute;
                left: 0;
                top: 50%;
                right: 0;
                margin: -244px 0 0 0;
                padding: 0;
                list-style: none;
                @media (max-height: 568px) {
                    margin: -204px 0 0 0;
                }
                @media (max-height: 488px) {
                    margin: -164px 0 0 0;
                }
                @media (max-width: 575px) {
                    top: 0;
                    margin: 0;
                }
                @media (max-width: 575px) {
                    height: 100%;
                }
                li {
                    position: relative;
                    a {
                        display: block;
                        height: 61px;
                        font-size: 0;
                        background-position: center;
                        background-repeat: no-repeat;
                        @media (max-height: 568px) {
                            height: 51px;
                        }
                        @media (max-height: 488px) {
                            height: 41px;
                        }
                    }
                    &.active {
                        a {
                            background-color: #ededed;
                        }
                    }
                    &:hover {
                        a {
                            background-color: #ededed;
                        }
                    }
                    &.item0 { a { background-image: url("/images/top/1.svg"); } &.item0.active { a { background-image: url("/images/top/1a.svg"); } } }
                    &.item1 { a { background-image: url("/images/top/2.svg"); } &.item1.active { a { background-image: url("/images/top/2a.svg"); } } }
                    &.item2 { a { background-image: url("/images/top/3.svg"); } &.item2.active { a { background-image: url("/images/top/3a.svg"); } } }
                    &.item3 { a { background-image: url("/images/top/4.svg"); } &.item3.active { a { background-image: url("/images/top/4a.svg"); } } }
                    &.item4 { a { background-image: url("/images/top/5.svg"); } &.item4.active { a { background-image: url("/images/top/5a.svg"); } } }
                    &.item5 { a { background-image: url("/images/top/6.svg"); } &.item5.active { a { background-image: url("/images/top/6a.svg"); } } }
                    &.item6 { a { background-image: url("/images/top/7.svg"); } &.item6.active { a { background-image: url("/images/top/7a.svg"); } } }
                    &.item7 { a { background-image: url("/images/top/8.svg"); } &.item7.active { a { background-image: url("/images/top/8a.svg"); } } }
                }
            }
            &.opened {
                width: 300px;
                box-shadow: 10px 0 25px rgba(0,0,0,.25);
                @media (max-width: 575px) {
                    position: absolute;
                    top: 50px;
                    left: 0;
                    right: 0;
                    // background-color: yellow;
                    // bottom: 0;
                    width: 100vw;
                    height: auto;
                    box-shadow: none;
                }
            }
        }
    }
    .logo {
        position: absolute;
        left: 80px;
        top: 0;
        width: 220px;
        height: 79px;
        z-index: 3;
        background-image: url("/images/logo.svg");
        background-position: 23px center;
        background-repeat: no-repeat;
        background-color: #FFF;
        @media (max-width: 575px) {
            height: 49px;
            left: 50px;
            width: 120px;
            background-position: left center;
        }
        &:hover {
            opacity: .8;
            // background-image: url("/images/logoa.svg");
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .phone {
        position: absolute;
        right: 80px;
        top: 0;
        width: 220px;
        height: 79px;
        z-index: 3;
        padding: 19px 0;
        // background-color: red;
        a.tel {
            float: left;
            display: block;
            font-family: 'MontserratBold';
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            text-decoration: none;
        }
        a.callme {
            float: left;
            display: block;
            font-family: 'Montserrat';
            font-size: 14px;
            line-height: 16px;
            color: #2d70e4;
            text-decoration: none;
            border-bottom: 1px dashed #2d70e4b2;
        }
        @media (max-width: 575px) {
            display: none;
        }
    }
    .search {
        position: absolute;
        top: 0;
        left: 300px;
        right: 380px;
        height: 79px;
        z-index: 3;
        background-color: #FFF;
        padding: 19px 0 20px 0;
        max-width: 1000px;
        .bginput {
            margin-right: 180px;
            input {
                line-height: 18px;
            }
        }
        a.mbutton {
            width: 150px;
            text-align: center;
            float: right;
            // position: absolute;
            // top: 0;
            // right: 0;
        }
        @media (max-width: 575px) {
           display: none;
        }
    }
    .cal {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 100%;
        border-left: 1px solid #999;
        @media (max-width: 575px) {
            display: none;
        }
    }
}

#main {
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 80px;
    overflow: hidden;
    z-index: 1;
    @media (max-width: 1200px) {
        left: 0;
    }
}