// body.gallery_scroll {
    // &::-webkit-scrollbar {
    //     width: 5px;
    // }
    // &::-webkit-scrollbar-track {
    //     margin: 200px 0 100px 0;
    //     border-radius: 5px;
    //     background: linear-gradient(0deg, #E55AE9, #9C47E5);
    //     @media (max-width: 767px) {
    //         margin: 120px 0 20px 0;
    //     }
    // }
    // &::-webkit-scrollbar-thumb {
    //     background: white;
    //     border-radius: 5px;
    // }
    // &::-webkit-scrollbar-thumb:hover {
    //     background-color: rgba(255,255,255,.95);
    // }
// }

#gallery {
    background: #EDEDED;
    // background: yellow;
    // display: flex;
    // flex-direction: column;
    // height: 1px;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // position: relative;
    @media (max-width: 1199px) {
        display: block;
    }
    .head {
        opacity: .5;
        // flex-basis: 12rem;
        // flex-shrink: 0;
        // flex-grow: 0;
        background: #EDEDED;
        // background: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 60px;
        left: 60px;
        right: 0;
        height: 200px;
        z-index: 2;
        margin: 0 250px;
        // background: red;
        transition: all .25s;
        &.hide {
            // @media (max-width: 767px) {
                top: -200px;
            // }
        }
        @media (max-width: 1400px) {
            margin: 0 200px;
        }
        @media (max-width: 1199px) {
            left: 0;
            margin: 0 100px;
        }
        @media (max-width: 767px) {
            top: 50px;
            height: 120px;
            margin: 0 10px;
            // margin: 1rem 0;
            // flex-basis: 8rem;
        }
        .title {
            font-family: 'MontserratSemiBold';
            font-size: 14px;
            text-transform: uppercase;
            padding-bottom: 1rem;
            @media (max-width: 767px) {
                padding-bottom: .5rem;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            position: relative;
            @media (max-width: 767px) {
                margin-bottom: 1rem;
            }
            &:hover {
                li.active {
                    a {
                        span {
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 0.3s, visibility 0.3s;
                        }
                    }
                    &:hover {
                        a {
                            span {
                                opacity: 1;
                                visibility: visible;
                                transition: opacity 0.3s, visibility 0.3s;
                            }
                        }
                    }
                }
            }
            li {
                width: 3rem;
                height: 3rem;
                background: #535353;
                margin: 0 .5rem;
                // margin: 0;
                border-radius: .5rem;
                position: relative;
                display: flex;
                flex-direction: row;
                @media (max-width: 767px) {
                    position: static;
                    width: 2.5rem;
                    height: 2.5rem;
                }
                a {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: .6rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    span {
                        font-family: 'MontserratSemiBold';
                        font-size: 10px;
                        text-transform: uppercase;
                        position: absolute;
                        top: 3.5rem;
                        left: 50%;
                        transform: translate(-50%, 0);
                        white-space: nowrap;
                        color: #535353;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s, visibility 0.3s;
                        @media (max-width: 767px) {
                            top: auto;
                            bottom: -1.5rem;
                        }
                    }
                }
                &.active {
                    background: linear-gradient(0deg, #E55AE9, #9C47E5);
                    a {
                        img {

                        }
                        span {
                            opacity: 1;
                            visibility: visible;
                            transition: opacity 0.3s, visibility 0.3s;
                        }
                    }
                }
                &:hover {
                    a {
                        span {
                            opacity: 1;
                            visibility: visible;
                            transition: opacity 0.3s, visibility 0.3s;
                        }
                    }
                }
            }
        }
    }
    .list {
        flex-grow: 1;
        flex-shrink: 0;
        margin: 0;
        padding: 0 250px;
        grid-column-gap: 20px;
        height: calc(100% - 200px);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            margin: 200px 0 100px 0;
            border-radius: 5px;
            background: linear-gradient(0deg, #E55AE9, #9C47E5);
            @media (max-width: 767px) {
                margin: 120px 0 20px 0;
            }
        }
        &::-webkit-scrollbar-thumb {
            background: white;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255,255,255,.95);
        }
        @media (max-width: 1400px) {
            padding: 0 200px;
        }
        @media (max-width: 1199px) {
            padding: 0 100px;
        }
        @media (max-width: 767px) {
            padding: 0 10px;
        }
        a {
            position: relative;
            // display: flex;
            // justify-content: center;
            // text-align: center;
            // align-content: center;
            margin-bottom: 20px;
            padding-top: 100%;
            background: white;
            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
            .bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                .title {
                    display: flex;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background: rgba(0,0,0,.75);
                    color: white;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s, visibility 0.3s;
                    text-align: center;
                    font-family: 'MontserratSemiBold';
                    font-size: 14px;
                    padding: 1rem;
                }
            }
            &:hover {
                .bg {
                    .title {
                        visibility: visible;
                        opacity: 1;
                        transition: opacity 0.3s, visibility 0.3s;
                    }    
                }
            }
        }
        .mb-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            height: calc(100% - 200px);
            margin: 0 !important;
            padding: 200px 0 0 0 !important;
            &::-webkit-scrollbar {
                display: none;
            }
            @media (max-width: 1199px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 10px;
                padding: 120px 0 0 0 !important;
                height: calc(100% - 120px);
            }
        }
        .mb-track-y {
            right: 122px;
            bottom: 100px;
            top: 200px;
            height: calc(100% - 300px);
            background: linear-gradient(0deg, #E55AE9, #9C47E5);
            width: 6px;
            border-radius: 3px;
            @media (max-width: 1400px) {
                right: 97px;
            }
            @media (max-width: 1199px) {
                right: 47px;
            }
            @media (max-width: 767px) {
                top: 3px;
                bottom: 3px;
                width: 4px;
                right: 3px;
                height: calc(100% - 6px);
            }
            .mb-bar {
                background-color: white;
            }
        }
        ul {
            flex-grow: 1;
            flex-shrink: 0;
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            height: 100%;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            @media (max-width: 1000px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
            }
            li {
                // width: 25%;
                // height: 25vh;
                // display: flex;
                padding-top: 100%;
                position: relative;
                background: white;
                .bg {
                    margin: 0;
                    // margin: 0;
                    flex-grow: 1;
                    background: white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    .title {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: rgba(0,0,0,.75);
                        color: white;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s, visibility 0.3s;
                        text-align: center;
                        font-family: 'MontserratSemiBold';
                        font-size: 14px;
                        padding: 1rem;
                    }
                    &:hover {
                        .title {
                            visibility: visible;
                            opacity: 1;
                            transition: opacity 0.3s, visibility 0.3s;
                        }
                    }
                }
            }
        }
    }
    .item {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        height: 100px;
        margin: 200px 250px 75px 150px;
        display: flex;
        flex-direction: row;
        border: 1px solid #A8A8A8;
        border-radius: 1rem;
        position: relative;
        @media (max-width: 1400px) {
            margin: 0 200px 50px 75px;
        }
        @media (max-width: 1199px) {
            flex-direction: column;
            margin: 2.5rem 15px 15px 15px;
            border: none;
            height: auto;
            display: block;
            // flex-grow: 1;
            // height: auto;
        }
        .desc {
            flex-basis: 500px;
            flex-shrink: 0;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'MontserratSemiBold';
            font-size: 13px;
            @media (max-width: 1550px) {
                flex-basis: 400px;
            }
            @media (max-width: 1400px) {
                flex-basis: 300px;
            }
            @media (max-width: 1199px) {
                flex-basis: 2rem;
                padding: 1.5rem 0;
                // display: none;
                // background: yellowgreen;
            }
            button.title, h1 {
                font-family: 'MontserratBold';
                text-transform: uppercase;
                font-size: 16px;
                margin: 0;
                padding: 0 0 1rem;
                display: none;
                @media (max-width: 767px) {
                    display: block;
                }
            }
            h1 {
                @media (max-width: 1199px) {
                    display: none;
                }
            }
            div {
                @media (max-width: 1199px) {
                    display: none;
                }
            }
            button.title {
                background: #C9C9C9;
                border: none;
                padding: .25rem 1rem;
                border-radius: 1rem;
            }
        }
        .zoom {
            flex-grow: 1;
            padding: 1rem 1rem 1rem 0;
            @media (max-width: 1199px) {
                // padding: .5rem;
                display: none;
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }    
        .images {
            flex-basis: 16rem;
            flex-shrink: 0;
            overflow: auto;
            margin-right: -.25rem;
            @media (max-width: 1199px) {
                // flex-basis: auto;
                // height: 100px;
                margin-right: 0;
                margin-left: .5rem;
                flex-grow: 0;
                flex-shrink: 0;
                margin: 0;
                height: 1000px;
            }
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 1rem 0 .5rem;
                @media (max-width: 1199px) {
                    margin: 0;
                    // margin-right: -.5rem;
                }
                li {
                    flex-basis: 7.5rem;
                    height: 7.5rem;
                    padding: 0 .5rem .5rem 0;
                    @media (max-width: 1300px) {
                        width: 100%;
                    }
                    @media (max-width: 1199px) {
                        flex-basis: 100%;
                        height: auto;
                        padding: 0 0 .5rem;
                        // height: 5rem;
                        &:last-child {
                            padding: 0;
                        }
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
            }
            // &::-webkit-scrollbar {
            //     width: .5rem;
            //     height: .5rem;
            //     @media (max-width: 1199px) {
            //         width: .25rem;
            //         // height: 5rem;
            //     }
            // }
            // /* Track */
            // &::-webkit-scrollbar-track {
            //     margin: 1rem 0;
            //     border-radius: 5px;
            //     background: none;
            //     @media (max-width: 1199px) {
            //         margin: 0;
            //     }
            //     // background: #f1f1f1;
            // }
            // /* Handle */
            // &::-webkit-scrollbar-thumb {
            //     background: #A8A8A8;
            //     border-radius: 5px;
            // }
            // /* Handle on hover */
            // &::-webkit-scrollbar-thumb:hover {
            //     // background: #555;
            // }
        }
        .pagg {
            // background: red;
            position: absolute;
            top: 0;
            right: -150px;
            width: 150px;
            height: 100%;
            overflow: hidden;
            @media (max-width: 1199px) {
                top: -2.5rem;
                right: auto;
                left: 0;
                width: 100%;
                height: 2.5rem;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 2rem;
                width: .5rem;
                height: 100%;
                background: linear-gradient(0deg, #E55AE9, #9C47E5);
                border-radius: .25rem;
                @media (max-width: 1199px) {
                    top: 2rem;
                    height: .5rem;
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
            .pagg_bg {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
                .pagg_list {
                    // background: green;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    overflow: auto;
                    @media (max-width: 1199px) {
                        display: inline-flex;
                        width: auto;
                        flex-direction: row;
                        flex-wrap: nowrap;
                    }
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    a {
                        position: relative;
                        text-decoration: none;
                        height: 50px;
                        border: none;
                        text-align: right;
                        @media (max-width: 1199px) {
                            height: 100%;
                            width: 50px;
                            flex-basis: 100px;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 2rem;
                            width: .5rem;
                            height: .5rem;
                            margin-top: -.25rem;
                            background: white;
                            border-radius: .25rem;
                            @media (max-width: 1199px) {
                                top: 2rem;
                                left: 50%;
                                margin-top: 0;
                                margin-left: -.25rem;
                            }
                        }
                        &.active, &:hover {
                            // background: red;
                            span.titleDot {
                                visibility: visible;
                            }
                        }
                        span.num {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            width: 1.4rem;
                            height: 1.4rem;
                            margin-top: -.7rem;
                            font-family: 'Montserrat';
                            font-size: 12px;
                            background: linear-gradient(135deg, #E55AE9, #9C47E5);
                            border-radius: 1rem;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @media (max-width: 1199px) {
                                top: 0;
                                right: auto;
                                left: 50%;
                                margin-top: 0;
                                margin-left: -.7rem;
                            }
                        }
                        span.titleDot {
                            font-family: 'MontserratSemiBold';
                            font-size: 12px;
                            text-transform: uppercase;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            padding: 0 3rem 0 1rem;
                            color: #9C47E5;
                            visibility: hidden;
                            @media (max-width: 1199px) {
                                display: none;
                                padding: 3rem 0 0;
                                align-items: flex-start;
                                justify-content: center;
                            }
                        }
                    }    
                }    
            }
        }
    }
    #imageZoom {
        display: none;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background: rgba(0,0,0,.85);
        transition: all .25s;
        &.active {
            display: block;
            opacity: 1;
        }
        .nav_close {
            z-index: 100;
            position: absolute;
            top: 6px;
            right: 6px;
            color: white;
            cursor: pointer;
            i {
                font-size: 36px;
            }            
        }
        .owl-carousel {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translate(0, -50%);
            .owl-item {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 900px;
                    max-height: 900px;
                    object-fit: contain;
                }
            }
            .owl-nav {
                position: absolute;
                top: 50%;
                left: 0;
                height: 0;
                width: 100%;
                margin: 0;
                .owl-prev, .owl-next {
                    position: absolute;
                    top: -30px;
                    background: red;
                    margin: 0;
                    border-radius: 30px;
                    width: 60px;
                    height: 60px;
                    color: white;
                    background-color: rgba(0,0,0,.75);
                    font-size: 24px;
                    img {
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                        width: 14px;
                        height: 24px;
                    }
                }
                .owl-prev {
                    img {
                        right: 12px;
                    }
                }
                .owl-next {
                    img {
                        left: 12px;
                    }
                }
                .owl-prev {
                    left: -30px;
                }
                .owl-next {
                    right: -30px;
                }
            }
        }
    }
}
