// body.gallery_scroll {
    // &::-webkit-scrollbar {
    //     width: 5px;
    // }
    // &::-webkit-scrollbar-track {
    //     margin: 200px 0 100px 0;
    //     border-radius: 5px;
    //     background: linear-gradient(0deg, #E55AE9, #9C47E5);
    //     @media (max-width: 767px) {
    //         margin: 120px 0 20px 0;
    //     }
    // }
    // &::-webkit-scrollbar-thumb {
    //     background: white;
    //     border-radius: 5px;
    // }
    // &::-webkit-scrollbar-thumb:hover {
    //     background-color: rgba(255,255,255,.95);
    // }
// }

#gallery {
    background: #EDEDED;
    // background: yellow;
    // display: flex;
    // flex-direction: column;
    // height: 1px;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // position: relative;
    @media (max-width: 1199px) {
        display: block;
    }
    .head {
        background: #EDEDED;
        // background: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 60px;
        left: 60px;
        right: 0;
        width: auto;
        height: 200px;
        z-index: 2;
        margin: 0 250px;
        transition: all .25s;
        &.hide {
            @media (max-width: 767px) {
                top: -200px;
            }
        }
        @media (max-width: 1400px) {
            margin: 0 200px;
        }
        @media (max-width: 1199px) {
            left: 0;
            margin: 0 100px;
        }
        @media (max-width: 767px) {
            height: 120px;
            margin: 0 10px;
        }
        @media (max-width: 575px) {
            top: 50px;
        }
        .title {
            font-family: 'MontserratSemiBold';
            font-size: 14px;
            text-transform: uppercase;
            padding-bottom: 1rem;
            @media (max-width: 767px) {
                padding-bottom: .5rem;
            }
        }
        ul {
            margin: 0;
            padding: 0 15px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            position: relative;
            @media (max-width: 767px) {
                margin-bottom: 1rem;
            }
            &:hover {
                li.active {
                    a {
                        span {
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity 0.3s, visibility 0.3s;
                        }
                    }
                    &:hover {
                        a {
                            span {
                                opacity: 1;
                                visibility: visible;
                                transition: opacity 0.3s, visibility 0.3s;
                            }
                        }
                    }
                }
            }
            li {
                min-width: 48px;
                height: 48px;
                // background: #535353;
                margin: 0 .5rem;
                // margin: 0;
                // background: yellow;
                position: relative;
                display: flex;
                flex-direction: row;
                // flex-direction: column;
                @media (max-width: 767px) {
                    position: static;
                    width: 2.5rem;
                    height: 2.5rem;
                }
                a {
                    flex-grow: 1;
                    position: relative;
                    // background: yellow;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // padding: .6rem;
                    .bg {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        margin-left: -24px;
                        width: 48px;
                        height: 48px;
                        display: flex;
                        transition: all .25s;
                        justify-content: center;
                        align-content: center;
                        background: #535353;
                        border-radius: 6px;
                        padding: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    span {
                        font-family: 'MontserratSemiBold';
                        font-size: 10px;
                        text-transform: uppercase;
                        position: absolute;
                        width: auto;
                        // height: 100%;
                        padding: 0 10px;
                        transform: translate(-50%, 0);
                        vertical-align: middle;
                        top: 3.5rem;
                        left: 50%;
                        right: auto;
                        // display: flex;
                        // align-content: center;
                        // justify-content: center;
                        white-space: nowrap;
                        color: #535353;
                        // background: green;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s;
                        @media (max-width: 767px) {
                            top: auto;
                            bottom: -1.5rem;
                        }
                    }
                }
                &.active {
                    a {
                        .bg {
                            background: linear-gradient(0deg, #E55AE9, #9C47E5);
                            img {

                            }
                        }
                        span {
                            opacity: 1;
                            visibility: visible;
                            transition: all .25s;
                        }
                    }
                }
                &:hover, &.active {
                    a {
                        .bg {

                        }
                        span {
                            opacity: 1;
                            visibility: visible;
                            transition: all .25s;
                        }
                    }
                }
            }
        }
    }
    &.gallery_list {
        @media (min-width: 1200px) {
            .head {
                position: absolute;
                top: 60px;
                left: 60px;
                right: auto;
                width: 250px;
                height: calc(100% - 60px);
                margin: 0;
                .title {
                    display: none;
                }
                ul {
                    flex-direction: column;
                    width: 100%;
                    &:hover {
                        li.active {
                            a {
                                span {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    li {
                        width: 100%;
                        margin: 0;
                        margin-bottom: 15px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            overflow: hidden;
                            .bg {
                                img {
    
                                }
                            }
                            span {
                                white-space: normal;
                                top: 50%;
                                left: 100%;
                                right: 48px;
                                width: calc(100% - 48px);
                                transform: translate(0, -50%);
                            }
                        }
                        &:hover, &.active {
                            a {
                                .bg {
                                    left: 24px;
                                }
                                span {
                                    left: 48px;
                                }
                            }
                        }
        
                    }
                }
            }
        }
    }
    .list {
        flex-grow: 1;
        flex-shrink: 0;
        margin: 0;
        padding: 0 128px 20px 250px;
        margin: 0 122px 0 0;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        height: 100%;
        &::-webkit-scrollbar {
            width: 6px;
            @media (max-width: 767px) {
                width: 2px;
            }
        }
        &::-webkit-scrollbar-track {
            margin: 150px 0 150px 0;
            border-radius: 6px;
            background: linear-gradient(0deg, #E55AE9, #9C47E5);
            @media (max-width: 1199px) {
                margin: 200px 0 100px 0;
            }
            @media (max-width: 767px) {
                margin: 120px 0 10px 0;
                border-radius: 0;
            }
        }
        &::-webkit-scrollbar-thumb {
            background: white;
            border-radius: 6px;
            @media (max-width: 767px) {
                border-radius: 0;
            }
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255,255,255,.95);
        }
        @media (max-width: 1400px) {
            padding: 0 78px 20px 250px;
            margin: 0 72px 0 0;
        }
        @media (max-width: 1199px) {
            padding: 200px 53px 20px 100px;
            margin: 0 47px 0 0;
        }
        @media (max-width: 767px) {
            padding: 120px 6px 10px 10px;
            margin: 0 4px 0 0;
        }
        .h1title {
            color: black;
            padding: 30px 0;
            text-align: center;
            // width: 400px;
            font-family: 'MontserratSemiBold';
            font-size: 14px;
            text-transform: uppercase;
            @media (max-width: 1199px) {
                display: none;
            }
        }
        .wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            @media (max-width: 1199px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
            }
            a {
                position: relative;
                padding-top: 100%;
                overflow: hidden;
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
                .title {
                    display: flex;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background: rgba(0,0,0,.75);
                    color: white;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .25s;
                    text-align: center;
                    font-family: 'MontserratSemiBold';
                    font-size: 14px;
                    padding: 1rem;
                }
                &:hover {
                    img {
                        -webkit-filter: grayscale(100%) blur(3px);
                        filter: grayscale(100%) blur(3px);
                        // filter: blur(3px);
                    }
                    .title {
                        visibility: visible;
                        opacity: 1;
                        transition: all .25s;
                    }    
                }
            }
        }
        // margin: 0 250px;
        // overflow: auto;
        // background: green;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-gap: 20px;
        // overflow: hidden;
        .mb-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            // height: calc(100% - 200px);
            margin: 0 !important;
            // padding: 200px 0 0 0 !important;
            padding: 0;
            height: 100%;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                display: none;
            }
            @media (max-width: 1199px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 10px;
                padding: 120px 0 0 0 !important;
                height: calc(100% - 120px);
            }
            a {
                position: relative;
                // display: flex;
                // justify-content: center;
                // text-align: center;
                // align-content: center;
                margin-bottom: 20px;
                padding-top: 100%;
                background: white;
                @media (max-width: 767px) {
                    margin-bottom: 10px;
                }
                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                    }
                    .title {
                        display: flex;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        background: rgba(0,0,0,.75);
                        color: white;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s, visibility 0.3s;
                        text-align: center;
                        font-family: 'MontserratSemiBold';
                        font-size: 14px;
                        padding: 1rem;
                    }
                }
                &:hover {
                    .bg {
                        img {
                            -webkit-filter: grayscale(100%) blur(3px);
                            filter: grayscale(100%) blur(3px);
                            // filter: blur(3px);
                        }
                        .title {
                            visibility: visible;
                            opacity: 1;
                            transition: opacity 0.3s, visibility 0.3s;
                        }    
                    }
                }
            }
        }
        .mb-track-y {
            right: 122px;
            bottom: 100px;
            top: 200px;
            height: calc(100% - 300px);
            background: linear-gradient(0deg, #E55AE9, #9C47E5);
            width: 6px;
            border-radius: 3px;
            @media (max-width: 1400px) {
                right: 97px;
            }
            @media (max-width: 1199px) {
                right: 47px;
            }
            @media (max-width: 767px) {
                top: 3px;
                bottom: 3px;
                width: 4px;
                right: 3px;
                height: calc(100% - 6px);
            }
            .mb-bar {
                background-color: white;
            }
        }
        ul {
            flex-grow: 1;
            flex-shrink: 0;
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            height: 100%;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            @media (max-width: 1000px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
            }
            li {
                // width: 25%;
                // height: 25vh;
                // display: flex;
                padding-top: 100%;
                position: relative;
                background: white;
                .bg {
                    margin: 0;
                    // margin: 0;
                    flex-grow: 1;
                    background: white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    .title {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: rgba(0,0,0,.75);
                        color: white;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s, visibility 0.3s;
                        text-align: center;
                        font-family: 'MontserratSemiBold';
                        font-size: 14px;
                        padding: 1rem;
                    }
                    &:hover {
                        .title {
                            visibility: visible;
                            opacity: 1;
                            transition: opacity 0.3s, visibility 0.3s;
                        }
                    }
                }
            }
        }
    }
    .item {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        // height: 100px;
        margin: 200px 250px 75px 150px;
        display: flex;
        flex-direction: row;
        border: 1px solid #A8A8A8;
        border-radius: 1rem;
        position: relative;
        border-radius: 0;
        @media (max-width: 1400px) {
            margin: 200px 200px 50px 75px;
        }
        @media (max-width: 1199px) {
            flex-direction: column;
            margin: 0 10px 10px 10px;
            padding: 120px 0 0;
            border: none;
            height: auto;
            display: block;
            overflow: auto;
            height: 100%;
            // flex-grow: 1;
            // height: auto;
        }
        .desc {
            flex-basis: 500px;
            flex-shrink: 0;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'MontserratSemiBold';
            font-size: 13px;
            @media (max-width: 1550px) {
                flex-basis: 400px;
            }
            @media (max-width: 1400px) {
                flex-basis: 300px;
            }
            @media (max-width: 1199px) {
                flex-basis: 2rem;
                padding: 1.5rem 0;
                // display: none;
                // background: yellowgreen;
            }
            button.title, h1 {
                font-family: 'MontserratBold';
                text-transform: uppercase;
                font-size: 16px;
                margin: 0;
                padding: 0 0 1rem;
            }
            h1 {
                @media (max-width: 1199px) {
                    display: none;
                }
            }
            div {
                @media (max-width: 1199px) {
                    display: none;
                }
            }
            button.title {
                background: #C9C9C9;
                border: none;
                padding: .25rem 1rem;
                border-radius: 1rem;
                display: none;
                @media (max-width: 1199px) {
                    display: block;
                }
            }
        }
        .zoom {
            flex-grow: 1;
            padding: 1rem 1rem 1rem 0;
            @media (max-width: 1199px) {
                // padding: .5rem;
                display: none;
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }    
        .images {
            flex-basis: 16rem;
            flex-shrink: 0;
            overflow: auto;
            margin-right: -.25rem;
            @media (max-width: 1199px) {
                // flex-basis: auto;
                // height: 100px;
                margin-right: 0;
                margin-left: .5rem;
                flex-grow: 0;
                flex-shrink: 0;
                margin: 0;
            }
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 1rem 0 .5rem;
                @media (max-width: 1199px) {
                    margin: 0;
                    // margin-right: -.5rem;
                }
                li {
                    flex-basis: 7.5rem;
                    height: 7.5rem;
                    padding: 0 .5rem .5rem 0;
                    @media (max-width: 1300px) {
                        width: 100%;
                    }
                    @media (max-width: 1199px) {
                        flex-basis: 100%;
                        height: auto;
                        padding: 0 0 .5rem;
                        // height: 5rem;
                        &:last-child {
                            padding: 0;
                        }
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
            }
            &::-webkit-scrollbar {
                width: .5rem;
                height: .5rem;
                @media (max-width: 1199px) {
                    width: .25rem;
                    // height: 5rem;
                }
            }
            /* Track */
            &::-webkit-scrollbar-track {
                margin: 1rem 0;
                border-radius: 5px;
                background: none;
                @media (max-width: 1199px) {
                    margin: 0;
                }
                // background: #f1f1f1;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #A8A8A8;
                border-radius: 5px;
            }
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                // background: #555;
            }
        }
        .pagg {
            // background: red;
            position: absolute;
            top: 0;
            right: -150px;
            width: 150px;
            height: 100%;
            overflow: hidden;
            @media (max-width: 1199px) {
                top: -2.5rem;
                right: auto;
                left: 0;
                width: 100%;
                height: 2.5rem;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 2rem;
                width: .5rem;
                height: 100%;
                background: linear-gradient(0deg, #E55AE9, #9C47E5);
                border-radius: .25rem;
                @media (max-width: 1199px) {
                    top: 2rem;
                    height: .5rem;
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
            .pagg_bg {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
                .pagg_list {
                    // background: green;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    overflow: auto;
                    @media (max-width: 1199px) {
                        display: inline-flex;
                        width: auto;
                        flex-direction: row;
                        flex-wrap: nowrap;
                    }
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    a {
                        position: relative;
                        text-decoration: none;
                        height: 50px;
                        border: none;
                        text-align: right;
                        @media (max-width: 1199px) {
                            height: 100%;
                            width: 50px;
                            flex-basis: 100px;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 2rem;
                            width: .5rem;
                            height: .5rem;
                            margin-top: -.25rem;
                            background: white;
                            border-radius: .25rem;
                            @media (max-width: 1199px) {
                                top: 2rem;
                                left: 50%;
                                margin-top: 0;
                                margin-left: -.25rem;
                            }
                        }
                        &.active, &:hover {
                            // background: red;
                            span.titleDot {
                                visibility: visible;
                            }
                        }
                        span.num {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            width: 1.4rem;
                            height: 1.4rem;
                            margin-top: -.7rem;
                            font-family: 'Montserrat';
                            font-size: 12px;
                            background: linear-gradient(135deg, #E55AE9, #9C47E5);
                            border-radius: 1rem;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @media (max-width: 1199px) {
                                top: 0;
                                right: auto;
                                left: 50%;
                                margin-top: 0;
                                margin-left: -.7rem;
                            }
                        }
                        span.titleDot {
                            font-family: 'MontserratSemiBold';
                            font-size: 12px;
                            text-transform: uppercase;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            padding: 0 3rem 0 1rem;
                            color: #9C47E5;
                            visibility: hidden;
                            @media (max-width: 1199px) {
                                display: none;
                                padding: 3rem 0 0;
                                align-items: flex-start;
                                justify-content: center;
                            }
                        }
                    }    
                }    
            }
        }
    }
    .gallery_card {
        // background: red;
        height: 1px;
        height: 100%;
        padding: 200px 250px 75px 100px;
        position: relative;
        @media (max-width: 767px) {
            padding: 0;
        }
        .wrap {
            position: relative;
            height: 100%;
        }
        #gallery_card_owl {
            // background: yellow;
            height: 100%;
            // border-right: none;
            // margin-right: -5px;
            @media (max-width: 767px) {
                border: none;
            }
            .owl-stage-outer {
                // background: green;
                height: 100%;
                .owl-stage {
                    // background: white;
                    height: 100%;
                    .owl-item {
                        height: 100%;
                        // overflow: hidden;
                        -webkit-overflow-scrolling: touch;
                        padding: 20px 0 20px 20px;
                        border: 1px solid #A8A8A8;
                        @media (max-width: 767px) {
                            border: none;
                            overflow: auto;
                            padding: 10px;
                        }
                        .owl-item-gallery-card {
                            height: 100%;
                            display: flex;
                            @media (max-width: 767px) {
                                display: block;
                                padding-bottom: 10px;
                            }
                            .desc {
                                flex-basis: 30%;
                                flex-shrink: 0;
                                // background: green;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                @media (max-width: 767px) {
                                    padding-top: 120px;
                                }
                                .title {
                                    font-family: 'MontserratBold';
                                    text-transform: uppercase;
                                    font-size: 16px;
                                    margin: 0;
                                    padding: 0 0 1rem;
                                    @media (max-width: 767px) {
                                        text-align: center;
                                    }
                                }
                                .description {
                                    font-family: 'Montserrat';
                                    font-size: 14px;
                                    padding: 0 0 1rem;
                                }
                            }
                            .image {
                                // background: #9C47E5;
                                flex-grow: 1;
                                padding-left: 20px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                @media (max-width: 767px) {
                                    display: none;
                                }
                            }
                            .images {
                                flex-basis: 220px;
                                flex-shrink: 0;
                                padding-right: 16px;
                                padding-left: 20px;
                                // background: #E55AE9;
                                // border: 1px solid #A8A8A8;
                                overflow: auto;
                                @media (max-width: 767px) {
                                    overflow: hidden;
                                    padding: 0;
                                }
                                // height: 350px;
                                &::-webkit-scrollbar {
                                    width: 4px;
                                }
                                &::-webkit-scrollbar-track {

                                    // border-radius: 5px;
                                    // background: linear-gradient(0deg, #E55AE9, #9C47E5);
                                    // margin-right: -5px;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background: #A8A8A8;
                                    // border-radius: 10px 0 0 10px;
                                }
                                &::-webkit-scrollbar-thumb:hover {
                                    // background-color: rgba(255,255,255,.95);
                                }
                                .bg {
                                    // padding: 10px;
                                    position: relative;
                                    display: grid;
                                    overflow: auto;
                                    grid-template-columns: 1fr 1fr;
                                    grid-gap: 10px;
                                    @media (max-width: 767px) {
                                        grid-template-columns: 1fr;
                                    }
                                    img {
                                        // display: block;
                                        // width: 100px;
                                        // height: 100px;
                                        // grid-row: 1;
                                        @media (max-width: 767px) {
                                            &:last-child {
                                                margin-bottom: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #gallery_card_pagg {
            position: absolute;
            top: 0;
            right: -150px;
            bottom: 0;
            width: 150px;
            background: rgba(0,0,0,.15);
            overflow: hidden;
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    #imageZoom {
        display: none;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background: rgba(0,0,0,.85);
        transition: all .25s;
        &.active {
            display: block;
            opacity: 1;
        }
        .nav_close {
            z-index: 100;
            position: absolute;
            top: 6px;
            right: 6px;
            color: white;
            cursor: pointer;
            i {
                font-size: 36px;
            }            
        }
        .owl-carousel {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translate(0, -50%);
            .owl-item {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 900px;
                    max-height: 900px;
                    object-fit: contain;
                }
            }
            .owl-nav {
                position: absolute;
                top: 50%;
                left: 0;
                height: 0;
                width: 100%;
                margin: 0;
                .owl-prev, .owl-next {
                    position: absolute;
                    top: -30px;
                    background: red;
                    margin: 0;
                    border-radius: 30px;
                    width: 60px;
                    height: 60px;
                    color: white;
                    background-color: rgba(0,0,0,.75);
                    font-size: 24px;
                    img {
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                        width: 14px;
                        height: 24px;
                    }
                }
                .owl-prev {
                    img {
                        right: 12px;
                    }
                }
                .owl-next {
                    img {
                        left: 12px;
                    }
                }
                .owl-prev {
                    left: -30px;
                }
                .owl-next {
                    right: -30px;
                }
            }
        }
    }
}
