#compareModal {
  .modal-dialog {
    height: 100%;
    width: 100vw;
    max-width: inherit;
    margin: 0;
    

    .modal-content {
      //background: red;
      height: 100%;
      border-radius: 5px;
      font-family: Montserrat;
      border: none;
      border-radius: 0;
      .modal-header {
        .close {
          padding: 0;
        }
      }
      .modal-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #363636;
        .page-1 {
          // height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: yellow;
          font-family: Montserrat;
          //width: 320px;
          .title {
            background: green;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 36px;
            line-height: 44px;
            color: white;
          }
          .selection {
            display: none;
            background: peru;
            display: flex;
            justify-content: space-between;
            .item {
              label{
                input {
                  display: none;
                }
                .button-select {
                  width: 140px;
                  height: 140px;
                  border-radius: 10px;
                  padding: 50px;
                  background: linear-gradient(to bottom, #83D7EC, #CD68E9);
                  position: relative;
                  img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50% , -50%);
                  }
                }
              }
            }

          }
          .add-model {
            display: none;
            background: aqua;
            .add-model-button  {
              position: relative;
              border: 1px dashed #B4B4B4;
              border-radius: 6px;
              background: #2F2F2F;
              padding: 20px 90px 20px 70px;
              font-weight: 500;
              text-transform: uppercase;
              font-size: 14px;
              line-height: 18px;
              color: #FFFFFF;
              i {
                position: absolute;
                right: 30px;
                top: 50%;
                font-size: 15px;
                transform: translate(0, -50%);
                cursor: pointer;
              }
            }
          }
          .bottom {
            display: none;
            background: gray;
          }
          .section-choose {
            .panel-choose {
              display: flex;
              flex-direction: column;
              // justify-content: space-between;
              // align-items: center;
              height: 400px;
              width: 560px;
              background: #2F2F2F;
              border: 1px solid #707070;
              border-radius: 9px;
              color: white;
              position: relative;
              .selection-material {
                flex-shrink: 0;
                // width: 100%;
                .list-materials {
                  display: flex;
                  justify-content: center;
                  align-content: center;
                  margin-top: 30px;
                  .item {
                    background: #414141;
                    //border: 1px solid #707070;
                    border-radius: 100px;
                    padding: 3px 20px;
                    margin-left: 10px;
                    margin-right: 10px;
                    label {
                      font-weight: 600;
                      text-transform: uppercase;
                      font-size: 12px;
                      line-height: 15px;
                      margin: 0; 
                      width: 90px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      input {
                        display: none;
                      }
                      &:hover {
                        cursor: pointer;
                      }
                    }
                    &:hover {
                      background: #262525;
                      cursor: pointer;
                    }
                  }
                }
              }
              .selection-model {
                background-color: red;
                flex-grow: 1;
                overflow: hidden;
                // height: calc(100% - 100px);
                // width: auto;
                //background: yellow;
                // position: absolute;
                // top: 75px;
                // left: 95px;
                .list-products {
                  overflow: auto;
                  ul.brand {
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 14px;
                    // line-height: 18px;
                    line-height: 38px;
                    li {
                      &.active {
                        span.brand {
                          &::before{
                            display: none;
                          }
                        }
                        ul.model {
                          display: block;
                          visibility: visible;
                          opacity: 1;
                        }
                      }
                      span.brand {
                        // padding-top: 10px;
                        margin-bottom: 10px;
                        padding-right: 25px;
                        position: relative;
                        &::before, &::after{
                          position: absolute;
                          right: 15px;
                          top: 50%;
                          content: '';
                          height: 6px;
                          width: 1.5px;
                          background-color: #FFFFFF;    
                        }
                        &::before {
                            transform: translate(0, -50%);
                        }
                        &::after {
                            transform: translate(0, -50%) rotate(90deg);
                        }
                      }
                      ul.model {
                        padding-left: 30px;
                        display: none;
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility 0s, opacity 0.5s linear;
                        li {
                          // padding-top: 10px;
                          padding-bottom: 10px;
                          &.active {
                            background-color: #D165E9;
                          }
                          label {
                            width: 320px;
                            position: relative;
                            //background: green;
                            input {
                              position: absolute;
                              right: 5px;
                              top: 50%;
                              transform: translate(0, -50%);
                              width: 14px;
                              &:hover {
                                background-color: #D165E9;
                                cursor: pointer;
                              }
                            }
                            span.model {
                              
                            }
                            &:hover {
                              color: #D165E9;
                              cursor: pointer;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .button-compare {
              display: flex;
              justify-content: center;
              align-items: center;
              button {
                height: 50px;
                width: 320px;
                margin-top: 100px;
                background: #D165E9;
                border: 1px solid #D165E9;
                border-radius: 25px;
                font-family: Montserrat;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 18px;
                color: white;
              }
            }
          }
        }
        .page-compare {
          height: 100%;
          width: 100%;
          background: #FFFFFF;
          padding: 0 40px 40px 40px;
          .content {
            width: 100%;
            .button-selection {
              a.back {
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                color: #414141;
                text-decoration: none;
                background: none;
                &:hover {
                    cursor: pointer;
                }
              }
            }
            .carousel-wrapper {
              width: 100%;
              display: flex;
              .parameter-column {
                width: 200px;
                flex-shrink: 0;
                @media (max-width: 768px) {
                  background-color: red;
                  position: absolute;
                  width: 100%;
                }
                .main-parameter-header {
                  .row-h {
                    height: 190px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .switch {
                      position: relative;
                      display: inline-block;
                      width: 200px;
                      height: 40px;
                      input {
                        display:none;
                        &:checked ~ .slider {
                            //background-color: #00FF00;
                            &:before {
                              transform: translateX(90px);
                            }
                        }
                      }
                      .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #FFFFFF;
                        transition: .4s;
                        border-radius: 64px;
                        border: 1px solid #707070;
                        display: flex;

                        .l {
                          flex-grow: 1;
                          display:flex;
                          justify-content: space-evenly;
                          align-items: center;
                          img {
                            height: 23px;
                            width: 23px;
                          }
                          span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 15px;
                            width: 25px;
                            background-color: #D165E9;
                            border-radius: 100px;
                            font-weight: 500;
                            font-size: 10px;
                            line-height: 16px;
                            color: white;
                          }
                        }
                        .r {
                          flex-grow: 1;
                          display:flex;
                          justify-content: space-evenly;
                          align-items: center;
                          img {
                            height: 23px;
                            width: 23px;
                          }
                          span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 15px;
                            width: 25px;
                            background-color: #F4F4F4;
                            border-radius: 100px;
                            font-weight: 500;
                            font-size: 10px;
                            line-height: 16px;
                            color: #353535;

                          }
                        }
                        &:before {
                          position: absolute;
                          top: -1px;
                          content: "";
                          height: 40px;
                          width: 110px;
                          //background-color: white;
                          transition: .4s;
                          border-radius: 64px;
                          border: 1px solid #707070;
                        }
                      }
                    }
                    label {
                      display: flex;
                      justify-content: left;
                      align-items: center;
                      margin-left: 20px;
                      height: 90px;
                      margin-bottom: 0;
                      input {
                        // width: 14px;
                        // height: 14px;
                        // opacity: 0.4;
                        display: none;
                        &:checked {
                          & + label::before {
                            content: "\f00c";
                          }
                        }
                      }
                      span {
                        margin: 30px;
                        width: 75px;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 14px;
                        color: #777777;
                      }
                      &:hover {
                        cursor: pointer;
                      }
                      &:before {
                        content: " ";
                        color: #000;
                        display: inline-block;
                        margin-right: 15px;
                        position: relative;
                        text-align: center;
                        text-indent: 0px;
                        width: 15px;
                        height: 15px;
                        background: #FFF;
                        border: 1px solid #e3e3e3;
                        border-image: initial;
                        vertical-align: middle;
                      }
                    }
                  }
                  .header {
                    .desc-main {
                      height: 50px;
                      font-weight: 500;
                      font-size: 13px;
                      font-style: italic;
                      line-height: 16px;
                      color: #424242;
                      background: #FFFFFF;
                      display: flex;
                      align-items: center;
                      padding-left: 20px;
                      border-bottom: 1px solid #707070;
                    }
                    .desc-add {
                      height: 100px;
                      font-weight: 500;
                      font-size: 13px;
                      font-style: italic;
                      line-height: 16px;
                      color: #424242;
                      background: #FFFFFF;
                      display: flex;
                      align-items: center;
                      padding-left: 20px;
                      border-bottom: 1px solid #707070;
                    }
                    .row-i {
                      font-weight: 500;
                      font-size: 12px;
                      line-height: 15px;
                      color: #414141;
                      background: #FFFFFF;
                      display: flex;
                      align-items: center;
                      padding-left: 20px;
                      padding: 5px 0;
                      &:nth-child(2n+1) {
                        background: #E4E4E4;
                      }
                      @media (max-width: 768px) {
                        padding-bottom: 30px;
                        align-items: flex-start;
                        span {
                          background-color: orange;
                          padding-left: 20px ;
                        }
                      }
                    }
                  }
                }
              }
              .caroosel {
                // background: red;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .owl-carousel {
                  height: 100%;
                  display: block;
                  position: relative;
                  .owl-stage-outer {
                    height: 100%;
                    .owl-stage {
                      height: 100%;
                      .owl-item {
                        height: 100%;
                        .item {
                          .row-h {
                            height: 190px;
                            //position: relative;
                            display: flex;
                            flex-direction: column;
                            padding: 0 30px 0 30px;
                            .top {
                              display: flex;
                              justify-content: space-between;
                              img {
                                height: 100px;
                                width: 40px;
                              }

                              // .markCr {
                              //   // padding-top: 10px;
                              //   margin-bottom: 10px;
                              //   padding-right: 25px;
                              //   position: relative;
                              //   &::before, &::after{
                              //     position: absolute;
                              //     right: 15px;
                              //     top: 50%;
                              //     content: '';
                              //     height: 6px;
                              //     width: 1.5px;
                              //     background-color: #FFFFFF; 
                              //     color: black;   
                              //   }
                              //   &::before {
                              //       transform: translate(0, -50%);
                              //   }
                              //   &::after {
                              //       transform: translate(0, -50%) rotate(90deg);
                              //   }
                              // }

                              
                              .markCr {
                                // background: orange;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                position: relative;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                svg {
                                  stroke: #000000;
                                }
                                // &::before, &::after {
                                //   position: absolute;
                                //   left: 50%;
                                //   top: 50%;
                                //   content: '';
                                //   height: 13px;
                                //   width: 1px;
                                //   background: #707070;
                                // }
                                // &::before {
                                //     transform: translate(-50%, -50%) rotate(45deg);
                                // }
                                // &::after {
                                //     transform: translate(-50%, -50%) rotate(-45deg);
                                // }
                                &:hover {
                                  background: #D165E9;
                                  svg {
                                    stroke: white;
                                  }
                                  // &::before, &::after {
                                  //   background: #FFFFFF;
                                  // }
                                }
                              }
                            }
                            .bot {
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              height: 90px;
                              .l {
                                font-weight: 600;
                                color: #353535;
                                .vendor {
                                  font-size: 14px;
                                  line-height: 18px;
                                  font-style: italic;
                                }
                                .model {
                                  font-size: 10px;
                                  line-height: 13px;
                                }
                              }
                              .r {
                                //flex-grow: 1;
                                .img-wrap {
                                  height: 36px;
                                  width: 36px;
                                  background: #FFFFFF;
                                  border-radius: 4px;
                                  border: solid 1px #707070;
                                  opacity: 0.4;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  position: relative
                                  img {
                                    height: 16px;
                                    width: 16px;
                                    background: url("/images/compare/addToCalc.svg") no-repeat;
                                    //margin: 10px;
                                    //opacity: 0.4;
                                  }
                                  span {
                                    background: yellow;
                                    font-size: 10px;
                                    font-weight: 500;
                                    line-height: 13px;
                                    position: absolute;
                                    right: 0;
                                    bottom: -10px;
                                  }
                                  &:hover {
                                    cursor: pointer;
                                    background: url("/images/compare/addToCalcHover.svg") no-repeat;
                                    //border: solid 1px #707070;
                                    .span-add {
                                      span {
                                        display: block;
                                        color: #D165E9;
                                      }
                                    }
                                  }
                                }
                                .span-add {
                                  span {
                                    display: none;
                                  }
                                }
                              }
                            }
                          }
                          .meaning {
                            .desc-main {
                              height: 50px;
                              font-weight: 500;
                              font-size: 13px;
                              font-style: italic;
                              line-height: 16px;
                              color: #424242;
                              background: #FFFFFF;
                              display: flex;
                              align-items: center;
                              padding-left: 20px;
                              border-bottom: 1px solid #707070;
                            }
                            .desc-add {
                              height: 100px;
                              font-weight: 500;
                              font-size: 13px;
                              font-style: italic;
                              line-height: 16px;
                              color: #424242;
                              background: #FFFFFF;
                              display: flex;
                              align-items: center;
                              padding-left: 20px;
                              border-bottom: 1px solid #707070;
                            }
                            .row-i {
                              font-weight: 500;
                              font-size: 12px;
                              line-height: 15px;
                              padding: 5px 0;
                              color: #414141;
                              background: #FFFFFF;
                              display: flex;
                              align-items: center;
                              padding-left: 20px;
                              &:nth-child(2n+1) {
                                background: #E4E4E4;
                              }
                              @media (max-width: 768px) {
                                background: none !important;
                                padding-top: 30px;
                              }
                            }
                          }
                          &:hover {
                            .bot {
                              .l {
                                color: #D165E9;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                  .owl-nav {
                    position: absolute;
                    width: 100%;
                    top: 135px;
                    button.owl-prev {
                      position: absolute;
                      left: 0px;
                      &.disabled {
                        opacity: 0.5;
                      }
                    }
                    button.owl-next {
                      position: absolute;
                      right: 0px;
                      &.disabled {
                        opacity: 0.5;
                      }
                    }
                  }
                  .owl-dots {

                  }
                }
              }
            }
          }
        }
      }
    } 
  }
}


