$dark: rgba(#000, 0.74);



@keyframes soc_animation {
	0% {
		opacity: 1;
		visibility: visible;
		background: red;
	}
	100% {
		opacity: 0;
		visibility: hidden;
		background: blue;
	}
}

.work {
		font-family: 'Montserrat';
    background: $dark;
		overflow: hidden;
		@media screen and (max-width: 576px) {
			display: flex;
			flex-direction: column;
		}
		@media screen and (max-width: 359px) {
			justify-content: space-around;
		}
		p {
			margin: 0;
			padding: 0;
		}

		.tac {
			text-align: center;
		}
		&-title {
			font-family: 'MontserratSemiBold';
			color: #fff;
			text-align: center;
			font-size: 18px;
			text-transform: uppercase;
			margin-top: 4%;
			@media screen and (max-width: 992px) {
				font-size: 16px;
			}
			@media screen and (max-width: 576px) {
				font-size: 14px;
				margin-top: 8%;
			}
		}
		&-tabs {
			@media screen and (max-width: 576px) {
				height: 467px;
				margin-top: 3%;
			}
			@media screen and (max-width: 359px) {
				margin-top: 0;
			}
		}
		&-users {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 479px;
			margin: 0 auto;
			margin-top: 4%;
			height: 38px;
			background: #363636;
			border-radius: 100px;
			@media screen and (max-width: 576px) {
				width: 200px;
				margin-bottom: 8%;
			}		
			.person {
				position: relative;
				width: 50%;
				line-height: 38px;
				font-size: 14px;
				font-family: 'MontserratSemiBold';
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				z-index: 1;
				cursor: pointer;
				@media screen and (max-width: 1200px) {
					font-size: 13px;
				}
				@media screen and (max-width: 576px) {
					font-size: 12px;
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 100%;
					width: 100%;
					height: 100%;
					background: #222;
					border-radius: 100px;
					transition: all 0.2s;
					z-index: -1;
					@media screen and (max-width: 576px) {
						display: none;
					}
				}
				&:after {
					@media screen and (max-width: 576px) {
						content: '';
						background: url('../../images/work/down-arrow1.png') no-repeat center top / cover;
						display: inline-block;
						margin-left: 20px;
						width: 11px;
						height: 9px;
					}					
				}	
				&.active:before {
					left: 0;
				}
				@media screen and (max-width: 576px) {
					display: none;
					width: 100%;
				}
				&.active {
					@media screen and (max-width: 576px) {
						display: block;
					}
				}
			}
			.entity {
				position: relative;
				width: 50%;
				line-height: 38px;
				font-size: 14px;
				font-family: 'MontserratSemiBold';
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				z-index: 1;
				cursor: pointer;
				@media screen and (max-width: 1200px) {
					font-size: 13px;
				}
				@media screen and (max-width: 576px) {
					display: none;
					width: 100%;
					font-size: 12px;
				}
				&.active {
					@media screen and (max-width: 576px) {
						display: block;
					}
				}
				&:after {
					@media screen and (max-width: 576px) {
						content: '';
						background: url('../../images/work/down-arrow1.png') no-repeat center top / cover;
						display: inline-block;
						margin-left: 20px;
						width: 11px;
						height: 9px;					
					}					
				}
			}
			
			
		}
		.btn-call {
			position: fixed;
			right: 10vw;
			bottom: 10vh;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: 9px;
			box-shadow: 0 0 0 3px #424242,
									0 0 0 4px #fff;
			transition: box-shadow 0.3s;		
			background: rgba(155,71,229,1);
			background: -moz-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(155,71,229,1)), color-stop(100%, rgba(228,90,233,1)));
			background: -webkit-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			background: -o-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			background: -ms-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			background: linear-gradient(to right, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
			&:hover {
				box-shadow: 0 0 0 4px #424242,
										0 0 0 6px #fff;
				img {
					transform: scale(1.2);
				}
			}
			img {
				width: 60%;
				transition: transform .3s;
			}
			@media screen and (max-width: 576px) {
				display: none;
			}
		}
}

.tabs-content {
	display: none;
	color: white;	
	&.active {
		display: block;
		@media screen and (max-width: 576px) {
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			height: 390px;
		}
	}
	// @media screen and (max-width: 576px) {
	// 	height: 377px;
	// }
	.stages {
		width: 90%;
		height: 39px;
		max-width: 1352px;
		margin: 0 auto;
		background: #363636;
		border-radius: 100px;
		margin-top: 41px;
		margin-bottom: 5%;
		font-size: 14px;
		font-family: 'MontserratSemiBold';	
		@media screen and (max-width: 1200px) {
			font-size: 13px;
		}
		@media screen and (max-width: 992px) {
			font-size: 12px;
		}
		@media screen and (max-width: 576px) {
			margin-top: 0;
		}
		&__list {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;
			padding: 0px 12%;			
		}
		&__item {
			position: relative;
			z-index: 1;
			width: 12.5%;
			text-align: center;
			cursor: pointer;
			line-height: 39px;	
			.day {
				position: absolute;
				width: 200%;
				top: 115%;
				left: 50%;
				transform: translateX(-50%);
				text-transform: uppercase;
				font-size: 10px;
				transition: color .2s;
				@media screen and (max-width: 1400px) {
					font-size: 9px;
				}
				@media screen and (max-width: 1200px) {
					display: none;
				}
			}	
			&.active {
				.day {
					color: #777;
				}
			}	
		}
		.bg {
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(145%, -50%);
			width: 8.5%;
			height: 100%;
			border-radius: 100px;			
			transition: all .3s;
			background: rgba(155,71,229,1);
			background: -moz-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(155,71,229,1)), color-stop(100%, rgba(228,90,233,1)));
			background: -webkit-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			background: -o-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			background: -ms-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			background: linear-gradient(to right, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
			@media screen and (max-width: 576px) {
				height: 130%;	
			}
		}
	}
	.all-wrap {
		width: 90%;
		max-width: 1352px;
		margin: 0 auto;
		.days-content {
			display: none;
			&.active {
				display: block;				
				animation: op 0.5s;
			}
			.steps {
				display: flex;
				align-items: center;
				margin-bottom: 53px;
				@media screen and (max-width: 992px) {
					margin: 0 auto;
					margin-bottom: 4%;
					justify-content: space-around;
					width: 360px;					
				}
				@media screen and (max-width: 576px) {
					width: 90%;					
				}
				&_two {
					justify-content: center;
				}			
				&__item {
					width: 33.3%;
					text-align: center;
					text-transform: uppercase;
					font-size: 14px;
					@media screen and (max-width: 992px) {
						opacity: .4;
						width: auto;
						font-size: 13px;
					}
					@media screen and (max-width: 576px) {
						
						font-size: 12px;
					}
					&.active {
						opacity: 1;
					}				
				}
			}			
			.step-wrapp {
				display: flex;				
				@media screen and (max-width: 992px) {
					justify-content: center;
				}
				&_two {
					justify-content: center;									
				}			
			}
			.step-content {
				width: 33.3%;
				padding-right: 4%;
				@media screen and (max-width: 992px) {
					display: none;
					width: auto;
					padding-right: 0;
				}	
				&.active {
					@media screen and (max-width: 992px) {
						display: block;
						animation: op 0.3s;
					}					
				}			
				&_middle {
					padding: 0px 4%;
					@media screen and (max-width: 1200px) {
						padding: 0px 3%;
					}					
				}
				&.bor-all {
					border-right: 1px solid rgba(#fff, 0.11);
					border-left: 1px solid rgba(#fff, 0.11);
					@media screen and (max-width: 992px) {
						border: none;
					}
				}
				&.bor-left {
					border-left: 1px solid rgba(#fff, 0.11);
					@media screen and (max-width: 992px) {
						border: none;
					}
				}
				&:nth-child(3) {
					padding-left: 4%;
					padding-right: 3%;
				}
				.step__desc {
					font-size: 14px;
					font-family: 'Montserrat';
					margin-bottom: 26px;
					@media screen and (max-width: 1200px) {
						font-size: 13px;
					}
					@media screen and (max-width: 992px) {
						width: 360px;
					}
					@media screen and (max-width: 576px) {
						width: 90%;
						margin: 0 auto;
						margin-bottom: 7%;
						font-size: 12px;					
					}
				}
				.way__list {
					@media screen and (max-width: 576px) {
						width: 280px;
						margin: 0 auto;					
					}					
					.way__item {
						position: relative;
						margin-bottom: 25px;
						@media screen and (max-width: 576px) {
							margin-bottom: 15px;				
						}
						&:last-child {
							margin-bottom: 0;
							.way__link {							
								&.none{
									opacity: 0;
									visibility: hidden;
								}
								&:hover {
									// animation: soc_animation .25s ease-in-out forwards;
								}
							}
						}
						.way__link {
							display: flex;							
							align-items: center;
							width: 80%;
							text-decoration: none;
							color: #fff;
							background: transparent;
							transition: .3s;
							font-size: 14px;
							@media screen and (max-width: 1460px) {
								width: 95%;
							}
							@media screen and (max-width: 1200px) {
								font-size: 13px;
							}
							@media screen and (max-width: 576px) {
								font-size: 12px;
							}
							&:hover {
								background-clip: content-box;
								border-radius: 10px;
								box-shadow: 0 0 0 3px #424242,
														0 0 0 5px #fff;
								background: rgba(155,71,229,1);
								background: -moz-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								background: -webkit-gradient(left top, right top, color-stop(0%, rgba(155,71,229,1)), color-stop(100%, rgba(228,90,233,1)));
								background: -webkit-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								background: -o-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								background: -ms-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								background: linear-gradient(to right, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
								.way__icon {
									border: none;
									background: transparent;
									.sch {
										transform: scale(1.3);
									}
									.sc {
										transform: scale(1.5);
									}								
								}
								.way__text {
									font-size: 15px;
									@media screen and (max-width: 1200px) {
										font-size: 14px;
									}
									@media screen and (max-width: 576px) {
										font-size: 13px;
									}
								}
							}						
							.way__icon {
								display: flex;
								justify-content: center;
								align-items: center;
								flex-shrink: 0;
								width: 42px;
								height: 42px;
								padding: 4px;
								background: #595959;
								background-clip: content-box;
								border: 1px solid #595959;
								border-radius: 10px;
								margin-right: 35px;
								transition: border, background-color .3s;								
								@media screen and (max-width: 576px) {
									width: 37px;
									height: 37px;
									padding: 2px;
									margin-right: 15px;					
								}						
							}
							.way__text {								
								font-family: 'Montserrat';
								transition: text-transform .3s;
							}
						}
						.msn {
							position: absolute;
							opacity: 0;
							top: 0;
							left: 0;
							z-index: -1;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: space-around;
							align-items: center;
							&.active {
								z-index: 1;
								opacity: 1;
							}
							&__item {
								width: 42px;
								height: 42px;
							}
							&__link {
								display: none;
								justify-content: center;
								align-items: center;
								flex-shrink: 0;
								width: 42px;
								height: 42px;
								padding: 4px;
								background: #595959;
								background-clip: content-box;
								border: 1px solid #595959;
								border-radius: 10px;
								margin-right: 35px;
								transition: box-shadow .3s;
								background: rgba(155,71,229,1);
								background: -moz-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								background: -webkit-gradient(left top, right top, color-stop(0%, rgba(155,71,229,1)), color-stop(100%, rgba(228,90,233,1)));
								background: -webkit-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								background: -o-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								background: -ms-linear-gradient(left, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								background: linear-gradient(to right, rgba(155,71,229,1) 0%, rgba(228,90,233,1) 100%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b47e5', endColorstr='#e45ae9', GradientType=1 );
								box-shadow: 0 0 0 3px #424242, 0 0 0 4px #fff;
								position: relative;
								&.active {
									display: block;
									animation: op .3s;
								}
								.msn__wrap {
									display: flex;
									align-items: center;
									justify-content: center;
									height: 30px;
									img {
										width: 20px;
										height: 20px;
									}
								}
								.msn__title {
									position: absolute;
									left: 50%;
									bottom: -24px;
									transform: translate(-50%, 0);
									font-size: 12px;
									color: white;
									text-decoration: none;
								}
								&:hover {																	
									box-shadow: 0 0 0 2px #424242,
															0 0 0 4px #fff;
								}
							}
						}
					}
				}
				.todo__item {
					display: flex;
					align-items: flex-start;
					margin-bottom: 29px;
					@media screen and (max-width: 576px) {
						margin-bottom: 20px;
					}
					&:last-child {
						margin-bottom: 0;
						@media screen and (max-width: 576px) {
							margin-bottom: 0;
						}
					}
					&:hover {
						svg {
							transform: scale(1.2);									
							path {
								stroke: rgba(228,90,233,1);								
							}
						}
					}	
					svg {
						min-width: 20px;
						min-height: 15px;
						margin-right: 24px;
						transition: transform 0.3s;
						path {
							transition: stroke 0.3s;
						}				
					}				
					.todo__text {
						font-size: 14px;
						font-family: 'Montserrat';
						@media screen and (max-width: 1200px) {
							font-size: 13px;
						}
						@media screen and (max-width: 576px) {
							font-size: 12px;
						}
					}
				}
			}		
			
		}		
	}
}
@keyframes op {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}